// Return height of equilateral triangle with base length $base.
@function equilateral-triangle-height($base) {
    $square-root-of-three: 1.732;

    @return ($base / 2) * $square-root-of-three;
}

@mixin equilateral-triangle($direction, $base, $height: null, $display: block) {
    display: $display;

    width: 0;
    height: 0;

    border-style: solid;
    border-color: transparent;

    $perpendicular: $base / 2;

    @if ($height == null) {
        $height: equilateral-triangle-height($base);
    }

    @if $direction == "up" {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        border-width: 0 $perpendicular $height $perpendicular;
        border-bottom-color: inherit; // 2

    } @else if $direction == "right" {
        clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
        border-width: $perpendicular 0 $perpendicular $height;
        border-left-color: inherit; // 2

    } @else if $direction == "down" {
        clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
        border-width: $height $perpendicular 0 $perpendicular;
        border-top-color: inherit; // 2

    } @else if $direction == "left" {
        clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
        border-width: $perpendicular $height $perpendicular 0;
        border-right-color: inherit; // 2
    }
}
