.scorecard {
    display: flex;
    flex-wrap: wrap;

    & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-right: 3rem;
        margin-top: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}
