.line-height-1 {
    line-height: 1;
}

.blockquote-footer {
    line-height: 1.3;
}

.h-none {
    font-family: inherit;
    font-size: 1em;
    line-height: inherit;
    color: inherit;
    margin: 0;
}
