{% extends "caps/council_cards/base.html" %}

{% load caps_templatetags %}

{% block header %}
    <div class="card-header d-sm-flex align-items-center">
        <h2 class="mr-auto pr-3 mb-1 mb-sm-0">Climate documents</h2>
        {% if last_updated.last_update is not None %}
            <small class="text-muted line-height-1">Last update: {{ last_updated.last_update }}</small>
        {% endif %}
    </div>
{% endblock header %}

{% block cardbody %}
    {% infobox  %}
        <p>
            The following documents are likely to shape the climate action that {{ council.name }} takes.
        </p>
        <p class="mb-0">
            You can browse topics in these documents using the links below, or <a href="{% url "search_results" %}">start your own custom search</a> across all plans stored in our database.
        </p>
    {% endinfobox %}
    <hr class="mt-0" />
    {% include 'caps/includes/document-list.html' with documents=grouped_documents %}
    <div class="card-footer bg-yellow-light">
        <p class="mb-0">
            <strong>Are these plans out of date?</strong>
        </p>
        <small class="mb-0">
            <a href="{{ council.feedback_form_url }}">Fill in this form</a> to let us know where to find the latest plans from this council.
        </small>
    </div>
{% endblock cardbody %}
