{% extends "caps/council_cards/base.html" %}

{% load caps_templatetags %}

{% block header %}
    <div class="card-header d-sm-flex align-items-center">
        <h2 class="mr-auto pr-3 mb-1 mb-sm-0">Climate documents</h2>
        {% if last_updated.last_update is not None %}
            <small class="text-muted line-height-1">Last update: {{ last_updated.last_update }}</small>
        {% endif %}
    </div>
{% endblock header %}

{% block cardbody %}
    {% if council.plandocument_set.all %}
        <div class="card-body bg-red-light">
            <form action="{% url 'search_results' %}"
                  data-show-interstitial
                  class="form-row flex-wrap align-items-center">
                <div class="col-auto flex-shrink-1 flex-grow-1" style="max-width: 450px">
                    <label for="search-this-councils-documents" class="sr-only">Search inside these documents</label>
                    <input type="search"
                           class="form-control form-control-sm"
                           name="q"
                           id="search-this-councils-documents"
                           value="{{ q|default_if_none:'' }}"
                           placeholder="Search inside these documents">
                    <input type="hidden"
                           name="council_name"
                           id="council_name"
                           value="&quot;{{ council.name }}&quot;">
                </div>
                <div class="col-auto flex-shrink-0 d-flex">
                    <button type="submit" class="btn btn-purple btn-sm d-flex align-items-center">
                        {% include 'caps/icons/search.html' with role='presentation' %}
                        <span class="ml-2">Search</span>
                    </button>
                </div>
            </form>
        </div>
    {% endif %}
    <div class="card-body">
        <div class="council-documents">
            {% for group, group_docs in grouped_documents.items %}
                {% for plandocument in group_docs %}
                    {% if forloop.counter == 2 %}
                        <details class="details">
                            <summary>Show more {{ group }} documents</summary>
                        {% endif %}
                        {% include 'caps/includes/council-document.html' with plandocument=plandocument council=council %}
                        {% if forloop.counter > 1 and forloop.last %}</details>{% endif %}
                {% endfor %}
            {% empty %}
                <p class="text-muted mb-3">We couldn’t find any climate action plans for this council.</p>
            {% endfor %}
        </div>
    </div>
    <div class="card-footer bg-yellow-light">
        <p class="mb-0">
            <strong>Are these plans out of date?</strong>
        </p>
        <small class="mb-0">
            <a href="{{ council.feedback_form_url }}">Fill in this form</a> to let us know where to find the latest plans from this council.
        </small>
    </div>
{% endblock cardbody %}
