{% extends "caps/council_cards/base.html" %}

{% load caps_templatetags %}
{% load humanize %}

{% block title %}
    Emissions data
{% endblock title %}

{% block cardbody %}

    {% if emissions_data %}
        <div class="emissions-breakdown border">
            <div class="emissions-breakdown__totals bg-white">
                <div class="emissions-breakdown__stat">
                    <div>
                        <span class="h3">{{ latest_year_total_emissions|floatformat }}</span>
                        <abbr title="Kilotonnes of Carbon Dioxide">ktCO2</abbr>
                    </div>
                    <p>
                        Total {{ latest_year }} emissions
                    </p>
                </div>
                <div class="emissions-breakdown__stat">
                    <div>
                        <span class="h3">{{ latest_year_per_capita_emissions|floatformat }}</span>
                        <abbr title="Tonnes of Carbon Dioxide">tCO2</abbr>
                    </div>
                    <p>
                        per person
                    </p>
                </div>
                <div class="emissions-breakdown__stat">
                    <div>
                        <span class="h3">{{ latest_year_per_km2_emissions|floatformat }}</span>
                        <abbr title="Kilotonnes of Carbon Dioxide">ktCO2</abbr>
                    </div>
                    <p>
                        per km<sup>2</sup>
                    </p>
                </div>
            </div>
            <div class="emissions-breakdown__sectors">
                {% for n, row in current_emissions_breakdown.iterrows %}
                    <div class="emissions-breakdown__stat">
                        <div>
                            <span class="h3">{{ row.percentage }}</span>
                        </div>
                        <p>
                            <span class="emissions-color-chip emissions-color-chip--{{ row.emissions_type|slugify }}"></span>
                            {{ row.emissions_type }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% infobox %}
            <p>
                The chart below shows change over time in different kinds of emissions.

                This chart only shows emissions the local authority has influence over, but other national changes also affect emissions.
            </p>
            <p>
                The reduction over the last decade mostly reflects decarbonisation of the national electricity grid.
                This is why the change over time is less interesting than the mix of different emissions types. This reflects different paths required for different council areas to reach carbon zero.

            </p>
            {% with council.get_emissions_cluster as cluster %}
            <p>
                We have used these emissions to put councils into clusters with similar emissions.
                <strong>{{ council.name }}</strong> is in the <strong>{{ cluster.name.lower }}</strong> cluster. <a href="#related-councils">
                See councils with similar emissions profiles</a>, or <a href="{% url 'council_list' %}?emissions={{cluster.slug}}">see all councils in this cluster</a>.
            </p>

            {% endwith %}
        {% endinfobox %}
        <div class="card-body bg-white border" style="overflow-x:scroll">
            {% include 'charting/includes/chart-display.html' with chart=chart_collection.multi_emissions %}
            <p class="text-muted text-smaller mt-4 mb-0">
                Data from <a href="https://mysociety.github.io/la-emissions-data/">the Department of Business, Energy &amp; Industrial Strategy</a> “subset dataset”, representing carbon dioxide emissions within the scope of influence of local authorities.
                {% if council.authority_type == 'CTY' or council.authority_type == 'COMB' %}
                    Data has been combined from constituent local authorities.
                {% endif %}
            </p>
        </div>
    {% endif %}
{% endblock cardbody %}
