{% extends "caps/council_cards/base.html" %}

{% load caps_templatetags %}
{% load humanize %}

{% block title %}
    Climate Plan Scorecard
{% endblock title %}

{% block cardbody %}
    {% infobox %}
    <p class="mb-3">
        This council’s climate plans as of 20th September 2021 were assessed and scored by trained Climate Emergency UK volunteers, as part of the Council Climate Plan Scorecards project.
    </p>
    <p class="mb-3">
        A new scorecard based on council actions will be released in Autumn 2023. <a href="https://councilclimatescorecards.uk/methodology/">Read more about this</a>.
    </p>

    <p class="mb-0 d-flex flex-wrap">
        <a href="https://councilclimatescorecards.uk/councils/{{ council.slug }}/"
           class="d-flex align-items-center mr-4 font-weight-bold">Show the full Scorecard

            {% include 'caps/icons/external-link.html' with classes='external-link ml-1' role='presentation' %}

        </a>
        <a href="https://councilclimatescorecards.uk/methodology/"
           class="d-flex align-items-center mr-4 font-weight-bold">Read more about the scoring process

            {% include 'caps/icons/external-link.html' with classes='external-link ml-1' role='presentation' %}

        </a>
    </p>
    {% endinfobox %}

    {% if scoring_score.weighted_total == 0 %}
        <div class="card-body d-flex align-items-center border scorecard-zero-points-banner">
        {% include 'caps/icons/question-circle.html' with width='2rem' height='2rem' classes='mr-3 mr-lg-4 d-none d-sm-block flex-grow-0 flex-shrink-0 text-red' role='presentation' %}

            <p class="mb-3">
                {{ council.name }} scored <strong>zero points</strong> in this assessment. This is because the council either didn’t have any published plans at the time of the assessment, or <a href="https://councilclimatescorecards.uk/methodology/">the plans didn’t qualify</a>.
            </p>
        </div>
    {% endif %}
   
    {% if scoring_accolades %}
        <div class="card-body d-flex align-items-center border scorecard-top-performer-banner">

            {% include 'caps/icons/scorecards-star.html' with width='2rem' height='2rem' classes='mr-3 mr-lg-4 d-none d-sm-block flex-grow-0 flex-shrink-0' role='presentation' %}

            <div>
                <p class="mb-0 mr-lg-5">
                    {{ council.name }} was a <strong>top performer</strong>
                    {% if scoring_accolades.overall %}
                        amongst

                        {% include 'caps/includes/authority_type.html' with group=scoring_group %}

                        councils.
                    {% elif scoring_accolades.num_sections == 1 %}
                        amongst

                        {% include 'caps/includes/authority_type.html' with group=scoring_group %}

                        councils,
                        in the <strong>{{ scoring_accolades.example_section }}</strong> section.
                    {% else %}
                        amongst

                        {% include 'caps/includes/authority_type.html' with group=scoring_group %}

                        councils,
                        in {{ scoring_accolades.num_sections|apnumber }} sections
                        including <strong>{{ scoring_accolades.example_section }}</strong>.
                    {% endif %}
                </p>
            </div>
        </div>
    {% endif %}
    {% if tags %}
    <div class="card-body bg-white border">
        <p class="mt-n1">This council’s climate plan has been tagged with the following features:</p>
        <div class="ceuk-tag-list">
            {% for tag in tags %}

                {% include 'caps/includes/tag.html' with tag=tag.tag %}

            {% endfor %}
        </div>
    </div>
{% endif %}
    <div class="ceuk-data-table scorecard-table bg-white border border-top-0">
        <table class="table table-responsive mb-0">
            <thead>
                <tr>
                    <th class="border-0" scope="col">
                        <span class="h5">Section</span>
                    </th>
                    <th class="border-0" scope="col">
                        <a href="https://councilclimatescorecards.uk/councils/{{ council.slug }}/">{{ council.name|truncatechars:40 }}

                            {% include 'caps/icons/external-link.html' with classes='external-link ml-1' role='presentation' %}

                        </a>
                    </th>
                    <th class="border-0" scope="col">
                        Average

                        {% include 'caps/includes/authority_type.html' with group=scoring_group %}

                        council
                    </th>
                </tr>
            </thead>
            <tr class="total {% if scoring_score.top_performer %}top-performer{% endif %}">
                <td>
                    {% if scoring_score.top_performer %}<small class="d-block text-muted">Top performer</small>{% endif %}
                    <span class="font-weight-bold scorecard-table__section-name">Total score</span>
                </td>
                <td>
                    <span class="total-score total-score--this-council">{{ scoring_score.weighted_total|floatformat:"0" }}%</span>
                </td>
                <td>
                    <span class="total-score total-score--average">{{ average_total|floatformat:"0" }}%</span>
                </td>
            </tr>
            {% for section in scoring_sections %}
                <tr class="category-{{ forloop.counter }} {% if section.top_performer %}top-performer{% endif %}">
                    <td>
                        <small class="d-block text-muted">
                            Section {{ forloop.counter }}
                            {% if section.top_performer %}<span class="mx-1">&middot;</span> Top performer{% endif %}
                        </small>
                        <span class="scorecard-table__section-name">{{ section.description }}</span>
                    </td>
                    <td>

                        {% include 'scoring/includes/score-bar.html' with score=section.score max=section.max_score %}

                    </td>
                    <td>

                        {% include 'scoring/includes/score-bar.html' with score=section.avg max=section.max_score %}

                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock cardbody %}
