.ceuk-tag {
    display: inline-flex;
    height: 1.8em;
    font-size: 0.8rem;
    line-height: 1em;

    cursor: pointer;
    text-decoration: none !important;
    color: $link-color;

    svg {
        width: auto;
        height: 100%;
        flex: 1 0 auto;
        fill: $color-ceuk-grey-200;
        fill-rule: evenodd;
    }

    span {
        display: flex;
        align-items: center;
        padding: 0 0.5em 0 0.4em;
        white-space: nowrap;
        border-radius: 0 $border-radius-sm $border-radius-sm 0;
        background: $color-ceuk-grey-200;
        font-weight: bold;
    }

    &:hover,
    &:focus {
        color: $link-hover-color;

        svg {
            fill: $color-ceuk-grey-100;
        }

        span {
            background: $color-ceuk-grey-100;
        }
    }
}

@each $color, $value in $theme-colors {
    .ceuk-tag--#{$color} {
        color: color-yiq($value, #000, #fff);

        $fill: $value;

        svg {
            fill: $fill;
        }

        span {
            background: $fill;
        }

        &:hover,
        &:focus {
            color: color-yiq($value, #000, #fff);

            @if ( color-yiq($value, true, false) ) {
                $fill: lighten($value, 10%);
            } @else {
                $fill: darken($value, 10%);
            }

            svg {
                fill: $fill;
            }

            span {
                background: $fill;
            }
        }
    }
}

.ceuk-tag-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -0.25rem;

    .ceuk-tag {
        margin: 0.25rem;
    }
}
