.line-height-1 {
    line-height: 1;
}

.blockquote-footer {
    line-height: 1.3;
}

.h-none {
    font-family: inherit;
    font-size: 1em;
    line-height: inherit;
    color: inherit;
    margin: 0;
}

.text-smaller {
    @include font-size(80%);
}

.strong-link {
    font-weight: bold;
    border-bottom: 1px solid rgba($link-color, 0.6);
    text-decoration: none !important;

    &.text-white {
        border-bottom-color: rgba(#fff, 0.6);
    }

    @include hover-focus() {
        border-bottom: none;
    }
}

dl > :last-child {
    margin-bottom: 0;
}

dd + dt {
    margin-top: $spacer;
}

a:not(.btn):focus,
details summary:focus {
    outline: 3px solid $color-ceuk-yellow !important;
    box-shadow: 0 3px 0 3px darken($color-ceuk-purple, 30%);
    background-color: $color-ceuk-yellow !important;
    color: darken($color-ceuk-purple, 50%) !important;
}
