{% extends "caps/base.html" %}
{% load static %}

{% block content %}

<h1 class="mb-4 mb-lg-5">Our data</h1>

<div class="row">
    <div class="col-md-4 col-lg-3">

        {% include "caps/includes/about-subnav.html" %}

    </div>
    <div class="col-md-8 offset-lg-1">

        <h2 class="mb-4" id="sources">Data sources</h2>

        <p>Much of our data is crowdsourced by an army of volunteers filling in Google spreadsheets. This is then combined with some standard data to enable it to be matched up across sources.</a>

        <p>Links to council climate action plans were crowdsourced <a href="https://docs.google.com/spreadsheets/d/1tEnjJRaWsdXtCkMwA25-ZZ8D75zAY6c2GOOeUchZsnU/edit">in this spreadsheet</a>. If you find a plan document that we’ve missed, <a href="https://docs.google.com/document/d/1oGFkzhZkTCfEBUeJIdMb9aOfuqPoCHkUMTJxROsRRow/edit">read our guide</a> on what we consider a climate action plan and how to add one to our spreadsheet.</p>

        <div class="mt-4 d-flex flex-wrap">
            <a class="mr-3 mb-3" href="https://climateemergency.uk">
                <img src="{% static 'caps/img/logo-ceuk.png' %}" width="340" height="150" alt="Climate Emergency UK" class="rounded shadow-sm" style="height: 75px; width: auto;">
            </a>
        </div>

        <p>Council climate emergency declarations and net zero commitments were largely collated by <a href="https://www.climateemergency.uk/">Climate Emergency UK</a> staff.</p>

        <div class="mt-4 d-flex flex-wrap">
            <a class="mr-3 mb-3" href="https://www.gov.uk/government/organisations/department-for-business-energy-and-industrial-strategy">
                <img src="{% static 'caps/img/logo-beis.png' %}" width="260" height="150" alt="Department of Business, Energy &amp; Industrial Strategy" class="rounded shadow-sm" style="height: 75px; width: auto;">
            </a>
        </div>

        <p>Local authority CO<sub>2</sub> emissions estimates are collated by <a href="https://www.gov.uk/government/statistics/uk-local-authority-and-regional-carbon-dioxide-emissions-national-statistics-2005-to-2019">the Department of Business, Energy &amp; Industrial Strategy</a>.</p>

        <div class="mt-4 d-flex flex-wrap">
            <a class="mr-3 mb-3" href="https://councilclimatescorecards.uk">
                <img src="{% static 'caps/img/logo-scorecards.png' %}" width="380" height="150" alt="Council Climate Plan Scorecards" class="rounded shadow-sm" style="height: 75px; width: auto;">
            </a>
            <a class="mr-3 mb-3" href="https://www.mapolitical.com">
                <img src="{% static 'caps/img/logo-mapolitical.png' %}" width="580" height="150" alt="Mapolitical" class="rounded shadow-sm" style="height: 75px; width: auto;">
            </a>
        </div>

        <p>We make use of data from our <a href="https://councilclimatescorecards.uk">Council Climate Plan Scorecards</a> project, which was collected with the support of <a href="https://www.mapolitical.com/">Mapolitical</a>, who donated their UK Government Political Stakeholder data and Look-up API to help us communicate with local authority officers. <a href="https://councilclimatescorecards.uk/about/">Read more on the Council Climate Plan Scorecards site.</a></p>

        <h2 class="mt-5 mb-4" id="plans">Download all plans</h2>

        <p style="max-width: 24em;">
            <a data-show-feedback-modal href="{{ MEDIA_URL }}data/plans/plans.zip" class="btn btn-primary d-flex align-items-center justify-content-start text-left">
                Download ZIP archive of all documents
                {% include 'caps/icons/download.html' with classes='ml-auto' role='presentation' %}
            </a>
        </p>

        <p>This includes all the documents we’ve found including Climate Action Plans, Climate strategies, pre plans etc. As well as the PDFs, or HTML pages, of the plans, this includes a CSV file (plans.csv) with details and sources for all the included files, along with information like GSS codes to enable linking to other data. The CSV file is available separately, see below for details.</p>

        <h2 class="mt-5 mb-4" id="api">API</h2>

        <p style="max-width: 24em;">
            <a href="{% url 'api-root' %}" class="btn btn-primary d-flex align-items-center justify-content-start text-left">
                Access our JSON API
                {% include 'caps/icons/chevron-right.html' with classes='ml-auto' role='presentation' %}
            </a>
        </p>

        <p>We are working to expose an increasing quantity of our data through our JSON API. <a href="{% url 'api-root' %}">The API pages themselves</a> include a full description of the data available.</p>

        <h2 class="mt-5 mb-4" id="csv">CSV/Excel files</h2>

        <p>All our public climate and local authority data is avaliable through <a href="https://data.mysociety.org/">our data portal</a>. </p>

        <p>The following files are avaliable as CSV and Excel files.</p>
        <p>If you'd like help working with our data to include it in your service, please <a href="https://ajparsons-mysociety-caps-xgjjjv9g9x2p4q9-8000.githubpreview.dev/about/#feedback">get in touch</a> and we will help you do that.<p>

        <p style="max-width: 24em;">
            <a href="https://mysociety.github.io/la-plans-promises/datasets/local_authority_climate_plans_metadata/latest" class="btn btn-primary d-flex align-items-center justify-content-start text-left">
                Download council plan metadata
                {% include 'caps/icons/download.html' with classes='ml-auto' role='presentation' %}
            </a>
        </p>

        <p style="max-width: 24em;">
            <a href="https://mysociety.github.io/la-plans-promises/datasets/local_authority_net_zero_commitments/latest" class="btn btn-primary d-flex align-items-center justify-content-start text-left">
                Download council net zero commitments
                {% include 'caps/icons/download.html' with classes='ml-auto' role='presentation' %}
            </a>
        </p>

        <p style="max-width: 24em;">
            <a href="https://mysociety.github.io/la-plans-promises/datasets/local_authority_climate_emergency_declarations/latest" class="btn btn-primary d-flex align-items-center justify-content-start text-left">
                Download climate emergency declarations
                {% include 'caps/icons/download.html' with classes='ml-auto' role='presentation' %}
            </a>
        </p>

        <p style="max-width: 24em;">
            <a  href="https://mysociety.github.io/scotland-climate-projects-data/datasets/scotland_climate_emissions_projects/latest" class="btn btn-primary d-flex align-items-center justify-content-start text-left">
                Download emissions reduction projects
                {% include 'caps/icons/download.html' with classes='ml-auto' role='presentation' %}
            </a>
        </p>

        <p>All the above CSV files include the council GSS code, and a three letter council code you can use with the API, to enable matching data across files, and with other sources. The links contain full descriptions of all columns.</p>

        <p>The CSV of emissions reduction projects is limited to Scottish local authorities (<a href="#projects">see reasoning below</a>)</p>

        <p>Full explanations of the data can be found in the <a href="https://sustainablescotlandnetwork.org/uploads/store/mediaupload/1592/file/CC%20Reporting%20Master%20Guidance%202021%2005.10.2021.pdf">guidance on the Sustainable Scotland Network site</a>.</p>

        <h2 class="mt-5 mb-4" id="licensing">Licensing</h2>

        <p>The API data and CSV files are licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>. The ZIP file is unlicensed as it contains work issued by local authorities under many licenses.</p>

        <h2 class="mt-5 mb-4" id="similarity">Similar councils</h2>

        <p>We have built on open datasets to provide comparisons between councils that are similar in a number of dimensions. You can <a href="https://www.mysociety.org/2022/01/13/new-in-cape-five-different-ways-of-finding-similar-councils/">read a detailed breakdown of how we calculated these dimensions on our blog</a>, but here’s a high-level summary:</p>
        
        <p style="max-width: 24em;">
            <a  href="https://mysociety.github.io/local-authority-similarity/" class="btn btn-primary d-flex align-items-center justify-content-start text-left">
                Download our nearest neighbour datasets.
                {% include 'caps/icons/download.html' with classes='ml-auto' role='presentation' %}
            </a>
        </p>

        <table class="table my-4">
          {% for comparison_type in comparison_types %}
            <tr>
                <th scope="row" class="pt-4 pl-0">{{ comparison_type.name }}</th>
                <td class="pt-4 pr-0">{{ comparison_type.markdown_desc|safe }}</td>
            </tr>
          {% endfor %}
        </table>

        <h2 class="mt-5 mb-4" id="projects">Emissions reduction projects</h2>

        <p>We are able to display emissions reduction projects reported by Scottish local authorities, thanks to the ‘<a href="https://www.legislation.gov.uk/ssi/2015/347/contents/made">Climate Change (Duties of Public Bodies; Reporting Requirements) (Scotland) Order 2015</a>’ which requires them to submit reports on their climate actions to the <a href="https://sustainablescotlandnetwork.org/reports">Sustainable Scotland Network website</a> each year.</p>

        <p>We automatically collect these reports, extract information about the local authorities’ emissions reduction projects, and display them in <a href="{% url 'council_projects' %}">a more accessible, interactive format, here</a>.</p>

        <p>Sadly local authorities in England, Wales, and Northern Ireland have no corresponding reporting requirement, so data is unavailable for them.</p>

        <h2 class="mt-5 mb-4" id="feedback">Feedback</h2>

        <p>If you find this data useful we’d love to <a href="mailto:climate-councils@mysociety.org">hear from you</a> about how it was used. It’s helpful for guiding future work, providing examples to others and for talking to existing and current funders.</p>

    </div>
</div>

{% include 'caps/includes/data-feedback-modal.html' %}

{% endblock %}
