{% extends "caps/base.html" %}
{% load static %}

{% block content %}

<h1 class="mb-4 mb-lg-5">About this project</h1>

<div class="row">
    <div class="col-md-4 col-lg-3">

        {% include "caps/includes/about-subnav.html" %}

    </div>
    <div class="col-md-8 offset-lg-1">

        <p><strong>CAPE</strong> collects UK Council Climate Action Plans in a single database, alongside some data on area emissions estimates within the scope of influence of councils. It allows anyone to quickly and easily find out if their council has a plan, and put those plans into context.</p>

        <p>It was started by <a href="https://www.climateemergency.uk/">Climate Emergency UK</a> and <a href="https://www.mysociety.org">mySociety</a>, and is still under active development with input from council climate officers, climate specialists, researchers, and journalists.</p>

        <p class="mt-4"><a class="d-inline-flex align-items-center" href="https://www.mysociety.org/2020/11/06/making-it-easier-to-explore-council-climate-action-plans/">
            Read more about the project background.
            {% include 'caps/icons/chevron-right.html' with classes='ml-1' role='presentation' %}
        </a></p>

        <h2 class="mt-5 mb-2 d-flex flex-wrap" id="mysociety">
            <a class="mr-3 mb-3" href="https://www.mysociety.org">
                <img src="{% static 'caps/img/logo-mysociety.png' %}" width="460" height="150" alt="mySociety" class="rounded shadow-sm" style="height: 75px; width: auto;">
            </a>
        </h2>

        <p><strong>mySociety</strong> is a not-for-profit social enterprise, based in the UK but working with partners internationally. Their technology, research and data are used by individual citizens, journalists, and civil society in over 40 countries around the world.</p>

        <p>Their UK services — like <a href="https://www.fixmystreet.com">FixMyStreet</a>, <a href="https://www.theyworkforyou.com">TheyWorkForYou</a>, <a href="https://www.whatdotheyknow.com">WhatDoTheyKnow</a>, and <a href="https://www.writetothem.com">WriteToThem</a> — are used by millions of people every year, to interact with local government, and hold decision-makers to account. And their climate programme is exploring how similar digital services could reduce the emissions within the influence of local authorities.</p>

        <p class="mt-4"><a class="d-inline-flex align-items-center" href="https://www.mysociety.org/climate/">
            Read more about mySociety’s climate programme
            {% include 'caps/icons/chevron-right.html' with classes='ml-1' role='presentation' %}
        </a>

        <h2 class="mt-5 mb-2 d-flex flex-wrap" id="ceuk">
            <a class="mr-3 mb-3" href="https://climateemergency.uk">
                <img src="{% static 'caps/img/logo-ceuk.png' %}" width="340" height="150" alt="Climate Emergency UK" class="rounded shadow-sm" style="height: 75px; width: auto;">
            </a>
        </h2>

        <p><strong>Climate Emergency UK</strong> aims to inspire and organise action to respond to the climate and ecological emergency. Their not-for-profit work supports local authorities and campaigners to take further council climate action, by providing accessible information about best practice and building a network where local authorities, activists, NGOs, business and local communities can work together.</p>

        <p>Their <a href="https://www.climateemergency.uk/local-authority-checklist/">Climate Action Plan Checklist</a> provides local authorities with a step-by-step guide for creating, presenting, and engaging on climate action plans. And their incredibly ambitious <a href="https://councilclimatescorecards.uk/">Council Climate Plan Scorecards</a> project assessed the quality of local authorities’ climate action plans. Next year they plan to publish the Council Climate Action Scorecards, measuring actual council climate action.</p>

        <p class="mt-4"><a class="d-inline-flex align-items-center" href="https://www.climateemergency.uk/">
            Read more about Climate Emergency UK’s work
            {% include 'caps/icons/chevron-right.html' with classes='ml-1' role='presentation' %}
        </a>

        <h2 class="mt-5 mb-4" id="feedback">Got feedback? Want to contribute?</h2>

        <p>Take <a href="{{settings.SURVEY_URL}}">our user survey</a> to give us feedback about the kind of groups using the service.</p>

        <p>If you want to let us know about an updated or new Action Plan for a council please <a href="{{ feedback_form_url }}">use this form</a>.</p>

        <p>If you have more detailed feedback or questions, email us at <a href="mailto:climate-councils@mysociety.org">climate-councils@mysociety.org</a>.</p>

    </div>
</div>

{% endblock %}
