{% load static %}
{% load pipeline %}
{% load hosts %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }} – CAPE</title>
    {% block meta-tags %}{% endblock %}

    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:site_name" content="CAPE">
    <meta property="og:description" content="{{ page_description|default:'The fully searchable database of climate action plans from every local authority in the UK. What is YOUR council doing to prepare for Net Zero?' }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% host_url 'home' scheme 'https' %}{{ og_image_path|default:'static/img/og-image-cape.jpg' }}">
    <meta property="og:image:type" content="{{ og_image_type|default:'image/jpeg' }}">
    <meta property="og:image:width" content="{{ og_image_width|default:'2000' }}">
    <meta property="og:image:height" content="{{ og_image_height|default:'1000' }}">

    <!--[if lt IE 9]>
    <script src="{% static 'html5shiv/html5shiv.js' %}"></script>
    <![endif]-->
    {% stylesheet 'caps' %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&amp;family=Montserrat:wght@600;900&amp;display=swap">
    {% block extrastylesheets %}{% endblock %}

  {% if GOOGLE_ANALYTICS %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ GOOGLE_ANALYTICS }}' {% if DEBUG %}, { 'debug_mode':true } {% endif %});
        gtag("consent", "default", {
            ad_storage: "denied",
            analytics_storage: "denied",
            functionality_storage: "denied",
            personalization_storage: "denied",
            security_storage: "denied"
        });
    </script>
  {% endif %}
  {% if GOOGLE_TAG_MANAGER %}
    <!-- Deny consent for Google Tags (Analytics) by default -->
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag("consent", "default", {
        ad_storage: "denied",
        analytics_storage: "denied",
        functionality_storage: "denied",
        personalization_storage: "denied",
        security_storage: "denied"
    });
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ GOOGLE_TAG_MANAGER }}');</script>
    <!-- End Google Tag Manager -->
  {% endif %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  {% if GOOGLE_TAG_MANAGER %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GOOGLE_TAG_MANAGER }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}

    {% include 'caps/includes/site-header.html' %}

    {% block before_content %}{% endblock %}

    <div class="site-content {% block extra_content_classes %}{% endblock %}">
        <div class="container-fluid">
            {% block content %}{% endblock %}
            {% include 'caps/includes/alpha-banner.html' %}
        </div>
    </div>

    {% include 'caps/includes/site-footer.html' %}

    {% include 'caps/includes/interstitial-modal.html' %}

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'caps/js/main.js' %}"></script>

    {% if chart_collection %}
    {% include 'charting/includes/chart-render.html' %}
    {% endif %}

    {% block extrafooterscript %}{% endblock %}
</body>
</html>
