{% extends "caps/base.html" %}
{% load bootstrap4 %}

{% block content %}

<div class="row">
  <div class="col-md-10 mx-auto">

    <div class="card ceuk-card mb-gutter position-sticky" style="top: 1rem;">
        <div class="card-body">
            <h1 class="mb-3">Find a council</h1>

            <form id="find-council-filter" method="get" class="mb-n3">
                {% bootstrap_form filter.form %}
                <div class="form-group">
                  <label class="toggle-control">
                    <span class="label-info">Has a plan</span>
                    <input type="checkbox" checked="checked">
                    <span class="control"></span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="toggle-control">
                    <span class="label-info">Declared emergency</span>
                    <input type="checkbox" checked="checked">
                    <span class="control"></span>
                  </label>
                </div>
                {% buttons %}
                <button type="submit" class="btn btn-primary btn-block mt-4">Filter list</button>
                {% endbuttons %}
            </form>
        </div>
    </div>

  </div>
</div>

<div class="row">

    <div class="col-md-10 mx-auto">

        <div class="card ceuk-card ceuk-card--red mb-3 mb-md-4 mb-lg-5">
            <div class="card-header">
                <h2>
                  {% if filter.qs.count == 1 %}
                    {{ filter.qs.count }} council
                  {% else %}
                    {{ filter.qs.count }} councils
                  {% endif %}
                </h2>
            </div>
            <div class="card-header" style="display: flex;justify-content: space-between;">
              <input type="text" name="name" class="form-control" placeholder="Name contains" title="" id="id_name" style="max-width: 300px;margin-right: 15px;">
              <select name="sort" class="form-control" title="" id="id_sort" style="max-width: 300px;">
                <option value="name">Council name</option>
              
                <option value="-name">Council name (descending)</option>
              
                <option value="promise_year">Carbon neutral target</option>
              
                <option value="-promise_year">Carbon neutral target (descending)</option>
              
                <option value="declaration_date">Declaration date</option>
              
                <option value="-declaration_date">Declaration date (descending)</option>
              
                <option value="last_update">Last update</option>
              
                <option value="-last_update">Last update (descending)</option>
              </select>
            </div>
            <div class="ceuk-data-table">
              {% if filter.qs %}
                {% include 'caps/includes/council-table.html' with councils=filter.qs  show_last_updated=True %}
              {% endif %}
            </div>
        </div>

    </div>
</div>

<style>
  form .form-group:first-child {
    display:none;
  }
</style>
<script>
  setTimeout(function(){
    $( "#id_has_plan" ).parent().css( "display", "none" );
    $( "#id_declared_emergency" ).parent().css( "display", "none" );
    $( "#id_sort" ).parent().css( "display", "none" );
 }, 300);
</script>

{% endblock %}
