{% extends "caps/base.html" %}

{% load humanize %}
{% load caps_templatetags %}

{% block bodyclass %}page-council{% endblock %}

{% block before_content %}

<div class="site-hero">
    <div class="container-fluid">
        <a href="{% url 'council_list' %}" class="d-inline-flex align-items-center">
            {% include 'caps/icons/chevron-left.html' with classes='mr-1' role='presentation' %}
            Back to all councils
        </a>
        <h1 class="mt-3 mb-0">{{ council.name }}</h1>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-7 col-lg-8 order-md-2">

      {% if council.is_old_council %}
      <div class="card ceuk-card ceuk-card--navy mb-gutter">
        <div class="card-header">
            <h2>This council has been replaced</h2>
        </div>
        <div class="card-body">
          <p> This council was replaced on {{ council.end_date }}. The new council may or may not reflect any plans or declarations made by this council. </p>
          <p> This council has been replaced by: </p>
          <ul>
            {% for successors in council.get_successors %}
              <li><a href="{% url 'council' successors.slug %}">{{ successors.name }}</a> </li>
            {% endfor %}
        </div> 
      </div>
      {% endif %}


      {% if council.is_new_council %}
      <div class="card ceuk-card ceuk-card--navy mb-gutter">
        <div class="card-header">
            <h2>New council</h2>
        </div>
        <div class="card-body">
          <p> This council was created in {{ council.start_date }}. It may not have any specific plans yet. Plans and declarations may have been made by former councils. </p>
          <p> This council replaced: </p>
          <ul>
            {% for predecessor in council.get_predecessors %}
              <li><a href="{% url 'council' predecessor.slug %}">{{ predecessor.name }}</a> </li>
            {% endfor %}
        </div> 
      </div>
      {% endif %}

        <div class="card ceuk-card ceuk-card--navy mb-gutter">
            <div class="card-header">
                <h2>Declarations &amp; pledges</h2>
            </div>
            <div class="card-body">
                <h3 class="h6">Climate emergency declaration</h3>
              {% if declared_emergency %}
                    <p class="mb-0 mt-n1">
                        This council <a href="{{ declared_emergency.source_url }}">declared a climate emergency</a> on {{declared_emergency.date_declared }}.
                    </p>
              {% else %}
                    <p class="mb-0 mt-n1 text-muted">
                        We don’t think this council has declared a climate emergency – <a href="{% url 'about' %}">let us know if it has!</a>
                    </p>
              {% endif %}
              {% if promises %}
                  {% for promise in promises %}
                    <h3 class="h6 mt-4">
                      {% if promise.get_scope %}
                        {{ promise.get_scope|capfirst }} pledge
                      {% else %}
                        Climate pledge
                      {% endif %}
                      {% if promise.target_year %}
                        for {{ promise.target_year }}
                      {% endif %}
                    </h3>
                    <blockquote class="blockquote">
                        <p class="mb-0">“{{ promise.text }}”</p>
                        <footer class="blockquote-footer"><cite title="{{ promise.source_name }}"><a href="{{ promise.source }}">{{ promise.source_name }}</a></cite></footer>
                    </blockquote>
                  {% endfor %}
              {% elif no_promise %}
                    <h3 class="h6 mt-4">Climate pledges</h3>
                    <p class="mb-0 mt-n1 text-muted">
                        We couldn’t find any climate pledges from this council. If you’ve found one, <a href="{% url 'about' %}">let us know!</a>
                    </p>
              {% else %}
                    <h3 class="h6 mt-4">Climate pledges</h3>
                    <p class="mb-0 mt-n1 text-muted">
                        We haven’t checked whether this council has made any climate pledges yet, but we will soon. If you’ve already found one, <a href="{% url 'about' %}">let us know!</a>
                    </p>
              {% endif %}
            </div>
        </div>

        <div class="card ceuk-card ceuk-card--emphasised ceuk-card--red mb-gutter">
            <div class="card-header d-sm-flex align-items-center">
                <h2 class="mr-auto pr-3 mb-1 mb-sm-0">Climate documents</h2>
              {% if last_updated.last_update is not None %}
                <small class="text-muted line-height-1">Last update: {{ last_updated.last_update }}</small>
              {% endif %}
            </div>

            {% if council.plandocument_set.all %}
            <div class="card-body bg-red-light">
                <form action="{% url 'search_results' %}" data-show-interstitial class="form-row flex-wrap align-items-center">
                    <div class="col-auto flex-shrink-1 flex-grow-1" style="max-width: 450px">
                        <label for="search-this-councils-documents" class="sr-only">Search inside these documents</label>
                        <input type="search" class="form-control form-control-sm" name="q" id="search-this-councils-documents" value="{{ q|default_if_none:'' }}" placeholder="Search inside these documents">
                        <input type="hidden" name="council_name" id="council_name" value="&quot;{{ council.name }}&quot;">
                    </div>
                    <div class="col-auto flex-shrink-0 d-flex">
                        <button type="submit" class="btn btn-purple btn-sm d-flex align-items-center">
                            {% include 'caps/icons/search.html' with role='presentation' %}
                            <span class="ml-2">Search</span>
                        </button>
                    </div>
                </form>
            </div>
            {% endif %}

            <div class="card-body">
                <div class="council-documents">
                {% for group, group_docs in grouped_documents.items %}
                  {% for plandocument in group_docs %}

                  {% if forloop.counter == 2 %}
                    <details class="details">
                        <summary>Show more {{ group }} documents</summary>
                  {% endif %}

                      {% if plandocument.is_deleted %}
                        <div class="council-document council-document--deleted">
                        {% if plandocument.file_exists %}
                        <a href="{{ MEDIA_URL }}{{ plandocument.file }}" data-plan-id="{{ plandocument.id }}" data-council-slug="{{ council.slug }}" class="council-document">
                        {% endif %}
                      {% else %}
                        <a href="{{ plandocument.link }}" data-plan-id="{{ plandocument.id }}" data-council-slug="{{ council.slug }}" class="council-document">
                          {% endif %}

                          {% if plandocument.file_type == 'pdf' %}
                            {% include 'caps/icons/pdf.html' with width='3rem' height='3rem' classes='mr-3 flex-grow-0 flex-shrink-0' role='presentation' %}
                          {% else %}
                            {% include 'caps/icons/file.html' with width='3rem' height='3rem' classes='mr-3 flex-grow-0 flex-shrink-0' role='presentation' %}
                          {% endif %}

                            <div>
                              {% if plandocument.title %}
                                <strong class="d-block">{{ plandocument.title|document_title }}</strong>
                              {% else %}
                                <strong class="d-block">{{ council.name }} {{ plandocument.get_document_type|document_title }}</strong>
                              {% endif %}
                                <p class="d-inline-block text-muted mb-0">
                                    {% if plandocument.title %}
                                      {{ plandocument.get_document_type|title }}
                                      <span class="mx-2">&middot;</span>
                                    {% endif %}
                                    {% if plandocument.file_type %}
                                      {{ plandocument.file_type|upper }}
                                    {% endif %}
                                    {% if plandocument.get_status %}
                                      <span class="mx-2">&middot;</span>
                                      {{ plandocument.get_status|title }}
                                    {% endif %}
                                    {% if plandocument.get_scope %}
                                      <span class="mx-2">&middot;</span>
                                      {{ plandocument.get_scope|title }}
                                    {% endif %}
                                    {% if plandocument.is_deleted and not plandocument.file_exists %}
                                      <span class="mx-2">&middot;</span>
                                      We no longer hold a copy of this document
                                    {% endif %}
                                </p>
                            </div>

                      {% if plandocument.is_deleted %}
                        {% if plandocument.file_exists %}
                        </a>
                        {% endif %}
                        </div>
                      {% else %}
                        </a>
                      {% endif %}

                  {% if forloop.last and group_docs|length > 1 %}
                    </details>
                  {% endif %}

                  {% endfor %}
                  {% empty %}
                    <p class="text-muted mb-3">
                        We couldn’t find any climate action plans for this council.
                    </p>

                  {% endfor %}
                </div>
            </div>

            <div class="card-footer bg-yellow-light">
                <p class="mb-0"><strong>Are these plans out of date?</strong></p>
                <small class="mb-0">
                  <a href="{{ feedback_form_url }}?usp=pp_url&entry.393810903={{ council.name }}">Fill in this form</a> to let us know where to find the latest plans from this council.
                </small>
          </div>
        </div>

        {% if removed_documents %}
        <div class="card ceuk-card ceuk-card--emphasised ceuk-card--red mb-gutter">
            <div class="card-header d-sm-flex align-items-center">
                <h2 class="mr-auto pr-3 mb-1 mb-sm-0">Removed documents</h2>
            </div>
            <div class="card-body">
                <div class="mb-n3">
                  <ul>
                  {% for removed in removed_documents %}
                    <li>{{ removed.change.history_date|date:"M d Y" }}: <a href="{{ removed.change.url }}">{{ removed.change.document_type|document_type|title }} removed</a>{% if removed.change.title %} - {{ removed.change.title }}{% endif %}</li>
                  {% endfor %}
                  </ul>
              </div>
          </div>
        </div>
        {% endif %}

      {% if not scoring_hidden %}
        <div class="card ceuk-card ceuk-card--emphasised ceuk-card--cyan mb-gutter">
            <div class="card-header">
                <h2>Climate Plan Scorecard</h2>
            </div>
            <div class="card-body d-flex align-items-center">
                {% include 'caps/icons/info.html' with width='2rem' height='2rem' classes='mr-3 mr-lg-4 d-none d-sm-block flex-grow-0 flex-shrink-0 text-blue' role='presentation' %}
                <div>
                    <p class="mb-2">This council’s climate plans as of 20th September 2021 were assessed and scored by trained Climate Emergency UK volunteers, as part of the Council Climate Plan Scorecards project.</p>
                    <p class="mb-0 d-flex flex-wrap">
                        <a href="https://councilclimatescorecards.uk/councils/{{ council.slug }}/" class="d-flex align-items-center mr-4 font-weight-bold">Show the full Scorecard{% include 'caps/icons/external-link.html' with classes='external-link ml-1' role='presentation' %}</a>
                        <a href="https://councilclimatescorecards.uk/methodology/" class="d-flex align-items-center mr-4">Read more about the scoring process</a>
                    </p>
                </div>
            </div>
          {% if scoring_score.weighted_total == 0 %}
            <div class="card-body d-flex align-items-center border-top scorecard-zero-scorer">
                {% include 'caps/icons/question-circle.html' with width='2rem' height='2rem' classes='mr-3 mr-lg-4 d-none d-sm-block flex-grow-0 flex-shrink-0 text-red' role='presentation' %}
                <div>
                    <p class="mb-0">
                        {{ council.name }} scored <strong>zero points</strong> in this assessment. This is because the council either didn’t have any published plans at the time of the assessment, or <a href="https://councilclimatescorecards.uk/methodology/">the plans didn’t qualify</a>.
                    </p>
                </div>
            </div>
          {% endif %}
          {% if scoring_accolades %}
            <div class="card-body d-flex align-items-center border-top scorecard-top-performer-banner">
                {% include 'caps/icons/scorecards-star.html' with width='2rem' height='2rem' classes='mr-3 mr-lg-4 d-none d-sm-block flex-grow-0 flex-shrink-0' role='presentation' %}
                <div>
                    <p class="mb-0 mr-lg-5">
                        {{ council.name }} was a <strong>top performer</strong>
                      {% if scoring_accolades.overall %}
                        amongst {% include 'caps/includes/authority_type.html' with group=scoring_group %} councils.
                      {% elif scoring_accolades.num_sections == 1 %}
                        amongst {% include 'caps/includes/authority_type.html' with group=scoring_group %} councils,
                        in the <strong>{{ scoring_accolades.example_section }}</strong> section.
                      {% else %}
                        amongst {% include 'caps/includes/authority_type.html' with group=scoring_group %} councils,
                        in {{ scoring_accolades.num_sections|apnumber }} sections
                        including <strong>{{ scoring_accolades.example_section }}</strong>.
                      {% endif %}
                    </p>
                </div>
            </div>
          {% endif %}
            <div class="ceuk-data-table scorecard-table">
                <table class="table table-responsive mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Section</th>
                            <th scope="col"><a href="https://councilclimatescorecards.uk/councils/{{ council.slug }}/">{{ council.name|truncatechars:40 }}{% include 'caps/icons/external-link.html' with classes='external-link ml-1' role='presentation' %}</a></th>
                            <th scope="col">Average {% include 'caps/includes/authority_type.html' with group=scoring_group %} council</th>
                        </tr>
                    </thead>
                    <tr class="total {% if scoring_score.top_performer %}top-performer{% endif %}">
                        <td>
                          {% if scoring_score.top_performer %}
                            <small class="d-block text-muted">Top performer</small>
                          {% endif %}
                            <span class="scorecard-table__section-name">
                                Total score
                            </span>
                        </td>
                        <td>
                            <span class="total-score total-score--this-council">
                                {{ scoring_score.weighted_total|floatformat:"0" }}%
                            </span>
                        </td>
                        <td>
                            <span class="total-score total-score--average">
                                {{ average_total|floatformat:"0" }}%
                            </span>
                        </td>
                    </tr>
                  {% for section in scoring_sections %}
                    <tr class="category-{{ forloop.counter }} {% if section.top_performer %}top-performer{% endif %}">
                        <td>
                            <small class="d-block text-muted">
                                Section {{ forloop.counter }}
                                {% if section.top_performer %}
                                  <span class="mx-1">&middot;</span> Top performer
                                {% endif %}
                            </small>
                            <span class="scorecard-table__section-name">
                                {{ section.description }}
                            </span>
                        </td>
                        <td>{% include 'scoring/includes/score-bar.html' with score=section.score max=section.max_score %}</td>
                        <td>{% include 'scoring/includes/score-bar.html' with score=section.avg max=section.max_score %}</td>
                    </tr>
                  {% endfor %}
                </table>
            </div>
        </div>
      {% endif %}

      {% if council.country == council.SCOTLAND and project_stats %}
        <div class="card ceuk-card ceuk-card--emphasised ceuk-card--purple mb-gutter">
            <div class="card-header">
                <h2>Emissions reduction projects</h2>
            </div>
            <div class="card-body d-flex align-items-center border-bottom">
                {% include 'caps/icons/info.html' with width='2rem' height='2rem' classes='mr-3 mr-lg-4 d-none d-sm-block flex-grow-0 flex-shrink-0 text-blue' %}
                <div>
                    <p class="mb-2">
                        Local authorities in Scotland are required to <a href="https://sustainablescotlandnetwork.org/reports">publish yearly data</a> on their compliance with their climate change duties – including the emissions reduction projects they are undertaking.
                    </p>
                    <p class="mb-0">
                        <a href="{% url "council_projects" %}?council={{ council.id }}" class="d-inline-flex align-items-center">See all of {{ council.name }}’s projects {% include 'caps/icons/chevron-right.html' with classes="ml-1" %}</a>
                    </p>
                </div>
            </div>
            <div class="emissions-breakdown">
                <div class="d-flex flex-wrap">
                    <a class="d-block emissions-breakdown__stat" href="{% url "council_projects" %}?council={{ council.id }}">
                        <div>
                            <span class="h3">{{ project_stats.total_projects|floatformat }}</span>
                        </div>
                        <p>Projects</p>
                    </a>
                    <div class="emissions-breakdown__stat">
                        <div>
                            <span class="h3">{{ project_stats.total_savings|floatformat|intcomma }}</span>
                            <abbr title="Kilotonnes of Carbon Dioxide">ktCO2 per year</abbr>
                        </div>
                        <p>Total annual emissions savings</p>
                    </div>
                    <div class="emissions-breakdown__stat">
                        <div>
                            <span class="h3">£{{ project_stats.total_cost|floatformat|intcomma }}</span>
                        </div>
                        <p>Total capital cost</p>
                    </div>
                </div>
            </div>
        </div>
      {% endif %}
      {% if emissions_data %}
        <div class="card ceuk-card ceuk-card--purple mb-gutter">
            <div class="card-header">
                <h2>Emissions data</h2>
            </div>
            <div class="emissions-breakdown">
                <div class="emissions-breakdown__totals">
                    <div class="emissions-breakdown__stat">
                        <div>
                            <span class="h3">{{ latest_year_total_emissions|floatformat }}</span>
                            <abbr title="Kilotonnes of Carbon Dioxide">ktCO2</abbr>
                        </div>
                        <p>Total {{ latest_year }} emissions</p>
                    </div>
                    <div class="emissions-breakdown__stat">
                        <div>
                            <span class="h3">{{ latest_year_per_capita_emissions|floatformat }}</span>
                            <abbr title="Tonnes of Carbon Dioxide">tCO2</abbr>
                        </div>
                        <p>per person</p>
                    </div>
                    <div class="emissions-breakdown__stat">
                        <div>
                            <span class="h3">{{ latest_year_per_km2_emissions|floatformat }}</span>
                            <abbr title="Kilotonnes of Carbon Dioxide">ktCO2</abbr>
                        </div>
                        <p>per km<sup>2</sup></p>
                    </div>
                </div>
                <div class="emissions-breakdown__sectors">
                  {% for n, row in current_emissions_breakdown.iterrows %}
                    <div class="emissions-breakdown__stat">
                      <div>
                          <span class="h3">{{row.percentage}}</span>
                      </div>
                      <p>
                          <span class="emissions-color-chip emissions-color-chip--{{row.emissions_type|slugify}}"></span>
                          {{row.emissions_type}}
                      </p>
                    </div>
                  {% endfor %}
                </div>
            </div>
            <div class="card-body">
                {% include 'charting/includes/chart-display.html' with chart=chart_collection.multi_emissions %}
                <p class="text-muted text-smaller mt-4 mb-0">
                    Data from <a href="https://mysociety.github.io/la-emissions-data/">the Department of Business, Energy &amp; Industrial Strategy</a> “subset dataset”, representing carbon dioxide emissions within the scope of influence of local authorities.
                  {% if council.authority_type == 'CTY' or council.authority_type == 'COMB' %}
                    Data has been combined from constituent local authorities.
                  {% endif %}
                </p>

            </div>
        </div>
      {% endif %}

    {% comment %}
    # commented out until presentation has been improved.
    {% if polling_data %}
      {% council_card "local-polling" color="green" %}
    {% endif %}
    {% endcomment %}

      {% if related_councils %}
        <div class="card ceuk-card ceuk-card--purple mb-gutter">
            <ul class="card-header nav nav-tabs" role="tablist">
              {% for group in related_councils %}
                <li class="nav-item" role="presentation">
                    <a id="{{group.type.slug}}-tab" class="nav-link {% if group.type.slug == "composite" %}active{% endif %}" href="#{{group.type.slug}}-content" aria-controls="{{group.type.slug}}-content" aria-selected="{% if group.type.slug == "composite" %}true{% else %}false{% endif %}" data-toggle="tab" role="tab">
                      {% if group.type.slug == "composite" %}
                        Similar councils
                      {% else %}
                        {{group.type.name}}
                      {% endif %}
                    </a>
                </li>
              {% endfor %}
            </ul>
            <div class="tab-content">
              {% for group in related_councils %}
                <div class="tab-pane {% if group.type.slug == "composite" %}show active{% endif %}" id="{{group.type.slug}}-content" role="tabpanel" aria-labelledby="{{group.type.slug}}-tab">
                    <div class="card-body d-flex align-items-center">
                        {% include 'caps/icons/info.html' with width='2rem' height='2rem' classes='mr-3 mr-lg-4 d-none d-sm-block flex-grow-0 flex-shrink-0 text-blue' role='presentation' %}
                        <p class="mb-0">
                          {% if group.type.slug == "composite" %}
                            These councils are the most similar to <strong>{{ council.name }}</strong> in terms of emissions profile, deprivation, rural/urban population density, and geographical nearness.
                          {% elif group.type.slug == "emissions" %}
                            These councils are the most similar to <strong>{{ council.name }}</strong> in terms of their emissions profile, based on the latest data from the Department of Business, Energy &amp; Industrial Strategy.
                          {% elif group.type.slug == "geographic_distance" %}
                            These councils grographically border or overlap with <strong>{{ council.name }}</strong>.
                          {% elif group.type.slug == "imd" %}
                            These councils are the most similar to <strong>{{ council.name }}</strong> in terms of the proportion of their population living in high deprivation, medium deprivation, and low deprivation neighbourhoods.
                          {% elif group.type.slug == "ruc" %}
                            These councils are the most similar to <strong>{{ council.name }}</strong> in terms of the proportion of their population living in urban, rural, and highly rural neighbourhoods.
                          {% endif %}
                            <a href="{% url 'about_data' %}#similarity">Read more about how we calculate this.</a>
                        </p>
                    </div>
                    <div class="ceuk-data-table">
                        {% include 'caps/includes/related-council-table.html' with councils=group.councils %}
                    </div>
                    <div class="card-footer">
                        <form action="{% url 'search_results' %}" data-show-interstitial class="form-row flex-wrap align-items-center">
                            <label for="search-similar-{{ group.type.slug }}-documents" class="col-12 col-lg-auto font-weight-bold mr-3 mb-2 mb-lg-0">Search inside these councils’ documents</label>
                            <div class="col-auto flex-shrink-1 flex-grow-1">
                                <input type="text" class="form-control form-control-sm" name="q" id="search-similar-{{ group.type.slug }}-documents" value="{{ q|default_if_none:'' }}">
                                <input type="hidden" name="similar_council" value="{{ council.slug }}">
                                <input type="hidden" name="similar_type" value="{{ group.type.slug }}">
                            </div>
                            <div class="col-auto flex-shrink-0 d-flex">
                                <button type="submit" class="btn btn-purple btn-sm d-flex align-items-center">
                                    {% include 'caps/icons/search.html' with role='presentation' %}
                                    <span class="ml-2">Search</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
      {% endif %}

    </div>
    <div class="col-md-5 col-lg-4 order-md-1">

      {% if tags %}
        <div class="card ceuk-card ceuk-card--purple mb-gutter">
            <div class="card-header">
                <h2>Features</h2>
            </div>
            <div class="card-body">
                <p class="mt-n1">This council’s climate plan has been tagged with the following features:</p>
                <div class="ceuk-tag-list">
                  {% for tag in tags %}
                    {% include 'caps/includes/tag.html' with tag=tag.tag %}
                  {% endfor %}
                </div>
            </div>
        </div>
      {% endif %}

        <div class="card ceuk-card ceuk-card--purple mb-gutter">
            <div class="card-header">
                <h2>Powers &amp; Responsibilities</h2>
            </div>
            <div class="card-body">
                {% include 'caps/includes/council-powers.html' %}
            </div>
        </div>

        <div class="card ceuk-card ceuk-card--purple mb-gutter">
            <div class="card-header">
                <h2>More about this council</h2>
            </div>
            <div class="card-body">
                <dl class="mt-n1 mb-0">
                    <dt><a href="{{ council.website_url }}">{{ council.website_url|domain_human }}{% include 'caps/icons/external-link.html' with classes='external-link ml-1' role='presentation' %}</a></dt>
                    <dd>{{ council.name }}’s official homepage.</dd>
                  {% if council.twitter_url %}
                    <dt><a href="{{ council.twitter_url }}">@{{ council.twitter_name }}{% include 'caps/icons/external-link.html' with classes='external-link ml-1' role='presentation' %}</a></dt>
                    <dd>{{ council.name }}’s Twitter account.</dd>
                  {% endif %}
                  {% if council.is_upper_tier is False %}
                    <dt><a href="https://carbonbudget.manchester.ac.uk/reports/{{ council.gss_code }}/" class="d-flex align-items-center" target="_blank">
                        Tyndall Centre Carbon Budget report{% include 'caps/icons/external-link.html' with classes='external-link ml-1' role='presentation' %}
                    </a></dt>
                    <dd>Check {{ council.name }}’s ‘carbon budget’ – their share towards meeting the UK’s Paris agreement targets.</dd>
                  {% endif %}
                  {% if council.foe_slug != '' %}
                    <dt><a href="https://takeclimateaction.uk/near-you/{{ council.foe_slug }}" class="d-flex align-items-center" target="_blank">
                        Friends of the Earth ‘Near You’ tool{% include 'caps/icons/external-link.html' with classes='external-link ml-1' role='presentation' %}
                    </a></dt>
                    <dd>Discover climate groups in this area, data about {{ council.name }}’s climate performance, and actions you can take.</dd>
                  {% endif %}
                </dl>
            </div>
        </div>

        <div class="card ceuk-card ceuk-card--muted ceuk-card--pink mb-gutter">
            <div class="card-header">
                <h2>What do you want from Climate Action Plans?</h2>
            </div>
            <div class="card-body">
                {% include 'caps/includes/survey-email.html' %}
            </div>
        </div>

        <div class="card ceuk-card ceuk-card--muted ceuk-card--blue mb-gutter">
            <div class="card-header">
                <h2>Cite this page</h2>
            </div>
            <div class="card-body">
                <p class="mb-0 mt-n1 text-smaller js-select-text-on-click">
                    mySociety, Climate Emergency UK ({% now 'Y' %}). <i>CAPE: {{ council.name }}.</i> Available at: {{ request.build_absolute_uri }} [Accessed {% now 'j M Y' %}].
                </p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
