{% extends "caps/base.html" %}

{% load humanize %}
{% load caps_templatetags %}

{% block bodyclass %}
  page-council
{% endblock bodyclass %}

{% block before_content %}
  <div class="site-hero">
    <div class="container-fluid">
      <a href="{% url 'council_list' %}"
         class="d-inline-flex align-items-center">
        {% include 'caps/icons/chevron-left.html' with classes='mr-1' role='presentation' %}
        Back to all councils
      </a>
      <h1 id="header-name" class="mt-3 mb-0">{{ council.name }}</h1>
    </div>
  </div>
{% endblock before_content %}

{% block content %}
  <div class="row js-dynamic-content">
    {% comment %} MOBILE NAVBAR {% endcomment %}
    <div class="pt-3 px-3 pb-0 content-nav bg-purple d-md-none text-white"
         style="margin-top:-1rem">
      <div class="mb-0">{% include "caps/includes/council-content-navbar.html" %}</div>
    </div>
    <div class="council-content col-md-7 col-lg-8 order-md-2 offset-md-1 mt-5 mt-md-0">
      {% for item in council_cards %}
        {% council_card item.slug color=item.color %}
      {% endfor %}
    </div>
    <div class="col-md-4 col-lg-3">
      <div class="mb-4 mb-md-0 content-nav d-none d-md-block">{% include "caps/includes/council-content-navbar.html" %}</div>
    </div>
  </div>
{% endblock content %}
