.bg-green-gradient {
    background: linear-gradient(90deg, #AFE9DD 0%, #DEF8F6 100%);
}

.bg-grey-gradient {
    background: linear-gradient(181.76deg, #EEEEEE 1.56%, rgba(238, 238, 238, 0) 92.05%);
}

.bg-blue-l2 {
    background-color: $color-league-blue-l2;
}

.bg-green-l2 {
    background-color: $color-league-green-l1;
}
