// Usage:   @include transition(width, height 0.3s ease-in-out);
// Output:  -webkit-transition(width 0.2s, height 0.3s ease-in-out);
//          transition(width 0.2s, height 0.3s ease-in-out);
//
// Pass in any number of transitions
@mixin transition($transitions...) {
    $unfoldedTransitions: ();
    @each $transition in $transitions {
        $unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($transition), comma);
    }

    -webkit-transition: $unfoldedTransitions;
    transition: $unfoldedTransitions;
}
  
@function unfoldTransition ($transition) {
// Default values
$property: all;
$duration: .3s;
$easing: null; // Browser default is ease, which is what we want
$delay: null; // Browser default is 0, which is what we want
$defaultProperties: ($property, $duration, $easing, $delay);

// Grab transition properties if they exist
$unfoldedTransition: ();
@for $i from 1 through length($defaultProperties) {
    $p: null;
    @if $i <= length($transition) {
    $p: nth($transition, $i)
    } @else {
    $p: nth($defaultProperties, $i)
    }
    $unfoldedTransition: append($unfoldedTransition, $p);
}

@return $unfoldedTransition;
}

//Mixin Responsive
//usage @include responsive(font-size, 30, 40);
$min-viewport: 350;
$max-viewport: 1792;

@mixin responsive($property, $property-min, $property-max) {
    #{$property}: calc(#{$property-min}px + (#{$property-max} - #{$property-min}) * ( (100vw - #{$min-viewport}px) / (#{$max-viewport} - #{$min-viewport}) )) !important;
}

// Scorecard Table
@mixin table-category-color-header($color) {
    background-color: lighten($color: $color, $amount: 65%);
    a {
        color: $color;
        &:hover {
            color: darken($color: $color, $amount: 80%);
        }
    }
}

@mixin progress-bar-header($color) {
    .score-bar {
        border-color: $color;
        .progress-bar {
            background-color: lighten($color: $color, $amount: 62%);
            border-right: 1px solid transparentize($color: $color, $amount: 0.6);
        }
    }
}

@mixin progress-bar-body($color) {
    border-right: 1px solid transparentize($color: $black, $amount: 0.9);
    .score-bar {
        border-color: $color;
        .progress-bar {
            background-color: lighten($color: $color, $amount: 68%);
            border-right: 1px solid transparentize($color: $color, $amount: 0.6);
        }
    }
}
