
.league.navbar {

        padding: 0 1rem * 2;

    .navbar-brand {
        flex-shrink: 0;
        display: inline-block;
        height: 0;
        padding-top: 40px;
        width: 198px;
        overflow: hidden;
        @include img-retina('../img/league-logo@1.5x.png', '../img/league-logo@2x.png', 198px, auto);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain !important;
    }

    $nav-link-font-size: 14px;
    $nav-item-border-size: 2px;
    .nav-item .nav-link {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: 100%;
        padding: calc((78px - #{$nav-link-font-size} - #{$nav-item-border-size}) / 2) 25px;
        letter-spacing: 0.08em;
        color: $black;
        opacity: 0.7;
        font-size: $nav-link-font-size !important;
        border-top: $nav-item-border-size solid;
        border-bottom: $nav-item-border-size solid;
        border-color: transparent;
        text-decoration: none;

        @include transition(background-color, border-color 0.3s ease-in-out);

        &:hover {
            background-color:#A8F0E4;
            color: $black;
            opacity: 1;
            text-decoration: underline;
            border-top: $nav-item-border-size solid;
            border-bottom: $nav-item-border-size solid;
            border-color: darken(#A8F0E4,30%);
        }
    }
    .nav-item.active {
        background-color:lighten($green, 40%);
        color: $black;
        opacity: 1;
    }

}

// Subheader
nav.subheader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 0.5px solid transparentize($color: $blue, $amount: 0.8);

    span {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: normal;
        @include responsive(font-size, 13, 15);
        line-height: 130%;
        letter-spacing: 0.05em;
        opacity: 0.8;
    }
}
