// Table control filter
.table-filter {
    .left {
        border: 1px solid $blue;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
    
    .right {
        border: 1px solid $color-scorecard-green-d1;
        border-left: none;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}

// Table scorecard
.scorecard-table-wrapper {
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    border: 1px solid transparentize($color: $black, $amount: 0.8)
}

.scorecard-table {
    //Table inner border
    .table-sticky-border-vertical {
        height: 100%;
        width: 1px;
        background-color: transparentize($color: $black, $amount: 0.8);
        position:absolute;
        right: 0;
        top: 0;
    }

    .table-sticky-border-horizontal {
        height: 1px;
        width:100%;
        background-color: transparentize($color: $black, $amount: 0.8);
        position:absolute;
        left: 0px;
        bottom: 0;
    }

    //Table Header
    th, td {
        vertical-align: middle;
        background-color: $white;
        position: relative;
        z-index: 0;
    }

    th {
        font-weight: 400;
        padding: 14px 10px;
        .table-header-first-row {
            a {
                width: 120px;
            }
        }
    }

    th.council-name.second-row {
        min-width: 250px;
        padding-top: 12px;
        padding-left: 35px;
        background-color: $color-scorecard-green-l1;
    }

    th.first-row {
        padding: 10px 10px 0px 10px;
        vertical-align: initial;
        background-color:$color-scorecard-green-l1;
        .table-header-first-row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-bottom: 10px;
        }
    }

    th.header , .table-header-first-row span {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 130%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    $color-category-1:#004A8A;
    $color-category-2:#6200a4;
    $color-category-3:#8C7400;
    $color-category-4:#00903B;
    $color-category-5:#028790;
    $color-category-6:#8E5702;
    $color-category-7:#055070;
    $color-category-8:#180C7C;
    $color-category-9:#880202;

    th.category-1 {
        @include table-category-color-header($color-category-1);
    }
    th.category-2 {
        @include table-category-color-header($color-category-2);
    }
    th.category-3 {
        @include table-category-color-header($color-category-3);
    }
    th.category-4 {
        @include table-category-color-header($color-category-4);
    }
    th.category-5 {
        @include table-category-color-header($color-category-5);
    }
    th.category-6 {
        @include table-category-color-header($color-category-6);
    }
    th.category-7 {
        @include table-category-color-header($color-category-7);
    }
    th.category-8 {
        @include table-category-color-header($color-category-8);
    }
    th.category-9 {
        @include table-category-color-header($color-category-9);
    }

    thead th {
        position: sticky;
        top: 0;
        z-index: 1;
        max-height: 110px;
        height: 110px;
    }

    thead {
        th.second-row {
            top:110px;
            height: auto;
            padding: 5px 10px;
            padding-bottom: 14px;
        }
    }

    thead th:first-child {
        position: sticky;
        left: 0;
        z-index: 2;
    }

    tbody th {
        position: relative;
        left: 0;
    }

    tbody th.council-name {
        display: flex;
        flex-direction: row;
        min-height: 62px;
        align-items: center;
    }

    tbody tr {
        &:nth-child(odd) {
            th, td{
                background-color: #F8F8F8;
            }
        }
    }

    .council-total-score, .total-score {
        left: 250px;
    }

    .z-index-3 {
        z-index: 3 !important;
    }
    
    .z-index-4 {
        z-index: 4 !important;
    }

    .z-index-5 {
        z-index: 5 !important;
    }

    //score-bar
    .score-bar {
        background: $white;
        border: 1px solid #005CAB;
        border-radius: $border-radius;
        width: 100px;
        padding: 8px 0;
        margin-right: auto;
        margin-left:auto;
        position: relative;
    
        .progress-bar {
            width: 0;
            height: 100%;
            position: absolute;
            background: red;
            top:0;
            border-radius: $border-radius;
            z-index: 0;
        }
    
        span {
            display: block;
            text-align: center;
            line-height: 100%;
            margin-bottom: 0;
            z-index: 1;
            position: relative;
        }
    
        span.average {
            position: absolute;
            right: 5px;
            top: 10px;
            font-size: 13px;
            opacity: 0.9;
            font-weight: 300;
        }
    }

    .second-row.total-score {
        .score-bar {
            border-color: $color-scorecard-green-d1;
            .progress-bar {
                background-color: darken($color: $green, $amount: 10%);
                border-right: 1px solid $color-scorecard-green-d1;
            }
        }
    }

    .council-total-score {
        .score-bar {
            border-color: $color-scorecard-green-d1;
            .progress-bar {
                background-color: $green;
                border-right: 1px solid $color-scorecard-green-d1;
            }
        }
    }

    td.council-category-score.category-1 {
        @include progress-bar-body($color-category-1);
    }
    td.council-category-score.category-2 {
        @include progress-bar-body($color-category-2);
    }
    td.council-category-score.category-3 {
        @include progress-bar-body($color-category-3);
    }
    td.council-category-score.category-4 {
        @include progress-bar-body($color-category-4);
    }
    td.council-category-score.category-5 {
        @include progress-bar-body($color-category-5);
    }
    td.council-category-score.category-6 {
        @include progress-bar-body($color-category-6);
    }
    td.council-category-score.category-7 {
        @include progress-bar-body($color-category-7);
    }
    td.council-category-score.category-8 {
        @include progress-bar-body($color-category-8);
    }
    td.council-category-score.category-9 {
        @include progress-bar-body($color-category-9);
    }

    th.category-1.second-row {
        @include progress-bar-header($color-category-1);
    }
    th.category-2.second-row {
        @include progress-bar-header($color-category-2);
    }
    th.category-3.second-row {
        @include progress-bar-header($color-category-3);
    }
    th.category-4.second-row {
        @include progress-bar-header($color-category-4);
    }
    th.category-5.second-row {
        @include progress-bar-header($color-category-5);
    }
    th.category-6.second-row {
        @include progress-bar-header($color-category-6);
    }
    th.category-7.second-row {
        @include progress-bar-header($color-category-7);
    }
    th.category-8.second-row {
        @include progress-bar-header($color-category-8);
    }
    th.category-9.second-row {
        @include progress-bar-header($color-category-9);
    }

}

.sort-icon {
    @include transition(background-image 0.3s ease-in-out);
    min-width: 22px;
    height: 22px;
    margin-left: 5px;
    background-image: url('../img/sort-down-default.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.sort-icon.green {
    background-image: url('../img/sort-down-green.svg');
    background-repeat: no-repeat;
}

// Hover message for top-performers
.council-link {
    display: block;
    margin-left: 3px;
}

.top-performer {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../img/star.svg');
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: left;
    position: relative;
    

    .hover-message {
        opacity: 0;
        position: absolute;
        top:-10px;
        left: 0;
        width: 0;
        z-index: 1000;
    }

    &:hover {
        .hover-message {
           opacity: 1;
           width: 230px;
           
        } 
    }
}

.hover-message {
    background-color: $color-scorecard-grey-900;
    padding: 8px;
    border-radius: $border-radius;
    span {
        color: $white;
    }
}
