body {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 0.02em;
    color:$color-scorecard-grey-900;
    @include responsive(font-size, 14, 15);
}

p {
    color: transparentize($color-scorecard-grey-900, 0.1);
}

// HEADINGS
.subtitle {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

h1 {
    @include responsive(font-size, 30, 40);
    font-family: $headings-font-family;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0em;
    color: $color-scorecard-grey-900;
}

h3 {
    font-family: $headings-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */

    letter-spacing: 0.04em;
    text-transform: uppercase;
}

h6 {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    /* CAP/Grey */

    color: #404040;

    opacity: 0.82;
}

ul {padding-inline-start: 0;}
