.git
.github
.gitignore
.gitattributes
.vagrant
.env
media
static
data
src
conf/config.py
conf/config.py.deployed
conf/env.sh
conf/env.sh.deployed
conf/stack.yml
conf/stack.yml.deployed
conf/httpd.conf
conf/httpd.conf.deployed
Vagrantfile
.dockerignore
docker-compose.yml
production.yml
development.yml
.venv
