{% extends "scoring2022/base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="contact-page">
    <div class="hero container-fluid bg-dark-grey contact-background">
        <div style="max-width: 1110px" class="mx-auto">
            <a class="cta reverse white" href="{% url 'scoring2022:home' %}">Back to the Scorecards</a>
            <h1 class="text-white mt-3">Contact us</h1>
            <div class="mt-3">
                <span class="hero-sub">Get in touch</span>
            </div>
        </div>
    </div>

    <div class="container x-large py-5">
        <div class="row">
            <div class="col-12 col-md-6">
                <p>Climate Emergency is a small, dedicated staff team. We will endeavour to respond to you as soon as we can.</p>
                <div class="alert alert-warning">
                    <span>For press related enquiries please contact press@climateemergency.uk and you may wish to access the press release on the <a class="d-inline-block" href="{% url 'scoring2022:about' %}">About us page</a>.</span>
                </div>
                <p class="border-top mt-4 pt-3"><strong>For all other enquiries, please use the form below.</strog></p>
                <a class="btn btn-green" href="https://forms.gle/b5ezfQBcvT8hesv46">Contact us</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
