<ul class="nav flex-column sticky-top mb-4 mb-md-0" style="top: 1rem">
    <li class="nav-item">
        <a class="nav-link h6 pl-0 mb-0" href="{% url "about" %}">About</a>
        <ul class="nav flex-column py-2 border-top my-2">
            <li class="nav-item">
                <a class="nav-link" href="{% url "about" %}#sources">Data sources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "about" %}#feedback">Feedback</a>
            </li>
        </ul>
    </li>
    <li class="nav-item mt-3">
        <a class="nav-link h6 pl-0 mb-0" href="{% url "about_data" %}">Our data</a>
        <ul class="nav flex-column py-2 border-top my-2">
            <li class="nav-item">
                <a class="nav-link" href="{% url "about_data" %}#plans">Council plans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "about_data" %}#similarity">Similar councils</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "about_data" %}#api">API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "about_data" %}#csv">CSV files</a>
            </li>
        </ul>
    </li>
</ul>
