<table class="table mb-0">
    <thead>
        <tr>
            <th scope="col">Council name</th>
            <th scope="col">Plan?</th>
            <th scope="col">Plan score</th>
        </tr>
    </thead>
    <tbody>
      {% for council in councils %}
        <tr data-has-plan="{% if council.num_plans > 0 %}yes{% else %}no{% endif %}">
            <td data-column="council-name">
                <a href="{% url 'council' council.slug %}">{{ council.name }}</a>
            </td>
            <td data-column="has-plan" class="text-nowrap">
              {% if council.num_plans > 0 %}
                {% include 'icons/check-circle-fill.html' with classes='mr-1' %}
                Yes
              {% else %}
                {% include 'icons/question-circle.html' with classes='mr-1' %}
                No
              {% endif %}
            </td>
            <td data-column="plan-score">
              {% if council.num_plans > 0 %}
                <div class="d-flex align-items-center">
                  {% with fake_scores|random as fake_score %}
                    <span style="width: 3em;">
                        {{ fake_score }}%
                    </span>
                    {% widthratio 11 100 fake_score as fake_segment %}
                    <div class="progress council-scores-combined-progress-bar" style="width: 15em;">
                        <div class="progress-bar bg-green" style="width: {{ fake_segment }}%"></div>
                        <div class="progress-bar bg-cyan" style="width: {{ fake_segment }}%"></div>
                        <div class="progress-bar bg-blue" style="width: {{ fake_segment }}%"></div>
                        <div class="progress-bar bg-navy" style="width: {{ fake_segment }}%"></div>
                        <div class="progress-bar bg-purple" style="width: {{ fake_segment }}%"></div>
                        <div class="progress-bar bg-pink" style="width: {{ fake_segment }}%"></div>
                        <div class="progress-bar bg-red" style="width: {{ fake_segment }}%"></div>
                        <div class="progress-bar bg-orange" style="width: {{ fake_segment }}%"></div>
                        <div class="progress-bar bg-yellow" style="width: {{ fake_segment }}%"></div>
                    </div>
                  {% endwith %}
                </div>
              {% else %}
                0%
              {% endif %}
            </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
