<table class="table table-responsive js-make-emissions-chart">
    <caption>Emissions by sector, in <abbr title="Kilotonnes of Carbon Dioxide Equivalent">ktCO2e</abbr></caption>
    <thead>
        <tr>
            <th>Year</th>
            <th>All sources</th>
            <th>Industrial sources</th>
            <th>Commercial sources</th>
            <th>Public sector sources</th>
            <th>Domestic sources</th>
            <th>Transport sources</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>2005</th>
            <td>2828.0</td>
            <td>336.9</td>
            <td>502.1</td>
            <td>291.1</td>
            <td>1067.6</td>
            <td>630.2</td>
        </tr>
        <tr>
            <th>2006</th>
            <td>2807.6</td>
            <td>335.0</td>
            <td>521.2</td>
            <td>291.0</td>
            <td>1048.9</td>
            <td>611.4</td>
        </tr>
        <tr>
            <th>2007</th>
            <td>2784.6</td>
            <td>342.0</td>
            <td>517.2</td>
            <td>296.8</td>
            <td>1013.8</td>
            <td>614.8</td>
        </tr>
        <tr>
            <th>2008</th>
            <td>2693.1</td>
            <td>318.0</td>
            <td>492.1</td>
            <td>288.4</td>
            <td>1001.3</td>
            <td>593.3</td>
        </tr>
        <tr>
            <th>2009</th>
            <td>2449.8</td>
            <td>290.7</td>
            <td>426.1</td>
            <td>262.9</td>
            <td>895.5</td>
            <td>574.5</td>
        </tr>
        <tr>
            <th>2010</th>
            <td>2556.2</td>
            <td>299.9</td>
            <td>457.8</td>
            <td>273.3</td>
            <td>951.0</td>
            <td>574.1</td>
        </tr>
        <tr>
            <th>2011</th>
            <td>2363.6</td>
            <td>286.3</td>
            <td>428.4</td>
            <td>249.9</td>
            <td>828.2</td>
            <td>570.9</td>
        </tr>
        <tr>
            <th>2012</th>
            <td>2523.9</td>
            <td>306.8</td>
            <td>487.1</td>
            <td>276.6</td>
            <td>893.1</td>
            <td>560.3</td>
        </tr>
        <tr>
            <th>2013</th>
            <td>2427.2</td>
            <td>305.8</td>
            <td>439.7</td>
            <td>256.3</td>
            <td>862.8</td>
            <td>562.7</td>
        </tr>
        <tr>
            <th>2014</th>
            <td>2107.5</td>
            <td>252.3</td>
            <td>363.1</td>
            <td>207.7</td>
            <td>717.0</td>
            <td>567.2</td>
        </tr>
        <tr>
            <th>2015</th>
            <td>2033.0</td>
            <td>255.1</td>
            <td>309.5</td>
            <td>200.7</td>
            <td>684.3</td>
            <td>583.4</td>
        </tr>
        <tr>
            <th>2016</th>
            <td>1922.6</td>
            <td>235.2</td>
            <td>257.9</td>
            <td>181.5</td>
            <td>655.1</td>
            <td>592.8</td>
        </tr>
        <tr>
            <th>2017</th>
            <td>1853.4</td>
            <td>237.6</td>
            <td>255.5</td>
            <td>156.2</td>
            <td>617.7</td>
            <td>586.5</td>
        </tr>
        <tr>
            <th>2018</th>
            <td>1839.1</td>
            <td>231.8</td>
            <td>241.9</td>
            <td>156.4</td>
            <td>619.6</td>
            <td>589.4</td>
        </tr>
        <tr>
            <th>2019</th>
            <td>1784.3</td>
            <td>188.8</td>
            <td>230.2</td>
            <td>166.5</td>
            <td>604.4</td>
            <td>594.5</td>
        </tr>
    </tbody>
</table>
