<table class="table table-responsive mb-0">
    <thead>
        <tr>
            <th scope="col">Council name</th>
            <th scope="col">Has plan</th>
            {% if filter.request.GET.sort != 'last_update' and filter.request.GET.sort != '-last_update' %}
            <th scope="col">Carbon Neutral by</th>
            <th scope="col">Declared emergency</th>
            {% else %}
            {% if show_last_updated %}
            <th scope="col">Last updated</th>
            {% endif %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
      {% for council in councils %}
        <tr data-has-plan="{% if council.num_plans > 0 %}yes{% else %}no{% endif %}">
            <td data-column="council-name">
                <a href="{% url 'council' council.slug %}">{{ council.name }}</a>
            </td>
            <td data-column="has-plan">
              {% if council.num_plans > 0 %}
                {% include 'icons/check-circle-fill.html' with classes='mr-1' role='presentation' %}
                Yes
              {% else %}
                {% include 'icons/question-circle.html' with classes='mr-1' role='presentation' %}
                No
              {% endif %}
            </td>
            {% if filter.request.GET.sort != 'last_update' and filter.request.GET.sort != '-last_update' %}
            <td data-column="promise">
              {% if council.earliest_promise > 0 %}
                {{ council.earliest_promise }}
              {% elif council.has_promise %}
                No target
              {% endif %}
            </td>
            <td data-column="declared-emergency">
              {% if council.declared_emergency %}
              {{ council.declared_emergency }}
              {% else %}
              No
              {% endif %}
            </td>
            {% else %}
              {% if show_last_updated %}
              <td>
                {% if council.num_plans > 0 %}
                  {{ council.last_plan_update }}
                {% endif %}
              </td>
              {% endif %}
            {% endif %}
        </tr>
      {% endfor %}
    </tbody>
</table>
