<div class="site-header">
    <nav class="navbar navbar-expand-md navbar-light bg-white">
        <a class="navbar-brand" href="https://www.climateemergency.uk">Declare a Climate Emergency</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primaryNav" aria-controls="primaryNav" aria-expanded="false" aria-label="Toggle primary navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="primaryNav">
            <div class="navbar-nav">
                <a class="nav-link" href="https://www.climateemergency.uk/about-us/">About Us</a>
                <a class="nav-link" href="https://www.climateemergency.uk/events/">Events</a>
                <a class="nav-link" href="https://www.climateemergency.uk/blog/map-of-local-council-declarations/">Map of Declarations</a>
                <a class="nav-link" href="https://www.climateemergency.uk/local-authority-checklist/">Climate Action Plan Checklist</a>
                <a class="nav-link" href="{% url 'council_list' %}">All Councils</a>
            </div>
        </div>
    </nav>
</div>
