<div class="site-subheader">
    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Climate Action Plan Explorer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secondaryNav" aria-controls="secondaryNav" aria-expanded="false" aria-label="Toggle secondary navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="secondaryNav">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'council_list' %}">All councils</a>
                <a class="nav-link" href="{% url 'about' %}">About</a>
                <a class="nav-link" href="{% url 'about_data' %}">Our data</a>
            </div>
        </div>
    </nav>
</div>
