<p>Help us improve this page by answering our short survey about who uses this service, and what makes action plans useful to you.</p>

<p>
    <a href="{{settings.SURVEY_URL}}" target="_blank" class="btn btn-primary d-inline-flex align-items-center">
      Open survey
      {% include 'icons/external-link.html' with classes="ml-1" %}
    </a>
</p>

<hr class="my-lg-4">

<form action="https://mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&amp;id=48e077419a" method="post" novalidate="" target="_blank">
    <p>Don’t have time right now? Let us know your email address, and we’ll send you a link to the survey in a few days.</p>
    <div class="form-group">
        <label for="mce-EMAIL" class="font-weight-bold">Your email address</label>
        <input id="mce-EMAIL" name="EMAIL" required="" type="email" value="" class="form-control">
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_53d0d2026dea615ed488a8834_48e077419a" tabindex="-1" value=""></div>
    <input name="subscribe" type="submit" class="btn btn-success d-flex align-items-center" value="Get a reminder">
</form>
