{% extends "scoring/base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="about-content">
    <div class="hero container-fluid bg-dark-grey">
        <div style="max-width: 1110px" class="mx-auto">
            <a class="cta reverse white" href="{% url 'home' %}">Back to the Scorecards</a>
            <h1 class="text-white mt-3">About</h1>
            <div class="mt-3">
                <span class="hero-sub">Know more about CE UK and the Scorecards</span>
            </div>
        </div>
    </div>

    <div class="container medium">
        <div class="row">
            <div class="col-12 col-md-6">
                <h3 class="mb-3">About</h3>
                <p>Climate Emergency UK was set up in response to the climate emergency declarations that councils started making from the end of 2018. CE UK began by collecting these declarations, and the Climate Action Plans that followed, on its website.</p>
                <p><a href="https://www.climateemergency.uk/blog/council-climate-action-plan-scorecards-press-release/">Click here to read our <strong>press release</strong> on the launch of the Council Climate Plan Scorecards.</a></p>
                <p> For <strong>interviews</strong>, <strong>data</strong>, <strong>further analysis</strong>; please contact: <a href="press@climateemergency.uk">press@climateemergency.uk</a></p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 col-md-6">
                <h4 class="mb-3">History of the Scorecards</h4>
                <p>CE UK worked with longstanding civic tech NGO <a href="https://www.mysociety.org/">mySociety</a> to create <a href="https://cape.mysociety.org/">CAPE</a>. This took the plans collected by CE UK and placed them into a database, allowing users to easily locate and read their council’s Climate Action Plan, if it has one, and search across all councils' plans.</p>
                <p>At around the same time, CE UK created the <a href="https://www.climateemergency.uk/blog/climate-action-plan-checklist/">Climate Action Plan Checklist</a> with the support of Friends of the Earth, Ashden, the Centre for Alternative Technology and APSE Energy. This extensively researched document outlines the elements of a strong Climate Action Plan and highlights best practice from councils all over the world.</p>
                <p>While both of these tools are very useful, neither allow residents to understand the quality of their council’s Climate Action Plan, or how their council’s plan compares to others. Without this information it is difficult to know how their council can improve, and what to ask for. For this reason CE UK decided to assess Climate Action Plans and publish the findings publicly.</p>
                <p>This is a pilot project for CE UK, and the first time that this analysis has been undertaken. The work was carried out by our small staff team and our wonderful team of over 120 trained volunteers.</p>
                {% comment %} TODO missing link {% endcomment %}
                <p>We began by scoring the plans using the Checklist as a starting point. From there we identified which elements are essential components of a Climate Action Plan. We removed all questions relating to the action the council was taking on climate change, as we decided to focus only on the written plans in the first year of this project. To find out more read <a href="{% url 'methodology2022' %}">our methodology</a>.</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 col-md-6">
                <h4 class="mb-3">Why did we create the Scorecards?</h4>
                <p>According to the Climate Change Committee’s <a href="https://www.theccc.org.uk/wp-content/uploads/2020/12/Local-Authorities-and-the-Sixth-Carbon-Budget.pdf">Local Authorities and the Sixth Carbon Budget Report</a>, “More than half of the emissions cuts needed rely on people and businesses taking up low-carbon solutions – decisions that are made at a local and individual level. Many of these decisions depend on having supporting infrastructure and systems in place. Local authorities have powers or influence over roughly a third of emissions in their local areas.”</p>
                <p>At Climate Emergency UK we believe there is so much that local authorities can do to support the transition to net-zero. The first step in taking strong action is always to plan well, which is why it is vital that local authorities have robust Climate Action Plans. It is also important that residents know what their council is proposing to do to tackle the climate crisis. That’s why we’ve assessed all the Climate Action Plans of every local authority in the UK.</p>
                <p>These Council Climate Plan Scorecards will:</p>
                <ul>
                    <li>Allow residents and campaigners to understand the quality of their council’s Climate Action Plan according to our scorecards.</li>
                    <li>Help councils to see where they have done well and where they could improve.</li>
                    <li>Allow councils to share best practice examples, as it is easy to see which plans have scored the highest in various sections.</li>
                </ul>
                <p>We also hope that these Scorecards highlight just how hard some councils are working despite lack of support from the national government, as well as encouraging councils who are not performing as well to take more action by seeing what is possible.</p>
                <p>We also hope that these Scorecards highlight just how hard some councils are working despite lack of support from the national government, as well as encouraging councils who are not performing as well to take more action by seeing what is possible.</p>

                <div class="alert alert-secondary" role="alert">
                    <p><i>Our Scorecards show the diversity of planned climate action from councils across the UK. One thing that they all have in common is that they would be able to do so much more with further government financial and policy support.</i> </p>
                    <p class="mt-3 mb-0"><a href="https://actionnetwork.org/petitions/michael-gove-fund-councils-climate-action">Sign our petition</a> calling on Micheal Gove and the Uk Government to fund and support local councils better for climate action.</p>
                </div>

                <p>In this pilot project we have only marked Council Climate Action Plans. These Scorecards do not take into account the actual action being taken by council: in future years we intend to do so.</p>
                <p>However, this preparatory work is vital as a strong plan is essential to taking robust climate action over a sustained period of time. Without a plan it is impossible for residents to participate in the democratic process of holding their councils to account.</p>
            </div>
        </div>
    </div>

    <div id="volunteers" class="container-fluid bg-green">
        <h3 class="text-center mb-3" class="mb-3">Our volunteers</h3>
        <p class="text-center mx-auto mb-4" style="max-width: 550px">The Council Climate Plan Scorecards couldn’t have happened without our volunteers. They took a leap of faith along with us in this pilot project and have been instrumental in making it happen. Our volunteers were trained and helped mark and audit all 324 climate action plans. The first phase of marking alone took approximately 2,289 volunteer hours! We are incredibly grateful for all the hard work and dedication that they have put into this project. It was a pleasure to work with so many inspiring people!</p>

        <div style="display:table" class="mx-auto">
            <div style="max-width:550px" class="mx-auto pt-3">
                <h4 style="box-shadow:none" class="text-center mx-auto d-block mb-3">Auditors</h4>
                <p class="text-center mb-3">Our auditors were an elite group of volunteers who took on the mammoth task of awarding the final marks for every climate action plan across the UK - taking into account the First Mark and Right of Reply. These heroes were:</p>
            </div>
            <div class="names-wall">
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Davila C</span>
                    <span class="names-wall-row-item">Jamie W</span>
                    <span class="names-wall-row-item">Omonzusi A</span>
                    <span class="names-wall-row-item">Lucy G</span>
                    <span class="names-wall-row-item">Rhian H</span>
                    <span class="names-wall-row-item">Edward H</span>
                    <span class="names-wall-row-item">Maiken H</span>
                    <span class="names-wall-row-item">Rhiannon T</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Monika W</span>
                    <span class="names-wall-row-item">Ben W</span>
                    <span class="names-wall-row-item">Rebecca C</span>
                    <span class="names-wall-row-item">Deborah C</span>
                    <span class="names-wall-row-item">Peter D</span>
                    <span class="names-wall-row-item">Katherine E</span>
                    <span class="names-wall-row-item">David F</span>
                    <span class="names-wall-row-item">Natalia K</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Iseult L</span>
                    <span class="names-wall-row-item">Jenny P</span>
                    <span class="names-wall-row-item">Nick S</span>
                    <span class="names-wall-row-item">Rosie N</span>
                    <span class="names-wall-row-item">Selina R</span>
                    <span class="names-wall-row-item">Mandi B</span>
                </div>
            </div>
        </div>

        <div style="display:table" class="mx-auto mt-4">
            <div style="max-width:550px" class="mx-auto pt-3 border-top border-white">
                <h4 style="box-shadow:none" class="text-center mx-auto d-block mb-3">Amplifiers</h4>
                <p class="text-center mb-3">For the Scorecards to have an impact we needed people to see it. Our Amplifiers, experienced volunteers from the First Mark, were crucial in helping us prepare for the Launch day. These enthusiasts were:</p>
            </div>
            <div class="names-wall">
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Davila C</span>
                    <span class="names-wall-row-item">Jamie W</span>
                    <span class="names-wall-row-item">Deborah C</span>
                    <span class="names-wall-row-item">Rebecca C</span>
                    <span class="names-wall-row-item">Rosie N</span>
                    <span class="names-wall-row-item">Jenny P</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Eloise W-D</span>
                    <span class="names-wall-row-item">Lucy B</span>
                    <span class="names-wall-row-item">Lucy G</span>
                    <span class="names-wall-row-item">Ellie W</span>
                    <span class="names-wall-row-item">Fiona D</span>
                    <span class="names-wall-row-item">Kiran C</span>
                    <span class="names-wall-row-item">Yui Lam C</span>
                </div>
            </div>
        </div>

        <div style="display:table" class="mx-auto mt-4">
            <div style="max-width:550px" class="mx-auto pt-3 border-top border-white">
                <h4 style="box-shadow:none" class="text-center mx-auto d-block mb-3">First Markers</h4>
                <p class="text-center mb-3">Being able to mark 324 local authority climate action plans was a huge task. While the work was difficult, it became a joy as so many people stepped up to the plate and gave up their evenings to help us create the Scorecards. From those in the Policy Programmes to the Volunteer Markers we thank you so much!</p>
            </div>
            <div class="names-wall">
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Shadab A</span>
                    <span class="names-wall-row-item">Caroline A</span>
                    <span class="names-wall-row-item">Meha B</span>
                    <span class="names-wall-row-item">Yui Lam C</span>
                    <span class="names-wall-row-item">Heloisa D</span>
                    <span class="names-wall-row-item">Alex D</span>
                    <span class="names-wall-row-item">Katherine E</span>
                    <span class="names-wall-row-item">Sabah N</span>
                    <span class="names-wall-row-item">Sarah P</span>
                    <span class="names-wall-row-item">Jenny P</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Cameron S</span>
                    <span class="names-wall-row-item">Frances S</span>
                    <span class="names-wall-row-item">Merryn T</span>
                    <span class="names-wall-row-item">Isabelle W</span>
                    <span class="names-wall-row-item">Manpreet A</span>
                    <span class="names-wall-row-item">Mandi B</span>
                    <span class="names-wall-row-item">Lucie B</span>
                    <span class="names-wall-row-item">Sarah B</span>
                    <span class="names-wall-row-item">Rebecca C</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Helen C J</span>
                    <span class="names-wall-row-item">Rachel D</span>
                    <span class="names-wall-row-item">Luke D</span>
                    <span class="names-wall-row-item">Heriole K</span>
                    <span class="names-wall-row-item">Lucy G</span>
                    <span class="names-wall-row-item">Amelia K</span>
                    <span class="names-wall-row-item">William M</span>
                    <span class="names-wall-row-item">Katherine M</span>
                    <span class="names-wall-row-item">David F</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Alex N</span>
                    <span class="names-wall-row-item">Jowan N</span>
                    <span class="names-wall-row-item">Rosie N</span>
                    <span class="names-wall-row-item">Rachel O'B</span>
                    <span class="names-wall-row-item">Kwabena P</span>
                    <span class="names-wall-row-item">Monika P</span>
                    <span class="names-wall-row-item">Selina R</span>
                    <span class="names-wall-row-item">Isobel S</span>
                    <span class="names-wall-row-item">Nicholas S</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Nuri S C</span>
                    <span class="names-wall-row-item">Eloise W-D</span>
                    <span class="names-wall-row-item">Molly W</span>
                    <span class="names-wall-row-item">Abbey A</span>
                    <span class="names-wall-row-item">Talia B</span>
                    <span class="names-wall-row-item">Hannah C</span>
                    <span class="names-wall-row-item">Mary C</span>
                    <span class="names-wall-row-item">Hannah C</span>
                    <span class="names-wall-row-item">Kiran C</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Lucie C</span>
                    <span class="names-wall-row-item">Jo C-P</span>
                    <span class="names-wall-row-item">Harriet D</span>
                    <span class="names-wall-row-item">Peter F</span>
                    <span class="names-wall-row-item">Sarah G</span>
                    <span class="names-wall-row-item">Jonathan G</span>
                    <span class="names-wall-row-item">Tom H</span>
                    <span class="names-wall-row-item">Marie H</span>
                    <span class="names-wall-row-item">Pearl H</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Conor H</span>
                    <span class="names-wall-row-item">Sophie H</span>
                    <span class="names-wall-row-item">Natalia K</span>
                    <span class="names-wall-row-item">Annie M</span>
                    <span class="names-wall-row-item">Andrea M</span>
                    <span class="names-wall-row-item">Rob N</span>
                    <span class="names-wall-row-item">Cathy O</span>
                    <span class="names-wall-row-item">Danny O</span>
                    <span class="names-wall-row-item">Monica P</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Anna R</span>
                    <span class="names-wall-row-item">Laura R</span>
                    <span class="names-wall-row-item">Michelle R</span>
                    <span class="names-wall-row-item">Clara S</span>
                    <span class="names-wall-row-item">Viktorija S</span>
                    <span class="names-wall-row-item">Ingrid T</span>
                    <span class="names-wall-row-item">Emily T K</span>
                    <span class="names-wall-row-item">Jenna V</span>
                    <span class="names-wall-row-item">Monika W</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Deiniol W D</span>
                    <span class="names-wall-row-item">Daksha B</span>
                    <span class="names-wall-row-item">Katharina B</span>
                    <span class="names-wall-row-item">Deborah C</span>
                    <span class="names-wall-row-item">Kat C</span>
                    <span class="names-wall-row-item">Peter D</span>
                    <span class="names-wall-row-item">Dale F</span>
                    <span class="names-wall-row-item">Pauline F</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Anna G</span>
                    <span class="names-wall-row-item">Ian L</span>
                    <span class="names-wall-row-item">Mwale M</span>
                    <span class="names-wall-row-item">Selam R</span>
                    <span class="names-wall-row-item">Maxwell R</span>
                    <span class="names-wall-row-item">Jo T</span>
                    <span class="names-wall-row-item">Rhiannon T</span>
                    <span class="names-wall-row-item">Jamie W</span>
                    <span class="names-wall-row-item">Kiran W</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Ellie W</span>
                    <span class="names-wall-row-item">Sarah W</span>
                    <span class="names-wall-row-item">Ben W</span>
                    <span class="names-wall-row-item">Maria H</span>
                    <span class="names-wall-row-item">Omonzusi A</span>
                    <span class="names-wall-row-item">Siobhan A</span>
                    <span class="names-wall-row-item">Joey B</span>
                    <span class="names-wall-row-item">Anna C</span>
                    <span class="names-wall-row-item">Davila C</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Celia D</span>
                    <span class="names-wall-row-item">Fiona D</span>
                    <span class="names-wall-row-item">Alice G</span>
                    <span class="names-wall-row-item">Rhian H</span>
                    <span class="names-wall-row-item">Connor H</span>
                    <span class="names-wall-row-item">Edward H</span>
                    <span class="names-wall-row-item">May H</span>
                    <span class="names-wall-row-item">Jennifer H</span>
                    <span class="names-wall-row-item">Maiken H</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Mark J</span>
                    <span class="names-wall-row-item">Iseult L</span>
                    <span class="names-wall-row-item">Daniel M</span>
                    <span class="names-wall-row-item">Myla M</span>
                    <span class="names-wall-row-item">Suzy M</span>
                    <span class="names-wall-row-item">Beverley N</span>
                    <span class="names-wall-row-item">Naïs O-L</span>
                    <span class="names-wall-row-item">Charlotte O</span>
                </div>
                <div class="names-wall-row">
                    <span class="names-wall-row-item">Lucy P</span>
                    <span class="names-wall-row-item">Mark P</span>
                    <span class="names-wall-row-item">Francesca R</span>
                    <span class="names-wall-row-item">Francesca R</span>
                    <span class="names-wall-row-item">Fiona S</span>
                    <span class="names-wall-row-item">Daisy T</span>
                    <span class="names-wall-row-item">Harriet W</span>
                </div>
            </div>
        </div>

    </div>

    <div class="container medium">
        <div class="mx-auto d-flex flex-column align-items-center" style="max-width:550px">
            <h4 class="mb-4">Thanks to</h4>
            <a class="mapolitical-logo mb-3" href="https://www.mapolitical.com">Mapolitical</a>
            <span class="text-center" style="max-width:550px">UK Government Political Stakeholder data and Look-up API donated by ‘Mapolitical’ was used to communicate with local authority officers about the project, including giving them a right of reply on the data.</span>
        </div>
    </div>

</div>
{% endblock %}
