                    {% load static %}
                    <div class="alert alert-primary2025 mb-5 p-4 border-yellow" role="alert">
                      <p>Looking for information about how we scored previous rounds of the Scorecards?</p>
                      <div class="d-flex flex-wrap gap-3">
                          <a href="{% url 'scoring2022:methodology' %}" class="btn btn-sm btn-outline-primary">2021: Council Climate Plan Scorecards</a>
                          <a href="{% url 'year_scoring:methodology' 2023 %}" class="btn btn-sm btn-outline-primary">2023: Council Climate Action Scorecards</a>
                      </div>
                    </div>

                    <h2 id="section-summary" class="mb-3">Summary</h2>

                    <p>We have now published the draft methodology for the 2025 Council Climate Action Scorecards. This lays out how we'll be marking and scoring all UK councils for a second time on the actions they're taking towards net zero. The second edition of Council Climate Action Scorecard results will be released in June 2025.</p>

                    <p>We will mark and score all UK councils on their climate action against 93 questions in 7 different sections. The majority of changes to this methodology have been to clarify questions more clearly. You can find out more about what specific changes we have made and why in our <a href="https://climateemergency.uk/blog/how-council-climate-action-will-be-scored-in-2025/">Methodology 2025 blog here</a>. To find out more about how we created the complete methodology in 2022 and why questions or topics were or were not included in the overall methodology, <a href="https://www.climateemergency.uk/draft-methodology-blog-series/">check out our blog series on the methodology here</a>.</p>

                    <p class="my-4">
                      <a href="#section-question-criteria" class="btn btn-primary">Jump to see the questions</a>
                    </p>

                    <p>There are four entirely new questions in the methodology (in Buildings &amp; Heating, Biodiversity, Collaboration &amp; Engagement and Transport (for Transport the new question is only for combined authorities) as well as one question in Governance &amp; Finance on procurement where Question 6 from 2023, with a three tier criteria, has been split out for 2025 into 6a (one tier criteria) and 6b (two tier criteria).</p>
                    
                    <p>The four new questions are:</p>
                    
                    <ul>
                      <li>Transport (for combined authorities only) Q4c: Is the combined authority transitioning the bus fleet in their area to be zero-emission?</li>
                      <li>Buildings &amp; Heating 1b: Does the council have a target to retrofit all significant council buildings (excluding homes) and has this been costed?</li>
                      <li>Biodiversity Q10: Has the council introduced a Green Space Factor to increase habitat in new developments?</li>
                      <li>Collaboration &amp; Engagement Q12: Does the council have an ongoing way for employee representative bodies (including recognised trade unions) to influence the development and delivery of the council's Climate Action Plan?</li>
                    </ul>
                    
                    <p>The one question that has been removed was Question 1a "Has the council reduced single use plastic in its buildings and events?" in Waste Reduction &amp; Food, due to changes in UK law making it a legal requirement to ban the use and sale of some single use plastic.</p>
                    
                    <p>We created this updated criteria through extensive research and consultation with council staff, councillors, campaigners and other organisations. To understand what action we will be scoring and the question weightings, please read the complete draft methodology below.</p>

                    <img alt="Timeline showing: January to April 2024, Methodology review and sector consultations; May 2024, Publish updated metrics for 2025 Scorecards; August to October 2024, First marking with volunteers; November to December 2024, Five week Right of Reply period; January to March 2025, Scoring audit; June 2025, scorecards launch" class="d-block mx-auto my-4 my-lg-5" height="150" src="{% static 'scoring/img/2025-timeline-08.png' %}" style="max-width: 100%; height: auto;" width="700">

                    <p><strong>Whilst every effort has been made to make this methodology complete, Climate Emergency UK reserves the right to make changes to the methodology where deemed appropriate between now and June 2025.</strong> Changes may be made, for example, if national policy changes between now and June 2025 and this impacts our questions; or if the data needed to answer a particular question is no longer available to use. An updated methodology, if there are any changes, identical to the one used in the marking, will be published, alongside the Council Climate Action Scorecards in June 2025.</p>
                    
                    <p>The Council Climate Action Scorecards is a project of Climate Emergency UK, in partnership with mySociety.</p>
                    
                    <p class="alert alert-primary2025">If you're interested in volunteering with us, to support others to use the Action Scorecards or help us mark the next Action Scorecards, <a href="https://actionnetwork.org/forms/application-scorecards-volunteering-2">register your interest here</a>.</p>
                    
                    <p>You can see the draft methodology explanation text in  <a href="https://drive.google.com/file/d/1EDZL5p6lcqWxo-MNO_iR2WuBbGX9l5Qr/view?usp=sharing">pdf format here</a>. You can also view the questions and criteria in <a href="https://docs.google.com/spreadsheets/d/1TEjjIFgqtl1r2oaFO7Ku8xdc7m12MQRNgo27c_Zn20M/edit?usp=sharing">spreadsheet format here</a>. This information is identical to this website.</p>


                    <h2 id="section-methodology-review" class="mt-5 mt-lg-6 mt-xl-7 mb-3">Methodology Review</h2>

                    <p>Following the publication of the 2023 Council Climate Action Scorecards in October 2023, we have conducted a detailed review of the Action Scorecards methodology. We conducted this review in order to improve and clarify the questions, thereby ensuring the Action Scorecards are relevant, accurate and useful for residents and councils. This review happened between January and May 2024. Climate Emergency UK reviewed the questions and reflected on feedback from the sector, councils and campaigners on the 2023 Scorecards methodology. We then invited 15 randomly selected councils, alongside sector organisations, experts, campaigners and Scorecards volunteers to an online roundtable for each section, where changes were suggested and reviewed. All invitees were also sent a short feedback form to provide comment on the suggested changes.</p>

                    <p>Following the roundtables the suggested changes to the methodology, including any new questions, criteria changes or clarifications were reviewed in detail by the 2024/25 Advisory Group. 
                    </p>

                    <h2 id="section-question-criteria" class="mt-5 mt-lg-6 mt-xl-7 mb-3">Question Criteria</h2>

                    <p>Below you can see each of the questions that councils will be scored on in 2024/25, along with some further clarification of the question criteria. We’ve also shown how each question will be scored: whether from volunteer research, FOI responses from councils, the use of national data or through a mixture of volunteer research and national data.</p>
