<div class="site-header">
    <nav class="navbar navbar-expand-md navbar-light bg-white">
        <a class="navbar-brand" href="https://www.climateemergency.uk">Declare a Climate Emergency</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primaryNav" aria-controls="primaryNav" aria-expanded="false" aria-label="Toggle primary navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="primaryNav">
            <div class="navbar-nav">
                <a class="nav-link" href="https://www.climateemergency.uk/events/">Events</a>
                <a class="nav-link" href="https://www.climateemergency.uk/blog/category/declarations/">Declarations</a>
                <a class="nav-link" href="https://www.climateemergency.uk/universities/">Universities</a>
                <a class="nav-link" href="https://www.climateemergency.uk/blog/category/nhs/">NHS</a>
                <a class="nav-link" href="https://www.climateemergency.uk/blog/category/climate-chnage/">Climate Change</a>
                <a class="nav-link" href="https://www.climateemergency.uk/blog/category/resources/">Resources</a>
                <a class="nav-link" href="https://www.climateemergency.uk/solutions/">Actions</a>
                <a class="nav-link" href="https://www.climateemergency.uk/blog/category/policy/">Policy</a>
                <a class="nav-link" href="https://www.climateemergency.uk/climate-emergency-action-plans/">Action Plans</a>
            </div>
        </div>
    </nav>
</div>

<div class="site-subheader">
    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">Data</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secondaryNav" aria-controls="secondaryNav" aria-expanded="false" aria-label="Toggle secondary navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="secondaryNav">
            <div class="navbar-nav">
                <a class="nav-link" href="{{ '/councils' | relative_url }}">All councils</a>
                <a class="nav-link" href="#">Use our data</a>
                <a class="nav-link" href="#">Contribute</a>
            </div>
        </div>
    </nav>
</div>
