<div class="table-responsive">
  <table id="council_list" class="table mb-0">
    <thead>
        <tr>
            <th scope="col" data-sortable="name">Council name</th>
            <th scope="col">Has plan</th>
            {% if filter.request.GET.sort != 'last_update' and filter.request.GET.sort != '-last_update' %}
            <th scope="col" data-sortable="promise_year">Carbon Neutral by</th>
            <th scope="col" data-sortable="declaration_date">Declared emergency</th>
            {% else %}
            {% if show_last_updated %}
            <th scope="col"i data-sortable="last_update">Last updated</th>
            {% endif %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
      {% for council in councils %}
        <tr data-has-plan="{% if council.num_plans > 0 %}yes{% else %}no{% endif %}">
            <td data-column="council-name" data-sortvalue="{{ council.name|lower }}">
                <a href="{% url 'council' council.slug %}">{{ council.name }}</a>
            </td>
            <td data-column="has-plan">
              {% if council.num_plans > 0 %}
                {% include 'caps/icons/check-circle-fill.html' with classes='mr-1' role='presentation' %}
                Yes
              {% else %}
                {% include 'caps/icons/question-circle.html' with classes='mr-1' role='presentation' %}
                No
              {% endif %}
            </td>
            {% if filter.request.GET.sort != 'last_update' and filter.request.GET.sort != '-last_update' %}
              {% if council.earliest_promise > 0 %}
            <td data-column="promise" data-sortvalue="{{ council.earliest_promise }}">
                {{ council.earliest_promise }}
              {% elif council.has_promise %}
            <td data-column="promise" data-sortvalue="0">
                No target
              {% else %}
            <td data-column="promise" data-sortvalue="0">
              {% endif %}
            </td>
              {% if council.declared_emergency %}
            <td data-column="declared-emergency" data-sortvalue="{{  council.declared_emergency.isoformat }}">
              {{ council.declared_emergency }}
              {% else %}
            <td data-column="declared-emergency" data-sortvalue="0">
              No
              {% endif %}
            </td>
            {% else %}
              {% if show_last_updated %}
              <td data-sortvalue="{{  council.last_plan_update.isoformat }}">
                {% if council.num_plans > 0 %}
                  {{ council.last_plan_update }}
                {% endif %}
              </td>
              {% endif %}
            {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
