<div class="mysoc-footer" role="contentinfo">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-8 col-lg-4">
                <h2 class="mysoc-footer__site-name">CAPE</h2>
                <div class="mysoc-footer__site-description">
                    <p>A fully searchable database of UK local authority climate action plans, climate targets, and climate emergency declarations.</p>
                </div>
            </div>

            <div class="col-sm-8 col-md-6 col-lg-4 d-flex mt-3 mt-lg-0">
                <div class="mysoc-newsletter">
                    <p>Subscribe to hear from CAPE, and <a href="https://www.mysociety.org/">mySociety</a>.</p>
                    <div id="mc_embed_signup">
                        <form action="https://mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&amp;id=287dc28511&amp;f_id=002a44e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">

                            <div class="d-flex flex-row align-items-end">
                                <div class="d-flex flex-column">
                                <label for="mce-EMAIL">Email Address</label>
                                <input class="form-control" type="email" name="EMAIL" id="mce-EMAIL" required value="">
                                </div>
                                <input class="btn btn-primary font-weight-bold" type="submit" name="subscribe" id="mc-embedded-subscribe" value="Subscribe">
                            </div>

                            <!-- mySociety newsletter -->
                            <input type="checkbox" name="group[11745][32]" value="" hidden checked>
                            <!-- Climate action -->
                            <input type="checkbox" name="group[11745][68719476736]" value="" hidden checked>

                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            <input type="text" name="b_53d0d2026dea615ed488a8834_287dc28511" tabindex="-1" value="">
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-8 col-md-6 col-lg-4 d-flex mt-3 mt-lg-0">
                <div class="mysoc-footer__donate">
                    <p class="mb-4">Your donations keep this site and others like it running.</p>
                    <a href="https://www.mysociety.org/donate?utm_source=cape.mysociety.org&amp;utm_content=footer+donate+now&amp;utm_medium=link&amp;utm_campaign=mysoc_footer" class="mysoc-footer__donate__button">Donate now</a>
                </div>
            </div>

        </div>
        <hr class="mysoc-footer__divider" role="presentation">
        <div class="row">

            <div class="col-sm-5">
                <div class="mysoc-footer__orgs">
                    <p class="mysoc-footer__org">
                        Built by
                        <a href="https://www.mysociety.org?utm_source=cape.mysociety.org&amp;utm_content=footer+logo&amp;utm_medium=link&amp;utm_campaign=mysoc_footer" class="mysoc-footer__org__logo mysoc-footer__org__logo--mysociety">mySociety</a>
                    </p>
                    <p class="mysoc-footer__org">
                        In partnership with
                        <a href="#" class="mysoc-footer__org__logo mysoc-footer__org__logo--ceuk">Climate Emergency UK</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="mysoc-footer__legal">
                    <p><a href="https://www.mysociety.org?utm_source=cape.mysociety.org&amp;utm_content=footer+full+legal+details&amp;utm_medium=link&amp;utm_campaign=mysoc_footer">mySociety</a> is a registered charity in England and Wales (1076346) and a limited company (03277032). We provide commercial services through our wholly owned subsidiary <a href="https://www.societyworks.org">SocietyWorks Ltd</a> (05798215).</p>
                </div>
            </div>

            <div class="col-sm-2 col-md-3">
                <ul class="mysoc-footer__badges">
                    <li role="presentation"><a href="https://github.com/mysociety/caps" class="mysoc-footer__badge mysoc-footer__badge--github">Github</a></li>
                    <li role="presentation"><a href="https://twitter.com/mysociety" class="mysoc-footer__badge mysoc-footer__badge--twitter">Twitter</a></li>
                    <li role="presentation"><a href="https://facebook.com/mySociety" class="mysoc-footer__badge mysoc-footer__badge--facebook">Facebook</a></li>
                    <li role="presentation"><a href="https://www.linkedin.com/company/mysociety" class="mysoc-footer__badge mysoc-footer__badge--linkedin">LinkedIn</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
