{% load static %}

<div class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-fluid position-relative">
            <a href="https://www.mysociety.org/about/anniversary" id="mysociety-badge" aria-label="20 years of mySociety">
                <img class="badge-desktop" src="{% static 'caps/img/badge-mysociety-desktop@2x.png' %}" width="60" height="80" alt="20 years of mySociety">
                <img class="badge-mobile" src="{% static 'caps/img/badge-mysociety-mobile@2x.png' %}" width="48" height="60" alt="20 years of mySociety">
            </a>
            <a class="navbar-brand" href="{% url 'home' %}">
                CAPE
                <small>Informing local action on climate change</small>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primaryNav" aria-controls="primaryNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="primaryNav">
                <div class="navbar-nav">
                    <a class="nav-link" href="{% url 'council_list' %}">Councils</a>
                    <a class="nav-link" href="{% url 'tag_list' %}">Plans</a>
                    <a class="nav-link" href="{% url 'council_projects' %}">Emissions reduction</a>
                    <a class="nav-link" href="{% url 'about_data' %}">Data</a>
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </div>
            </div>
        </div>
    </nav>
</div>
