.site-content {
    padding: 1rem 0 3rem;

    @include media-breakpoint-up('md') {
        padding: 2rem 0 6rem;
    }

    @include media-breakpoint-up('lg') {
        padding: 3rem 0 8rem;
    }
}
