                    {% load static %}
                    <div class="alert alert-primary2027 mb-5 p-4 border-yellow" role="alert">
                      <p class="fs-4">Looking for methodologies from previous versions?</p>
                      <div class="d-flex flex-wrap gap-3">
                          <a href="{% url 'scoring2022:methodology' %}" class="btn btn-sm btn-outline-primary" aria-label="2021: Council Climate Plan Scorecards">Plan Scorecards 2021</a>
                          <a href="{% url 'year_scoring:methodology' 2023 %}" class="btn btn-sm btn-outline-primary" aria-label="2023: Council Climate Action Scorecards">2023</a>
                          <a href="{% url 'year_scoring:methodology' 2025 %}" class="btn btn-sm btn-outline-primary" aria-label="2025: Council Climate Action Scorecards">2025</a>
                      </div>
                    </div>

                    <h2 id="section-summary" class="mb-3">Summary</h2>

                    <p>This is the methodology for the 2027 Council Climate Action Scorecards…</p>

                    <p>…</p>

                    <p class="my-4">
                      <a href="#section-question-criteria" class="btn btn-primary">Jump to see the questions</a>
                    </p>

                    <p>…</p>

                    <p>…</p>

                    <img src="{% static 'scoring/img/2027-timeline-02@2x.png' %}" alt="Timeline showing: January to March 2026, Methodology review; Spring 2026, Publish updated metrics for 2027 Scorecards; April to June 2026, First marking with volunteers; Summer 2026, Seven week Right of Reply period; Autumn 2026, Scoring audit; Spring 2027, Launch" class="d-block mx-auto my-4 my-lg-5" width="700" height="150" style="max-width: 100%; height: auto;">

                    <p>The Council Climate Action Scorecards is a project of <a href="https://climateemergency.uk/">Climate Emergency UK</a>, in partnership with <a href="https://www.mysociety.org/">mySociety</a>.</p>

                    <h2 id="section-methodology-review" class="mt-5 mt-lg-6 mt-xl-7 mb-3">Methodology Review</h2>

                    <p>…</p>

                    <p>…</p>

                    <h2 id="section-question-criteria" class="mt-5 mt-lg-6 mt-xl-7 mb-3">Question Criteria</h2>

                    <p>Below you can see each of the questions that councils will be scored on in 2026/27, along with some further clarification of the question criteria. We’ve also shown how each question will be scored: whether from volunteer research, FOI responses from councils, the use of national data or through a mixture of volunteer research and national data.</p>
