export REPOSITORY_DB_PASS="secrit_password_1"
export SECRET_KEY="another_secrit_thing"
export STACK="data_climateemergency_uk"
export PORT="1234"
export DEBUG=0
export GOOGLE_ANALYTICS=your_ga_id
export GOOGLE_ANALYTICS_SCORECARDS=your_ga_id
export MAILCHIMP_KEY="your_mailchimp_key"
