{% extends "base.html" %}

{% block content %}

<h1 class="mb-4 mb-lg-5">Our data</h1>

<div class="row">
    <div class="col-md-4 col-lg-3">

        {% include "includes/about-subnav.html" %}

    </div>
    <div class="col-md-8 offset-lg-1">

        <h2 class="mb-4" id="feedback">Feedback</h2>

        <p>If you find this data useful we’d love to <a href="mailto:climate-councils@mysociety.org">hear from you</a> about how it was used. It’s helpful for guiding future work, providing examples to others and for talking to existing and current funders.</p>

        <h2 class="mb-4" id="plans">Council plans</h2>

        <p>You can <a href="{{ MEDIA_URL }}data/plans/plans.zip">download a zip file of all the plans</a>. As well as the PDFs, or HTML pages, of the plans, this includes a CSV file (plans.csv) with details and sources for all the included files, along with information like GSS codes to enable linking to other data. The CSV file is available separately, see below for details.</p>

        <h2 class="mt-5 mb-4" id="similarity">Similar councils</h2>

        <p>We have built on open datasets to provide comparisons between councils that are similar in a number of dimensions. You can <a href="https://www.mysociety.org/2022/01/13/new-in-cape-five-different-ways-of-finding-similar-councils/">read a detailed breakdown of how we calculated these dimensions on our blog</a>, but here’s a high-level summary:</p>

        <table class="table my-4">
          {% for comparison_type in comparison_types %}
            <tr>
                <th class="pt-4 pl-0">{{ comparison_type.name }}</th>
                <td class="pt-4 pr-0">{{ comparison_type.markdown_desc|safe }}</td>
            </tr>
          {% endfor %}
        </table>

        <h2 class="mt-5 mb-4" id="projects">Emissions reduction projects</h2>

        <p>We are able to display emissions reduction projects reported by Scottish local authorities, thanks to the ‘<a href="https://www.legislation.gov.uk/ssi/2015/347/contents/made">Climate Change (Duties of Public Bodies; Reporting Requirements) (Scotland) Order 2015</a>’ which requires them to submit reports on their climate actions to the <a href="https://sustainablescotlandnetwork.org/reports">Sustainable Scotland Network website</a> each year.</p>

        <p>We automatically collect these reports, extract information about the local authorities’ emissions reduction projects, and display them in <a href="{% url 'council_projects' %}">a more accessible, interactive format, here</a>.</p>

        <p>Sadly local authorities in England, Wales, and Northern Ireland have no corresponding reporting requirement, so data is unavailable for them.</p>

        <h2 class="mt-5 mb-4" id="api">API</h2>

        <p>We have <a href="{% url 'api-root' %}">an API</a> through which an increasing quantity of our data will be available. The API page includes a full description of the data available.</p>

        <h2 class="mt-5 mb-4" id="csv">CSV files</h2>

        <p>If you need to use our data in your own spreadsheets then the following data is available to download as CSV files:<p>

        <ul>
            <li><a href="{{ MEDIA_URL }}data/plans.csv">Council plans</a>.</li>
            <li><a href="{{ MEDIA_URL }}data/promises.csv">Council net zero commitments</a>.</li>
            <li><a href="{{ MEDIA_URL }}data/declarations.csv">Council climate emergency declarations</a>.</li>
        </ul>

        <p>All the above CSV files include the council GSS code, and a three letter council code you can use with the API, to enable matching data across files, and with other sources.</p>

        <p>While most of the details in the plans CSV are hopefully fairly straightforward there are a few which require further explanations:</p>

        <ul>
            <li><b>last_update</b> - This is the date we last updated any information about the plan. It is not the date the plan was last updated.</li>
            <li><b>url</b> - The URL where the plan was fetched.</li>
            <li><b>plan_path</b> - This is the path to download the plan from our website.</li>
            <li><b>scope</b> - Council only means the plan only deals with the council's operations. Whole area means the plan covers non council activities within council boundaries as well.</li>
        </ul>

        <p>There is also a <a href="{{ MEDIA_URL }}data/projects_data.csv">CSV of the emissions reduction projects data</a> with the following data:</p>

        <ul>
            <li><b>council_name</b></li>
            <li><b>authority_code</b> - Three letter council code as above</li>
            <li><b>start_year</b> - Reporting start year</li>
            <li><b>end_year</b> - Reporting end year</li>
            <li><b>data_type</b> - This is always 'projects'</li>
            <li><b>emission_savings</b> - Emissions saved in tCO2e</li>
            <li><b>project_name</b> - Name of the project</li>
            <li><b>lifetime</b> - Length of the project in years</li>
            <li><b>cost</b> - Capital cost of the project</li>
            <li><b>funding_source</b> - Where the funding for the project came from</li>
            <li><b>emission_source</b> - Where the emissions savings come from</li>
            <li><b>annual_savings</b> - Annual cost savings</li>
            <li><b>measurement</b> - If the emissions savings are measured or estimated</li>
            <li><b>savings_start</b> - Year the savings start</li>
            <li><b>comments</b></li>
        </ul>

        <p>Full explanations of the data can be found in the <a href="https://sustainablescotlandnetwork.org/uploads/store/mediaupload/1592/file/CC%20Reporting%20Master%20Guidance%202021%2005.10.2021.pdf">guidance on the Sustainable Scotland Network site</a>.</p>


        <h2 class="mt-5 mb-4" id="licensing">Licensing</h2>

        <p>The API data and CSV files are licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>. The ZIP file is unlicensed as it contains work issued by local authorities under many licenses.</p>

    </div>
</div>

{% endblock %}
