{% extends "base.html" %}

{% block content %}

<div style="max-width: 40em">

    <h1 class="mb-4">About this project</h1>

    <p>This is the first public demo of a site that collects UK Council Climate Action Plans in a single database, alongside some data on area emissions estimates within the scope of influence of councils.</p>

    <p>It’s being developed by <a href="https://www.climateemergency.uk/">ClimateEmergency.uk</a> and <a href="https://www.mysociety.org">mySociety</a>, with input from a range of council climate officers, climate specialists, researchers, and journalists. We hope that it will soon allow anyone to quickly and easily find out if their council has a plan, and put those plans into context.</p>

    <p><a href="https://www.mysociety.org/2020/11/06/making-it-easier-to-explore-council-climate-action-plans/">Read more about the project background, here.</a></p>

    <h2 class="mt-5">Data sources</h2>

    <p>There is more about our both the source of our data and how you can access it on the <a href="{% url 'about_data' %}">Our data</a> page.

    <h2 class="mt-5">Got feedback? Want to contribute?</h2>

    <p>Take <a href="{{settings.SURVEY_URL}}">our user survey</a> to give us feedback about the kind of groups using the service.</p>
    
    <p>If you have more detailed feedback or questions, email us at <a href="mailto:climate-councils@mysociety.org">climate-councils@mysociety.org</a>.</p>

</div>

{% endblock %}
