{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div style="max-width: 40em">

    <h1 class="mb-4">About this project</h1>

    <p>This is the first public demo of a site that collects UK Council Climate Action Plans in a single database, alongside some data on area emissions estimates within the scope of influence of councils.</p>

    <p>It’s being developed by <a href="https://www.climateemergency.uk/">ClimateEmergency.uk</a> and <a href="https://www.mysociety.org">mySociety</a>, with input from a range of council climate officers, climate specialists, researchers, and journalists. We hope that it will soon allow anyone to quickly and easily find out if their council has a plan, and put those plans into context.</p>

    <p><a href="https://www.mysociety.org/2020/11/06/making-it-easier-to-explore-council-climate-action-plans/">Read more about the project background, here.</a></p>

    <h2 class="mt-5">Data sources</h2>

    <p>Links to council climate action plans were crowdsourced by an army of volunteers <a href="https://docs.google.com/spreadsheets/d/1tEnjJRaWsdXtCkMwA25-ZZ8D75zAY6c2GOOeUchZsnU/edit">in this spreadsheet</a>. If you find a plan document that we’ve missed, <a href="https://docs.google.com/document/d/1oGFkzhZkTCfEBUeJIdMb9aOfuqPoCHkUMTJxROsRRow/edit">read our guide</a> on what we consider a climate action plan and how to add one to our spreadsheet.</p>

    <p>You can <a href="{{ MEDIA_URL }}data/plans/plans.zip">download a zip file of all the plans</a>. This includes a CSV file (plans.csv) with details and sources for all the included files, along with information like GSS codes to enable linking to other data.</p>

    <p>We also have <a href="{% url 'api-root' %}">an API</a> through which an increasing quantity of our data will be available.</p>

    <p>Local authority CO<sub>2</sub> emissions estimates are <a href="https://www.gov.uk/government/statistics/uk-local-authority-and-regional-carbon-dioxide-emissions-national-statistics-2005-to-2018">collated by the Department of Business, Energy &amp; Skills</a>.</p>

    <h2 class="mt-5">Got feedback? Want to contribute?</h2>

    <p>Take <a href="{{settings.SURVEY_URL}}">our user survey</a> to give us feedback about the kind of groups using the service.</p>
    
    <p>If you have more detailed feedback or questions, email us at <a href="mailto:climate-councils@mysociety.org">climate-councils@mysociety.org</a>.</p>

</div>

{% endblock %}
