{% load static %}
{% load pipeline %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }} – Climate Action Plan Explorer</title>
    {% block meta-tags %}{% endblock %}

    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:site_name" content="Climate Action Plan Explorer">
    <meta property="og:description" content="{{ page_description|default:'The fully searchable database of climate action plans from every local authority in the UK. What is YOUR council doing to prepare for Net Zero?' }}">
    <meta property="og:type" content="website">
    <!-- TODO: shouldn't have domain hard-coded here -->
    <meta property="og:image" content="https://data.climateemergency.uk{{ og_image_path|default:'/static/img/og-image-cape.jpg' }}">
    <meta property="og:image:type" content="{{ og_image_type|default:'image/jpeg' }}">
    <meta property="og:image:width" content="{{ og_image_width|default:'2000' }}">
    <meta property="og:image:height" content="{{ og_image_height|default:'1000' }}">

    <!--[if lt IE 9]>
    <script src="{% static 'html5shiv/html5shiv.js' %}"></script>
    <![endif]-->
    {% stylesheet 'main' %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@600&display=swap">
    {% block extrastylesheets %}{% endblock %}
    {% if GOOGLE_ANALYTICS %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ GOOGLE_ANALYTICS }}', {
                'client_storage': 'none'
            });
        </script>
    {% endif %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% include 'includes/site-header.html' %}

    {% include 'includes/site-subheader.html' %}

    <div class="site-content">
        <div class="container-fluid">
            {% block content %}{% endblock %}
            {% include 'includes/alpha-banner.html' %}
        </div>
    </div>

    {% include 'includes/site-footer.html' %}

    {% include 'includes/interstitial-modal.html' %}

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'chartjs/Chart.min.js' %}"></script>
    {% javascript 'main' %}
    {% block extrafooterscript %}{% endblock %}
</body>
</html>
