{% load static %}
{% load pipeline %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block meta-tags %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="{% static 'html5shiv/html5shiv.js' %}"></script>
    <![endif]-->
    {% stylesheet 'main' %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@600&display=swap">
    {% block extrastylesheets %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {% include 'includes/site-header.html' %}

    {% include 'includes/site-subheader.html' %}

    <div class="site-content">
        <div class="container-fluid">
            {% include 'includes/alpha-banner.html' %}
            {% block content %}{% endblock %}
        </div>
    </div>

    {% include 'includes/site-footer.html' %}

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'chartjs/Chart.min.js' %}"></script>
    {% javascript 'main' %}
    {% block extrafooterscript %}{% endblock %}
</body>
</html>
