{% extends "base.html" %}

{% block title %}Councils{% endblock %}

{% block content %}

<h1>Councils</h1>
<form method="get">
    {{ filter.form.as_p }}
    <input type="submit" />
</form>

{% if filter.qs.count == 1 %}
  {{ filter.qs.count }} result.
{% else %}
  {{ filter.qs.count }} results.
{% endif %}

{% if filter.qs %}
<ul>
{% for council in filter.qs %}
    <li><a href="{% url 'council' council.slug %}">{{ council.name }}</a>{% if council.num_plans > 0 %}Y{% else %}N{% endif %}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
