{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="row">
  <div class="col-md-10 mx-auto">
    <div id="filter-wrapper" class="card ceuk-card mb-gutter" style="top: 1rem;">
      <div class="card-body">

          <form id="find-council-filter" method="get" class="mb-n3">
              <div class="filter-header mb-4 mx-auto d-flex justify-content-center flex-row">
                <div class="search-bar-wrapper">
                  <input type="text" name="name" class="form-control" placeholder="Name contains" title="" id="id_name2">
                  {% include 'icons/search.html' with classes='mr-2' role='presentation' %}
                </div>

                {% bootstrap_field filter.form.declared_emergency %}
                {% bootstrap_field filter.form.has_plan %}
                {% bootstrap_field filter.form.sort %}

                {% buttons %}
                <button id="button-find-council" type="submit" class="btn btn-primary btn-block mb-0">Filter list</button>
                {% endbuttons %}
              </div>

              {% buttons %}
              <label type="button" id="button-advanced-filter" class="btn-block pt-3 mb-0 houdini-label" for="input1">
                {% include 'icons/chevron-down.html' with width="1em" height="1em" classes='mr-1' role='presentation' %}
                Filter by authority type and others...
              </button>
              {% endbuttons %}
              <input class="houdini-input" type="checkbox" id="input1">

              <div class="houdini-target-flex dropdown-wrapper mb-2 flex-row">
                {% bootstrap_field filter.form.promise_combined %}
                {% bootstrap_field filter.form.authority_type %}
                {% bootstrap_field filter.form.region %}
                {% bootstrap_field filter.form.geography %}
                {% bootstrap_field filter.form.population %}
              </div>

          </form>
      </div>
    </div>
  </div>
</div>


<div id="council-table" class="row">

    <div class="col-md-10 mx-auto">

        <div class="card ceuk-card ceuk-card--red mb-3 mb-md-4 mb-lg-5">
            <div class="card-header d-flex justify-content-between flex-column flex-md-row align-items-center">
                <h2 class="mb-3 mb-md-0">
                  {% if filter.qs.count == 1 %}
                    {{ filter.qs.count }} council
                  {% else %}
                    {{ filter.qs.count }} councils
                  {% endif %}
                </h2>
                <div class="sort-by-wrapper d-none">
                  {% bootstrap_field filter.form.sort show_label=False form_group_class="d-inline" %}
                  {% include 'icons/sort.html' with width="1.5em" height="1.5em" classes='mr-2' role='presentation' %}
                  </div>
            </div>
            <div class="ceuk-data-table">
              {% if filter.qs %}
                {% include 'includes/council-table.html' with councils=filter.qs  show_last_updated=True %}
              {% endif %}
            </div>
        </div>

    </div>
</div>

{% endblock %}
