{% extends "base.html" %}

{% block title %}{{ council.name }}{% endblock %}

{% block content %}

<h1>{{ council.name }}</h1>

<div class="scorecard mb-4 mb-lg-5">
    <div>
      {% if council.plandocument_set.all.count > 0 %}
        {% include 'icons/check-circle-fill.html' with width='2em' height='2em' classes='mb-2 text-success' %}
        {{ council.plandocument_set.all.count }} plan{{ council.plandocument_set.all.count|pluralize }} found
      {% else %}
        {% include 'icons/question-circle.html' with width='2em' height='2em' classes='mb-2 text-muted' %}
        No plans found
      {% endif %}
    </div>
    <div>
      {% if no_emissions_data %}
      <div class="d-flex align-items-end mb-2 text-muted">
        We don't have emissions data for this council
      </div>
      {% else %}
        <div class="d-flex align-items-end mb-2">
            <div class="js-sparkline mr-2" style="width: 100px;">
                <canvas width="100" height="32" data-values="{% for datapoint in council.datapoint_set.all %}{% if datapoint.data_type.name == 'Per Capita Emissions' %} {{ datapoint.value }} {% endif %}{% endfor %}"></canvas>
            </div>
            <div>
                <span class="h3 line-height-1 mb-0">{{ latest_year_per_capita_emissions|floatformat }}</span>
                <abbr title="Tonnes of Carbon Dioxide Equivalent">tCO2e</abbr>
            </div>
        </div>
        <span>
            {{ latest_year }} emissions per capita
        </span>
    </div>
    <div>
        <div class="d-flex align-items-end mb-2">
            <div class="js-sparkline mr-2" style="width: 100px;">
                <canvas width="100" height="32" data-values="{% for datapoint in council.datapoint_set.all %}{% if datapoint.data_type.name == 'Emissions per km2' %} {{ datapoint.value }} {% endif %}{% endfor %}"></canvas>
            </div>
            <div>
                <span class="h3 line-height-1 mb-0">{{ latest_year_per_km2_emissions|floatformat }}</span>
                <abbr title="Kilotonnes of Carbon Dioxide Equivalent">ktCO2e</abbr>
            </div>
        </div>
      <span>
          {{ latest_year }} emissions per km2
      </span>
    </div>
    <div>
        <div class="d-flex align-items-end mb-2">
            <div class="js-sparkline mr-2" style="width: 100px;">
                <canvas width="100" height="32" data-values="{% for datapoint in council.datapoint_set.all %}{% if datapoint.data_type.name == 'Total Emissions' %} {{ datapoint.value }} {% endif %}{% endfor %}"></canvas>
            </div>
            <div>
                <span class="h3 line-height-1 mb-0">{{ latest_year_total_emissions|floatformat }}</span>
                <abbr title="Kilotonnes of Carbon Dioxide Equivalent">ktCO2e</abbr>
            </div>
        </div>
      <span>
          {{ latest_year }} total emissions
      </span>

      {% endif %}
    </div>
</div>

<div class="card ceuk-card ceuk-card--blue my-4 my-lg-5">
    <div class="card-header">
        <h2>Plan documents</h2>
    </div>
  {% for plandocument in council.plandocument_set.all %}
    <a href="{{ plandocument.file.url }}" class="d-flex p-3 align-items-center">
        {% include 'icons/file.html' with classes='mr-2 flex-shrink-0' %}
        {{ council.name }} {{ plandocument.document_name|title }} ({{ plandocument.file_type|upper }})
    </a>
  {% empty %}
    <div class="card-body text-muted">
        We couldn’t find any climate action plans for this council.
    </div>
  {% endfor %}
</div>

{% if related_councils %}
<div class="card ceuk-card ceuk-card--cyan my-4 my-lg-5">
  <div class="card-header">
    <h2>Other nearby councils</h2>
  </div>
  <div class="ceuk-data-table">
    {% include 'includes/council-table.html' with councils=related_councils %}
  </div>
</div>
{% endif %}

{% endblock %}
