{% extends "base.html" %}

{% block title %}{{ council.name }}{% endblock %}

{% block content %}

<h1>{{ council.name }}</h1>

<div class="card ceuk-card ceuk-card--blue my-3 my-md-4 my-lg-5">
    <div class="card-header">
        <h2>Plan documents</h2>
    </div>
  {% for plandocument in council.plandocument_set.all %}
    <a href="{{ plandocument.file.url }}" class="d-flex p-3 align-items-center">
        {% include 'icons/file.html' with classes='mr-2 flex-shrink-0' %}
        {{ council.name }} {{ plandocument.document_name|title }} ({{ plandocument.file_type|upper }})
    </a>
  {% empty %}
    <div class="card-body text-muted">
        We couldn’t find any climate action plans for this council.
    </div>
  {% endfor %}
</div>

{% if related_councils %}
<div class="card ceuk-card ceuk-card--cyan my-3 my-md-4 my-lg-5">
  <div class="card-header">
    <h2>Other nearby councils</h2>
  </div>
  <div class="ceuk-data-table">
    {% include 'includes/council-table.html' with councils=related_councils %}
  </div>
</div>
{% endif %}

<h2>Emissions</h2>
{% for datapoint in council.datapoint_set.all %}
  <div>{{ datapoint.year }}  {{ datapoint.value }} {{ datapoint.data_type.name }}</div>
{% endfor %}

{% endblock %}
