{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Councils{% endblock %}

{% block content %}

<div class="card ceuk-card ceuk-card--orange mb-3 mb-md-4 mb-lg-5">
    <div class="card-header">
        <h1>Browse data from all councils</h1>
    </div>
    <div class="ceuk-data-table">
        <div class="ceuk-data-table__filters">
            <form method="get">
                {% bootstrap_form filter.form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                {% endbuttons %}
            </form>
        </div>
        <div class="p-3">
          {% if filter.qs.count == 1 %}
            {{ filter.qs.count }} result.
          {% else %}
            {{ filter.qs.count }} results.
          {% endif %}
        </div>
      {% if filter.qs %}
        {% include 'includes/council-table.html' with councils=filter.qs %}
      {% endif %}
    </div>
</div>

{% endblock %}
