{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}

<h1>Homepage</h1>

{{ percent_councils_with_plan }}% of councils have a plan

<a href="{% url 'council_list' %}">Browse and compare all councils</a>

<form action="{% url 'search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>

<form action="{% url 'postcode_results' %}">
  <label for="pc">Enter your postcode</label>
  <input type="text" name="pc" id="pc">
  <button type="submit">Find</button>
</form>

{% endblock %}
