{% extends "base.html" %}
{% load bootstrap4 %}
{% load humanize %}

{% block bodyclass %}page-projects{% endblock %}

{% block before_content %}

<div class="site-hero">
    <div class="container-fluid">
        <h1 class="my-0">Emissions reduction projects</h1>
        <p class="mt-2 mb-0 lead" style="max-width: 42em">Local authorities in Scotland are required to <a href="https://sustainablescotlandnetwork.org/reports">publish yearly data</a> on their compliance with their climate change duties – including the emissions reduction projects they are undertaking.</p>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">

        <div class="card ceuk-card mb-gutter position-sticky" style="top: 1rem;">
            <div class="card-body">
                <form method="get" class="mb-n3">
                    {% bootstrap_form filter.form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary btn-block mt-4">Search projects</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>

    </div>
    <div class="col-md-8">

        <div class="card ceuk-card ceuk-card--navy ceuk-card--muted mb-3 mb-lg-4">
            <div class="card-header border-bottom-0">
                <h2>
                  {% if filter.qs.count == 1 %}
                    {{ filter.qs.count }} project
                  {% else %}
                    {{ filter.qs.count }} projects
                  {% endif %}
                </h2>
            </div>
        </div>

      {% for project in projects %}

        <div class="card ceuk-card ceuk-card--blue mb-3 mb-lg-4">
            <a class="card-header d-flex align-items-center line-height-1 font-weight-bold" href="{% url "council" project.council.slug %}">
                {{ project.council.name }}
                {% include 'icons/chevron-right.html' with classes="ml-1" %}
            </a>
            <div class="card-body">
                <h2 class="text-body mt-n1">
                    {{ project.name }}
                  {% if project.year %}
                    ({{ project.year }})
                  {% endif %}
                </h2>

                {% if project.comments %}
                <p>{{ project.comments }}</p>
              {% endif %}

                <dl class="row mt-4 mb-0">
                  {% if project.funding %}
                    <dt class="col-sm-3 mt-0 text-muted">Funding source</h3>
                    <dd class="col-sm-9">
                        {{ project.funding }}
                    </dd>
                  {% endif %}
                  {% if project.lifespan > 0 %}
                    <dt class="col-sm-3 mt-0 text-muted">Lifespan</h3>
                    <dd class="col-sm-9">
                        {{ project.lifespan|floatformat }}
                        year{{ project.lifespan|pluralize }}
                    </dd>
                  {% endif %}
                  {% if project.emission_source %}
                    <dt class="col-sm-3 mt-0 text-muted">Emission source</h3>
                    <dd class="col-sm-9">
                        {{ project.emission_source }}
                    </dd>
                  {% endif %}
                  {% if project.emission_savings > 0 %}
                    <dt class="col-sm-3 mt-0 text-muted">Emissions saved</h3>
                    <dd class="col-sm-9">
                        {{ project.emission_savings|floatformat|intcomma }}
                        <abbr title="Tonnes of Carbon Dioxide equivalent">tCO2e</abbr>
                        per year
                    </dd>
                  {% endif %}
                  {% if project.capital_cost > 0 %}
                    <dt class="col-sm-3 mt-0 text-muted">Capital cost</h3>
                    <dd class="col-sm-9">
                        £{{ project.capital_cost|floatformat:0|intcomma }}
                    </dd>
                  {% endif %}
                  {% if project.annual_cost > 0 %}
                    <dt class="col-sm-3 mt-0 text-muted">Annual cost</h3>
                    <dd class="col-sm-9">
                        £{{ project.annual_cost|floatformat:0|intcomma }}
                    </dd>
                  {% endif %}
                  {% if project.annual_savings > 0 %}
                    <dt class="col-sm-3 mt-0 text-muted">Annual savings</h3>
                    <dd class="col-sm-9">
                        £{{ project.annual_savings|floatformat:0|intcomma }}
                    </dd>
                  {% endif %}
                </dl>
            </div>
        </div>

      {% empty %}

        <p>Sorry, no projects match those search criteria.</p>

      {% endfor %}
        {% if page_obj.has_previous or page_obj.has_next %}
          <div class="d-flex justify-content-center align-items-center mt-5">
            {% if page_obj.has_previous %}
              <a class="btn btn-outline-primary mx-2" href="?search={{ filter.form.search.value }}&amp;sort={{ filter.form.sort.value.0 }}&amp;page={{ page_obj.previous_page_number }}{% if filter.form.council.value %}&council={{ filter.form.council.value }}{% endif %}">
                  Previous results
              </a>
            {% endif %}
            {% if page_obj.has_next %}
            <a class="btn btn-primary mx-2" href="?search={{ filter.form.search.value }}&amp;sort={{ filter.form.sort.value.0 }}&amp;page={{ page_obj.next_page_number }}{% if filter.form.council.value %}&council={{ filter.form.council.value }}{% endif %}">
                  More results
              </a>
            {% endif %}
          </div>
        {% endif %}
    </div>
</div>

{% endblock %}
