{% extends "base.html" %}

{% block title %}Style{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card">
            <div class="card-header">
                <h2>Card, no colour</h2>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--emphasised">
            <div class="card-header">
                <h2>Emphasised, no colour</h2>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--muted">
            <div class="card-header">
                <h2>Muted, no colour</h2>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--blue">
            <div class="card-header">
                <h2>Card, blue</h2>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--emphasised ceuk-card--blue">
            <div class="card-header">
                <h2>Emphasised, blue</h2>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--muted ceuk-card--blue">
            <div class="card-header">
                <h2>Muted, blue</h2>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--blue">
            <ul class="card-header nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tabbed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blue</a>
                </li>
            </ul>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--emphasised ceuk-card--blue">
            <ul class="card-header nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tabbed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Emphasised</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blue</a>
                </li>
            </ul>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--muted ceuk-card--blue">
            <ul class="card-header nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tabbed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Muted</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blue</a>
                </li>
            </ul>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
