{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card">
            <div class="card-header">
                <h2>Card, no colour</h2>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--emphasised">
            <div class="card-header">
                <h2>Emphasised, no colour</h2>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--muted">
            <div class="card-header">
                <h2>Muted, no colour</h2>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--blue">
            <div class="card-header">
                <h2>Card, blue</h2>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--emphasised ceuk-card--blue">
            <div class="card-header">
                <h2>Emphasised, blue</h2>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--muted ceuk-card--blue">
            <div class="card-header">
                <h2>Muted, blue</h2>
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--blue">
            <ul class="card-header nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tabbed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blue</a>
                </li>
            </ul>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--emphasised ceuk-card--blue">
            <ul class="card-header nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tabbed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Emphasised</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blue</a>
                </li>
            </ul>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--muted ceuk-card--blue">
            <ul class="card-header nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tabbed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Muted</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blue</a>
                </li>
            </ul>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
</div>

<div class="row no-gutters my-4 rounded border" style="overflow: hidden;">
    <div class="col-sm-auto p-3 p-md-4" style="background: #dee4ec;">
        <div class="ceuk-tag-list">
            {% include 'includes/tag.html' with content="White tag" href="#" classes="ceuk-tag--white" %}
        </div>
    </div>
    <div class="col-sm p-3 p-md-4 bg-white">
        <div class="ceuk-tag-list">
            {% include 'includes/tag.html' with content="Default tag" href="#" %}
            {% include 'includes/tag.html' with content="Blue tag" href="#" classes="ceuk-tag--blue" %}
            {% include 'includes/tag.html' with content="Navy tag" href="#" classes="ceuk-tag--navy" %}
            {% include 'includes/tag.html' with content="Purple tag" href="#" classes="ceuk-tag--purple" %}
            {% include 'includes/tag.html' with content="Pink tag" href="#" classes="ceuk-tag--pink" %}
            {% include 'includes/tag.html' with content="Red tag" href="#" classes="ceuk-tag--red" %}
            {% include 'includes/tag.html' with content="Orange tag" href="#" classes="ceuk-tag--orange" %}
            {% include 'includes/tag.html' with content="Yellow tag" href="#" classes="ceuk-tag--yellow" %}
            {% include 'includes/tag.html' with content="Green tag" href="#" classes="ceuk-tag--green" %}
            {% include 'includes/tag.html' with content="Cyan tag" href="#" classes="ceuk-tag--cyan" %}
            {% include 'includes/tag.html' with content="Grey tag" href="#" classes="ceuk-tag--grey" %}
        </div>
    </div>
</div>

{% endblock %}
