{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card">
            <div class="card-header">
                <h2>Card, no colour</h2>
            </div>
            <div class="card-body">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            <div class="card-footer">
                <p class="mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--emphasised">
            <div class="card-header">
                <h2>Emphasised, no colour</h2>
            </div>
            <div class="card-body">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            <div class="card-footer">
                <p class="mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--muted">
            <div class="card-header">
                <h2>Muted, no colour</h2>
            </div>
            <div class="card-body">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            <div class="card-footer">
                <p class="mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

    </div>
  {% for color in colors %}
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--{{ color }}">
            <div class="card-header">
                <h2>Card, {{ color }}</h2>
            </div>
            <div class="card-body">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            <div class="card-footer">
                <p class="mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--emphasised ceuk-card--{{ color }}">
            <div class="card-header">
                <h2>Emphasised, {{ color }}</h2>
            </div>
            <div class="card-body">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            <div class="card-footer">
                <p class="mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--muted ceuk-card--{{ color }}">
            <div class="card-header">
                <h2>Muted, {{ color }}</h2>
            </div>
            <div class="card-body">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            <div class="card-footer">
                <p class="mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>

    </div>
  {% endfor %}
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--blue">
            <ul class="card-header nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tabbed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blue</a>
                </li>
            </ul>
            <div class="card-body">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--emphasised ceuk-card--blue">
            <ul class="card-header nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tabbed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Emphasised</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blue</a>
                </li>
            </ul>
            <div class="card-body">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
    <div class="col-md-4 mb-gutter">

        <div class="card ceuk-card ceuk-card--muted ceuk-card--blue">
            <ul class="card-header nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tabbed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Muted</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blue</a>
                </li>
            </ul>
            <div class="card-body">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>

    </div>
</div>

<div class="row no-gutters my-4 rounded border" style="overflow: hidden;">
    <div class="col-sm-auto p-3 p-md-4" style="background: #dee4ec;">
        <div class="ceuk-tag-list">
            {% include 'includes/tag.html' with name="White tag" href="#" colour="white" %}
        </div>
    </div>
    <div class="col-sm p-3 p-md-4 bg-white">
        <div class="ceuk-tag-list">
            {% include 'includes/tag.html' with name="Default tag" href="#" %}
            {% include 'includes/tag.html' with name="Blue tag" href="#" colour="blue" %}
            {% include 'includes/tag.html' with name="Navy tag" href="#" colour="navy" %}
            {% include 'includes/tag.html' with name="Purple tag" href="#" colour="purple" %}
            {% include 'includes/tag.html' with name="Pink tag" href="#" colour="pink" %}
            {% include 'includes/tag.html' with name="Red tag" href="#" colour="red" %}
            {% include 'includes/tag.html' with name="Orange tag" href="#" colour="orange" %}
            {% include 'includes/tag.html' with name="Yellow tag" href="#" colour="yellow" %}
            {% include 'includes/tag.html' with name="Green tag" href="#" colour="green" %}
            {% include 'includes/tag.html' with name="Cyan tag" href="#" colour="cyan" %}
            {% include 'includes/tag.html' with name="Grey tag" href="#" colour="grey" %}
        </div>
    </div>
</div>

{% endblock %}
