{% extends "caps/base.html" %}

{% load static %}

{% block bodyclass %}nzlh-landing-page{% endblock %}

{% block content %}

<div class="card ceuk-card mb-gutter">
    <div class="row no-gutters">

        <div class="col-md-6 p-4 p-lg-5 d-flex align-items-center nzlh-header">
            <img src="{% static 'caps/img/nzlh-logo.png' %}" alt="Net Zero Local Hero" width="989" height="839">
        </div>

        <div class="col-md-6">
            <div class="card-body p-4 p-lg-5">

                <h1 class="mb-4">You can be a<br>Net Zero Local Hero</h1>
                <p class="lead">We’re developing free tools to help you make change around the climate emergency.</p>
                <ul class="my-4 list-unstyled">
                    <li class="my-2 d-flex" style="line-height: 1.3">
                        {% include 'caps/icons/check-bold.html' with classes='mr-2 flex-grow-0 flex-shrink-0 text-success' width='1.25em' height='1.25em' role='presentation' %}
                        See whether your council has a climate action plan
                    </li>
                    <li class="my-2 d-flex" style="line-height: 1.3">
                        {% include 'caps/icons/check-bold.html' with classes='mr-2 flex-grow-0 flex-shrink-0 text-success' width='1.25em' height='1.25em' role='presentation' %}
                        Search for any word or phrase across all UK councils’ plans
                    </li>
                    <li class="my-2 d-flex" style="line-height: 1.3">
                        {% include 'caps/icons/check-bold.html' with classes='mr-2 flex-grow-0 flex-shrink-0 text-success' width='1.25em' height='1.25em' role='presentation' %}
                        Compare your council’s plan with others nearby
                    </li>
                    <li class="my-2 d-flex" style="line-height: 1.3">
                        {% include 'caps/icons/check-bold.html' with classes='mr-2 flex-grow-0 flex-shrink-0 text-success' width='1.25em' height='1.25em' role='presentation' %}
                        Learn how to engage effectively with your council
                    </li>
                </ul>
                <a class="btn btn-lg btn-primary d-inline-flex align-items-center" href="https://mysociety.us9.list-manage.com/subscribe?u=53d0d2026dea615ed488a8834&amp;id=8f5998fecf">
                    Sign up for free updates and guides
                    {% include 'caps/icons/chevron-right.html' with classes='ml-1 mt-1' role='presentation' %}
                </a>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6 d-md-flex">
        <div class="card ceuk-card mb-gutter flex-grow-1">
            <div class="card-body p-4 p-lg-5">

                <h2 class="h3">Does your council have a plan for getting to Net Zero?</h2>
                {% include 'caps/includes/location-search-form.html' %}

            </div>
        </div>
    </div>
    <div class="col-md-6 d-md-flex">
        <div class="card ceuk-card mb-gutter bg-blue-gradient text-white">
            <div class="card-body p-4 p-lg-5">

                <p>Engaging with your local council about the changes they’re making in your community is one of the most important things you can do for the climate.</p>
                <p>The changes and innovations that local councils make in the next couple of decades will have a direct effect on around a third of all the UK’s carbon emissions.</p>
                <p class="mb-0"><strong>…A third of all emissions!</strong> Now that’s worth getting involved with.</p>

            </div>
        </div>
    </div>
</div>

<h2 class="h4 text-muted mb-gutter mt-4 mt-md-5 text-center">Quick action guides from mySociety</h2>

<div class="row mb-5">
    <div class="col-sm-6 col-lg-3 d-sm-flex">
        <a class="card ceuk-card ceuk-card--muted p-4 mb-gutter text-center flex-grow-1 flex-column justify-content-center" href="https://www.mysociety.org/get-councils-to-act-on-climate/">
            <h3 class="h5">I’m in a climate action group</h3>
            <span class="d-flex align-items-center justify-content-center">
                Show me more
                {% include 'caps/icons/chevron-right.html' with classes='ml-1 mt-1' role='presentation' %}
            </span>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 d-sm-flex">
        <a class="card ceuk-card ceuk-card--muted p-4 mb-gutter text-center flex-grow-1 flex-column justify-content-center" href="https://www.mysociety.org/covering-councils-progress-towards-net-zero/">
            <h3 class="h5">I’m a journalist</h3>
            <span class="d-flex align-items-center justify-content-center">
                Show me more
                {% include 'caps/icons/chevron-right.html' with classes='ml-1 mt-1' role='presentation' %}
            </span>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 d-sm-flex">
        <a class="card ceuk-card ceuk-card--muted p-4 mb-gutter text-center flex-grow-1 flex-column justify-content-center" href="https://www.mysociety.org/learn-from-other-councils-climate-action-plans/">
            <h3 class="h5">I’m a local councillor</h3>
            <span class="d-flex align-items-center justify-content-center">
                Show me more
                {% include 'caps/icons/chevron-right.html' with classes='ml-1 mt-1' role='presentation' %}
            </span>
        </a>
    </div>
    <div class="col-sm-6 col-lg-3 d-sm-flex">
        <a class="card ceuk-card ceuk-card--muted p-4 mb-gutter text-center flex-grow-1 flex-column justify-content-center" href="https://www.mysociety.org/learn-from-other-councils-climate-action-plans/">
            <h3 class="h5">I work for a council</h3>
            <span class="d-flex align-items-center justify-content-center">
                Show me more
                {% include 'caps/icons/chevron-right.html' with classes='ml-1 mt-1' role='presentation' %}
            </span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-5 d-md-flex flex-column order-md-1">
        <div class="card ceuk-card mb-gutter flex-grow-1" style="background: #666 url({% static 'caps/img/talking-with-hands-unsplash-5QgIuuBxKwM.jpg' %}) 20% 50% no-repeat; background-size: auto; background-size: cover; min-height: 15rem;"></div>
    </div>
    <div class="col-md-7 d-md-flex">
        <div class="card ceuk-card mb-gutter bg-orange-gradient text-white">
            <div class="card-body p-4 p-lg-5">

                <h3 class="mb-4">Your council should be making plans for Net Zero</h3>

                <p>Many councils have published a Climate Action Plan, laying out how they will cut their emissions to net zero, in most cases by 2030 or 2050.</p>

                <h3 class="my-4">…But some haven’t yet</h3>

                <p>Where plans have been published, councils need your input. Where they haven’t, they may need their constituents – that’s you! – to demand one.</p>

                <p class="mb-0"><a class="strong-link text-white" href="https://mysociety.us9.list-manage.com/subscribe?u=53d0d2026dea615ed488a8834&amp;id=8f5998fecf">Join our email list</a> for the inside scoop on council climate action.</p>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 d-md-flex flex-column">
        <a href="{% url 'home' %}" class="card ceuk-card mb-gutter flex-grow-1 d-flex flex-column nzlh-screenshot">
            <img src="{% static 'caps/img/nzlh-screenshot.png' %}" width="800" height="600" alt="Climate Action Plan Explorer" class="mt-auto">
        </a>
    </div>
    <div class="col-md-6 d-md-flex">
        <div class="card ceuk-card mb-gutter flex-grow-1">
            <div class="card-body p-4 p-lg-5">

                <h3>CAPE is under active development</h3>
                <ul class="list-unstyled my-4 border-top">
                    <li class="border-bottom py-2 d-flex align-items-center">
                        {% include 'caps/icons/check-bold.html' with classes='mr-3 flex-grow-0 flex-shrink-0 text-success' width='1.25em' height='1.25em' role='presentation' %}
                        See a quality score for each plan
                    </li>
                    <li class="border-bottom py-2 d-flex align-items-center">
                        {% include 'caps/icons/check-bold.html' with classes='mr-3 flex-grow-0 flex-shrink-0 text-success' width='1.25em' height='1.25em' role='presentation' %}
                        Search your council’s plan
                    </li>
                    <li class="border-bottom py-2 d-flex align-items-center">
                        {% include 'caps/icons/check-bold.html' with classes='mr-3 flex-grow-0 flex-shrink-0 text-success' width='1.25em' height='1.25em' role='presentation' %}
                        See how your council’s plan shapes up, with scoring on nine crucial areas.
                    </li>
                </ul>
                <p><a class="strong-link" href="https://mysociety.us9.list-manage.com/subscribe?u=53d0d2026dea615ed488a8834&amp;id=8f5998fecf">Sign up to be the first to hear</a> when new features go live.</p>
                <p class="mb-0"><a class="strong-link" href="mailto:climate@mysociety.org">Or get in touch</a> to let us know which features you need.</p>

            </div>
        </div>
    </div>
</div>

<hr class="my-4 my-md-5">

<div class="row nzlh-map">
    <div class="col-lg-7">

        <h2 class="mb-4">Why local councils?</h2>

        <p>When world leaders are grappling with the broad brush stuff – legislation to control carbon emissions from power plants,&nbsp; transit, industry and manufacturing – it can feel hard to have any impact. <strong>But everyone can be a Net Zero Local Hero.</strong></p>

        <p>When it comes to your own local community, you’re the expert. You understand what’s needed to get your neighbourhood on the path to Net Zero; you know what interventions your neighbours will embrace and what might not be so welcome.</p>

        <h3 class="h5 mt-4">Filling the gaps</h3>

        <p> You can let your council know if you think there are elements missing from their plan, or ideas they haven’t thought of.</p>

        <h3 class="h5 mt-4">Praise where it’s due</h3>

        <p> Councils need your support, too, especially if they are suggesting rapid change or ambitious innovations that they’re not sure will be accepted within the community. Let them know they have your backing.</p>

        <h3 class="h5 mt-4">Be your neighbourhood’s voice</h3>

        <p>Ask the people who live in your area: how do they feel about innovations like solar panels, insulation, low traffic neighbourhoods, sustainable public transport? Once you understand their priorities, you can present them to your council, giving them a mandate on where to begin.</p>

    </div>
</div>

<hr class="my-4 my-md-5">

<h2 class="h4 text-muted mb-gutter mt-4 mt-md-5 text-center">Your superhero journey starts here</h2>

<div class="pr-md-4 pr-lg-5">
    <div class="card ceuk-card mb-gutter mb-lg-5 mx-auto" style="max-width: 800px;">
        <div class="row no-gutters">
            <a href="https://www.writetothem.com/" class="col-md-4 d-flex align-items-center justify-content-center p-4" style="background: transparent url({% static 'caps/img/nzlh-stripes-yellow.svg' %}) 50% 50% no-repeat; background-size: cover;">
                <img src="{% static 'caps/img/nzlh-make-contact.png' %}" width="572" height="353" loading="lazy" alt="Make contact" style="width: 300px;">
            </a>
            <div class="col-md-8 d-flex align-items-center">
                <div class="card-body p-md-4 p-lg-5">
                    <p>The easy way to contact your councillors is through <a href="https://www.writetothem.com/">WriteToThem</a>, the website that tells you which politicians operate in your area, and then provides a form through which you can email them.</p>
                    <p>Not every councillor has a climate remit, but if you make initial contact with one who doesn’t, don’t worry! They’ll pass your email along to the right colleague.</p>
                    <a href="https://www.writetothem.com/" class="text-decoration-none">
                        <span class="strong-link">Find your councillors</span>
                        {% include 'caps/icons/chevron-right.html' with classes='ml-1' role='presentation' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pl-md-4 pl-lg-5">
    <div class="card ceuk-card mb-gutter mb-lg-5 mx-auto" style="max-width: 800px;">
        <div class="row no-gutters">
            <a href="https://www.writetothem.com/" class="col-md-4 d-flex align-items-center justify-content-center p-4 order-md-1" style="background: transparent url({% static 'caps/img/nzlh-dots-blue.svg' %}) 50% 50% no-repeat; background-size: cover;">
                <img src="{% static 'caps/img/nzlh-get-involved.png' %}" width="615" height="358" loading="lazy" alt="Get involved" style="width: 300px;">
            </a>
            <div class="col-md-8 d-flex align-items-center">
                <div class="card-body p-md-4 p-lg-5">
                    <p>Saving the world through local action isn’t just a one-off event. Of course, everyone has varying levels of time and commitment, but why not ask your councillor how you can remain involved in plans as they progress?</p>
                    <p>Increasingly, councils are introducing new ways for citizens to be involved in decision making, from climate assemblies to consultations. Ask to be kept informed.</p>
                    <a href="https://www.writetothem.com/" class="text-decoration-none">
                        <span class="strong-link">Find your councillors</span>
                        {% include 'caps/icons/chevron-right.html' with classes='ml-1' role='presentation' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pr-md-4 pr-lg-5">
    <div class="card ceuk-card mb-gutter mb-lg-5 mx-auto" style="max-width: 800px;">
        <div class="row no-gutters">
            <a href="{% url 'home' %}" class="col-md-4 d-flex align-items-center justify-content-center p-4" style="background: transparent url({% static 'caps/img/nzlh-dots-yellow.svg' %}) 50% 50% no-repeat; background-size: cover;">
                <img src="{% static 'caps/img/nzlh-become-an-advocate.png' %}" width="671" height="439" loading="lazy" alt="Become an advocate" style="width: 300px;">
            </a>
            <div class="col-md-8 d-flex align-items-center">
                <div class="card-body p-md-4 p-lg-5">
                    <p>Once you’ve fully understood your council’s plans, you can help spread the word back to others in your community, and help address misinformation before it spreads.</p>
                    <p>Local social media groups and comments in local papers are a hotbed for ill-informed discussion: presenting facts calmly, with statistics and links to back them up, is a huge service you can do to your community, and to the planet.</p>
                    <a href="{% url 'home' %}" class="text-decoration-none">
                        <span class="strong-link">Check your council’s plan</span>
                        {% include 'caps/icons/chevron-right.html' with classes='ml-1' role='presentation' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pl-md-4 pl-lg-5">
    <div class="card ceuk-card mb-gutter mb-lg-5 mx-auto" style="max-width: 800px;">
        <div class="row no-gutters">
            <a href="https://mysociety.us9.list-manage.com/subscribe?u=53d0d2026dea615ed488a8834&amp;id=8f5998fecf" class="col-md-4 d-flex align-items-center justify-content-center p-4 order-md-1" style="background: transparent url({% static 'caps/img/nzlh-stripes-blue.svg' %}) 50% 50% no-repeat; background-size: cover;">
                <img src="{% static 'caps/img/nzlh-sign-up.png' %}" width="628" height="498" loading="lazy" alt="Sign up for our mailouts" style="width: 300px;">
            </a>
            <div class="col-md-8 d-flex align-items-center">
                <div class="card-body p-md-4 p-lg-5">
                    <p>We’d love to let you know as we add new features to the Climate Action Plans Explorer. We’ll only email you about our climate-related development, and won’t fill up your inbox with nonsense.</p>
                    <a href="https://mysociety.us9.list-manage.com/subscribe?u=53d0d2026dea615ed488a8834&amp;id=8f5998fecf" class="text-decoration-none">
                        <span class="strong-link">Sign up here</span>
                        {% include 'caps/icons/chevron-right.html' with classes='ml-1' role='presentation' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pb-5 mb-5"></div>

{% endblock %}
