.names-wall {
    .names-wall-row {
        .names-wall-row-item {
            padding: 10px;
            border: 1px solid transparentize($color: $black, $amount: 0.8);
            font-family: $headings-font-family;
            white-space: nowrap;
        }
    }
}

$colors: $blue-100, $green-100, $red-100, $pink-100, $cyan-100, $orange-100, $yellow-100;
@for $i from 1 through 200 {
    .names-wall-row-item:nth-child(#{length($colors)}n+#{$i}) {
        background: lighten(nth($colors, random(length($colors))), 5%);
    }
}
