.alert {
    color: $black;
    &.alert-warning {
        span {
            padding-left: 25px;
            background-image: url('../img/exclamation-black.svg');
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: left 0 center;
        }
    }
}