.searchbar {
  background-image: url('../img/search-icon.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding-left: 40px;
  width: 250px;

  &:focus {
      outline: 3px solid $color-scorecard-yellow;
      @include box-shadow(0px, 0px, 0px, 5px, $black);
      background-color: $white !important;
  }

  &.form-control-sm {
    background-size: 16px;
    background-position: 6px 50%;
    padding-left: 28px;
  }
}
