.searchbar {
  background-image: url('../img/search-icon.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding-left: 40px;
  width: 250px;

  &:focus {
      outline: 0 !important;
      border-color: $black !important;
      box-shadow: 0 0 0 1px $black inset, 0 0 0 2px $black, 0 0 0 6px $color-scorecard-yellow !important;
      background-color: $white !important;
  }

  &.form-control-sm {
    background-size: 16px;
    background-position: 6px 50%;
    padding-left: 28px;
  }
}

a,
.btn,
.link-light,
button {
  &:focus {
    outline: 0 !important;
    color: $black !important;
    background-color: $color-scorecard-yellow !important;
    box-shadow: 0 -2px $color-scorecard-yellow, 0 4px $black !important;
    text-decoration: none !important;
  }
}

// No need for yellow top-shadow on buttons
.btn {
  &:focus {
    box-shadow: 0 4px $black !important;
  }
}
