$big-give-red: #B30510;

.donation-banner {
    background-color: $big-give-red;
    color: $white;
}

.donation-modal {
    --#{$prefix}modal-padding: 2rem;
    --#{$prefix}modal-width: 550px;
    --#{$prefix}modal-title-line-height: 1;
    --paragraph-vertical-spacing: 1rem;

    backdrop-filter: blur(5px);
    text-align: center;
    text-wrap: balance;

    @include media-breakpoint-up('lg') {
        --#{$prefix}modal-padding: 2.5rem;
        --#{$prefix}modal-width: 600px;
        --paragraph-vertical-spacing: 1.25rem;
        @include font-size(1.125rem);
    }

    .modal-header {
        background: $big-give-red;
        color: $white;
        border-bottom: none;
        align-items: start;
        padding: 2rem var(--#{$prefix}modal-padding);
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 1rem 1rem;
        background: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.7);
        font-size: 1rem;
    }

    .team-avatars {
        display: flex;
        justify-content: center;
        margin: 0 -4px var(--paragraph-vertical-spacing) -4px;
    }

    .team-avatars__person {
        display: flex;
        align-items: center;
        margin-right: -10px;

        img {
            width: 60px;
            height: 60px;
            border-radius: 30px;
            border: 4px solid #fff;
        }
    }

    p {
        margin-bottom: var(--paragraph-vertical-spacing);
    }
}
