footer {
    @include responsive(padding-top, 30, 50);
    @include responsive(padding-bottom, 30, 50);

    //General styling
    span, p, a {
        color: $white;
    }

    //First column
    .logo {
        display: inline-block;
        overflow: hidden;
        height: 0;
        @include transition(transform 0.3s ease-in-out);
        @include hover-focus {
            transform: scale(1.1);
        }
    }

    .scorecards-logo {
        background-image: url('../img/scorecards-logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 240px;
        padding-top: 72px;
        @include hover-focus {
            transform: scale(1.05);
        }
    }

    .ceuk-logo {
        background-image: url('../img/ceuk-logo-white.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 142px;
        padding-top: 38px;
    }

    .mysociety-logo {
        background-image: url('../img/mysociety-dark.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 153px;
        padding-top: 25px;
    }

    // Second Column

    .footer-link {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: normal;
        @include responsive(font-size, 13, 14);
        line-height: 130%;
        letter-spacing: 0.06em;
        text-decoration-line: underline;
        text-transform: uppercase;
        @include responsive(margin-bottom, 25, 35);
        @include transition(transform, opacity 0.3s ease-in-out);
        &:hover {
            color: $white;
            opacity: 0.8;
            transform: translateX(3px);
        }
        &:last-child {
            margin-bottom: 0 !important;
        }
    }

    // Third column
    .newsletter-wrapper {
        background-color: $color-scorecard-green-d1;
        padding: 16px;
        border-radius: $border-radius;
        color: $black;

        p, h5 {
            color: $black;
        }

        .newsletter-subtitle {
            opacity: 0.8;
            max-width: 70%;
        }

        .newsletter-form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            input {
                flex-basis: calc(45% - 10px);
                max-width: 230px;

                &.btn {
                    max-width: 100px;
                }

                @include media-breakpoint-up(md) {
                    flex-basis: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    .media-icons-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 188px;

        a.scorecard-footer__badge {
            display:inline-block;
            width: 32px;
            height: 0;
            padding-top:32px;
            overflow: hidden;
            background-size: contain;
            background-repeat: no-repeat;
            @include transition(transform 0.3s ease-in-out);
            @include hover-focus {
                transform: scale(1.1);
            }
            &.scorecard-footer__badge--twitter {background-image: url('../img/icon-twitter-white.svg');}
            &.scorecard-footer__badge--facebook {background-image: url('../img/icon-facebook-white.svg');}
            &.scorecard-footer__badge--instagram {background-image: url('../img/icon-instagram-white.svg');}
            &.scorecard-footer__badge--github {background-image: url('../img/icon-github-white.svg');}
        }
    }
}
