input {
    border-radius: $border-radius;
    border: none;
    padding: 7px 7px 5px 7px;
    border: 1px solid transparent; 
    @include transition(border, background-color, color 0.3s ease-in-out);

    @include hover-focus {
        color: $white;
        border: 1px solid $white;
        background-color: $color-scorecard-green-d1;
        outline: none;
    }
}

// Radio buttons
.radio-btn.is--with-label {
    @include responsive(font-size, 12, 13);
    color: $color-scorecard-grey-900;
    text-decoration: none;
    cursor: pointer;
    border-radius: $border-radius;
    padding: 7px 8px;
    border: 1px solid $blue;
    background-color: $white;
    @include transition(background-color, color 0.3s ease-in-out);
    margin-top: 10px;

    @include hover-focus {
        background-color: $color-scorecard-blue-l1;
    }

    &.active {
        background-color: $blue;
        color: $white;

        @include hover-focus {
            color: $blue;
            background-color: $white;
        }
    }
}

.radio-btn.is--with-label.is--with-closed-icon {
    padding-right: 40px;
    background-image: url('../img/close-background-blue.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

// CEUK donate button
input#ceuk-donate {
    background: none;
    color: inherit;
    border: none;
}
