.label {
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: 300;
    @include responsive(font-size, 13, 14);
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $black;
    padding: 5px 3px;
    margin-bottom: 5px;
    border-radius: $border-radius;

    &.is--smaller {
        @include responsive(font-size, 12, 13);
    }
}

.label.green {
    background-color: $green;
}

.label.green-light {
    background-color: $color-scorecard-green-l1;
}

// Located on the top of the council page
.group-label-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .label-wrapper {
        flex-basis: 50%;
        @media only screen and (max-width: 550px) {
            flex-basis: 100%;
        }
    }
}

.label-wrapper.horizontal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

    p {
        &:first-child {
            margin-right: 5px;
        }
    }

    button {
        flex-basis: 100%;
    }
}
