@keyframes shimmer {
    0% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

%loading-shimmer {
    position: relative;
    filter: grayscale(50%);
    opacity: 0.5;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background-image: linear-gradient(90deg, rgba(#fff, 0) 33%, rgba(#fff, 0.6) 50%, rgba(#fff, 0) 66%);
        background-size: 300% 100%;
        animation: shimmer 2s infinite;
    }
}

.loading-shimmer {
    #main-filter,
    .scorecard-table,
    .js-category-select-form,
    .question-performance > h3 .text-muted,
    .question-performance .card,
    .table-council-question-performance {
        @extend %loading-shimmer;
    }
}
