@charset "utf-8";

// A NOTE ABOUT FILE PATHS
//
// django.contrib.staticfiles copies this file into the `STATIC_ROOT`
// (along with any other files/directories defined in `STATICFILES_DIRS`)
// and then django-pipeline compiles the Sass files from there.
//
// So imports in this file are relative to `<STATIC_ROOT>/scoring/sass/main.scss`,
// not `/caps/static/scoring/scss/main.scss`.
//
// That’s why `@import "../../bootstrap5/<whatever>" works – because at the
// point the Sass files are compiled, django.contrib.staticfiles has
// already copied the bootstrap5 sass files into `<STATIC_ROOT>/bootstrap5/`.
//
// Note that this doesn't work on a dev thing with standard django-pipeline
// due to this issue: https://github.com/jazzband/django-pipeline/issues/749
// so we are using a fork with the patch from the above issue

@import "../../bootstrap5/functions";
@import "../../bootstrap5/mixins/banner";
@include bsBanner("");

@import "variables";
@import "../../bootstrap5/variables";

$spacers: map-merge((
  6: ($spacer * 4),
  7: ($spacer * 5),
  8: ($spacer * 6),
), $spacers);

@import "../../bootstrap5/maps";
@import "../../bootstrap5/mixins";
@import "../../bootstrap5/utilities";

// Currently not working
$all-colors: map-merge-multiple($grays, $blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans, $primaries);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),

    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
          values: map-merge(
              map-get(map-get($utilities, "background-color"), "values"),
              $all-colors,
          ),
      ),
    ),
  )
);

@each $color, $value in $all-colors {
  $color-rgb: to-rgb($value);
  .text-bg-#{$color} {
      color: color-contrast($value) if($enable-important-utilities, !important, null);
      background-color: RGBA($color-rgb, var(--#{$prefix}bg-opacity, 1)) if($enable-important-utilities, !important, null);
  }
}

@import "../../bootstrap5/utilities/api";

@import "../../bootstrap5/root";
@import "../../bootstrap5/reboot";
@import "../../bootstrap5/type";
@import "../../bootstrap5/images";
@import "../../bootstrap5/containers";
@import "../../bootstrap5/grid";
@import "../../bootstrap5/tables";
@import "../../bootstrap5/forms";
@import "../../bootstrap5/buttons";
@import "../../bootstrap5/transitions";
@import "../../bootstrap5/dropdown";
@import "../../bootstrap5/accordion";
@import "../../bootstrap5/button-group";
@import "../../bootstrap5/nav";
@import "../../bootstrap5/navbar";
@import "../../bootstrap5/card";
// @import "../../bootstrap5/breadcrumb";
// @import "../../bootstrap5/pagination";
@import "../../bootstrap5/badge";
@import "../../bootstrap5/alert";
@import "../../bootstrap5/progress";
@import "../../bootstrap5/list-group";
@import "../../bootstrap5/close";
// @import "../../bootstrap5/toasts";
@import "../../bootstrap5/modal";
@import "../../bootstrap5/tooltip";
// @import "../../bootstrap5/popover";
// @import "../../bootstrap5/carousel";
@import "../../bootstrap5/spinners";
@import "../../bootstrap5/offcanvas";
@import "../../bootstrap5/placeholders";
@import "../../bootstrap5/helpers";
@import "../../bootstrap5/utilities/api";

@import "mixins";
@import "containers";
// @import "background";
// @import "typo";
@import "icons";
@import "buttons";
@import "input";
@import "navbar";
@import "footer";
// @import "label";
// @import "tables";
 @import "scoring-table";
// @import "table-section-council";
// @import "table-question-council";
// @import "filter-home-filter-advanced";
// @import "filter-council-to-compare";
// @import "scoring-source-links";
// @import "question-page-about";
// @import "table-question-question";
 @import "awesomplete";
// @import "alerts";
// @import "methodology";
// @import "utilities";
// @import "down-message";
// @import "login-form";
// @import "how-to-use";
// @import "about";
// @import "toggle-section";
