.methodology-content {
    .container {
        @include responsive(padding-top, 20, 35);
        @include responsive(padding-bottom, 20, 35);
    }

    h4 {
        display: inline-block;
        box-shadow: inset 0 10px 0 white, inset 0 -10px 0 transparentize($color: $green, $amount: 0.4)
    }

    h5 {
        display: inline-block;
        box-shadow: inset 0 10px 0 white, inset 0 -4px 0 transparentize($color: $black, $amount: 0.9)
    }

    .table-of-content {
        a {
            display: block;
            padding: 8px 0px;
        }
    }

    a {
        display: inline;
    }

    table {
        p {
            color: $color-scorecard-grey-900;
        }

        td, th {
            border: 1px solid transparentize($color: $black, $amount: 0.8);
            padding: 8px;
            text-align: center;
        }

        thead tr {
            background-color:$color-scorecard-green-d1;
            color: $black;
            :nth-child(n+2) {
                max-width: 150px;
            }
        }

        tbody tr {
            &:nth-child(even) {
                background-color:$color-scorecard-green-l1;
            }
        }

        tbody tr td, thead tr th {
            &:first-child() {
                text-align: left;
            }
        }
    
        &.weighting-table {
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }

    // Custom card for section sectio.
    .card-wrapper.is--weighting {
        @media screen and (min-width: 769px) {
            display: none;
        }
    }

    // Table for questions
    .table-section-questions {
        @media screen and (max-width: 1200px) {
            display: none;
        }
        &.is--mobile {
            @media screen and (max-width: 1200px) {
                display: block;
            }
            @media screen and (min-width: 1201px) {
                display: none;
            }
        }
    }

    table.question-table-methodology {
        td, th {
            text-align: left;
            &.score {
                text-align: center;
            }
        }

        h5 {
            box-shadow: none;
        }

        tr.header-question {
            background-color: transparentize($color: $color-scorecard-green-d1, $amount: 0.4);
        }

        .question-header {
            font-family: $font-family-sans-serif;
            font-style: normal;
            font-weight: 600;
            @include responsive(font-size, 13, 14);
            line-height: 130%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: $black;
        }

        .question-content-table.is--header {
            p {
                font-weight: 600;
            }
        }
    }

    // For the questions cards
    .section-card-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .card-wrapper {
            flex-basis: 48%;
            @media screen and (max-width: 675px) {
                flex-basis: 100%;
            }
        }
    }

    //Glossary
    .glossary-content {
        .glossary-content-item {
            margin-bottom: 30px;
        }

        .glossary-footer {
            border-top: 1px solid transparentize($color: $black, $amount: 0.9);
        }
    }
}
