.methodology-content {
    .container {
        @include responsive(padding-top, 20, 35);
        @include responsive(padding-bottom, 20, 35);
    }

    h4 {
        display: inline-block;
        box-shadow: inset 0 10px 0 white, inset 0 -10px 0 transparentize($color: $green, $amount: 0.4)
    }

    h5 {
        display: inline-block;
        box-shadow: inset 0 10px 0 white, inset 0 -4px 0 transparentize($color: $black, $amount: 0.9)
    }

    .table-of-content {
        a {
            display: block;
            padding: 8px 0px;
        }
    }

    a {
        display: inline;
    }

    table {
        p {
            color: $color-scorecard-grey-900;
        }

        td, th {
            border: 1px solid transparentize($color: $black, $amount: 0.8);
            padding: 12px 8px;
            text-align: center;
        }

        thead tr {
            background-color:$color-scorecard-green-d1;
            color: $black;
            :nth-child(n+2) {
                max-width: 150px;
            }
        }

        tbody tr {
            &:nth-child(even) {
                background-color:$color-scorecard-green-l1;
            }
        }

        tbody tr td, thead tr th {
            &:first-child() {
                text-align: left;
            }
        }
    
        &.weighting-table {
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }

    // Custom card for section sectio.
    .card-wrapper.is--weighting {
        @media screen and (min-width: 769px) {
            display: none;
        }
    }

    // Table for questions
    .table-section-questions {
        @media screen and (max-width: 1200px) {
            display: none;
        }
        &.is--mobile {
            @media screen and (max-width: 1200px) {
                display: block;
            }
            @media screen and (min-width: 1201px) {
                display: none;
            }
        }
    }

    table.question-table-methodology {
        td, th {
            text-align: left;
            &.score {
                text-align: center;
            }
        }

        h5 {
            box-shadow: none;
            @include responsive(font-size, 15, 16);
        }

        tr.header-question {
            background-color: transparentize($color: $color-scorecard-green-d1, $amount: 0.4);
        }

        .question-header {
            font-family: $font-family-sans-serif;
            font-style: normal;
            font-weight: 600;
            @include responsive(font-size, 13, 14);
            line-height: 130%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: $black;
        }

        .question-content-table.is--header {
            p {
                font-weight: 600;
            }
        }
    }

    // For the questions cards
    .section-card-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .card-wrapper {
            flex-basis: 48%;
            @media screen and (max-width: 675px) {
                flex-basis: 100%;
            }
        }
    }

    //Glossary
    .glossary-content {
        .glossary-content-item {
            margin-bottom: 30px;
        }

        .glossary-footer {
            border-top: 1px solid transparentize($color: $black, $amount: 0.9);
        }
    }
}

// METHODOLOGY 2023
.js-single-tier,
.js-district,
.js-county,
.js-northern-ireland,
.js-scotland,
.js-wales {
    display: none;
}

.is-single-tier,
.is-district,
.is-county,
.is-northern-ireland {
    .js-default {
        display: none;
    }
}

.is-scotland .js-scotland,
.is-wales .js-wales {
    display: block;
}

.is-single-tier .js-single-tier,
.is-district .js-district,
.is-county .js-county,
.is-northern-ireland .js-northern-ireland {
    display: block;
}

.is-single-tier table.js-single-tier,
.is-district table.js-district,
.is-county table.js-county,
.is-northern-ireland table.js-northern-ireland {
    display: table;
}

.section-question-meta-wrapper {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
}

.section-question-content {
    @include show-height;

    .open-details & {
        height: auto;
        overflow: visible;
    }

    .close-details & {
        height: 0;
        overflow: hidden;
    }
}

.accordion-sections {
    &.open-details {
        .section-question-content {
            height: auto;
            overflow: visible;
        }
    }

    &.close-details {
        // .accordion-data.active {
        //     height: auto;
        // }

        .section-question-content {
            height: 0;
            overflow: hidden;
        }

        .section-question-content.show-height {
            height: auto;
            overflow: visible;
        }
    }
}


// Tables highlight
.minimal-table {
    table-layout: fixed;
    width: 100%;

    th, td {
        border: 1px solid rgba(28, 38, 36, 0.2);
        padding: 12px 8px;
        text-align: center;
        max-width: 150px;
        min-width: 100px;
    }

    th, td {
        &:first-child {
            text-align: left;
            font-weight: 700;
        }
    }
}

.is-single-tier th.js-highlight-single-tier,
.is-district th.js-highlight-district,
.is-county th.js-highlight-county,
.is-northern-ireland th.js-highlight-northern-ireland {
    background-color: $color-scorecard-green-d1;
}

.is-single-tier td.js-highlight-single-tier,
.is-district td.js-highlight-district,
.is-county td.js-highlight-county,
.is-northern-ireland td.js-highlight-northern-ireland {
    background-color: transparentize($color-scorecard-green-d1, 0.8);
}
