.open-graph-preview {
    font-size: 2vmin;
    $text-shadow: 0.20rem 0.20rem 0 $black;

    body {
        --bs-body-font-size: 1rem;
        display: flex;
        flex-direction: column;
        padding: 5vw;
        min-height: 100vh;
        overflow: hidden; // prevent scrollbars from absolutely positioned children
        color: $white;
        background: $primary linear-gradient(45deg, $primary, adjust-hue($primary-400, 15)) 50% 50% no-repeat;

        .text-shadow {
            text-shadow: $text-shadow;
            font-weight: 900;

            svg {
                filter: drop-shadow($text-shadow);
            }
        }

        tr > :first-child {
            color: $primary-700;
        }

        &.version-2-gradient {
            background: $primary linear-gradient(45deg, $cyan, adjust-hue($cyan-400, -15)) 50% 50% no-repeat;
            tr > :first-child {
                color: $cyan-700;
            }
        }

        &.version-3-gradient {
            background: $primary linear-gradient(45deg, $blue, adjust-hue($blue-400, -15)) 50% 50% no-repeat;
            tr > :first-child {
                color: $blue-700;
            }
        }

        &.version-4-gradient {
            background: $primary linear-gradient(45deg, $green, adjust-hue($green-400, -15)) 50% 50% no-repeat;
            tr > :first-child {
                color: $green-700;
            }
        }
    }

    h1 {
        font-size: 5rem;
        font-weight: 900;
        margin-bottom: 0;

        &.count--long {
            font-size: 4rem;
        }
    }

    .council-overall-top-performer,
    .council-section-top-performer {
        h1 {
            font-size: 6rem;

            &.count--medium {
                font-size: 5.5rem;
            }

            &.count--long {
                font-size: 5rem;
            }
        }
    }

    .section-preview {
        h1 {
            font-size: 4.5rem;
        }
    }

    .subtitle {
        font-size: 2rem;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    header {
        margin-bottom: auto;
        display: flex;
        align-items: center;
        gap: 4rem;
        margin-bottom: auto;

        img, svg {
            width: auto;
            height: 5vw;
        }
    }

    table {
        margin-top: auto;
        font-size: 2rem;
        line-height: 1.1;

        td, th {
            vertical-align: middle;
            text-align: center;
            padding: 2vw;
            border-right: 2px solid rgba($white, 0.5);
            position: relative;
        }

        th {
            border-bottom: 2px solid rgba($white, 0.5);

            .badge {
                position: absolute;
                top: -0.2rem;
                left: 0;
                width: 100%;
                font-size: 1.2rem;
                text-transform: uppercase;
            }
        }

        td {
            padding: 2.5vw 2vw;
        }

        // "Overall Score" column
        tr > :first-child {
            background-color: #fff;
            background-clip: padding-box;
            border-right: none;
        }

        // "Overall Score" header cell
        thead > tr > :first-child {
            border-radius: 0.5rem 0.5rem 0 0;
            border-bottom: 2px solid transparent;
        }

        // "Overall Score" body cell
        tbody > tr:last-child > :first-child {
            border-radius: 0 0 0.5rem 0.5rem;
        }

        // "Worst section" column
        tr > :last-child {
            border-right: none;
        }

        .high-scoring-section-badge {
            position: absolute;
            font-size: 1.5rem;
            text-align: center;
            display: block;
            width: 100%;
            left: 0;
        }
    }
}

.open-graph-preview__score {
    display: block;
    font-size: 4rem;
    line-height: 1;
    font-weight: bold;

    td:first-child & {
        font-size: 7rem;
    }
}

.open-graph-preview__section {
    display: block;
    margin-top: 0.5rem;
}

.open-graph-preview__ceuk-logo {
    order: -1;
    margin-right: auto;
}

.open-graph-preview__year {
    position: absolute;
    top: -0.1rem;
    right: -0.1rem;
    font-size: 20vw;
    line-height: 0.85;
    opacity: 0.1;
    font-weight: bold;
}

.open-graph-preview__grid {
    display: grid;
    grid-template-columns: 70% 20%;
    column-gap: 10%;
    margin-bottom: auto;
    align-items: end;

    .grid__name {
        grid-column: 1 / 1;
    }

    .grid__score {
        grid-column: 2 / 2;
        align-self: end;
    }
}


@media (aspect-ratio: 1/1) {
    .open-graph-preview {
        font-size: 1.5vmin;

        .council-preview {
            h1 {
                font-size: 6.5rem;

                &.count--medium {
                    font-size: 6rem;
                }

                &.count--long {
                    font-size: 5.5rem;
                }
            }
        }

        .section-preview {
            h1 {
                font-size: 6rem;

                &.count--long {
                    font-size: 5.5rem;
                }
            }

            .subtitle {
                font-size: 3rem;
                margin-top: 1rem;
            }
        }
    }

    .council-section-top-performer,
    .council-overall-top-performer {
        .open-graph-preview__score {
            font-size: 11rem !important;
        }
    }

    .open-graph-preview__grid {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        row-gap: 3rem;
    
        .grid__name {
            grid-row: 1 / 1;
            grid-column: 1 / 1;
        }
        .grid__score {
            grid-row: 2 / 2;
            grid-column: 1 / 1;
        }
    }
}
