.bg-dark {
  color: $white;
  background-color: $dark;
}

.bg-primary {
  background-color: $primary;
}

.text-white {
  color: $white;

  a {
    color: white;
  }
}

.bg-primary-200 {
  background-color:$color-scorecard-blue-l2;
}
