.question .group-label-wrapper {
    // left column "about this question"
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    .label-wrapper {
        flex-basis: 100%;
        @media only screen and (max-width: 550px) {
            flex-basis: 100%;
        }
    }
}

.question-content {
    height: 65px;
    overflow-y: hidden;
    @include transition(height, 0.3s ease-in-out);
}