$border-table: 1px solid transparentize($color: $black, $amount: 1);

$first-cell-width: 250px;
$default-cell-width: 165px;
$small-cell-width: 95px;

$sections: (
    "overall",
    "s1_b_h",
    "s2_tran",
    "s3_p_lu",
    "s4_g_f",
    "s5_bio",
    "s6_c_e",
    "s7_wr_f",
    "s1_b_h_gs_ca",
    "s2_tran_ca",
    "s3_p_b_ca",
    "s4_g_f_ca",
    "s5_c_e_ca"
);

// Table scorecard Desktop
.scorecard-table-wrapper {
    width: 100%;
    max-height: 97vh;
    overflow: auto;

    .highlight {
        th, td {
            background: lighten($color-scorecard-yellow, 30%) !important;
        }
    }
}

.scorecard-table {
    width: 100%;

    th, td {
        vertical-align: middle;
        font-size: 0.85rem;
        font-weight: 400;
        padding: 1rem 0.75rem;
        text-align: center;
    }

    // Hide top row sorting buttons when year difference mode is active.
    .scorecard-table__sections-header .js-sort-table {
        .with-year-difference & {
            display: none;
        }
    }

    th {
        background-color: $white;

        .section-title {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            text-wrap: balance;
            line-height: 1.3;
        }
    }

    $first-row-height: 40px;
    thead {
        top: 64px; // Height of scorecard-table__mobile-category-select
        th {
            max-height: $first-row-height;
            height: $first-row-height;
        }
    }

    tbody {
        tr {
            &:nth-child(odd) {
                background-color: $color-scorecard-grey-100;
                th,td {
                    background-color: $color-scorecard-grey-100;
                }
            }
    
            &:nth-child(even) {
                background-color: $white;
                th,td {
                    background-color: $white;
                }
            }
        }
    }

    .scorecard-table__label-column {
        text-align: left;
    }

    .scorecard-table__score-column {
        .with-year-difference & {
            padding: 1rem 0 1rem 0.75rem;
        }
    }

    .scorecard-table__year-difference-column {
        .with-year-difference & {
            padding: 1rem 0.75rem 1rem 0;
        }
    }

    .council-link {
        display: block;
        white-space: break-spaces;
        text-decoration: none;
        font-weight: normal;
        text-wrap: balance;

        &:hover {
            text-decoration: underline;
        }
    }

    // On mobile, show columns only when selected via the mobile selector.
    [data-section] {
        display: none;
    }
    @each $section-code in $sections {
        &[data-section="#{$section-code}"] [data-section="#{$section-code}"] {
            display: revert;
        }
    }

    @include media-breakpoint-up(lg) {
        th, td {
            min-width: $default-cell-width;
            max-width: $default-cell-width;
        }

        .scorecard-table__year-difference-column {
            min-width: $small-cell-width;
            max-width: $small-cell-width;
        }

        .scorecard-table__label-column,
        .scorecard-table__score-column[data-section="overall"],
        .scorecard-table__year-difference-column[data-section="overall"] {
            position: sticky;
            z-index: 3;
        }

        th .section-title {
            text-align: left;
            justify-content: left;

            .with-year-difference & {
                text-align: center;
                justify-content: center;
            }
        }

        thead {
            top: 0;
            .scorecard-table__label-column,
            .scorecard-table__score-column[data-section="overall"],
            .scorecard-table__year-difference-column[data-section="overall"] {
                z-index: 5;
            }
        }

        .scorecard-table__label-column {
            left: 0;
            min-width: $first-cell-width !important; // override `.scorecard-table th`
        }

        .scorecard-table__score-column[data-section="overall"] {
            left: $first-cell-width;
        }

        .scorecard-table__year-difference-column[data-section="overall"] {
            left: $first-cell-width + $default-cell-width;
        }

        // Undo mobile column hiding.
        [data-section] {
            display: revert;
        }

        // Always show all score columns on wide screens.
        .scorecard-table__score-column {
            display: revert !important;
        }

        // Show all year difference columns, but only if year difference mode is active.
        .scorecard-table__year-difference-column {
            display: none !important; // override mobile selection

            .with-year-difference & {
                display: revert !important;
            }
        }

        // Only show years header row if year difference mode is active.
        .scorecard-table__years-header {
            display: none !important;

            .with-year-difference & {
                display: revert !important;
            }
        }
    }
}

.scorecard-table__mobile-category-select {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 1rem;
    border-bottom: $border-width solid $border-color;
    background: $color-scorecard-grey-100;

    @include media-breakpoint-up(lg) {
        display: none;
    }
}

// Progress bar
$score-bar-border-radius: 25px;
$score-bar-vertical-padding: 8px;

.score-bar {
    background: $white;
    border: 1px solid $primary;
    border-radius: $score-bar-border-radius;
    width: 100%;
    min-width: 100px;
    padding: $score-bar-vertical-padding 0;
    position: relative;
    overflow: hidden;
    margin: 0 auto;

    .progress-bar {
        width: 0;
        height: 100%;
        position: absolute;
        background-color: mix($primary, $white, 10%);
        top:0;
        z-index: 0;
    }

    span {
        display: block;
        text-align: center;
        line-height: 100%;
        margin: 0 auto;
        z-index: 1;
        position: relative;
        padding: 0.2rem;
        width: fit-content;
        border-radius: 4px;
        font-size: 0.8rem;
    }

    span.average {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.75rem;
        font-weight: 300;
    }
}

@each $name, $color in $theme-colors {
    .#{$name} {
        @include progress-bar-body($color);
    }
}

// Sort icon
.sort-icon {
    @include transition(background-image, color, background-color 0.3s ease-in-out);
    background-image: url("../img/chevron-down-purple.svg");
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    @each $name, $colour in $theme-colors {
        &.is--#{$name} {
            border-color: $colour;
        }
    }
    position: relative;
    @each $name, $colour in $theme-colors {
        &.is--#{$name} {
            &::before {
                content: '';
                position: absolute;
                background-color: $colour;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                top: 0;
                left: 0;
                mix-blend-mode: hue;
            }
        }
    }

    &:hover {
        background-image: url("../img/chevron-down-white.svg");
        @each $name, $colour in $theme-colors {
            &.is--#{$name} {
                background-color: $colour;
            }
        }
    }

    &:focus {
        background-color: $yellow;
        // It won't be overriden by .is-sorted-descending and is-sorted-ascending 
        background-image: url("../img/chevron-down-purple.svg") !important;
    }

    &.is-sorted-descending {
        background-color: $primary;
        background-image: url("../img/chevron-down-white.svg");
        @each $name, $colour in $theme-colors {
            &.is--#{$name} {
                background-color: $colour;
            }
        }
    }

    &.is-sorted-ascending {
        transform: rotate(180deg);
        background-color: $primary;
        background-image: url("../img/chevron-down-white.svg");

        @each $name, $colour in $theme-colors {
            &.is--#{$name} {
                background-color: $colour;
            }
        }
    }
}

// This version includes text
.sort-button {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem;
    font-size: 0.75rem;
    border: 0;
    background: transparent;
    border-radius: $border-radius;
    @include transition(background-color, color 0.3s ease-in-out);

    @each $name, $colour in $theme-colors {
        &.is--#{$name} {
            color: $colour;
        }
    }

    &:hover {
        background-color: $primary-100;
        color: $primary;
        @each $name, $colour in $theme-colors {
            &.is--#{$name} {
                background-color: mix($colour,$white,25%);
                color: $colour;
            }
        }
    }

    &:focus {
        box-shadow: inset 0 0px 0px 2px  $color-scorecard-yellow, inset 0 0px 0 4px $black !important;
        outline: 0;
    }

    &.is-sorted-descending,
    &.is-sorted-ascending {
        background-color: $primary;
        color: $white;
        @each $name, $colour in $theme-colors {
            &.is--#{$name} {
                background-color: $colour;
                color: $white;
            }
        }
    }

    &.is-sorted-ascending {
        svg {
            transform: rotate(180deg);
        }
    }
}
