$table-desktop-breakpoint: 915px;
$color-category-1:#004A8A;
$color-category-2:#6200a4;
$color-category-3:#8C7400;
$color-category-4:#00903B;
$color-category-5:#028790;
$color-category-6:#8E5702;
$color-category-7:#055070;
$color-category-8:#180C7C;
$color-category-9:#880202;
$border-table: 1px solid transparentize($color: $black, $amount: 0.8);

// Table control filter
.table-filter {
    .left {
        border: 1px solid $blue;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
    
    .right {
        border: 1px solid $color-scorecard-green-d1;
        border-left: none;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    .type-council-option-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        a {
            margin-right: 10px;
        }
    }

    @media only screen and (max-width: $table-desktop-breakpoint) {
        .left {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .right {
            border-top: none;
            border-left: 1px solid $color-scorecard-green-d1;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

// Table header
.home .table-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    @media only screen and (max-width: $table-desktop-breakpoint) {
        flex-direction: column;
        align-items: center;
        button {
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }
    }
}

// Attributes for both tables
.z-index-3 {
    z-index: 3 !important;
}

.z-index-4 {
    z-index: 4 !important;
}

.z-index-5 {
    z-index: 5 !important;
}

tbody th.council-name {
    min-height: 62px;
}

tbody th.council-name .council-name-flex-cell{
    display: flex;
    flex-direction: row;
    align-items: center;
}

// Table scorecard Desktop
.scorecard-table-wrapper {
    width: 100%;
    max-height: 97vh;
    overflow: auto;
    border-radius: $border-radius;
    border-bottom: 1px solid transparentize($color: $black, $amount: 0.8);
    border-right: 1px solid transparentize($color: $black, $amount: 0.8);
    @media only screen and (max-width: $table-desktop-breakpoint) {
        border:1px solid transparentize($color: $black, $amount: 0.8);
    }
}

.scorecard-table {
    th, td {
        vertical-align: middle;
        background-color: $white;
        position: relative;
        z-index: 0;
    }

    @media only screen and (max-width: $table-desktop-breakpoint) {
        display: none;
    }

    //Table inner border
    .table-sticky-border {
        background-color: transparentize($color: $black, $amount: 0.8);
        position:absolute;
    }

    .table-sticky-border.left, .table-sticky-border.right {
        height: 100%;
        width: 1px;
    }

    .table-sticky-border.top, .table-sticky-border.bottom  {
        height: 1px;
        width:100%;
    }

    .table-sticky-border.top  {
        left: 0;
        top: 0;
    }

    .table-sticky-border.right {
        right: 0;
        top: 0;
    }

    .table-sticky-border.bottom  {
        left: 0;
        bottom: 0;
    }

    .table-sticky-border.left {
        left: 0px;
        top: 0;
    }

    //Borders
    tr.first-row {
        border-bottom: none;
        border-left: none;
    }

    tr {
         border-bottom: $border-table;
         border-right: $border-table;
    }

    tr.second-row {
        border-top: 0px solid black;
        border-bottom: 0px;
    }

    //Table Header
    th {
        font-weight: 400;
        padding: 14px 10px;
        .table-header-first-row {
            a {
                width: 120px;
            }
        }
    }

    .second-row th.council-name {
        min-width: 250px;
        padding-top: 12px;
        background-color: $color-scorecard-green-l1;
    }

    .first-row th {
        padding: 10px 10px 0px 10px;
        vertical-align: initial;
        background-color:$color-scorecard-green-l1;
        .table-header-first-row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-bottom: 10px;
        }
    }

    th.header , .table-header-first-row span {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 130%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }
    
    th.category-1 {
        @include table-category-color-header($color-category-1);
    }
    th.category-2 {
        @include table-category-color-header($color-category-2);
    }
    th.category-3 {
        @include table-category-color-header($color-category-3);
    }
    th.category-4 {
        @include table-category-color-header($color-category-4);
    }
    th.category-5 {
        @include table-category-color-header($color-category-5);
    }
    th.category-6 {
        @include table-category-color-header($color-category-6);
    }
    th.category-7 {
        @include table-category-color-header($color-category-7);
    }
    th.category-8 {
        @include table-category-color-header($color-category-8);
    }
    th.category-9 {
        @include table-category-color-header($color-category-9);
    }

    thead th {
        position: sticky;
        top: 0;
        z-index: 1;
        max-height: 110px;
        height: 110px;
    }

    thead {
        .second-row th {
            top:110px;
            height: auto;
            padding: 5px 10px;
            padding-bottom: 14px;
        }
    }

    thead th:first-child {
        position: sticky;
        left: 0;
        z-index: 2;
    }

    tbody th {
        position: relative;
        left: 0px;
    }

    tbody tr {
        &:nth-child(odd) {
            th, td{
                background-color: #F8F8F8;
            }
        }
    }

    .highlight {
        th, td {
            background: lighten($color-scorecard-yellow, 30%) !important;
        }
    }

    .council-total-score, .total-score {
        left: 250px;
    }
}

// Progress bar
.score-bar {
    background: $white;
    border: 1px solid #005CAB;
    border-radius: $border-radius;
    width: 100px;
    padding: 8px 0;
    margin-right: auto;
    margin-left:auto;
    position: relative;

    .progress-bar {
        width: 0;
        height: 100%;
        position: absolute;
        background: red;
        top:0;
        border-radius: $border-radius;
        z-index: 0;
    }

    span {
        display: block;
        text-align: center;
        line-height: 100%;
        margin-bottom: 0;
        z-index: 1;
        position: relative;
    }

    span.average {
        position: absolute;
        right: 5px;
        top: 10px;
        font-size: 13px;
        opacity: 0.9;
        font-weight: 300;
    }
}

.second-row .total-score {
    @media only screen and (max-width: $table-desktop-breakpoint) {
        background-color: $white;
    }
    .score-bar {
        border-color: $color-scorecard-green-d1;
        .progress-bar {
            background-color: darken($color: $green, $amount: 10%);
            border-right: 1px solid $color-scorecard-green-d1;
        }
    }
}

.council-total-score {
    .score-bar {
        border-color: $color-scorecard-green-d1;
        .progress-bar {
            background-color: $green;
            border-right: 1px solid $color-scorecard-green-d1;
        }
    }
}

td.council-category-score.category-1 {
    @include progress-bar-body($color-category-1);
}
td.council-category-score.category-2 {
    @include progress-bar-body($color-category-2);
}
td.council-category-score.category-3 {
    @include progress-bar-body($color-category-3);
}
td.council-category-score.category-4 {
    @include progress-bar-body($color-category-4);
}
td.council-category-score.category-5 {
    @include progress-bar-body($color-category-5);
}
td.council-category-score.category-6 {
    @include progress-bar-body($color-category-6);
}
td.council-category-score.category-7 {
    @include progress-bar-body($color-category-7);
}
td.council-category-score.category-8 {
    @include progress-bar-body($color-category-8);
}
td.council-category-score.category-9 {
    @include progress-bar-body($color-category-9);
}

.second-row  th.category-1{
    @include progress-bar-header($color-category-1);
}
.second-row  th.category-2{
    @include progress-bar-header($color-category-2);
}
.second-row  th.category-3{
    @include progress-bar-header($color-category-3);
}
.second-row  th.category-4{
    @include progress-bar-header($color-category-4);
}
.second-row  th.category-5{
    @include progress-bar-header($color-category-5);
}
.second-row  th.category-6{
    @include progress-bar-header($color-category-6);
}
.second-row  th.category-7{
    @include progress-bar-header($color-category-7);
}
.second-row  th.category-8{
    @include progress-bar-header($color-category-8);
}
.second-row  th.category-9{
    @include progress-bar-header($color-category-9);
}

// Sort icon
.sort-icon {
    @include transition(background-image 0.3s ease-in-out);
    min-width: 22px;
    height: 22px;
    margin-left: 5px;
    background-image: url('../img/sort-down-default.svg');
    background-size: contain;
    background-repeat: no-repeat;

    &.is-sorted-descending {
        background-image: url('../img/sort-down-green.svg');
    }

    &.is-sorted-ascending {
        background-image: url('../img/sort-up-green.svg');
    }
}

// Hover message for top-performers
$flex-basis-mobile-council: 80%;
.council-link {
    display: block;
    margin-left: 5px;
    white-space: break-spaces;
    @media only screen and (max-width: $table-desktop-breakpoint) {
        flex-basis: $flex-basis-mobile-council;
    }
}

.scorecard-table,
.scorecard-table-mobile {
    .top-performer {
        display: block;
        width: 20px;
        height: 20px;
        position: relative;
        flex: 0 0 auto;
        background: transparent url('../img/star.svg') 0 0 no-repeat;
        background-size: 16px auto;

        .hover-message {
            opacity: 0;
            position: absolute;
            top:-10px;
            left: 0;
            width: 0;
            z-index: 1000;
        }

        &:hover {
            .hover-message {
               opacity: 1;
               width: 230px;
            }
        }
    }
}

.hover-message {
    background-color: $color-scorecard-grey-900;
    padding: 8px;
    border-radius: $border-radius;
    @media only screen and (max-width: $table-desktop-breakpoint) {
        display: none;
    }
    span {
        color: $white;
        
    }
}

// Mobile table
$padding-left: 8px;

.hamburguer {
    padding: 0;
    width: 44px;
    height: 44px;
    background-image: url('../img/hamburguer-white.svg');
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: center;
    position: relative;
}

.scorecard-table-mobile {
    width: 100%;
    white-space: nowrap;
    margin: 0;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;

    @media only screen and (min-width: $table-desktop-breakpoint) {
        display: none;
    }

    th.main-header {
        // First row "category select"
        padding: 0 !important;
        display: table-cell !important;
        top: 0;
        .category {
            background-color: $color-scorecard-grey-900;
            border: 1px solid $color-scorecard-grey-900;
            display: flex !important;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            padding: $padding-left;
            span {
                font-family: $headings-font-family;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 100%;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: $white;
                margin-right: 10px;
            }
        }
    }
    // Second row: "Council name"
    tr.second-row {
        top:31px;
    }
    .council-name.header {
        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 150%;
        text-transform: uppercase;
        height: 48px;
        padding-top: 16px;
        background-color: $white;
    }

    .second-row .total-score .score-bar {
        background: transparent;
        border: none;
        border-radius: 0;
        width: auto;
        // padding: 8px 0;
        // margin-right: auto;
        // margin-left: auto;
        // position: relative;
        .progress-bar {
            width: 0 !important;
            border-right: none;
        }
        .sort-icon {
            width: 22px;
            position: absolute;
            top: 5px;
            z-index: 3;
            @include responsive(left,15,375);
        }

        span.average {
            @include responsive(right,25,400);
        }
    }

    // Table body
    tbody th, thead th {
        padding: $padding-left;
        border-top: none;
    }

    tbody th, tbody td {
        word-break: break-word;
    }

    .council-link {
        @include media-breakpoint-down('xs') {
            max-width: 130px;
        }
    }

    tr {
        border: $border-table;
        border-top: none;
        &:nth-child(odd) {
            th, td {
                background-color: #F8F8F8;
            }
        }
    }

    //Hide Total-score column
    tbody tr {
        th {
            &:nth-child(2) {
                display:table-cell;
            }
        }
    }
    tbody tr th.active {
        display: block;
    }

    tbody tr {
        td {
            display:none;
        }
    }
    tbody tr td.active {
        display: block;
    }

    thead tr {
        th {
            display:none;
            &:nth-child(1), &:nth-child(2) {
                display: table-cell;
            }
        }
    }

    thead tr {
        th.active {
            display: block;
        }
    }
    // Hide 
}
