.scoring-source-links {
    list-style: none;
    padding: 0;

    li {
        margin: 1rem 0 0 0;
    }

    a {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
