$table-desktop-breakpoint: 915px;
$border-table: 1px solid transparentize($color: $black, $amount: 1);

// Attributes for both tables
.z-index-3 {
    z-index: 3 !important;
}

.z-index-4 {
    z-index: 4 !important;
}

.z-index-5 {
    z-index: 5 !important;
}

// Table scorecard Desktop
.scorecard-table-wrapper {
    width: 100%;
    max-height: 97vh;
    overflow: auto;
    border-radius: $border-radius;

    .highlight {
        th, td {
            background: lighten($color-scorecard-yellow, 30%) !important;
        }
    }
}

.scorecard-table {
    th, td {
        vertical-align: middle;
        position: relative;
        z-index: 0;
        min-width: 200px;
        font-weight: 400;
        padding: 1rem 0.7rem;
    }

    th {
        background-color: $white;
        font-size: 0.85rem;
        vertical-align: top;
    }

    @media only screen and (max-width: $table-desktop-breakpoint) {
        display: none;
    }

    $first-row-height: 80px;
    thead {
        th {
            position: sticky;
            top: 0;
            z-index: 1;
            max-height: $first-row-height;
            height: $first-row-height;
        }

        .second-row th {
            top:$first-row-height;
            height: auto;
        }
    }

    thead th:first-child {
        left: 0;
    }

    tbody {

        th {
            position: relative;
            left: 0px;
        }

        tr {
            &:nth-child(odd) {
                background-color: $color-scorecard-grey-100;
                th {
                    background-color: $color-scorecard-grey-100;
                }
            }
    
            &:nth-child(even) {
                background-color: $white;
                th {
                    background-color: $white;
                }
            }
        }
    }

    .council-category-total-score, .total-score {
        left: 250px;
    }

    .has-no-plan {
        padding-left: 32.5px; // match the `margin: auto` on .score-bar
    }
}

// Progress bar
$score-bar-border-radius: 25px;
$score-bar-vertical-padding: 8px;

.score-bar {
    background: $white;
    border: 1px solid #005CAB;
    border-radius: $score-bar-border-radius;
    width: 150px;
    padding: $score-bar-vertical-padding 0;
    position: relative;
    overflow: hidden;

    .progress-bar {
        width: 0;
        height: 100%;
        position: absolute;
        background: $primary;
        top:0;
        border-radius: $score-bar-border-radius;
        z-index: 0;
    }

    span {
        display: block;
        text-align: center;
        line-height: 100%;
        margin-bottom: 0;
        z-index: 1;
        position: relative;
    }

    span.average {
        position: absolute;
        right: 10px;
        top: $score-bar-vertical-padding;
        font-size: 13px;
        opacity: 0.9;
        font-weight: 300;
    }
}

.second-row .total-score {
    @media only screen and (max-width: $table-desktop-breakpoint) {
        background-color: $white;
    }
}

@each $name, $color in $theme-colors {
    .second-row  th.#{$name} {
        @include progress-bar-header($color);
    }

    .council-category-score.#{$name} {
        @include progress-bar-body($color);
    }
}

// Sort icon
.sort-icon {
    @include transition(background-image, color, background-color 0.3s ease-in-out);
    margin-right: 0.5rem;
    background-image: url("../img/chevron-down-purple.svg");
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 26px;
    width: 26px;

    &:hover {
        background-image: url("../img/chevron-down-white.svg");
    }

    &:focus {
        background-color: $yellow;
        background-image: url("../img/chevron-down-purple.svg");
    }

    &.is-sorted-descending {
        background-color: $primary;
        background-image: url("../img/chevron-down-white.svg");
    }

    &.is-sorted-ascending {
        transform: rotate(180deg);
        background-color: $primary;
        background-image: url("../img/chevron-down-white.svg");
    }
}

// Hover message for top-performers
$flex-basis-mobile-council: 80%;
.council-link {
    display: block;
    margin-left: 5px;
    white-space: break-spaces;
    text-decoration: none;
    font-weight: normal;

    &:hover {
        text-decoration: underline;
    }

    @media only screen and (max-width: $table-desktop-breakpoint) {
        flex-basis: $flex-basis-mobile-council;
    }
}

.scorecard-table,
.scorecard-table-mobile {
    .top-performer {
        display: block;
        width: 20px;
        height: 20px;
        position: relative;
        flex: 0 0 auto;
        background: transparent url('../img/star.svg') 0 0 no-repeat;
        background-size: 16px auto;

        .hover-message {
            opacity: 0;
            position: absolute;
            top:-10px;
            left: 0;
            width: 0;
            z-index: 1000;
        }

        &:hover {
            .hover-message {
               opacity: 1;
               width: 230px;
            }
        }
    }
}

.hover-message {
    background-color: $color-scorecard-grey-900;
    padding: 8px;
    border-radius: $border-radius;
    @media only screen and (max-width: $table-desktop-breakpoint) {
        display: none;
    }
    span {
        color: $white;
        
    }
}

// Mobile table
$padding-left: 8px;

.scorecard-table-mobile {
    width: 100%;
    white-space: nowrap;
    margin: 0;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;

    @media only screen and (min-width: $table-desktop-breakpoint) {
        display: none;
    }

    th.main-header {
        // First row "category select"
        padding: 0 !important;
        display: table-cell !important;
        top: 0;
    }
    // Second row: "Council name"
    tr.second-row {
        top:56px;
    }
    .council-name.header {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 150%;
        text-transform: uppercase;
        height: 48px;
        padding-top: 16px;
        background-color: $white;
    }

    .second-row .total-score .score-bar {
        font-size: 13px;
    }

    // Table body
    tbody th, thead th {
        padding: $padding-left;
        border-top: none;
    }

    tbody th, tbody td {
        word-break: break-word;
        line-height: 1.2; // rather than the 150% inherited from body
    }

    .council-link {
        @include media-breakpoint-down('xs') {
            max-width: 130px;
        }
    }

    tr {
        &:nth-child(odd) {
                background-color: #F8F8F8;
        }
    }

    //Hide Total-score column
    tbody tr {
        th {
            &:nth-child(2) {
                display:table-cell;
            }
        }
    }
    tbody tr th.active {
        display: block;
    }

    tbody tr {
        td {
            display:none;
        }
    }
    tbody tr td.active {
        display: block;
    }

    thead tr {
        th {
            display:none;
            &:nth-child(1), &:nth-child(2) {
                display: table-cell;
            }
        }
    }

    thead tr {
        th.active {
            display: block;
        }
    }
    // Hide 
}
