.question-summary-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 10rem));
    column-gap: 1rem;
    row-gap: 1rem;

    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(auto-fill, minmax(12.5rem, 13.5rem));
        column-gap: 2rem;
    }
}

.table-question-council,
.section-question-table,
.table-council-question-performance {
    th {
        vertical-align: middle;
    }

    th, td  {
        padding: 0.75rem 0.5rem;
        text-align: left;
        @include media-breakpoint-up(lg) {
            padding: 1rem 0.75rem;
        }
    }

    .question-header-cell {
        @include media-breakpoint-up(lg) {
            width: 500px;
        }
    }

    // Accordion button
    .button-wrapper {
        padding: 0 !important;
    }

    .highlight {
        th, td {
            background: lighten($color-scorecard-yellow, 30%) !important;
        }
    }

    .how-is-marked-section {
        max-width: 300px;
    }
}

.top-tier-score {
    width: 220px;
}

td[data-column="answer"] {
    max-width: 500px;
}

// Question type filter (council page)
$question-types: (
    'all',
    'volunteer',
    'foi',
    'national-data',
    'national-data-and-volunteer',
    'council-only',
);

@each $question-type in $question-types {
    .js-question-type-#{$question-type} { 
        display: none;
    }

    [data-active-question-type="#{$question-type}"] {
        .js-question-type-#{$question-type} {
            display: table-row !important;
        }
    }
}

.accordion-enabled {
    tbody:not(.open) {
        .question-row {
            display: none !important;
        }
    }
}
