.accordion-wrapper {
    background-color: $white;
    
}

.question-table-section {
    $padding: 10px;
    $mobile-breakpoint:500px;

    .question-info {
        padding: $padding;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;

        .label {
            @media only screen and (max-width: $mobile-breakpoint) {
                flex-basis: 100%;
                margin-bottom: 10px !important;
                margin-right:0 !important;
            }
        }

        .question-text {
            max-width: 700px;
        }

        .btn-open-question {
            opacity: 1;
            font-weight: 400;
        }

        .question-text {
            height: 65px;
            overflow-y: hidden;
            @include transition(height, 0.3s ease-in-out);
        }

        &.active {
            background-color: $color-scorecard-grey-900;

            p, span, button {
                color: $white;
            }

            .question-text {
                color: $white;
            }

            .label.grey {
                background-color: transparentize($color: $white, $amount: 0.1);
                color: $color-scorecard-grey-900;
            }

            .btn-open-question {
                &::after {
                    background-image: url('../img/chevron-down-white.svg') !important;
                }
                @include hover-focus {
                    opacity: 0.6;
                }
            }
        }
    }

    .question-data {
        height: 0;
        padding: 0 $padding;
        overflow-y: hidden;
        @include transition(height, 0.3s ease-in-out);

        .question-data-inner {
            margin-top: $padding;
            margin-bottom: $padding;
        }
    }
}
