.table-question-council,
.section-question-table {
    table-layout: fixed;

    th {
        vertical-align: top;
    }

    th, td  {
        @include responsive(padding, 12, 16);
        text-align: right;
    }

    .question-header-cell {
        @include media-breakpoint-up(lg) {
            width: 500px;
        }
    }

    // Accordion button
    .button-wrapper {
        padding: 0 !important;
    }
}

.top-tier-score {
    span {
        max-width: 14em;
    }
}

td[data-column="answer"] {
    max-width: 500px;
}

.js-collapse-children {
    summary + * {
        margin-top: 1rem;
    }
}

// Question type filter (council page)
$question-types: (
    'all',
    'volunteer',
    'foi',
    'national-data',
    'national-data-and-volunteer',
    'council-only',
);

@each $question-type in $question-types {
    .js-question-type-#{$question-type} { 
        display: none;
    }

    [data-active-question-type="#{$question-type}"] {
        .js-question-type-#{$question-type} {
            display: table-row !important;
        }
    }
}

.accordion-enabled {
    tbody:not(.open) {
        .question-row {
            display: none !important;
        }
    }
}
