.table-question-council {
    table-layout: fixed;

    th, td  {
        @include responsive(padding, 12, 16);
        text-align: right;
    }

    .question-header-cell {
        min-width: auto;

        @include media-breakpoint-up(lg) {
            min-width: 450px;
        }
    }

    // Accordion button
    .button-wrapper {
        padding: 0 !important;
    }
}

.top-tier-score {
    span {
        max-width: 14em;
    }
}

td[data-column="answer"] {
    max-width: 350px;
}

// JavaScript-powered .js-toggle-council-question-table-section
.accordion-enabled {
    tbody {
        .question-row {
            display: none;
        }
    }

    tbody.open {
        .question-row {
            display: table-row;
        }
    }
}

.js-collapse-children {
    summary + * {
        margin-top: 1rem;
    }
}
