.table-section {
    table-layout: fixed;

    th, td {
        padding: 16px;
        &:not(:first-child) {
            min-width: 155px;
            max-width: 155px;
            text-align: right;
        }
    }

    //Row
    tbody tr {
        &:nth-child(odd) {
            background-color: $gray-200;
        }
    }
}
