// FILE for styles share across all scorecards tables

// Attributes for both tables
.z-index-3 {
    z-index: 3 !important;
}

.z-index-4 {
    z-index: 4 !important;
}

.z-index-5 {
    z-index: 5 !important;
}


// This class helps us avoid using Bootstrap display classes to hide/display elements, especially in tables where JS classes that handle display properties might conflict with the !important rules Bootstrap uses. With this class we wouldn't need to use d-none d-md-table-cell or d-md-block.
.display-only-large-up {
    display: none;
    @include media-breakpoint-up(lg) {
        // So we can use it on td or tr elements
        display: revert;
    }
}

// Previous year comparison tool
.js-previous-year-score {
    display: none;
}

.js-previous-year-score-display {
    .js-current-year-score {
        display: none !important;
    }

    .js-previous-year-score {
        display: revert;
        &.display-only-large-up {
            display: none;
            @include media-breakpoint-up(lg) {
                display: revert;
            }
        }
    }
}
