body {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 0.02em;
    color:$color-scorecard-grey-900;
    @include responsive(font-size, 14, 15);
}

p {
    color: transparentize($color-scorecard-grey-900, 0.1);
}

ul {
    margin-block-end: 0;
    li {
        margin-bottom: 10px;
    }
}

// HEADINGS
.subtitle {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

h1, .h1 {
    @include responsive(font-size, 30, 40);
    font-family: $headings-font-family;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0em;
    color: $color-scorecard-grey-900;
}

.hero-sub {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: 300;
    @include responsive(font-size, 15, 17);
    line-height: 130%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white;

    &.top-performer {
        background-image: url('../img/star.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left 0 center;
        padding-left: 28px;
    }
}

h3, .h3 {
    font-family: $headings-font-family;
    font-style: normal;
    font-weight: 500;
    @include responsive(font-size, 22, 25);
    line-height: 130%;
    /* or 31px */

    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-scorecard-grey-900;
}

h3.exclamation {
    padding-left: 25px;
    background-image: url('../img/exclamation-white.svg');
    background-position: top 5px left 0;
    background-size: 18px;
    background-repeat: no-repeat;
 }

h4, .h4 {
    font-family: $headings-font-family;
    font-style: normal;
    font-weight: normal;
    @include responsive(font-size, 18, 23);
    line-height: 130%;
    letter-spacing: 0.04em;
    color: $color-scorecard-grey-900;
    text-transform: none;
}

h5, .h5 {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: 500;
    @include responsive(font-size, 15, 19);
    line-height: 150%;
    letter-spacing: 0.03em;
    color: $color-scorecard-grey-900;
    font-weight: 600;
    text-transform: none;
}

h6, .h6 {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: 500;
    @include responsive(font-size, 14, 17);
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-scorecard-grey-900;

    @include media-breakpoint-down('xs') {
        text-transform: none;
    }
}

//Filter title
.filter-title {
    @include responsive(font-size, 16, 17);
    letter-spacing: 0.03em;
    line-height: 160%;
}

// Underline
.underline-green {
    display: inline-block;
    box-shadow: inset 0 10px 0 white, inset 0 -10px 0 transparentize($color: $green, $amount: 0.4)
}

.underline-grey {
    display: inline-block;
    box-shadow: inset 0 10px 0 white, inset 0 -4px 0 transparentize($color: $black, $amount: 0.9)
}

// Custom messages
.warning-message {
    padding-left: 32px;
    background-image: url('../img/exclamation-black.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left 0 center;
    max-width: 100% !important;
    margin-bottom: 0;
}

// Across tables
table {
    p {
        color: $color-scorecard-grey-900;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
