$color-scorecard-blue: #0048af;
$color-scorecard-navy: #005cab;
$color-scorecard-purple: #432ecc;
$color-scorecard-pink: #9e0d58;
$color-scorecard-red: #b10e16;
$color-scorecard-orange: #f29e1a;
$color-scorecard-yellow: #ffd80b;
$color-scorecard-green: #046049;
$color-scorecard-cyan: #54dbe2;
$color-scorecard-grey-100: #f3f6fb;
$color-scorecard-grey-200: #ecf0f5;
$color-scorecard-grey-600: #6c757d;
$color-scorecard-grey-800: #32465a;
$color-scorecard-grey-900: #404040;

// Color system

$white: #FDFDFD;
$black: #1C2624;
$blue: $color-scorecard-blue;
$purple: $color-scorecard-purple;
$pink: $color-scorecard-pink;
$red: $color-scorecard-red;
$orange: $color-scorecard-orange;
$yellow: $color-scorecard-yellow;
$green: $color-scorecard-green;
$cyan: $color-scorecard-cyan;

$light: $white;
$primary: $color-scorecard-purple;
$secondary: $color-scorecard-grey-800;
$success: $color-scorecard-green;
$warning: $color-scorecard-red;
$danger: $color-scorecard-red;
$info: $color-scorecard-yellow;
$dark: $black;

$color-total-score:$primary;
$color-category-1:#098995;
$color-category-2:#cc2f62;
$color-category-3:#12855e;
$color-category-4:#4357d7;
$color-category-5:#ca3f1b;
$color-category-6:#cd1393;
$color-category-7:#b85c0f;
$color-category-8:#4d69d1;
$color-category-9:#982fcc;

$color-total-score-light:mix($color-total-score, $white, 20%);
$color-category-light-1:mix($color-category-1, $white, 20%);
$color-category-light-2:mix($color-category-2, $white, 20%);
$color-category-light-3:mix($color-category-3, $white, 20%);
$color-category-light-4:mix($color-category-4, $white, 20%);
$color-category-light-5:mix($color-category-5, $white, 20%);
$color-category-light-6:mix($color-category-6, $white, 20%);
$color-category-light-7:mix($color-category-7, $white, 20%);
$color-category-light-8:mix($color-category-8, $white, 20%);
$color-category-light-9:mix($color-category-9, $white, 20%);

$categories:
$color-total-score,
$color-category-1,
$color-category-2,
$color-category-3,
$color-category-4,
$color-category-5,
$color-category-6,
$color-category-7,
$color-category-8,
$color-category-9;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "black":      $black,
    "white":      $white,
    "total-score": $color-total-score,
    "category-1": $color-category-1,
    "category-2": $color-category-2,
    "category-3": $color-category-3,
    "category-4": $color-category-4,
    "category-5": $color-category-5,
    "category-6": $color-category-6,
    "category-7": $color-category-7,
    "category-8": $color-category-8,
    "category-9": $color-category-9,
    "total-score-light": $color-total-score-light,
    "category-light-1": $color-category-light-1,
    "category-light-2": $color-category-light-2,
    "category-light-3": $color-category-light-3,
    "category-light-4": $color-category-light-4,
    "category-light-5": $color-category-light-5,
    "category-light-6": $color-category-light-6,
    "category-light-7": $color-category-light-7,
    "category-light-8": $color-category-light-8,
    "category-light-9": $color-category-light-9,
);

$primary-100: tint-color($primary, 80%);
$primary-200: tint-color($primary, 60%);
$primary-300: tint-color($primary, 40%);
$primary-400: tint-color($primary, 20%);
$primary-500: $primary;
$primary-600: shade-color($primary, 20%);
$primary-700: shade-color($primary, 40%);
$primary-800: shade-color($primary, 60%);
$primary-900: shade-color($primary, 80%);

$primaries: (
  "primary-100": $primary-100,
  "primary-200": $primary-200,
  "primary-300": $primary-300,
  "primary-400": $primary-400,
  "primary-500": $primary-500,
  "primary-600": $primary-600,
  "primary-700": $primary-700,
  "primary-800": $primary-800,
  "primary-900": $primary-900
);

$min-contrast-ratio: 2.5;

// Options

$enable-deprecation-messages: false;
$enable-transitions: true;
$enable-negative-margins: true;

// Spacing

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6
);

// Body

$body-bg: $white;
$body-color: $black;

// Links

$link-color: $color-scorecard-purple;
$link-hover-decoration: none;

// Paragraphs

// Grid breakpoints

// Grid containers

// Grid columns

// Components

// Typography


$body-font-family: "Lato", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif: $body-font-family;


$headings-font-family: "Montserrat", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$blockquote-font-size: 1.1rem;

$mark-bg: #fffeb5;

$font-size-base: 1rem;
$font-size-sm: $font-size-base * .875;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.1;
$h6-font-size: $font-size-base;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $font-size-sm,
  8: $font-size-base * 0.75,
  9: $font-size-base * 0.66,
  10: $font-size-base * 0.5
);

// Tables

// Buttons + Forms

// Buttons
$btn-border-width: 1px;
$btn-hover-bg-shade-amount:       35%;
$btn-hover-bg-tint-amount:        15%;
$btn-hover-border-shade-amount:   0%;
$btn-hover-border-tint-amount:    100%;

// Forms

$form-check-input-checked-bg-image: url("../img/bootstrap/form-check-input-checked.svg");
$form-check-radio-checked-bg-image: url("../img/bootstrap/form-check-radio-checked.svg");
$form-check-input-indeterminate-bg-image: url("../img/bootstrap/form-check-input-indeterminate.svg");
$form-switch-bg-image: url("../img/bootstrap/form-switch.svg");
$form-switch-focus-bg-image: url("../img/bootstrap/form-switch-focus.svg");
$form-switch-checked-bg-image: url("../img/bootstrap/form-switch-checked.svg");
$form-select-indicator: url("../img/bootstrap/form-select-indicator.svg");
$form-feedback-icon-valid: url("../img/bootstrap/form-feedback-icon-valid.svg");
$form-feedback-icon-invalid: url("../img/bootstrap/form-feedback-icon-invalid.svg");

// Form validation

// Z-index master list

// Navs

// Navbar

$navbar-padding-y: 1.5rem;
$navbar-padding-x: 1rem;
$nav-link-padding-y:  0.5rem;
$navbar-nav-link-padding-x: 0.75rem;
$navbar-dark-color: $white;
$navbar-dark-hover-color: rgba($navbar-dark-color, 0.8);
$navbar-dark-active-color: $navbar-dark-color;
$navbar-dark-toggler-border-color: rgba($navbar-dark-color, 0.3);
$navbar-dark-toggler-icon-bg: url("../img/bootstrap/navbar-dark-toggler-icon.svg");

$navbar-light-color: $color-scorecard-grey-800;
$navbar-light-hover-color: rgba($navbar-light-color, 0.8);
$navbar-light-active-color: $navbar-light-color;
$navbar-light-toggler-border-color: rgba($color-scorecard-grey-600, 0.3);
$navbar-light-toggler-icon-bg: url("../img/bootstrap/navbar-light-toggler-icon.svg");

// Dropdowns

// Pagination

// Jumbotron

// Accordion
$accordion-button-color: $primary;
$accordion-button-bg: tint-color($primary, 90%);

$accordion-button-active-bg: $primary;
$accordion-button-active-color: $white;

$accordion-button-icon: url("../img/bootstrap/accordion-button-icon.svg");
$accordion-button-active-icon: url("../img/bootstrap/accordion-button-icon-active.svg");

// Cards

$card-spacer-y: 1rem;

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

$modal-backdrop-opacity: 0.25;

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

$carousel-control-prev-icon-bg: url("../img/bootstrap/carousel-control-prev-icon.svg");
$carousel-control-next-icon-bg: url("../img/bootstrap/carousel-control-next-icon.svg");

// Spinners

// Close

$btn-close-width: 1rem;
$btn-close-bg: url("../img/bootstrap/btn-close.svg");

// Code

// Utilities
$border-radius: 4px;
$border-priority-1: 1px solid transparentize(#9CBFB7, 0.5);
$border-priority-2: 1px solid transparentize(#9CBFB7, 0.6);
$border-priority-3: 1px solid transparentize(#9CBFB7, 0.8);
$border-priority-2-grey:1px solid transparentize($black, 0.8);

// Printing

// mySociety footer

$mysoc-footer-background-color: $color-scorecard-grey-900;
$mysoc-footer-text-color: $white;
$mysoc-footer-link-text-color: $white;
$mysoc-footer-divider-color: lighten($color-scorecard-grey-900, 10%);
$mysoc-footer-donate-background-color: lighten($color-scorecard-grey-900, 10%);
$mysoc-footer-donate-button-background-color: $color-scorecard-red;
$mysoc-footer-legal-text-color: mix($color-scorecard-grey-200, $color-scorecard-grey-900, 80%);
$mysoc-footer-image-path: '../img/mysoc-footer-dark/';
$mysoc-footer-breakpoint-sm: 576px; // see $grid-breakpoints in bootstrap/variables.scss

// Utilities

// This allow to have classes like  w-lg-10
$utilities: (
  "width": (
    property: width,
    responsive: true,
    class: w,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
  "height": (
    property: height,
    responsive: true,
    class: h,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
);
