$color-scorecard-blue-l2: #96c2ff;
$color-scorecard-blue-l1: #7BD2F8;
$color-scorecard-blue: #07A9F1;
$color-scorecard-blue-d1: #0048af;
$color-scorecard-navy: #005cab;
$color-scorecard-purple: #432ecc;
$color-scorecard-pink: #9e0d58;
$color-scorecard-red: #7c0006;
$color-scorecard-orange: #f29e1a;
$color-scorecard-yellow: #ffd80b;
$color-scorecard-green-l1: #E4FAF5;
$color-scorecard-green: #AFE9DD;
$color-scorecard-green-d1: #0BC7A0;
$color-scorecard-cyan: #54d9e2;
$color-scorecard-grey-100: #f3f6fb;
$color-scorecard-grey-200: #ecf0f5;
$color-scorecard-grey-600: #6c757d;
$color-scorecard-grey-800: #32465a;
$color-scorecard-grey-900: #404040;

// Color system

$white: #FDFDFD;
$black: #1C2624;
$blue: $color-scorecard-blue;
$purple: $color-scorecard-purple;
$pink: $color-scorecard-pink;
$red: $color-scorecard-red;
$orange: $color-scorecard-orange;
$yellow: $color-scorecard-yellow;
$green: $color-scorecard-green;
$cyan: $color-scorecard-cyan;

$light: $white;
$primary: $color-scorecard-blue-d1;
$secondary: $color-scorecard-grey-600;
$success: $color-scorecard-green-d1;
$warning: $color-scorecard-red;
$danger: $color-scorecard-red;
$info: $color-scorecard-yellow;
$dark: $black;

$color-total-score:$primary;
$color-category-1:adjust-hue($primary, 10);
$color-category-2:adjust-hue($primary, 20);
$color-category-3:adjust-hue($primary, 30);
$color-category-4:adjust-hue($primary, 40);
$color-category-5:adjust-hue($primary, 50);
$color-category-6:adjust-hue($primary, 60);
$color-category-7:adjust-hue($primary, 70);
$color-category-8:adjust-hue($primary, 80);
$color-category-9:adjust-hue($primary, 90);

$color-total-score-light:mix($color-total-score, $white, 20%);
$color-category-light-1:mix($color-category-1, $white, 20%);
$color-category-light-2:mix($color-category-2, $white, 20%);
$color-category-light-3:mix($color-category-3, $white, 20%);
$color-category-light-4:mix($color-category-4, $white, 20%);
$color-category-light-5:mix($color-category-5, $white, 20%);
$color-category-light-6:mix($color-category-6, $white, 20%);
$color-category-light-7:mix($color-category-7, $white, 20%);
$color-category-light-8:mix($color-category-8, $white, 20%);
$color-category-light-9:mix($color-category-9, $white, 20%);

$categories:
$color-total-score,
$color-category-1,
$color-category-2,
$color-category-3,
$color-category-4,
$color-category-5,
$color-category-6,
$color-category-7,
$color-category-8,
$color-category-9;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    // 'blue':       $color-scorecard-blue,
    // 'navy':       $color-scorecard-navy,
    // 'purple':     $color-scorecard-purple,
    // 'pink':       $color-scorecard-pink,
    // 'red':        $color-scorecard-red,
    // 'orange':     $color-scorecard-orange,
    // 'yellow':     $color-scorecard-yellow,
    // 'green':      $color-scorecard-green,
    // 'cyan':       $color-scorecard-cyan,
    "black":      $black,
    "white":      $white,
    "total-score": $color-total-score,
    "category-1": $color-category-1,
    "category-2": $color-category-2,
    "category-3": $color-category-3,
    "category-4": $color-category-4,
    "category-5": $color-category-5,
    "category-6": $color-category-6,
    "category-7": $color-category-7,
    "category-8": $color-category-8,
    "category-9": $color-category-9,
    "total-score-light": $color-total-score-light,
    "category-light-1": $color-category-light-1,
    "category-light-2": $color-category-light-2,
    "category-light-3": $color-category-light-3,
    "category-light-4": $color-category-light-4,
    "category-light-5": $color-category-light-5,
    "category-light-6": $color-category-light-6,
    "category-light-7": $color-category-light-7,
    "category-light-8": $color-category-light-8,
    "category-light-9": $color-category-light-9,
);


$body-bg: $white;
$body-color: $black;
$min-contrast-ratio: 2.5;

// Options
$enable-deprecation-messages: false;

// Spacing
$enable-negative-margins: true;

// Body

$body-bg: $white;

// Links

$link-color: $color-scorecard-purple;

// Paragraphs

// Grid breakpoints

// Grid containers

// Grid columns

// Components

// Typography


$body-font-family: "Lato", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif: $body-font-family;


$headings-font-family: "Montserrat", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$blockquote-font-size: 1.1rem;

$mark-bg: #fffeb5;

// Tables

// Buttons + Forms

// Buttons

// Forms

// Form validation

// Z-index master list

// Navs

// Navbar

$navbar-padding-y: 1.5rem;
$navbar-padding-x: 1rem;
$nav-link-padding-y:  0.5rem;
$navbar-nav-link-padding-x:  1rem;
$navbar-dark-color: $white;
$navbar-dark-hover-color: rgba($navbar-dark-color, 0.8);
$navbar-dark-active-color: $navbar-dark-color;
$navbar-dark-toggler-border-color: rgba($navbar-dark-color, 0.3);

$navbar-light-color: $color-scorecard-grey-600;
$navbar-light-hover-color: rgba($navbar-light-color, 0.8);
$navbar-light-active-color: $navbar-light-color;
$navbar-light-toggler-border-color: rgba($color-scorecard-grey-600, 0.3);

// Dropdowns

// Pagination

// Jumbotron

// Cards

$card-spacer-y: 1rem;

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

$modal-backdrop-opacity: 0.25;

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close
$btn-close-width: 1rem;

// Code

// Utilities
$border-radius: 4px;
$border-priority-1: 1px solid transparentize(#9CBFB7, 0.5);
$border-priority-2: 1px solid transparentize(#9CBFB7, 0.6);
$border-priority-3: 1px solid transparentize(#9CBFB7, 0.8);
$border-priority-2-grey:1px solid transparentize($black, 0.8);

// Printing

// mySociety footer

$mysoc-footer-background-color: $color-scorecard-grey-900;
$mysoc-footer-text-color: $white;
$mysoc-footer-link-text-color: $white;
$mysoc-footer-divider-color: lighten($color-scorecard-grey-900, 10%);
$mysoc-footer-donate-background-color: lighten($color-scorecard-grey-900, 10%);
$mysoc-footer-donate-button-background-color: $color-scorecard-red;
$mysoc-footer-legal-text-color: mix($color-scorecard-grey-200, $color-scorecard-grey-900, 80%);
$mysoc-footer-image-path: '../img/mysoc-footer-dark/';
$mysoc-footer-breakpoint-sm: 576px; // see $grid-breakpoints in bootstrap/variables.scss
