{% extends "scoring/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="about-content">

    <div class="pt-5 pb-6 pt-lg-8 pb-lg-8 hero-section with-version-background">
        <div class="d-flex flex-column align-items-end align-items-lg-start hero-version-badge position-absolute">
            <span class="version-year d-block fw-bold lh-1">{{ plan_year }}</span>
            <span class="version-name d-block fw-bold lh-1">Action Scorecards</span>
        </div>
        <div class="container">
            <h1 class="mb-3">About us</h1>
            <p class="mb-4 fs-5" style="max-width: 650px;">Know more about CE UK and the Scorecards</p>
        </div>
    </div>

    <div class="container py-5">
        <div style="max-width: 40em">
            <p>Climate Emergency UK (CE UK) was set up in response to the climate emergency declarations that councils started making from the end of 2018. CE UK began by collecting these declarations, and the Climate Action Plans that followed, on its website. We first published the Council Climate Plan Scorecards in January 2022, measuring the strength of councils’ written climate action plans. We published the Council Climate Action Scorecards in October 2023, measuring actual completed action towards net zero from all UK councils for the first time.</p>
            <p><a href="https://climateemergency.uk/press-release-councils-race-to-net-zero-is-slow/">Click here to read our press release</a> on the launch of the 2025 Council Climate Action Scorecards. For interviews, data and further analysis please contact <a href="mailto:press@climateermergency.uk">press@climateermergency.uk</a></p>

            <p><a href="https://climateemergency.uk/action-scorecards/#data-packages">Click here</a> to buy the data that is available on this website in spreadsheet (.csv) format.</p>

            <h2 class="mt-5 mb-3">History of the Scorecards</h2>
            <p>CE UK worked with longstanding civic tech NGO <a href="https://www.mysociety.org/">mySociety</a> to create <a href="https://cape.mysociety.org/">CAPE</a>, the Climate Action Plan Explorer. This took the plans collected by CE UK and placed them into a database, allowing users to easily locate and read their council’s Climate Action Plan, if it has one, and search across all councils' plans. </p>

            <p>At around the same time, CE UK created the <a href="https://www.climateemergency.uk/blog/climate-action-plan-checklist/">Climate Action Plan Checklist</a> with the support of Friends of the Earth, Ashden, the Centre for Alternative Technology and APSE Energy. This extensively researched document outlines the elements of a strong Climate Action Plan and highlights best practice from councils all over the world. Using CAPE and the Checklist, CE UK assessed the quality of all UK councils’ written climate action plan, publishing the Council Climate Plan Scorecards in January 2022. You can find out more about the Plan Scorecards and see the <a href="{% url 'scoring2022:home' %}">full results here</a>.</p>

            <p>Once the Plan Scorecards were published, CE UK moved on to working out how to measure and assess councils on actual, completed climate action. We created a completely new methodology and marking system, with input from over 90 different organisations and individuals across the sector and from an Advisory Group. You can find out more about how we developed  the Action Scorecard methodology <a href="https://councilclimatescorecards.uk/methodology/#section-developing-the-scoring-system">here</a>.</p>

            <h2 class="mt-5 mb-3">Why did we create the Action Scorecards?</h2>
            <p>According to the Climate Change Committee’s <a href="https://www.theccc.org.uk/wp-content/uploads/2020/12/Local-Authorities-and-the-Sixth-Carbon-Budget.pdf">Local Authorities and the Sixth Carbon Budget Report</a>, <i class="fw-bold">“More than half of the emissions cuts needed rely on people and businesses taking up low-carbon solutions – decisions that are made at a local and individual level. Many of these decisions depend on having supporting infrastructure and systems in place. Local authorities have powers or influence over roughly a third of emissions in their local areas.”</i></p>

            <p>At Climate Emergency UK we believe there is so much that local authorities can do to support the transition to net-zero. That’s why we’ve assessed every UK councils’ on their climate action. </p>
            <p>The Council Climate Action Scorecards:</p>
            <ul>
                <li>Effectively hold councils to account on their claimed climate action and provides credible and transparent data on council climate action in the UK.</li>
                <li>Allow councils to use the results of the Council Climate Action Scorecards to improve their current Climate Action Plans and implement effective policies to help them  reach net-zero in a just way within their current constraints.</li>
                <li>Allow campaigners, through increased citizen knowledge from the Scorecards, use the results of the Council Climate Action Scorecards to hold their councils to account and lobby for specific and targeted policy improvements and win further climate action.</li>
                <li>Are used by CE UK and other organisations in the sector to win national government changes (from the UK Parliament and the devolved nations) that support councils to take further climate action.</li>
            </ul>
            <p>These scorecards also highlight just how hard some councils are working despite lack of support from the national government, as well as encouraging councils who are not performing as well to take more action by seeing what is possible.</p>
            <p><a href="https://climateemergency.uk/case-studies/">Visit our website for case studies</a> on how council officers, councillors and residents have used the Scorecards to secure further support for climate action across the UK.</p>
        </div>
    </div>

    {% include year_content %}
</div>
{% endblock %}
