{% load static %}
{% load compress %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}Council Climate Scorecards{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scoring/scss/main.scss' %}">
    {% endcompress %}
</head>
<body class="down">
    <nav class="navbar navbar-expand-lg site-nav border-bottom">
        <div class="d-flex flex-row align-items-center">
            <span class="navbar-brand">
                {% include 'caps/icons/council-climate-logo-2023.html' with classes='text-dark' width='7em' height='auto' role='presentation' %}
                <span class="visually-hidden">Council Climate Action Scorecards</span>
            </span>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column align-items-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-0">
                <li id="home-page" class="nav-item">
                    <a class="nav-link" href="https://www.climateemergency.uk/">Climate Emergency UK</a>
                </li>
                <li id="methodology-page" class="nav-item">
                    <a class="nav-link" href="https://www.mysociety.org">mySociety</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer>
        <div class="bg-orange-100 py-4 py-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-8">
                        <h2 style="font-size: 1.25em; color: rgb(67, 67, 67); font-weight: 700;">
                            What impact are the Scorecards making in your council?
                        </h2>
                        <p style="max-width: 40em">
                            <a href="https://forms.gle/X6GtMj5Y23jpR49a7">Fill out this short survey</a> to let us know how you have used the 2025 Action Scorecards.</strong>
                        </p>
                        <hr class="my-5">
                        <div class="newsletter-wrapper p-0">
                            <link href="https://actionnetwork.org/css/style-embed-v3.css" rel="stylesheet" type="text/css" />
                            <script src="//actionnetwork.org/widgets/v5/form/sign-up-to-our-newsletter-9?format=js&amp;source=widget"></script>
                            <div id="can-form-area-sign-up-to-our-newsletter-9"></div>
                            <style>
                                #can_embed_form #d_sharing.affirmative_optin_d_sharing ul { margin-top: 0 !important; }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-bg-dark py-4 py-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 d-flex flex-column mb-4 mb-md-0">
                        {% include 'caps/icons/council-climate-logo-2023.html' with classes='text-white' width='160px' height='56px' role='presentation' %}
                    </div>
                </div>

                <hr class="my-5">
                <div class="row">
                    <div class="col-12 col-md-4 mb-4 mb-md-0">
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                            <div class="d-flex flex-column align-items-start mb-4 mb-lg-0">
                                <span class="opacity-75">A service from</span>
                                <a class="logo mt-1 ceuk-logo" href="https://www.climateemergency.uk/">Climate Emergency UK</a>
                            </div>

                            <div class="d-flex flex-column align-items-start">
                                <span class="opacity-75">Built by</span>
                                <a class="logo mt-1 mysociety-logo" href="https://www.mysociety.org/">mySociety</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4 mb-md-0">
                        <p class="fs-7">Climate Emergency UK are proud members of <a class="link-light" href="https://www.adeptnet.org.uk/blueprintcoalition">the Blueprint Coalition</a> and <a class="link-light" href="https://www.theclimatecoalition.org">The Climate Coalition</a>.</p>
                        <span class="fs-7"><a class="link-light" href="https://www.mysociety.org">mySociety</a> is a registered charity (1076346) and a limited company (03277032).</span>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="media-icons-wrapper d-flex flex-row flex-nowrap gap-3">
                            {% include 'scoring/includes/social-media-links.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'scoring/js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</body>
</html>
