{% load static %}
{% load compress %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if canonical_path %}
    <link rel="canonical" href="https://councilclimatescorecards.uk{{ canonical_path }}">
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link rel="icon" href="{% static 'scoring/img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <title>{{ page_title }} | {{ site_title }}</title>
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:site_name" content="{{ site_title }}">
    <meta property="og:description" name="description" content="{{ page_description|default:'Want to know how effective UK councils’ climate plans and strategies are? Check out the Council Climate Scorecards to see your Council’s score and how it compares to others across the UK.' }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://councilclimatescorecards.uk{{ og_image_path|default:'/static/scoring/img/og-image.png' }}">
    <meta property="og:image:type" content="{{ og_image_type|default:'image/png' }}">
    <meta property="og:image:width" content="{{ og_image_width|default:'1200' }}">
    <meta property="og:image:height" content="{{ og_image_height|default:'675' }}">
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scoring/scss/main.scss' %}">
    {% endcompress %}
  {% if GOOGLE_ANALYTICS_SCORECARDS %}
    <script defer>Object.defineProperty(document,"cookie",{get:function(){var t=Object.getOwnPropertyDescriptor(Document.prototype,"cookie").get.call(document);return t.trim().length>0&&(t+="; "),t+="_ga=GA1.1."+Math.floor(1e9*Math.random())+"."+Math.floor(1e9*Math.random())},set:function(t){t.trim().startsWith("_ga")||Object.getOwnPropertyDescriptor(Document.prototype,"cookie").set.call(document,t)}});</script>
    <script defer src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_SCORECARDS }}"></script>
    <script>
        var client_id = Math.floor(Math.random() * 1000000000) + '.' + Math.floor(Math.random() * 1000000000);
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config','{{ GOOGLE_ANALYTICS_SCORECARDS }}', {'client_id': client_id, 'cookie_expires': 1 });
    </script>
  {% endif %}
    {% block header_extra %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %} {{ current_page }} {% if methodology_year == 2025 %}year-2025{% endif %}">

    <nav class="navbar navbar-expand-lg site-nav">
        <div class="d-flex flex-row align-items-center">
            <a class="navbar-brand" href="{% url 'scoring:home' %}">
                {% include 'caps/icons/council-climate-logo-2023.html' with classes='text-dark' width='7em' height='2.5em' role='presentation' %}
                <span class="visually-hidden">Council Climate Action Scorecards</span>
            </a>
    
            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a class="dropdown-toggle btn btn-primary" href="#" role="button" id="scorecardsVersion" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ plan_year }}
                    </a>
                    <ul class="dropdown-menu position-absolute ms-n3 shadow-lg" aria-labelledby="scorecardsVersion">
                        <li><a class="dropdown-item" href="{% url 'scoring:home' %}"{% if plan_year == '2025' %} aria-current="page"{% endif %}>2025 Action Scorecards</a></li>
                        <li><a class="dropdown-item" href="{% url 'year_scoring:home' 2023 %}"{% if plan_year == '2023' %} aria-current="page"{% endif %}>2023 Action Scorecards</a></li>
                        <li><a class="dropdown-item" href="{% url 'scoring2022:home' %}">2021 Plan Scorecards</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column align-items-end" id="navbarSupportedContent">
            <form action="{% url 'scoring:location_results' %}" class="navbar-location-search-form p-3 p-lg-2 rounded-bottom">
                <label for="navbarLocationSearch">Go to a council's page</label>
                <input class="form-control form-control-sm searchbar js-location-search-autocomplete" type="search" name="pc" id="navbarLocationSearch" placeholder="Postcode">
                <button type="submit" class="visually-hidden">Search</button>
            </form>
            <ul class="navbar-nav {% if current_page == 'home-page' %}mt-lg-4{% endif %}">
                <li id="home-page" class="nav-item">
                    <a class="nav-link link-primary" href="{% url 'scoring:home' %}">Scorecards</a>
                </li>
                {% if current_plan_year %}
                    <li id="sections-page" class="nav-item">
                        <a class="nav-link link-primary" href="{% url 'scoring:sections' %}">Sections</a>
                    </li>
                    <li id="methodology-page" class="nav-item">
                        <a class="nav-link link-primary" href="{% url 'scoring:methodology' %}">{{ plan_year }} Methodology</a>
                    </li>
                    <li id="how-to-page" class="nav-item">
                        <a class="nav-link link-primary" href="{% url 'generic:how-to-use-the-scorecards' %}">How to use the Scorecards</a>
                    </li>
                    <li id="about-page" class="nav-item">
                        <a class="nav-link link-primary" href="{% url 'scoring:about' %}">About</a>
                    </li>
                    <li id="contact-page" class="nav-item">
                        <a class="nav-link link-primary" href="{% url 'generic:contact' %}">Contact</a>
                    </li>
                {% else %}
                    <li id="sections-page" class="nav-item">
                        <a class="nav-link link-primary" href="{% url 'year_scoring:sections' plan_year %}">Sections</a>
                    </li>
                    <li id="methodology-page" class="nav-item">
                        <a class="nav-link link-primary" href="{% url 'year_scoring:methodology' plan_year %}">{{ plan_year }} Methodology</a>
                    </li>
                    <li id="how-to-page" class="nav-item">
                        <a class="nav-link link-primary" href="{% url 'generic:how-to-use-the-scorecards' %}">How to use the Scorecards</a>
                    </li>
                    <li id="about-page" class="nav-item">
                        <a class="nav-link link-primary" href="{% url 'year_scoring:about' plan_year %}">About</a>
                    </li>
                    <li id="contact-page" class="nav-item">
                        <a class="nav-link link-primary" href="{% url 'generic:contact' %}">Contact</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg py-2 justify-content-center bg-orange-100 border-top gap-2 gap-md-3">
        <span class="text-center">Please help Climate Emergency UK by donating as a Scorecard Sustainer. We rely on donations to remain independent.</span>
        <a href="https://www.paypal.com/donate/?hosted_button_id=JB823YSUV5X9S" class="btn btn-sm btn-primary rounded-pill px-3">Donate</a>
    </nav>

{% block content %}{% endblock %}

    <footer>
        <div class="bg-orange-100 py-4 py-lg-5" id="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-8">
                        <div class="newsletter-wrapper p-0">
                            <link href="https://actionnetwork.org/css/style-embed-v3.css" rel="stylesheet" type="text/css" />
                            <script src="//actionnetwork.org/widgets/v5/form/sign-up-to-our-newsletter-9?format=js&amp;source=widget"></script>
                            <div id="can-form-area-sign-up-to-our-newsletter-9"></div>
                            <style>
                                #can_embed_form #d_sharing.affirmative_optin_d_sharing ul { margin-top: 0 !important; }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-bg-dark py-4 py-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 d-flex flex-column mb-4 mb-md-0">
                        {% include 'caps/icons/council-climate-logo-2023.html' with classes='text-white' width='160px' height='56px' role='presentation' %}
                        <span class="mt-3">Climate Emergency UK assessed all UK councils on the actions they've taken towards net zero. The Scorecard assessment consists of 91 questions or less, depending on council type, across 7 different sections, created in consultation with over 90 different organisations and individuals. Each council was marked against these criteria and given a right to reply before the scores underwent a final audit. This work was completed between January and August 2023.
                        </span>
                    </div>

                    <div class="col-12 offset-md-2 col-md-4 mb-md-0 mt-md-3 d-flex flex-column">
                        <a class="link-light py-2" href="{% url 'scoring:home' %}">Scorecards</a>
                        <a class="link-light py-2" href="{% url 'scoring:methodology' %}">Methodology</a>
                        <a class="link-light py-2" href="{% url 'generic:how-to-use-the-scorecards' %}">How to use the Scorecards</a>
                        <a class="link-light py-2" href="{% url 'scoring:about' %}">About</a>
                        <a class="link-light py-2" href="{% url 'generic:privacy' %}">Privacy policy</a>
                        <a class="link-light py-2" href="{% url 'generic:contact' %}">Contact</a>
                    </div>
                </div>

                <hr class="my-5">
                <div class="row">
                    <div class="col-12 col-md-4 mb-4 mb-md-0">
                        <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                            <div class="d-flex flex-column align-items-start mb-4 mb-lg-0">
                                <span class="opacity-75">A service from</span>
                                <a class="logo mt-1 ceuk-logo" href="https://www.climateemergency.uk/">Climate Emergency UK</a>
                            </div>

                            <div class="d-flex flex-column align-items-start">
                                <span class="opacity-75">Built by</span>
                                <a class="logo mt-1 mysociety-logo" href="https://www.mysociety.org/">mySociety</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4 mb-md-0">
                        <p class="fs-7">Climate Emergency UK are proud members of <a class="link-light" href="https://www.adeptnet.org.uk/blueprintcoalition">the Blueprint Coalition</a> and <a class="link-light" href="https://www.theclimatecoalition.org">The Climate Coalition</a>.</p>
                        <span class="fs-7"><a class="link-light" href="https://www.mysociety.org">mySociety</a> is a registered charity (1076346) and a limited company (03277032).</span>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="media-icons-wrapper d-flex flex-row flex-nowrap">
                            <a class=" me-3 scorecard-footer__badge scorecard-footer__badge--twitter" href="https://twitter.com/ClimateEmergUK">Twitter</a>
                            <a class=" me-3 scorecard-footer__badge scorecard-footer__badge--facebook" href="https://www.facebook.com/climateemergency/">Facebook</a>
                            <a class=" me-3 scorecard-footer__badge scorecard-footer__badge--instagram" href="https://www.instagram.com/climateemergencyuk/">Instagram</a>
                            <a class=" me-3 scorecard-footer__badge scorecard-footer__badge--github" href="https://github.com/mysociety/caps">Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'awesomplete/awesomplete.min.js' %}"></script>
    {% include 'scoring/includes/location-search-autocomplete.html' %}
    <script src="{% static 'scoring/js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
        })
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

</body>
</html>
