{% extends "scoring/base.html" %}
{% load django_bootstrap5 %}
{% load caps_templatetags %}

{% block content %}
<div class="hero-section with-version-background py-5 py-lg-6">
    <div class="d-flex flex-column align-items-end align-items-lg-start hero-version-badge position-absolute">
      <span class="version-year d-block fw-bold lh-1">2023</span>
      <span class="version-name d-block fw-bold lh-1">Action Scorecards</span>
    </div>
    <div class="container">
        <nav class="d-flex align-items-center flex-wrap mb-n2">
            <a href="{% include 'scoring/includes/scoring_url.html' with slug=council.get_scoring_group.slug %}" class="btn btn-sm btn-outline-primary d-flex align-items-center mb-2 me-3">
                {% include 'caps/icons/chevron-left.html' with classes='me-2' %}
                See this council in context
            </a>
            {% if previous_score %}
            <a href="{% url 'scoring2022:council' slug=council.slug %}" class="btn btn-sm btn-outline-primary d-flex align-items-center mb-2 me-3">
                See this council’s 2021 Plan Scorecard
                {% include 'caps/icons/external-link.html' with classes='ms-2' %}
            </a>
            {% endif %}
        </nav>

        <h1 class="mt-4">{{ council.name }}</h1>

        {% if plan_score.top_performer %}
        <div class="d-flex align-items-center">
            {% include 'caps/icons/scorecards-star.html' with classes='me-2' width='1rem' height='1rem' role='presentation' %}
            This council is one of the highest scoring {% include 'caps/includes/authority_type.html' with group=authority_type %} councils.
        </div>
      {% endif %}

        <dl class="mt-4 mb-0 council-stats-grid">
            <dt>Nation</dt>
            <dd>{{ council.get_country_display }}</dd>
            <dt>Net Zero target date</dt>
            {% if target %}
            <dd>{{ target.get_scope_display }}: {{ target.target_year }}</dd>
            {% else %}
            <dd>No target</dd>
            {% endif %}
          {% if plan_score.deprivation_quintile %}
            <dt>Index of multiple deprivation</dt>
            <dd>
                {{ plan_score.deprivation_quintile }}
                {% comment %} TODO show word equivalent? eg "high deprivation"? {% endcomment %}
            </dd>
          {% endif %}
          {% if plan_score.population %}
            <dt>Total population</dt>
            <dd>{{ plan_score.population }}</dd>
          {% endif %}
          {% if plan_score.get_ruc_cluster_display %}
            <dt>Urbanisation</dt>
            <dd>{{ plan_score.get_ruc_cluster_display }}</dd>
          {% endif %}
          {% if plan_score.political_control %}
            <dt>Political control (Sept 2023)</dt>
            <dd>{{ plan_score.political_control }}</dd>
          {% endif %}
        </dl>

    </div>
</div>

<div class="py-5 border-bottom">
    <div class="container">
      {% comment %} TODO enable message if Council is under review {% endcomment %}
        {% comment %} 
        <div class="row mb-3">
          <div class="col-lg-5">
            <div class="alert alert-warning mb-4 mb-lg-5" role="alert">
              <span class="warning-icon">We are currently reviewing this Scorecard at the request of the council.</span>
            </div>
          </div>
        </div> 
      {% endcomment %}



      {% comment %} TODO for this this council display the "Not scorec message"
      Cumberland
      Westmorland and Furness
      North Yorkshire
      Somerset
      {% endcomment %}
      {% comment %} <div class="row mb-3">
        <div class="col-lg-5">
          <div class="alert alert-warning mb-4 mb-lg-5" role="alert">
            <p class="fw-bold fs-5">Not scored</p>
            <span class="warning-icon">Newly formed council since April 2023. These councils will be assessed in future Scorecard editions.</span>
          </div>
        </div>
      </div>  {% endcomment %}

      {% comment %} TODO if  Isle of Scilly display the following message:
      {% endcomment %}
      {% comment %} <div class="row mb-3">
        <div class="col-lg-5">
          <div class="alert alert-info mb-4 mb-lg-5" role="alert">
            <span class="warning-icon">Due to technical issues, this council results are not yet available. They will be published soon.</span>
          </div>
        </div>
      </div> {% endcomment %}


        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0">
              <p>Climate Emergency UK assessed all UK councils on the actions they've taken towards net zero. The Scorecard assessment consists of 91 questions or less, depending on council type, across 7 different sections, created in consultation with over 90 different organisations and individuals. Each council was marked against these criteria and given a right to reply before the scores underwent a final audit. This work was completed between January and August 2023.  Unless otherwise stated, council climate action from 1st January 2019 up until 31st March 2023 was assessed.</p>

              {% if previous_score %}
              <p>You can check out how this council scored in the Plan Scorecards (different questions to the Action Scorecards) <a href="{% url 'scoring2022:council' slug=council.slug %}">here</a>. </p>
              {% endif %}
            </div>
            <div class="col-lg-5 offset-lg-1">
              <h2 class="mb-4">Key definitions</h2>

              <dl>
                <dt>Question Weighting</dt>
                <dd>The question weighting determines the importance of that question to the overall section score. To ensure appropriate weighting to each question, each raw score for a question has been translated into a score out of one, two or three, depending on whether the question is weighted low (one), medium (two) or high (three). The questions that are weighted high are those we consider to have the biggest impact on emission reductions and a sustained long-term impact. For further information on Question Weighting see <a href="{% url 'scoring:methodology' %}#section-question-weighting-within">here</a>.</dd>

                <dt class="mt-3">Section Score & Weighting</dt>
                <dd>The overall section score for a council is given in the table below. The final score is created from adding up the overall section scores and applying the section weighting. For example, receiving a 50% score in Collaboration & Engagement equals 5% of a council’s overall score. This is because Collaboration & Engagement is worth 10% of a council's overall score. For further information on Section Weighting see <a href="{% url 'scoring:methodology' %}#section-weightings">here</a>.</dd>
              </dl>
            </div>
        </div>
    </div>
</div>

{% if not new_council and not old_council and not no_plan %}
<div class="container council-page py-5 js-dynamic-content" data-active-source-type="default">

    <div class="row">
      <div class="col-md-6">
        <h3>Action Scorecard: {{ council.short_name }}</h3>
        <p>Councils have been scored across seven sections, each covering the important actions that councils can be taking towards net zero. The marks within these sections add up to make up the council's overall score. Here you can see where a council performs well and not so well in each section — and compare it to other councils at this granular level.</p>
      </div>
    </div>


    <div class="row my-4 my-lg-5">
        <div class="col-md-6 col-lg-4 d-none d-md-block">
            <div class="card h-100">
                <div class="card-header">
                    <h3 class="fs-6 mb-0">Choose councils to compare</h3>
                </div>
                <div class="card-body">
                    <form id="advancedFilterForm" action=".">
                      {% if comparisons|length > 2 %}
                        <p class="warning-message">You have reached the maximum number of councils that can be compared.</p>
                      {% else %}
                        <input class="border border-primary form-control searchbar blue dark js-location-compare-autocomplete" name="search" id="compare-search" type="search" placeholder="Council name" aria-label="Council name">
                      {% endif %}
                      {% if comparisons %}
                        <div class="selected-council-wrapper mt-4 mb-3">
                          {% for comparison in comparisons %}
                            <a href="#" class="radio-btn is--with-label is--with-closed-icon mr-1 js-comparison-council" data-slug="{{ comparison.council.slug }}">{{ comparison.council.name }}</a>
                          {% endfor %}
                        </div>
                        <a href="{% url 'scoring:council' council.slug %}">Clear all</a>
                      {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-8">
            <div class="card h-100">
                <div class="card-header">
                    <h3 class="fs-6 mb-0">Filter questions by how they were marked or other options</h3>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-row flex-wrap" style="gap:0.5rem">
                        <button class="radio-btn is--with-label mr-1" data-question-source-type="default">All</button>
                        <button class="radio-btn is--with-label mr-1" data-question-source-type="volunteer">Volunteer Research</button>
                        <button class="radio-btn is--with-label mr-1" data-question-source-type="foi">FOI</button>
                        <button class="radio-btn is--with-label mr-1" data-question-source-type="national-data">National Data</button>
                        <button class="radio-btn is--with-label mr-1" data-question-source-type="national-data-and-volunteer">National Data and Volunteer Research</button>
                    </div>
                    <form class="mt-3 d-flex flex-column flex-md-row gap-3 gap-md-4">
                        <div class="form-check-flex">
                          <input class="form-check-input" type="checkbox" id="council-operations-only" name="council-operations-only" >
                          <label class="form-check-label" for="council-operations-only">Display only Council operations questions</label>
                        </div>
                        <div class="form-check-flex">
                          <input class="form-check-input" type="checkbox" id="display-complete-content" name="display-complete-content">
                          <label class="form-check-label" for="display-complete-content">Show full question details by default</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="d-md-none bg-secondary p-3">
      <h3 class="exclamation text-white">Visit us again on a bigger screen</h3>
      <p class="text-white mb-3">You'll find more options, like the ability to compare your council's Scorecard with other councils, and see a more granular breakdown of how they did on each question of the Scorecards.</p>
    </div>

    <table class="table-question-council mb-3 mt-4">
        <thead class="text-bg-primary position-sticky z-index-3 top-0">
            <tr>
                <th scope="col" class="w-50 text-start question-header-cell border-end border-opacity-25 border-primary">Questions</th>
                <th scope="col" class="current-council-score">{{ council.name }}</th>
              {% for comparison in comparisons %}
                <th scope="col" class="d-none d-md-table-cell comparison-council">{{ comparison.council.name }}</th>
              {% endfor %}
                <th scope="col" class="d-none d-md-table-cell">
                    Councils with full marks per question
                </th>
            </tr>
        </thead>

      {% for section in sections %}
        <tbody class="table-question-council__section">

          {% if section.has_negative_points %}
            <tr data-has-plan="no" class="section-row bg-red-100 text-red-900">
          {% else %}
            <tr data-has-plan="no" class="section-row bg-primary-100">
          {% endif %}

                <td colspan="1" class="section-cell border-bottom border-end border-opacity-25 border-primary text-start">
                    {{ section.description }}

                    {% if section.has_negative_points %}
                    <div class="d-flex flex-column mb-0 mt-2 fs-7 text-warning">
                        <p class="mb-1">
                          {% include 'caps/icons/warning.html' with classes='me-1 mb-1' width='1.1em' height='1.1em' role='presentation' %}
                          <strong class="me-2">Penalty marks</strong>
                        </p>
                        {{ council.name }} incurred a penalty of {{ section.negative_percent|floatformat:0 }}% in this section
                    </div>
                    {% endif %}

                    <button type="button" class="d-block mt-2 d-md-none btn btn-outline-primary btn-sm js-toggle-council-question-table-section rounded-0" aria-label="Expand this section" title="Expand this section">
                        {% include 'caps/icons/chevron-down.html' with classes='align-text-bottom' width='1.2em' height='1.2em' role='presentation' %}
                        Show questions
                    </button>
                </td>

              {% if section.top_performer %}
                <td class="score border-bottom border-opacity-25 border-primary is--section-score">
                    {% include 'caps/icons/scorecards-star.html' with classes='text-info align-text-bottom me-1' width='1.2em' height='1.2rem' role='presentation' %}
                    <span>{{ section.score }}/{{ section.max_score }}</span>
                </td>
              {% else %}
                <td class="score border-bottom border-opacity-25 border-primary is--section-score">
                  <span>{{section.weighted_score|floatformat:0 }}%</span>
                    {% if section.has_negative_points %}
                    <div class="fs-7 mt-2">
                        {{ section.score }} &equals; Total score ({{ section.non_negative_max }}) &minus; Penalty points ({{ section.negative_points }})
                    </div>
                    {% endif %}
                </td>
              {% endif %}

              {% for comparison in section.comparisons %}
                <td class="d-none d-md-table-cell score border-bottom border-opacity-25 border-primary is--section-score {% if comparison.top_performer %}top-performer{% endif %}">
                    {{ comparison.weighted_score|floatformat:0 }}%
                </td>
              {% endfor %}

                <td class="d-none d-md-table-cell top-tier-score border-bottom border-opacity-25 border-primary"></td>

                <td class="button-wrapper p-0 bg-white d-none d-md-table-cell text-start">
                    <button type="button" class="btn btn-outline-primary js-toggle-council-question-table-section border-start-0 rounded-0" aria-label="Expand this section" title="Expand this section">
                        {% include 'caps/icons/chevron-down.html' with classes='align-text-bottom' width='1.2em' height='1.2em' role='presentation' %}
                    </button>
                </td>
            </tr>

          {% for answer in section.answers %}
            {% comment %} TODO
                Add the source(How this question is marked) to tr element.
                'js-volunteer',
                'js-foi',
                'js-national-data',
                'js-national-data-and-volunteer',
            {% endcomment %}
            {% comment %} TODO
                council operation only switch
                for each row add the correct attribute value. For council only the value should be true, otherwise false.
                [data-active-council-operation-only="false"]
            {% endcomment %}
            <tr class="question-row js-default js-{{ answer.how_marked }}" data-active-council-operation-only="true">
                <td data-column="answer" class="border-start border-bottom border-end ">
                    <div class="question-content-table text-start">
                        <div class="row">
                            <div class="col-1 mb-2">
                                <span class="badge bg-secondary p-1 question-no">{{ answer.pretty_code }}</span>
                            </div>
                            <div class="col-11">
                              {{ answer.question | linebreaks }}

                              {% if answer.type == "negative" %}
                                <div class="d-flex mb-3 fs-7 text-red-500">
                                    {% include 'caps/icons/warning.html' with classes='mt-1 me-2 flex-shrink-0 flex-grow-0' width='1em' height='1em' role='presentation' %}
                                    <p class="mb-0">
                                        <strong>Penalty marks:</strong>
                                        The maximum number of points for this question is 0.
                                        <a href="{% url 'scoring:methodology' %}#section-question-weighting-within" style="color: inherit;">Read more about penalty mark questions.</a>
                                    </p>
                                </div>
                              {% endif %}

                              <button type="button" class="js-hidden-toggle btn btn-outline-secondary btn-sm" aria-controls="section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}">
                                How is this marked?
                              </button>
                              <div class="text-muted fs-7" id="section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}" hidden="true">
                                  <dl class="row mt-2 mb-0">
                                      <dt class="col-sm-4">Source</dt>
                                      <dd class="col-sm-8">{{ answer.how_marked_display }}</dd>
                                      <dt class="col-sm-4">Question weight</dt>
                                      <dd class="col-sm-8">{{ answer.weighting }}</dd>
                                      <dt class="col-sm-4">Evidence</dt>
                                      <dd class="col-sm-8">
                                          {% for link in answer.evidence_links %}
                                          <a href="{{ link }}" style="display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ link }}</a>
                                          {% empty %}
                                          No evidence available.
                                          {% endfor %}
                                      </dd>
                                  </dl>
                              </div>

                                <button type="button" class="btn btn-outline-secondary btn-sm d-block mt-3" data-bs-toggle="modal" data-bs-target="#criteria-section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}">
                                  View criteria
                                </button>

                                <div class="modal fade" id="criteria-section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}" tabindex="-1" aria-labelledby="criteria-section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}Label" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="criteria-section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}Label">
                                            <p>Criteria</p>
                                            <div class="fw-normal fs-7">{{ answer.question | linebreaks }}</div>
                                          </h5>
                                        </div>
                                        <div class="modal-body">
                                          {{ answer.criteria|linebreaks }}
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </td>

                <td data-column="score" class="score border-bottom">
                    <span>{{ answer.score }}/{{ answer.max }}</span>
                    {% comment %} TODO IF question is negative then "No penalty marks awarded" {% endcomment %}
                </td>

              {% for comparison in answer.comparisons %}
                <td data-column="score" class="d-none d-md-table-cell score border-bottom">
                    <span>{{ comparison.score }}/{{ comparison.max }}</span>
                </td>
              {% endfor %}

                <td class="d-none d-md-table-cell top-tier-score border-bottom border-end">
                    <a href="{% include 'scoring/includes/scoring_url.html' with slug=authority_type.slug %}?sort_by={{ section.code }}" class="mx-auto" style="text-transform: none">
                        {{ answer.council_count }} out of {{ council_count }}
                    </a>
                    <span class="fs-8 mt-1 me-0 ms-auto d-block">
                        {% include 'caps/includes/authority_type.html' with group=authority_type %}
                      {% if answer.type == "negative" %}
                        councils got <strong>no penalty marks</strong> for this question.
                      {% else %}
                        councils got full marks for this question.
                      {% endif %}
                    </span>
                </td>
            </tr>
          {% endfor %}

        </tbody>
      {% endfor %}

    </table>
    <div class="d-flex gap-2 mb-5">
      {% comment %} <a class="table-social-icon facebook mr-1" title="Share this page on Facebook" aria-label="Share this page on Facebook" href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri|urlencode }}"></a> {% endcomment %}
      <a class="table-social-icon twitter" title="Share this page on Twitter" aria-label="Share this page on Twitter" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri|urlencode }}&amp;text={{ twitter_tweet_text|urlencode }}"></a>
    </div>

</div>
{% else %}
<div class="py-5 border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <h2 class="h3 mb-3">No Scorecard available</h2>
                <p>
                {% if new_council %}
                  This council was recently created when the Scorecards were marked so was not included.
                {% elif old_council %}
                  This council had been disbanded when the Scorecards were marked so was not included.
                {% else %}
                  We do not currently have a Scorecard for this council.
                {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
