{% extends "scoring/base-preview.html" %}
{% load static %}

{% block bodyclass %}version-2-gradient council-preview{% endblock %}

{% block content %}
    <header class="mb-6">
        {% include 'caps/icons/council-climate-logo-2023.html' with classes='open-graph-preview__scorecards-logo' width='10em' height='auto' role='presentation' %}
        <span class="open-graph-preview__year">2023</span>
        <img src="{% static 'scoring/img/ceuk-logo-white.png' %}" alt="" class="open-graph-preview__ceuk-logo">
    </header>

    <h1 id="council-preview-heading" class="text-shadow">{{ council.name }}</h1>
    {% comment %} TODO IF it is a top performer in the overall score {% endcomment %}
    <span class="mb-5 me-auto fw-bold subtitle text-shadow text-yellow-300 mt-2">
        {% include 'caps/icons/scorecards-star.html' with classes='me-1 align-text-top' width='1.2em' height='auto' role='presentation' %}
        High scoring council &mdash; Single Tier
    </span>

    <table>
        <thead>
            <tr>
                <th scope="col">Overall score</th>
                <th scope="col">Highest scoring section</th>
                <th scope="col">Lowest scoring section</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-top">
                    <span class="open-graph-preview__score">54%</span>
                </td>
                <td class="align-top">
                    <span class="open-graph-preview__score">90%</span>
                    <span class="open-graph-preview__section">Governance &amp; Finance</span>
                    {% comment %} TODO IF it is a top performer council for the highest score section {% endcomment %}
                    <span class="mt-3 mx-auto text-yellow-300 mt-3 d-block">
                        {% include 'caps/icons/scorecards-star.html' with classes='me-1 align-top' width='1em' height='auto' role='presentation' %}
                        High scoring council
                    </span>
                </td>
                <td class="align-top">
                    <span class="open-graph-preview__score">2%</span>
                    <span class="open-graph-preview__section">Waste Reduction &amp; Food</span>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
