{% extends "scoring/base-preview.html" %}
{% load static %}

{% block bodyclass %}version-4-gradient{% endblock %}

{% block content %}
    <header class="mb-5">
        {% include 'caps/icons/council-climate-logo-2023.html' with classes='open-graph-preview__scorecards-logo' width='10em' height='auto' role='presentation' %}
        <span class="open-graph-preview__year">2023</span>
        <img src="{% static 'scoring/img/ceuk-logo-white.png' %}" alt="" class="open-graph-preview__ceuk-logo">
    </header>

    <div class="mb-5 me-auto fw-bold text-shadow text-yellow-300" style="font-size: 3rem">
        {% include 'caps/icons/scorecards-star.html' with classes='me-1 align-text-top' width='1.2em' height='auto' role='presentation' %}
        <span>High scoring council in Planning & Land Use</span>
    </div>


    <div class="row position-relative">
        <div class="col-8">
            <h1 class="text-shadow" id="top-performer-council-name" style="font-size: 5rem">{{ council.name }}</h1>
        </div>

        <div class="col-4">
            <div class="d-flex flex-column align-items-end justify-items-end" style="width:fit-content; float:right">
                <span class="mb-3 text-shadow" style="font-size: 4rem">Score</span>
                <span class="open-graph-preview__score fw-bold text-shadow" style="font-size: 9rem">53%</span>
            </div>
        </div>
    </div>
{% endblock %}
