{% extends "scoring/base-preview.html" %}
{% load static caps_templatetags %}

{% block bodyclass %}version-2-gradient council-preview{% endblock %}

{% block content %}
    <h1 class="text-shadow js-count">
        <span{% if add_nosplit_span %} class="text-nowrap"{% endif %}>
        {{ council.name }}
        </span>
    </h1>
    {% if plan_score.top_performer %}
    <span class="mb-5 me-auto fw-bold subtitle text-shadow text-yellow-300 mt-2">
        {% include 'caps/icons/scorecards-star.html' with classes='me-1 align-text-top' width='1.2em' height='auto' role='presentation' %}
        High scoring {% include 'scoring/includes/scoring-group-name.html' with group=scoring_group.slug plural=False %}
    </span>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th scope="col">Overall score <br> <span style="font-size:0.8em">2025</span></th>
                <th scope="col">Highest scoring section</th>
                <th scope="col">Lowest scoring section</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-top">
                    <span class="open-graph-preview__score">{{ plan_score.weighted_total|floatformat:0 }}%</span>
                </td>
                <td class="align-top">
                    <span class="open-graph-preview__score">{{ max_score.score|floatformat:0 }}%</span>
                    <span class="open-graph-preview__section">{{ max_score.section.plan_section.description|cut:" (CA)" }}</span>
                    {% if max_score.section.top_performer %}
                    <span class="high-scoring-section-badge mt-3 mx-auto text-yellow-300 mt-3">
                        {% include 'caps/icons/scorecards-star.html' with classes='me-1 align-top' width='1em' height='auto' role='presentation' %}
                        High scoring council
                    </span>
                    {% endif %}
                </td>
                <td class="align-top">
                    <span class="open-graph-preview__score">{{ min_score.score|floatformat:0 }}%</span>
                    <span class="open-graph-preview__section">{{ min_score.section.plan_section.description|cut:" (CA)" }}</span>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
