{% extends "scoring/base-preview.html" %}
{% load static %}

{% block bodyclass %}version-3-gradient council-overall-top-performer{% endblock %}

{% block content %}
    <div class="mb-5 me-auto fw-bold text-shadow text-yellow-300 d-flex align-items-center" style="font-size: 3rem; line-height: 1.2;">
        {% include 'caps/icons/scorecards-star.html' with classes='me-4 align-text-top' width='1.2em' height='auto' role='presentation' %}
        <span>High scorer &mdash; {% include 'caps/includes/authority_type.html' with group=authority_type %} councils</span>
    </div>
    <div class="open-graph-preview__grid">
        <div class="grid__name">
            <h1 class="text-shadow js-count">{{ council.name }}</h1>
        </div>

        <div class="grid__score text-shadow">
            <div class="d-flex flex-column align-items-end justify-items-end">
                <span class="mb-3 lh-1" style="font-size: 4rem">Score</span>
                <span class="open-graph-preview__score fw-bold" style="font-size: 9rem">{{ score|floatformat:0 }}%</span>
            </div>
        </div>

    </div>
{% endblock %}
