{% extends "scoring/base.html" %}
{% load django_bootstrap5 %}
{% load caps_templatetags %}

{% block content %}
<div class="hero-section with-version-background py-5 py-lg-6">
    <div class="d-flex flex-column align-items-end align-items-lg-start hero-version-badge position-absolute">
      <span class="version-year d-block fw-bold lh-1">2023</span>
      <span class="version-name d-block fw-bold lh-1">Action Scorecards</span>
    </div>
    <div class="container">
        <nav class="d-flex align-items-center flex-wrap mb-n2">
            <a href="{% include 'scoring/includes/scoring_url.html' with slug=council.get_scoring_group.slug %}" class="btn btn-sm btn-outline-primary d-flex align-items-center mb-2 me-3">
                {% include 'caps/icons/chevron-left.html' with classes='me-2' %}
                See this council in context
            </a>
            {% comment %} TODO show only if also a 2021 council {% endcomment %}
            {% comment %} TODO link to 2021 council page {% endcomment %}
            <a href="#" class="btn btn-sm btn-outline-primary d-flex align-items-center mb-2 me-3">
                See this council’s 2021 Plan Scorecard
                {% include 'caps/icons/external-link.html' with classes='ms-2' %}
            </a>
        </nav>

        <h1 class="mt-4">{{ council.name }}</h1>

        {% if plan_score.top_performer %}
        <div class="d-flex align-items-center">
            {% include 'caps/icons/scorecards-star.html' with classes='me-2' width='1rem' height='1rem' role='presentation' %}
            This council is a top performer among {% include 'caps/includes/authority_type.html' with group=authority_type %} councils in 2023.
        </div>
      {% endif %}

        <dl class="mt-4 mb-0 council-stats-grid">
            <dt>Nation</dt>
            <dd>{{ council.get_country_display }}</dd>
            <dt>Net Zero target date</dt>
            {% comment %} TODO if whole area target: {% endcomment %}
            <dd>{{ targets.0.get_scope_display }}: {{ targets.0.target_year }}</dd>
            {% comment %} TODO else if council-only target: {% endcomment %}
            <!-- <dd>{{ target.get_scope_display }}: {{ target.target_year }}</dd> -->
            {% comment %} TODO else: {% endcomment %}
            <!-- <dd>No target</dd> -->
            {% comment %} TODO endif {% endcomment %}
          {% if plan_score.deprivation_quintile %}
            <dt>Index of multiple deprivation</dt>
            <dd>
                {{ plan_score.deprivation_quintile }}
                {% comment %} TODO show word equivalent? eg "high deprivation"? {% endcomment %}
            </dd>
          {% endif %}
          {% if plan_score.population %}
            <dt>Total population</dt>
            <dd>{{ plan_score.population }}</dd>
          {% endif %}
          {% if plan_score.get_ruc_cluster_display %}
            <dt>Urbanisation</dt>
            <dd>{{ plan_score.get_ruc_cluster_display }}</dd>
          {% endif %}
          {% if plan_score.political_control %}
            <dt>Political control (Jan 2022)</dt>
            <dd>{{ plan_score.political_control }}</dd>
          {% endif %}
        </dl>

    </div>
</div>

<div class="py-5 border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <h2 class="h3 mb-3">About the 2023 Action Scorecards</h2>
                {% comment %} TODO awaiting text content from CEUK {% endcomment %}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="{% url 'scoring:methodology' %}" class="btn btn-outline-primary">Read the full methodology</a>
            </div>
        </div>
    </div>
</div>

{% if not new_council and not old_council %}
<div class="container council-page py-5 js-dynamic-content" data-active-source-type="default">

    <h3>{{ council.short_name }}’s 2023 Action Scorecard</h3>

    <div class="row my-4 my-lg-5">
        <div class="col-md-6 col-lg-4 d-none d-md-block">
            <div class="card h-100">
                <div class="card-header">
                    <h3 class="fs-6 mb-0">Add councils to compare</h3>
                </div>
                <div class="card-body">
                    <form id="advancedFilterForm" action=".">
                      {% if comparisons|length > 2 %}
                        <p class="warning-message">You have reached the maximum number of councils that may be compared.</p>
                      {% else %}
                        <input class="border border-primary form-control searchbar blue dark js-location-compare-autocomplete" name="search" id="compare-search" type="search" placeholder="Council name" aria-label="Council name">
                      {% endif %}
                      {% if comparisons %}
                        <div class="selected-council-wrapper mt-4">
                          {% for comparison in comparisons %}
                            <a href="#" class="radio-btn is--with-label is--with-closed-icon mr-1 js-comparison-council" data-slug="{{ comparison.council.slug }}">{{ comparison.council.name }}</a>
                          {% endfor %}
                        </div>
                        {% comment %} <a href="{% url "council" council.slug %}" class="mt-3">Clear all</a> {% endcomment %}
                      {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-8">
            <div class="card h-100">
                <div class="card-header">
                    <h3 class="fs-6 mb-0">Filter questions</h3>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-row flex-wrap" style="gap:0.5rem">
                        <button class="radio-btn is--with-label mr-1" data-question-source-type="default">All</button>
                        <button class="radio-btn is--with-label mr-1" data-question-source-type="volunteer">Volunteer Research</button>
                        <button class="radio-btn is--with-label mr-1" data-question-source-type="foi">FOI</button>
                        <button class="radio-btn is--with-label mr-1" data-question-source-type="national-data">National Data</button>
                        <button class="radio-btn is--with-label mr-1" data-question-source-type="national-data-and-volunteer">National Data and Volunteer Research</button>
                    </div>
                    <form class="mt-3 d-flex flex-column flex-md-row gap-3">
                        <div>
                          <input class="is--small" type="checkbox" id="council-operations-only" name="council-operations-only" >
                          <label for="council-operations-only">Display only Council operations questions</label>
                        </div>

                        <div>
                          <input class="is--small" type="checkbox" id="display-complete-content" name="display-complete-content">
                          <label for="display-complete-content">Show full question details by default</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table-question-council mb-5 mt-4">
        <thead class="text-bg-primary">
            <tr>
                <th scope="col" class="text-start question-header-cell border-end border-opacity-25 border-primary">Questions</th>
                <th scope="col" class="current-council-score">{{ council.name }}</th>
              {% for comparison in comparisons %}
                <th scope="col" class="d-none d-md-table-cell comparison-council">{{ comparison.council.name }}</th>
              {% endfor %}
                <th scope="col" class="d-none d-md-table-cell d-flex flex-row align-items-center">
                    {% include 'caps/icons/scorecards-star.html' with classes='text-info align-text-bottom me-1' width='1.2em' height='1.2rem' role='presentation' %}
                    <span>Councils with full marks</span>
                </th>
            </tr>
        </thead>

      {% for section in sections %}
        <tbody class="table-question-council__section">

          {% comment %} TODO if negative score: {% endcomment %}
            <tr data-has-plan="no" class="section-row bg-red-100 text-red-900">
          {% comment %} TODO else: {% endcomment %}
            <!-- <tr data-has-plan="no" class="section-row bg-primary-100"> -->
          {% comment %} TODO endif {% endcomment %}

                <td colspan="1" class="section-cell border-bottom border-end border-opacity-25 border-primary text-start">
                    {{ section.description }}

                  {% comment %} TODO if negative penalty: {% endcomment %}
                    <p class="d-flex align-items-center mb-0 mt-2 fs-7 text-warning">
                        {% include 'caps/icons/warning.html' with classes='me-2' width='1em' height='1em' role='presentation' %}
                        {% comment %} TODO correct percentage {% endcomment %}
                        <strong class="me-2">Negative points:</strong>
                        {{ council.name }} incurred a penalty of 15% in this section
                    </p>
                  {% comment %} TODO endif {% endcomment %}

                    <button type="button" class="d-block mt-2 d-md-none btn btn-outline-primary btn-sm js-toggle-council-question-table-section rounded-0" aria-label="Expand this section" title="Expand this section">
                        {% include 'caps/icons/chevron-down.html' with classes='align-text-bottom' width='1.2em' height='1.2em' role='presentation' %}
                        Show questions
                    </button>
                </td>

              {% if section.top_performer %}
                <td class="score border-bottom border-opacity-25 border-primary is--section-score">
                    {% include 'caps/icons/scorecards-star.html' with classes='text-info align-text-bottom me-1' width='1.2em' height='1.2rem' role='presentation' %}
                    <span>{{ section.score }}/{{ section.max_score }}</span>
                </td>
              {% else %}
                <td class="score border-bottom border-opacity-25 border-primary is--section-score">
                    <span>{{ section.score }}/{{ section.max_score }}</span>
                  {% comment %} TODO if negative penalty: {% endcomment %}
                    <div class="fs-7 mt-2">
                        {% comment %} TODO Update obtained points minus the penalty {% endcomment %}
                        {{ section.score }} &equals; Total score (22) &minus; Penalty points (3)
                    </div>
                  {% comment %} TODO endif {% endcomment %}
                </td>
              {% endif %}

              {% for comparison in section.comparisons %}
                <td class="d-none d-md-table-cell score border-bottom border-opacity-25 border-primary is--section-score {% if comparison.top_performer %}top-performer{% endif %}">
                    {{ comparison.score }}/{{ comparison.max_score }}
                </td>
              {% endfor %}

                <td class="d-none d-md-table-cell top-tier-score border-bottom border-opacity-25 border-primary"></td>

                <td class="button-wrapper p-0 bg-white d-none d-md-table-cell" style="width: 0;">
                    <button type="button" class="btn btn-outline-primary js-toggle-council-question-table-section border-start-0 rounded-0" aria-label="Expand this section" title="Expand this section">
                        {% include 'caps/icons/chevron-down.html' with classes='align-text-bottom' width='1.2em' height='1.2em' role='presentation' %}
                    </button>
                </td>
            </tr>

          {% for answer in section.answers %}
            {% comment %} TODO
                Add the source(How this question is marked) to tr element.
                'js-volunteer',
                'js-foi',
                'js-national-data',
                'js-national-data-and-volunteer',
            {% endcomment %}
            {% comment %} TODO
                council operation only switch
                for each row add the correct attribute value. For council only the value should be true, otherwise false.
                [data-active-council-operation-only="false"]
            {% endcomment %}
            <tr class="question-row js-default js-volunteer" data-active-council-operation-only="true">
                <td data-column="answer" class="border-start border-bottom border-end ">
                    <div class="question-content-table text-start">
                        <div class="row">
                            <div class="col-sm-auto mb-2">
                                <span class="badge bg-secondary p-1 question-no">{{ answer.pretty_code }}</span>
                            </div>
                            <div class="col-sm">
                                {{ answer.question | linebreaks }}

                              {% comment %} TODO if negative point question: {% endcomment %}
                                <div class="d-flex mb-3 fs-7 text-red-500">
                                    {% include 'caps/icons/warning.html' with classes='mt-1 me-2 flex-shrink-0 flex-grow-0' width='1em' height='1em' role='presentation' %}
                                    <p class="mb-0">
                                        <strong>Negative points:</strong>
                                        The maximum number of points for this question is 0.
                                        {% comment %} TODO add link to this question in methodology {% endcomment %}
                                        <a href="{% url 'scoring:methodology' %}#todo" style="color: inherit;">Read more about negative point questions.</a>
                                    </p>
                                </div>
                              {% comment %} TODO endif {% endcomment %}

                              <button class="btn btn-outline-dark btn-sm mt-3 d-block js-hidden-toggle" aria-controls="section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}">How this is marked?</button>

                              <div class="section-question-content" id="section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}">
                                <dl class="row mt-2 mb-0">
                                  <dt class="col-sm-4">Source</dt>
                                  <dd class="col-sm-8">National Data and Volunteer Research</dd>
                                  <dt class="col-sm-4">Question weight</dt>
                                  <dd class="col-sm-8">Low</dd>
                                  <dt class="col-sm-4">Evidence</dt>
                                  <dd class="col-sm-8">
                                      <a href="#" style="display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">https://documents.www.boretshire.gov.uk/files/2023/strategy.docx</a>
                                      <a href="#" style="display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">https://www.boretshire.gov.uk/neighbourhoods/climate/updates/</a>
                                  </dd>
                              </dl>
                              </div>

                                {% comment %} TODO Add question criteria {% endcomment %}
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-outline-dark btn-sm mt-3" data-bs-toggle="modal" data-bs-target="#modal-section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}">
                                  View criteria
                                </button>

                                <div class="modal fade" id="modal-section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}" tabindex="-1" aria-labelledby="modal-section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}Label" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="modal-section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}Label">
                                          <p>Criteria</p>
                                          <div class="fw-normal fs-7">{{ answer.question | linebreaks }}</div>
                                        </h5>
                                      </div>
                                      <div class="modal-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </td>

                <td data-column="score" class="score border-bottom">
                    <span>{{ answer.score }}/{{ answer.max }}</span>
                    {% comment %} TODO IF question is negative then "No negative points awarded" {% endcomment %}
                </td>

              {% for comparison in answer.comparisons %}
                <td data-column="score" class="d-none d-md-table-cell score border-bottom">
                    <span>{{ comparison.score }}/{{ comparison.max }}</span>
                </td>
              {% endfor %}

                <td class="d-none d-md-table-cell top-tier-score border-bottom border-end">
                    <a href="{% include 'scoring/includes/scoring_url.html' with slug=authority_type.slug %}?sort_by={{ section.code }}" class="mx-auto" style="text-transform: none">
                        {{ answer.council_count }} out of {{ council_count }}
                    </a>
                    <span class="fs-8 mt-1 me-0 ms-auto d-block">
                        {% include 'caps/includes/authority_type.html' with group=authority_type %}
                        councils got full marks for this question.
                    </span>
                </td>
            </tr>
          {% endfor %}

        </tbody>
      {% endfor %}

    </table>

</div>
{% endif %}

{% endblock %}
