{% extends "scoring/base-preview.html" %}
{% load static %}

{% block content %}
    <header class="mb-5">
        {% include 'caps/icons/council-climate-logo-2023.html' with classes='open-graph-preview__scorecards-logo' width='10em' height='auto' role='presentation' %}
        <span class="open-graph-preview__year">2023</span>
        <img src="{% static 'scoring/img/ceuk-logo-white.png' %}" alt="" class="open-graph-preview__ceuk-logo">
    </header>

    <h1>{{ council.name }}</h1>
    {% comment %} TODO IF it is a top performer in the overall score {% endcomment %}
    <span class="mb-5 me-auto fs-2 fw-bold top-perfomer">
        {% include 'caps/icons/scorecards-star.html' with classes='me-1 align-text-top' width='1.2em' height='auto' role='presentation' %}
        Top perfomer council
    </span>

    <table>
        <thead>
            <tr>
                <th scope="col">Overall score</th>
                <th scope="col">Highest scoring section</th>
                <th scope="col">Lowest scoring section</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span class="open-graph-preview__score">54%</span>
                </td>
                <td>
                    <span class="open-graph-preview__score">90%</span>
                    <span class="open-graph-preview__section">Governance &amp; Finance</span>
                    {% comment %} TODO IF it is a top performer {% endcomment %}
                    <span class="mt-3 mx-auto badge text-bg-primary">
                        {% include 'caps/icons/scorecards-star.html' with classes='me-1' width='1em' height='auto' role='presentation' %}
                        Top perfomer council in this section
                    </span>
                </td>
                <td>
                    <span class="open-graph-preview__score">14%</span>
                    <span class="open-graph-preview__section">Waste Reduction &amp; Food</span>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
