{% extends "scoring/base.html" %}

{% load static %}
{% load bootstrap4 %}

{% block content %}

    <div class="py-5 text-center border-bottom">
        <div class="container py-md-3 py-lg-4">
            <h2 class="h3 mb-3 mb-lg-4 mx-auto" style="max-width: 30em;">
                <b class="d-block" style="font-size: 0.75em; line-height: 1.3;">Coming soon:</b>
                Council Climate Action Scorecards 2023
            </h2>
            <p class="mx-auto mb-3 mb-lg-4" style="max-width: 38em;">In mid-October 2023 we’ll be releasing the results of the Council Climate Action Scorecards, scoring the actual climate action they have taken. We published our draft methodology for the the Council Climate Action Scorecards 2023 in November 2022.</p>
            <p><a href="{% url 'methodology' %}" class="btn btn-blue is--light">Read the draft methodology</a></p>
            <a href="{% url 'methodology' %}" class="d-none d-sm-block my-4 my-lg-5"><img src="{% static 'scoring/img/2023-timeline@2x.png' %}" width="700" height="150" style="max-width: 100%; height: auto;" class="d-block mx-auto" alt="Timeline showing: April to August 2022, research and development; July to September 2022, one-to-one and sector-wide consultations; November to December 2022, publish finalised metrics for Scorecards; February to March 2023, first marking with volunteers; April to May 2023, five week right of reply period; Summer 2023, scoring audit; and 18th October 2023, scorecards launch"></a>
            <p class="mx-auto mb-3"><a href="https://www.climateemergency.uk/" class="d-inline">Join our mailing list</a> to follow our progress towards the 2023 Scorecards.</p>
            <p class="mx-auto mb-0">If you want to volunteer to help create the Council Climate Action Scorecards find out more <a href="https://actionnetwork.org/forms/application-scorecards-volunteering/" class="d-inline">here</a>.</p>
        </div>
    </div>

    <div class="py-5 text-center" style="background-color: #fff8d9; border-top: 1px solid #e8e2c7;">
        <div class="container py-md-3 py-lg-4">
            <h2 class="h3 mb-3 mb-lg-4 mx-auto" style="max-width: 30em;">
                Looking for the 2021 Council Climate Plan Scorecards?
            </h2>
            <p class="mb-3  mb-lg-4 mx-auto" style="max-width: 38em;">Between June and December 2021, we assessed the Climate Action Plans of every local authority and combined authority in the UK. The resulting scores enabled residents, campaigners, and local authorities themselves, for the first time ever, to see the full picture of local climate plans across the UK.</p>
            <a class="cta mx-auto d-table" href="{% url 'scoring' 'single' %}">Browse the 2021 Plan Scorecards</a>
        </div>
    </div>

{% endblock %}
