{% extends "scoring/base.html" %}
{% load bootstrap4 %}

{% block content %}

    <div class="container-fluid hero bg-grey-gradient">
        <h1 class="text-center mb-3">About the scoring</h1>
        <p class="text-center mx-auto" style="max-width: 650px;">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt 
            nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet 
            sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat 
            sunt nostrud amet.</p>
        <a class="cta mx-auto" href="#methodology">Learn more about the scoring</a>

        <div class="table-filter row justify-content-md-center mx-auto mt-4 mt-lg-5" style="max-width: 1100px;">
            <div class="col-12 col-lg-6 bg-blue-l2 left py-3">
                <form class="form">
                    <h6 class="mb-3">Find your council on the table</h6>
                    <input class="form-control searchbar blue light mb-5" type="search" placeholder="Search" aria-label="Search">
                    
                    <h6 class="mb-3">filter the table by type of council</h6>
                    <ul class="type-council-option-wrapper">
                        <li class="radio-btn">
                            <input type='radio' value='1' name='radio' id='radio1' checked/>
                            <label for='radio1'>Single Tier</label>
                        </li>
                        <li class="radio-btn">
                            <input type='radio' value='2' name='radio' id='radio2' />
                            <label for='radio1'>Distric</label>
                        </li>
                        <li class="radio-btn">
                            <input type='radio' value='3' name='radio'  id='radio3'/>
                            <label for='radio2'>County</label>
                        </li>
                        <li class="radio-btn">
                            <input type='radio' value='4' name='radio'  id='radio4'/>
                            <label for='radio3'>Northern Ireland</label>
                        </li>
                        <li class="radio-btn">
                            <input type='radio' value='5' name='radio'  id='radio5'/>
                            <label for='radio3'>Combined Authorithy</label>
                        </li>
                    </ul>
                </form>
            </div>

            <div class="col-12 col-lg-6 py-3 bg-green-l2 right">
                <form class="form">
                    <h6 class="mb-3">Check for a council’s complete score</h6>
                    <input class="form-control searchbar green dark mb-4" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid my-5" style="max-width: 1440px;">
        <h3 class="underline">
            <span>single tier</span>
            <span>·</span>
            <span>urban</span>
        </h3>
        <p class="subtitle mb-4">councils plan scorecard</p>
        <div class="scorecard-table-wrapper">
            <table class="scorecard-table">
                <thead>
                    <tr>
                        <th scope="col" class="bg-grey position-sticky z-index-5"></th>
                        <th scope="col" class="first-row total-score position-sticky z-index-4">
                            <div class="table-header-first-row">
                                <span>Total Score</span>
                                <div class="sort-icon green"></div>
                            </div>
                            <div class="table-sticky-border-vertical"></div>
                        </th>
                        <th scope="col" class="first-row category-1">
                            <div class="table-header-first-row">
                                <a href="">Governance, development and funding</a>
                                <div class="sort-icon"></div>
                            </div>
                        </th>
                        <th scope="col" class="first-row category-2">
                            <div class="table-header-first-row">
                                <a href="">Mitigation and Adaptation</a>
                                <div class="sort-icon"></div>
                            </div>
                        </th>
                        <th scope="col" class="first-row category-3">
                            <div class="table-header-first-row">
                                <a href="">Community engagement and communications</a>
                                <div class="sort-icon"></div>
                            </div>
                        </th>
                        <th scope="col" class="first-row category-4">
                            <div class="table-header-first-row">
                                <a href="">Measuring and setting emissions targets</a>
                                <div class="sort-icon"></div>
                            </div>
                        </th>
                        <th scope="col" class="first-row category-5">
                            <div class="table-header-first-row">
                                <a href="">Commitment and Integration</a>
                                <div class="sort-icon"></div>
                            </div>
                        </th>
                        <th scope="col" class="first-row category-6">
                            <div class="table-header-first-row">
                                <a href="">Diversity and Social Inclusion</a>
                                <div class="sort-icon"></div>
                            </div>
                        </th>
                        <th scope="col" class="first-row category-7">
                            <div class="table-header-first-row">
                                <a href="">Education, Skills and Training</a>
                                <div class="sort-icon"></div>
                            </div>
                        </th>
                        <th scope="col" class="first-row category-8">
                            <div class="table-header-first-row">
                                <a href="">Ecological emergency</a>
                                <div class="sort-icon"></div>
                            </div>
                        </th>
                        <th scope="col" class="first-row category-9">
                            <div class="table-header-first-row">
                                <a href="">Co-benefits</a>
                                <div class="sort-icon"></div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th scope="col" class="second-row council-name header position-sticky z-index-4">
                            Council name
                            <div class="table-sticky-border-horizontal"></div>
                        </th>
                        <th scope="col" class="second-row total-score position-sticky z-index-4 bg-green-l2">              
                            <div class="score-bar">
                                <span class="score-percentage">70%</span>
                                <div class="progress-bar"></div>
                                <span class="average">avg</span>
                            </div>
                            <div class="table-sticky-border-vertical"></div>
                            <div class="table-sticky-border-horizontal"></div>
                        </th>
                        <th scope="col" class="category-1 second-row">              
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                                <span class="average">avg</span>
                            </div>
                            <div class="table-sticky-border-horizontal"></div>
                        </th>
                        <th scope="col" class="category-2 second-row">              
                            <div class="score-bar">
                                <span class="score-fraction">4/10</span>
                                <div class="progress-bar"></div>
                                <span class="average">avg</span>
                            </div>
                            <div class="table-sticky-border-horizontal"></div>
                        </th>
                        <th scope="col" class="category-3 second-row">              
                            <div class="score-bar">
                                <span class="score-fraction">4/10</span>
                                <div class="progress-bar"></div>
                                <span class="average">avg</span>
                            </div>
                            <div class="table-sticky-border-horizontal"></div>
                        </th>
                        <th scope="col" class="category-4 second-row">              
                            <div class="score-bar">
                                <span class="score-fraction">4/10</span>
                                <div class="progress-bar"></div>
                                <span class="average">avg</span>
                            </div>
                            <div class="table-sticky-border-horizontal"></div>
                        </th>
                        <th scope="col" class="category-5 second-row">              
                            <div class="score-bar">
                                <span class="score-fraction">4/10</span>
                                <div class="progress-bar"></div>
                                <span class="average">avg</span>
                            </div>
                            <div class="table-sticky-border-horizontal"></div>
                        </th>
                        <th scope="col" class="category-6 second-row">              
                            <div class="score-bar">
                                <span class="score-fraction">4/10</span>
                                <div class="progress-bar"></div>
                                <span class="average">avg</span>
                            </div>
                            <div class="table-sticky-border-horizontal"></div>
                        </th>
                        <th scope="col" class="category-7 second-row">              
                            <div class="score-bar">
                                <span class="score-fraction">4/10</span>
                                <div class="progress-bar"></div>
                                <span class="average">avg</span>
                            </div>
                            <div class="table-sticky-border-horizontal"></div>
                        </th>
                        <th scope="col" class="category-8 second-row">              
                            <div class="score-bar">
                                <span class="score-fraction">4/10</span>
                                <div class="progress-bar"></div>
                                <span class="average">avg</span>
                            </div>
                            <div class="table-sticky-border-horizontal"></div>
                        </th>
                        <th scope="col" class="category-9 second-row">              
                            <div class="score-bar">
                                <span class="score-fraction">4/10</span>
                                <div class="progress-bar"></div>
                                <span class="average">avg</span>
                            </div>
                            <div class="table-sticky-border-horizontal"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="council-name position-sticky z-index-3"> <a class="council-link top-performer" href="#">Abdur distric council</a></th>
                        <th scope="row" class="council-total-score position-sticky z-index-3">
                            <div class="score-bar">
                                <span class="score-percentage">90%</span>
                                <div class="progress-bar"></div>
                            </div>
                            <div class="table-sticky-border-vertical"></div>
                        </th>
                        <td scope="row" class="council-category-score category-1">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-2">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-3">
                            <div class="score-bar">
                                <span class="score-fraction">3/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-4">
                            <div class="score-bar">
                                <span class="score-fraction">7/10</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-5">
                            <div class="score-bar">
                                <span class="score-fraction">1/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-6">
                            <div class="score-bar">
                                <span class="score-fraction">6/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-7">
                            <div class="score-bar">
                                <span class="score-fraction">5/8</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-8">
                            <div class="score-bar">
                                <span class="score-fraction">6/9</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-9">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="council-name position-sticky z-index-3"> <a class="council-link top-performer" href="#">Abdur distric council</a></th>
                        <th scope="row" class="council-total-score position-sticky z-index-3">
                            <div class="score-bar">
                                <span class="score-percentage">90%</span>
                                <div class="progress-bar"></div>
                            </div>
                            <div class="table-sticky-border-vertical"></div>
                        </th>
                        <td scope="row" class="council-category-score category-1">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-2">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-3">
                            <div class="score-bar">
                                <span class="score-fraction">3/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-4">
                            <div class="score-bar">
                                <span class="score-fraction">7/10</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-5">
                            <div class="score-bar">
                                <span class="score-fraction">1/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-6">
                            <div class="score-bar">
                                <span class="score-fraction">6/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-7">
                            <div class="score-bar">
                                <span class="score-fraction">5/8</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-8">
                            <div class="score-bar">
                                <span class="score-fraction">6/9</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-9">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="council-name position-sticky z-index-3"> <a class="council-link top-performer" href="#">Abdur distric council</a></th>
                        <th scope="row" class="council-total-score position-sticky z-index-3">
                            <div class="score-bar">
                                <span class="score-percentage">90%</span>
                                <div class="progress-bar"></div>
                            </div>
                            <div class="table-sticky-border-vertical"></div>
                        </th>
                        <td scope="row" class="council-category-score category-1">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-2">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-3">
                            <div class="score-bar">
                                <span class="score-fraction">3/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-4">
                            <div class="score-bar">
                                <span class="score-fraction">7/10</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-5">
                            <div class="score-bar">
                                <span class="score-fraction">1/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-6">
                            <div class="score-bar">
                                <span class="score-fraction">6/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-7">
                            <div class="score-bar">
                                <span class="score-fraction">5/8</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-8">
                            <div class="score-bar">
                                <span class="score-fraction">6/9</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-9">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="council-name position-sticky z-index-3"> <a class="council-link top-performer" href="#">Abdur distric council</a></th>
                        <th scope="row" class="council-total-score position-sticky z-index-3">
                            <div class="score-bar">
                                <span class="score-percentage">90%</span>
                                <div class="progress-bar"></div>
                            </div>
                            <div class="table-sticky-border-vertical"></div>
                        </th>
                        <td scope="row" class="council-category-score category-1">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-2">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-3">
                            <div class="score-bar">
                                <span class="score-fraction">3/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-4">
                            <div class="score-bar">
                                <span class="score-fraction">7/10</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-5">
                            <div class="score-bar">
                                <span class="score-fraction">1/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-6">
                            <div class="score-bar">
                                <span class="score-fraction">6/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-7">
                            <div class="score-bar">
                                <span class="score-fraction">5/8</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-8">
                            <div class="score-bar">
                                <span class="score-fraction">6/9</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-9">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="council-name position-sticky z-index-3"> <a class="council-link top-performer" href="#">Abdur distric council</a></th>
                        <th scope="row" class="council-total-score position-sticky z-index-3">
                            <div class="score-bar">
                                <span class="score-percentage">90%</span>
                                <div class="progress-bar"></div>
                            </div>
                            <div class="table-sticky-border-vertical"></div>
                        </th>
                        <td scope="row" class="council-category-score category-1">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-2">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-3">
                            <div class="score-bar">
                                <span class="score-fraction">3/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-4">
                            <div class="score-bar">
                                <span class="score-fraction">7/10</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-5">
                            <div class="score-bar">
                                <span class="score-fraction">1/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-6">
                            <div class="score-bar">
                                <span class="score-fraction">6/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-7">
                            <div class="score-bar">
                                <span class="score-fraction">5/8</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-8">
                            <div class="score-bar">
                                <span class="score-fraction">6/9</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-9">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="council-name position-sticky z-index-3"> <a class="council-link top-performer" href="#">Abdur distric council</a></th>
                        <th scope="row" class="council-total-score position-sticky z-index-3">
                            <div class="score-bar">
                                <span class="score-percentage">90%</span>
                                <div class="progress-bar"></div>
                            </div>
                            <div class="table-sticky-border-vertical"></div>
                        </th>
                        <td scope="row" class="council-category-score category-1">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-2">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-3">
                            <div class="score-bar">
                                <span class="score-fraction">3/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-4">
                            <div class="score-bar">
                                <span class="score-fraction">7/10</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-5">
                            <div class="score-bar">
                                <span class="score-fraction">1/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-6">
                            <div class="score-bar">
                                <span class="score-fraction">6/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-7">
                            <div class="score-bar">
                                <span class="score-fraction">5/8</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-8">
                            <div class="score-bar">
                                <span class="score-fraction">6/9</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-9">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="council-name position-sticky z-index-3"> <a class="council-link top-performer" href="#">Abdur distric council</a></th>
                        <th scope="row" class="council-total-score position-sticky z-index-3">
                            <div class="score-bar">
                                <span class="score-percentage">90%</span>
                                <div class="progress-bar"></div>
                            </div>
                            <div class="table-sticky-border-vertical"></div>
                        </th>
                        <td scope="row" class="council-category-score category-1">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-2">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-3">
                            <div class="score-bar">
                                <span class="score-fraction">3/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-4">
                            <div class="score-bar">
                                <span class="score-fraction">7/10</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-5">
                            <div class="score-bar">
                                <span class="score-fraction">1/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-6">
                            <div class="score-bar">
                                <span class="score-fraction">6/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-7">
                            <div class="score-bar">
                                <span class="score-fraction">5/8</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-8">
                            <div class="score-bar">
                                <span class="score-fraction">6/9</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                        <td scope="row" class="council-category-score category-9">
                            <div class="score-bar">
                                <span class="score-fraction">5/6</span>
                                <div class="progress-bar"></div>
                            </div>
                        </td>
                    </tr>
 

                </tbody>
            </table>
        </div>
    </div>

    <script>
        let scorePercentage = document.getElementsByClassName("score-percentage");

        for (var i = 0; i < scorePercentage.length; i++) {
            let percentageValue = scorePercentage[i].textContent;
            console.log(percentageValue);
            scorePercentage[i].nextElementSibling.style.width = percentageValue;
        }

        let scoreFraction = document.getElementsByClassName("score-fraction");
        for (var i = 0; i < scoreFraction.length; i++) {
            let fractionValue = scoreFraction[i].textContent;

            let splitFraction = fractionValue.split('/');
            let fractionToPercentage = parseInt(splitFraction[0], 10) / parseInt(splitFraction[1], 10) * 100;
            scoreFraction[i].nextElementSibling.style.width = fractionToPercentage + '%';
        }
    </script> 

    

    <p>
        <a href="{% url 'scoring' 'single' %}">Single Tier</a> :
        <a href="{% url 'scoring' 'district' %}">District</a> :
        <a href="{% url 'scoring' 'county' %}">County</a> :
        <a href="{% url 'scoring' 'combined' %}">Combined</a> :
        <a href="{% url 'scoring' 'northern-ireland' %}">Northern Ireland</a>
    </p>

    <p>
    <form method="GET">
        {{ form }}
         <input type="submit" value="Sort">
    </form>


    <table class="table mb-0">
        <thead>
            <tr>
                <th>Council</th>
                <th>Total</th>
                <th>Governance</th>
                <th>Mitigation</th>
                <th>Commitment</th>
                <th>Community</th>
                <th>Measuring</th>
                <th>Co-benefits</th>
                <th>Diversity</th>
                <th>Education</th>
                <th>Ecological</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td>
                {{ averages.total.percentage }}
            </td>
            <td>
                {{ averages.s1_gov.score }}/{{ averages.s1_gov.max }}
            </td>
            <td>
                {{ averages.s2_m_a.score }}/{{ averages.s2_m_a.max }}
            </td>
            <td>
                {{ averages.s3_c_a.score }}/{{ averages.s3_c_a.max }}
            </td>
            <td>
                {{ averages.s4_coms.score }}/{{ averages.s4_coms.max }}
            </td>
            <td>
                {{ averages.s5_mset.score }}/{{ averages.s5_mset.max }}
            </td>
            <td>
                {{ averages.s6_cb.score }}/{{ averages.s6_cb.max }}
            </td>
            <td>
                {{ averages.s7_dsi.score }}/{{ averages.s7_dsi.max }}
            </td>
            <td>
                {{ averages.s8_est.score }}/{{ averages.s8_est.max }}
            </td>
            <td>
                {{ averages.s9_ee.score }}/{{ averages.s9_ee.max }}
            </td>
        {% for council in council_data %}
        <tr>
            <td>
                <a href="{% url 'answers' council.slug %}">{{ council.name }}</a>
            </td>
            <td>
                {{ council.percentage }}
            </td>
            {% with scores=council.all_scores %}
            <td>
                {{ scores.s1_gov.score }}/{{ scores.s1_gov.max }}
            </td>
            <td>
                {{ scores.s2_m_a.score }}/{{ scores.s2_m_a.max }}
            </td>
            <td>
                {{ scores.s3_c_a.score }}/{{ scores.s3_c_a.max }}
            </td>
            <td>
                {{ scores.s4_coms.score }}/{{ scores.s4_coms.max }}
            </td>
            <td>
                {{ scores.s5_mset.score }}/{{ scores.s5_mset.max }}
            </td>
            <td>
                {{ scores.s6_cb.score }}/{{ scores.s6_cb.max }}
            </td>
            <td>
                {{ scores.s7_dsi.score }}/{{ scores.s7_dsi.max }}
            </td>
            <td>
                {{ scores.s8_est.score }}/{{ scores.s8_est.max }}
            </td>
            <td>
                {{ scores.s9_ee.score }}/{{ scores.s9_ee.max }}
            </td>
            {% endwith %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
