{% extends "scoring/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<div class="how-to-use-page">
    <div class="pt-5 pb-6 pt-lg-8 pb-lg-8 hero-section with-version-background">
        <div class="d-flex flex-column align-items-end align-items-lg-start hero-version-badge position-absolute">
            <span class="version-year d-block fw-bold lh-1">2023</span>
            <span class="version-name d-block fw-bold lh-1">Action Scorecards</span>
        </div>
        <div class="container">
            <a class="mb-3" href="{% url 'scoring:home' %}">Back to the Scorecards</a>
            <h1 class="mb-3 w-100 w-lg-75">How to use the Scorecards</h1>
        </div>
    </div>


    <div class="container py-5">
        <div class="row mb-3">
            <div class="col-12 col-lg-6">
                <h2 class="mb-3">How to use the Council Climate Action Scorecards for climate action in your area</h2>
                <p>The Council Climate Action Scorecards let you see how your own council’s climate action performs in comparison to action taken by other councils across the UK.</p>
                <p>Based on common themes we saw when assessing all UK councils we have written a short summary, <a href="https://drive.google.com/file/d/1db8bMKPi4Pe7pHteChjVcvZTEOA7Rom7/view?usp=sharing">‘15 ways to improve your Council’s climate action’</a>. This covers 15 things that councils can do to improve their climate action based on our Scorecards.</p>
                <p>Once you’ve checked that out, you might be wondering what to do with this information. That’s quite understandable — the path from data to action isn’t always clear! So with that in mind we’ve gathered together some ways in which you, as residents and community groups, can use this data to bring about meaningful change.</p>
                {% comment %} TODO link {% endcomment %}
                <div class="alert alert-primary mt-4 mb-0" role="alert">
                    <span>If you’re a Councillor or Officer <a href="#council-section">click here</a> for guidance on how to use the Scorecards within your council for change. </span>
                </div>
            </div>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2 class="mb-4">Quick and simple actions you can take right now</h2>

                <h3>Tweet at your council</h3>
                <p>You’ll find each council’s X (previously known as Twitter) handle on their page of the Council Climate Action Scorecards website. You can use our suggested tweet below, check out our <a href="https://docs.google.com/document/d/1wOhMSgggPPztVsBb1Nual1vwN3IkiYjKdcEE0Iw3lvs/edit?usp=sharing">media pack</a> for more ideas, or compose your own tweet - just remember to @ your council in.</p>

                <div class="alert bg-blue-100">
                    <p class="mb-0">Up to 30% of the UK’s transition to zero carbon is within the influence of local councils - that’s why I’m checking [@NAME OF YOUR COUNCIL]’s climate action on [LINK TO COUNCIL’S PAGE ON SCORECARDS SITE] 📋 #ClimateActionScorecards. </p>
                </div>

                <figure class="mb-3">
                    <img src="{% static 'scoring/img/social-handles-screenshot.png' %}" width="100%" height="auto" alt="You can find the social media buttons below council and section tables" class="shadow-sm" >
                    <figcaption class="text-bg-primary mb-3 p-2 fs-7">You can find the social media handles below a council’s and section’s tables</figcaption>
                </figure>

                <p><strong>Why?</strong> It helps show your council — and your followers — that you care about the steps they say they’re taking towards net zero, and that there’s support for strong action amongst their residents.</p>

                <h3 class="mt-5">Share your council&rsquo;s score</h3>
                <p>Share your council&rsquo;s score with your own social networks - social media, email, word of mouth - however you can ensure more people see it.</p>
                <p><strong>Why?</strong> The more exposure the Scorecards get, the more conversation there will be around councils taking strong climate action, bringing the idea into the mainstream.
                </p>

                <h3 class="mt-5">Send a letter to the local newspaper</h3>
                <p>We’ve shared a template letter in the <a href="https://docs.google.com/document/d/1wOhMSgggPPztVsBb1Nual1vwN3IkiYjKdcEE0Iw3lvs/edit?usp=sharing">media pack</a>, which you can personalise as you wish. You can find the email address for your local paper on their contact us page on their website, and put ‘letter to editor’ in the email title. </p>
                <p><strong>Why?</strong>  Local press is an effective route to reaching an audience that cares about your local community.
                </p>

                <h3 class="mt-5">Send a press release to your local paper or radio station/s</h3>
                <p>Here’s a template in our <a href="https://docs.google.com/document/d/1wOhMSgggPPztVsBb1Nual1vwN3IkiYjKdcEE0Iw3lvs/edit?usp=sharing">media pack</a> which you can edit and send. </p>
                <p><strong>Why?</strong> Local media really helps us get the word out, but we need your help to make sure we’ve covered every outlet. Councillors always read their local paper, so this is a great way to make sure your council sees the Scorecards and is encouraged to do more. 
                </p>

                <h2 class="mt-5 mb-4">Do a little more</h2>
                <h3 class="mb-3">Read our <a href="https://docs.google.com/document/d/16YQ6b0iBAkEuPgfTt8IAoMfF7xe2pmOn4wifPAdvBlk/edit?usp=sharing">Campaigners Guide to the Council Climate Action Scorecards</a> to work out how best to push your council for change</h3>
                <p><strong>Why?</strong> Research and data can be vital tools in persuading councils to take action, if you know how to use them!
                </p>

                <h3 class="mb-3 mt-5">Join us for a training session on what these Scorecards mean and how you can use them in your campaigning. </h3>
                <p><strong>Why?</strong> Come and meet other people who are interested in the Scorecards too, and learn more about what you can do with this information collectively. We are hosting 3 How to use the Council Climate Action Scorecards events.
                </p>
                <p>Register using the links below to one of our open training sessions:</p>
                <ul>
                    <li><a href="https://actionnetwork.org/events/how-to-use-the-council-climate-action-scorecards-training-session-1">23rd October: 5:30 - 6:30pm</a></li>
                    <li><a href="https://actionnetwork.org/events/how-to-use-the-council-climate-action-scorecards-training-session-2">15th November: 12-1pm</a></li>
                    <li><a href="https://actionnetwork.org/events/how-to-use-the-council-climate-action-scorecards-training-session-3">7th December: 5:30 - 6:30pm</a></li>
                </ul>

                <h3 class="mb-3 mt-5">Join a local campaign group</h3>
                <p>You could take a look at groups listed on <a href="https://takeclimateaction.uk/join">Friends of the earth Climate Action Group Map</a>, or with <a href="https://www.campaigncc.org/local.shtml">Campaign Against Climate Change</a>, on <a href="https://climatenetwork.org/">Climate Network</a> (some groups might appear on multiple maps!) or find or start your own group locally.
                </p>
                <p><strong>Why?</strong> Acting alone can be daunting, and it’s easier to shape an actionable request based on the data when you have a group to discuss it with.
                </p>

                <h3 class="mb-3 mt-5">Get in touch with your local Councillor with a remit for the environment</h3>
                <p>At least one of your councillors will sit on your council’s environment committee or be the cabinet lead for climate action (or similar). Check out our <strong>Campaigners’ Guide to the Council Climate Scorecards</strong> on how to find them and how to know what to say.
                </p>
                <p><strong>Why?</strong> Using the Scorecards as a basis for your conversation, you may be able to secure a commitment to faster or more ambitious climate action.
                </p>

                <h3 class="mb-3 mt-5">Submit a question to your local council meeting</h3>
                <p>Every member of the public has the right to do this. Sounds a little intimidating? Check out our <a href="https://docs.google.com/document/d/16YQ6b0iBAkEuPgfTt8IAoMfF7xe2pmOn4wifPAdvBlk/edit?usp=sharing">Campaigners Guide to the Council Climate Action Scorecards</a> for more on how to do this.
                </p>
                <p><strong>Why?</strong> This is a way of getting climate action directly onto the council’s agenda.
                </p>

                <h2 class="mt-5 mb-4">If you’re already part of an action group</h2>
                <h3 class="mb-3">Read our <a href="https://docs.google.com/document/d/16YQ6b0iBAkEuPgfTt8IAoMfF7xe2pmOn4wifPAdvBlk/edit?usp=sharing">Campaigners Guide to the Council Climate Action Scorecards</a> to work out how best to push your council for change</h3>
                <p><strong>Why?</strong> Research and data can be vital tools in persuading councils to take action, if you know how to use them!
                </p>

                <h3 class="mb-3 mt-5">Study your council’s Scorecard and compare it to others</h3>
                <p>This will help you understand what action your council is taking and where your council needs to improve.</p>
                <p><strong>Why?</strong> Understanding where your council needs to improve will help you work with your council to implement stronger climate action. Plus, if you are able to show your council that others have adopted similar policies or actions then your council will be more likely to take that action as well.</p>

                <h3 class="mb-3 mt-5">Help spread the word</h3>
                {% comment %} TODO: Link to media pack {% endcomment %}
                <p>Check out our media pack for resources that you can adapt for your communication channels and social networks.</p>
                <p><strong>Why?</strong> You can get the word out to your climate-engaged membership, and get them to take the actions we listed above.</p>

                <h3 class="mb-3 mt-5">Run an event or meeting based around the Scorecards – online or in person</h3>
                <p><strong>Why?</strong> Sometimes it’s easier to explain things, and enthuse people to take action, face to face.</p>

                <h2 class="mt-5 mb-3">Still got questions?</h2>
                <p>Feel free to contact us <a href="https://councilclimatescorecards.uk/contact/">here</a>.</p>
            </div>
        </div>

        <div id="council-section" class="row">
            <div class="col-lg-6">
                <h2 class="mt-5 mb-3">How to use the Scorecards as a Councillor or Officer</h2>
                <p>The Scorecards score each council’s climate action on 91 questions or less, depending on council type, across 7 sections, following <a href="{% url 'scoring:methodology' %}">Climate Emergency UK’s methodology</a>. </p>
                <p>This scoring can only reflect information that was either already publicly available or released through a concise series of FOIs. Therefore the results are not reflective of every action the council has taken — although the questions cover a wide range of the council’s climate activity. </p>
                <p>Don’t forget to check out our ‘10 ways to improve your Council’s climate action’ summary document, which is written in response to some of the common themes we noticed when marking council climate action and how they could be improved. </p>
                <p>Here are some helpful tips on how best to understand this data and use it for meaningful improvement to your council’s planned activity.</p>
                <ul>
                    <li>Take time to <strong>understand the methodology</strong> and what exactly the markers were looking for in each question. </li>
                    <li><strong>Look at each section score</strong> You might have scored particularly well in some sections but not in others: why is that? Use the filter buttons to see which councils have scored highly in the sections that you didn’t score as well on. What have these councils done differently, and what can you learn from this?</li>
                    <li><strong>Make use of the filter tools</strong> Use the various criteria such as urbanisation, deprivation or population size to discover councils that are similar to yours, and see where the strengths and weaknesses are in their climate action. Or check your neighbouring councils: where have they scored well, and can you learn from them? These filters can help you understand more about what councils similar to you have done, and where you might be able to share learnings — or even budgets! 
                    </li>
                    <li><strong>Remember that not scoring a mark might not indicate a lack of action; it might be a result of weak communication or national barriers.</strong> Is information on progress made by your council towards net zero publicly available and easy to access? What have you done as a council to push against national barriers</li>
                    <li><strong>Share your successes.</strong> If you are a council that has scored well in a particular section, or overall, can you share your learnings and successes with other councils so that they can make progress faster and more easily?</li>
                </ul>

                <p>These Scorecards are publicly available online, so you may well find that residents, local campaign groups or other councillors ask about your council’s climate action and Scorecard result. </p>
                <p>We believe this is a real benefit brought by the project: for climate action to be effective, first, everyone needs to understand what is being done and why. That’s the first step toward residents' buy-in. There’s a further advantage to having more people fully up to speed with the council’s progress towards achieving net zero: as the net widens, you’ll have access to more people with skills, experience, capacity or ideas worth sharing. </p>
                <p>If you are interested in finding out more about your council’s score and analysis on how you could improve, please contact us. We can provide further (for a fee) advice on how a council can improve their climate action.</p>
                <p><a href="https://climateemergency.org.uk/council-climate-action-scorecards-data-packages/">Click here</a> to buy the data that is available on this website in spreadsheet (.csv) format for your council or all councils.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
