{% extends "scoring/base-minimal.html" %}

{% load bootstrap4 %}

{% block page_title %}Log in | Council Climate Scorecards{% endblock %}

{% block content %}
    <div class="container py-5 py-sm-6 py-md-7 py-lg-8">
        <h1>Log in</h1>
        <form class="login-form" method="POST" style="max-width: 20em">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary mt-3" name="sumbit">Log in</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
