{% extends "scoring/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
    <div class="methodology-2023-content js-dynamic-content ">
        <div class="pt-5 pb-6 pt-lg-8 pb-lg-8 hero-section with-version-background">
            <div class="d-flex flex-column align-items-end align-items-lg-start hero-version-badge position-absolute">
                <span class="version-year d-block fw-bold lh-1">{{ methodology_year }}</span>
                <span class="version-name d-block fw-bold lh-1">Action Scorecards</span>
            </div>
            <div class="container">
                <a href="{% url 'scoring:home' %}" class="btn btn-sm btn-outline-primary mb-2">
                    {% include 'caps/icons/chevron-left.html' with classes='me-1 mb-1' %}
                    Back to home page
                </a>
                <h1 class="mb-3" style="max-width: 20em">
                  {% if methodology_year == 2025 %}
                    Council Climate Action Scorecards Updated Methodology (2025)
                  {% else %}
                    Council Climate Action Scorecards Methodology
                  {% endif %}
                </h1>
            </div>
        </div>

        <div class="container-xl">
            <div class="row">
                <div class="col-md-4 offset-lg-1 col-xl-3 order-md-2 mt-5 sticky-in-page-nav">

                    <button aria-expanded="false" aria-controls="in-page-nav">Jump to section</button>

                    <div class="position-sticky pb-md-3" id="in-page-nav" style="top: 1em;">
                        <h3 class="h6 d-none d-md-block" style="margin-left: 1rem;">Contents</h3>

                        <nav class="list-group list-group-flush">
                            {% include toc_template %}
                        </nav>
                    </div>

                </div>
                <div class="col-md-8 col-lg-7 col-xl-8 order-md-1 mt-5">

                    {% include intro_template %}

                    <h3 class="mt-5 mb-3" id="questions">See the questions</h3>
                    {% include 'scoring/includes/main-filter-methodology.html' %}

                    <form class="form-check-flex border rounded p-3 mb-3">
                        <input class="form-check-input" type="checkbox" id="display-complete-content" name="display-complete-content">
                        <label class="form-check-label" for="display-complete-content">Show full question details by default</label>
                    </form>

                    <div class="js-single alert alert-primary mt-3 mt-lg-4 border" role="alert">
                        <p class="mb-0">A small number of questions might not apply to your council and they are highlighted with a warning icon.</p>
                    </div>

                    <div class="toggle-section-accordion rounded js-single js-district js-county js-northern-ireland js-combined">
                      {% for section in sections %}
                        <div class="toggle-section {% for council_type in section.council_types %}js-{{ council_type }} {% endfor %}">
                            <h4 class="toggle-section__header">
                                <button class="js-hidden-toggle text-start" aria-controls="section-{{ forloop.counter }}">
                                    {{section.title|escape}}
                                </button>
                            </h4>
                            <div class="toggle-section__content" id="section-{{ forloop.counter }}">
                                <div class="mb-3">

                                  {% for council_type, weighting in section.weightings.items %}
                                    <div class="js-{{ council_type }}">
                                        <span>
                                            <strong>This section will contribute {{ weighting }}% to a
                                                {% if council_type == 'single' %}
                                                    single tier council’s
                                                {% elif council_type == 'district' %}
                                                    district council’s
                                                {% elif council_type == 'county' %}
                                                    county council’s
                                                {% elif council_type == 'northern-ireland' %}
                                                    Northern Irish council’s
                                                {% elif council_type == 'combined' %}
                                                    Combined Authority’s 
                                                {% endif %}
                                                        overall score
                                            </strong>
                                        </span>
                                    </div>
                                  {% endfor %}

                                </div>
                                <p>{{ section.description }}</p>
                                <div class="section-question-list-wrapper mb-n3">

                                  {% for question in section.questions %}
                                    <div class="question-card rounded border mb-3 {% for council_type in question.council_types %}js-{{ council_type }} {% endfor %}">

                                      {% if question.england_only == "yes" %}
                                        <div class="alert alert-warning is-red mb-0 border-0 rounded-0 js-single" role="alert">
                                            <span class="warning-icon"></span>
                                            <span class="ml-2 h5">This question might not apply to your council</span>
                                          {% if question.wales_apply == "yes" %}
                                            <p class="mb-0 mt-2">This question only applies to councils in England and Wales as the data is not available for councils in Scotland and Northern Ireland.</p>
                                          {% else %}
                                            <p class="mb-0 mt-2">This question only applies to councils in England as the data is not available for councils in Scotland, Wales and Northern Ireland.</p>
                                          {% endif %}
                                        </div>
                                      {% endif %}

                                        <div class="section-question-heading p-3">
                                            <p class="badge bg-secondary">{{ section.title|escape }} · Question {{ question.code }}</p>
                                            <h6 class="h5">{{ question.name }}</h6>
                                            <button class="btn btn-sm btn-outline-primary mt-2 js-hidden-toggle" aria-controls="section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}">Display question details</button>
                                        </div>
  
                                        <div class="section-question-content" id="section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}">
                                            <div class="p-3">
                                                <div class="section-question-meta-wrapper mb-3">
                                                    <div class="section-question-meta-item">
                                                        <p class="fw-bold mb-2">Topic</p>
                                                        <p>{{ question.topic }}</p>
                                                    </div>
                                                    <div class="section-question-meta-item">
                                                        <p class="fw-bold mb-2 d-table" data-bs-toggle="tooltip" data-bs-placement="top"
                                                        data-bs-custom-class="custom-tooltip"
                                                        data-bs-title="Find out more in Question Weightings within section">
                                                            <span>Single Tier</span>
                                                            {% include 'caps/icons/question-circle.html' with classes='ms-1 align-text-top' width='1.1rem' height='1.1rem' role='presentation' %}
                                                        </p>
                                                        <p>{{ question.importance }}</p>
                                                    </div>
                                                    <div class="section-question-meta-item">
                                                        <p class="fw-bold mb-2">How will this be marked?</p>
                                                        <p>
                                                            {% autoescape off %}
                                                                {{ question.how_marked }}
                                                            {% endautoescape %}
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="section-question-criteria mb-3 mb-4">
                                                    <p class="fw-bold mb-2"><span>Criteria</span></p>
                                                    <!-- QUESTION CRITERIA -->
                                                    {% autoescape off %}
                                                        {{ question.criteria|linebreaks }}
                                                    {% endautoescape %}
                                                </div>

                                                <!-- QUESTION CLARIFICATION -->
                                              {% if question.clarifications %}
                                                <div class="section-question-clarification">
                                                    <p class="fw-bold mb-2">Clarifications</p>
                                                    {% autoescape off %}
                                                        {{ question.clarifications|linebreaks|urlize }}
                                                    {% endautoescape %}
                                                </div>
                                              {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                  {% endfor %}

                                </div>
                            </div>
                        </div>
                      {% endfor %}

                    </div>

                    {% include details_template %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
