{% extends "scoring/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="methodology-2023-content">
        <div class="hero container-fluid bg-dark-grey">
            <div style="max-width: 1110px" class="mx-auto">
                <a class="cta reverse white" href="{% url 'home' %}">Back to the Scorecards</a>
                <h1 class="text-white mt-3">Draft methodology</h1>
                <div class="mt-3">
                    <span class="hero-sub">Check out our process</span>
                </div>
            </div>
        </div>

        <div class="position-relative">
            <button id="mobile-content-navbar" aria-label="Open secondary navbar" aria-controls="content-navbar" aria-expanded="false"></button>
            <nav id="content-navbar" aria-label="secondary" class="position-fixed">
                <h6 class="mb-0 pt-3 px-3 bg-blue-l2" style="opacity:1">Content</h6>
                <ul class="p-3 bg-blue-l2">
                    <li><a href="">Example</a></li>
                    <li><a href="">Example</a></li>
                    <li>
                        <ul>
                            <li>Cook beans for 45 minutes.</li>
                            <li>Cut vegetables in small cubes.</li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div id="what-have" class="container medium">
                <div class="row mb-3">
                    <div class="col-12 col-lg-6">
                        <h2>Summary</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <p>We have now published the draft methodology for the Council Climate Action Scorecards. This lays out how we'll be marking and scoring all UK councils on the actions they're taking towards net zero. The Council Climate Action Scorecard results will be released in Autumn 2023.
                        </p>
                        <p>We will mark and score all UK councils on their climate action against 90 questions in 7 different sections. We created the criteria through extensive research and consultation with council staff, councillors, campaigners and other organisations. To understand what action we will be scoring and the question weightings, please read the complete draft methodology here. To find out more about how we created each section and why questions or topics were or were not included, check out our blog series on the draft methodology here.
                        </p>
                        <p>
                            Whilst every effort has been made to make this methodology complete, <strong>Climate Emergency UK reserves the right to make changes to the methodology where deemed appropriate between now and Autumn 2023.</strong> Changes may be made, for example, if national policy changes between now and Autumn 2023 and this impacts our questions; or if the data needed to answer a particular question is no longer available to use. An updated methodology, identical to the one used in the marking, will be published, if needed, alongside the Council Climate Action Scorecards in Autumn 2023.
                        </p>
                        <p><strong>The Council Climate Action Scorecards is a project of Climate Emergency UK, with technical support from <a href="https://www.mysociety.org/">mySociety.</a></strong></p>
                        <div class="alert alert-warning mt-4 mt-lg-5" role="alert">
                            <p>You can also download the pdf version of the draft methodology. Wich also contains a spreadsheet with more information about the each question.
                            </p>
                            <!-- TODO link-->
                            <button  class="btn btn btn-blue is--light mt-2 mt-sm-3">Download methodology pdf</button>
                        </div>
                        <div class="alert alert-warning mt-3 mt-lg-4" role="alert">
                            <h3>Combined Authorities</h3>
                            <p>We have not yet published the draft methodology for the Council Climate Action Scorecards for Combined Authorities. Combined Authorities have varying powers within themselves and a lot of the Scorecard questions can't be applied. We will score all Combined Authorities and publish the results in 2023. The draft methodology for Combined Authorities will be published prior to this. We plan to share the amended Scorecards for Combined Authorities soon.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container medium">
                <div id="methodology-question" class="row">
                    <div class="col-12 col-lg-7">
                        <h2 class="mb-4">Methodology question</h2>
                    </div>
                </div>
                <div class="js-dynamic-content">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            {% include 'scoring/includes/main-filter-methodology.html' %}
                            <div class="alert alert-warning mt-3 mt-lg-4" role="alert">
                                <p class="label pl-0">Currently displaying</p>
                                <h3 class="js-default">Select a council</h3>
                                <h3 class="js-single-tier">Single tier</h3>
                                <h3 class="js-district">District</h3>
                                <h3 class="js-county">County</h3>
                                <h3 class="js-northern-ireland">Northren Ireland</h3>
                                <p class="js-default">To see the sections & questions, select a council or a type of council.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mt-lg-5">
                        <div class="col-12 col-lg-9">
                            <h3 class="h4 mb-3 underline-green">Section Weightings</h3>
                            <table class="minimal-table">
                                <thead>
                                    <tr class="bg-green">
                                        <th>Section</th>
                                        <th class="js-highlight-single-tier">Single tier</th>
                                        <th class="js-highlight-district">District</th>
                                        <th class="js-highlight-county">County</th>
                                        <th class="js-highlight-northern-ireland">Northern Ireland</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Buildings & Heating</td>
                                        <td class="js-highlight-single-tier">20%</td>
                                        <td class="js-highlight-district">25%</td>
                                        <td class="js-highlight-county">20%%</td>
                                        <td class="js-highlight-northern-ireland">20%</td>
                                    </tr>
                                    <tr>
                                        <td>Transport</td>
                                        <td class="js-highlight-single-tier">20%</td>
                                        <td class="js-highlight-district">5%</td>
                                        <td class="js-highlight-county">30%</td>
                                        <td class="js-highlight-northern-ireland">15%</td>
                                    </tr>
                                    <tr>
                                        <td>Planning & Land Use</td>
                                        <td class="js-highlight-single-tier">15%</td>
                                        <td class="js-highlight-district">25%</td>
                                        <td class="js-highlight-county">5%</td>
                                        <td class="js-highlight-northern-ireland">15%</td>
                                    </tr>
                                    <tr>
                                        <td>Governance & Finance</td>
                                        <td class="js-highlight-single-tier">15%</td>
                                        <td class="js-highlight-district">15%</td>
                                        <td class="js-highlight-county">15%</td>
                                        <td class="js-highlight-northern-ireland">20%</td>
                                    </tr>
                                    <tr>
                                        <td>Biodiversity</td>
                                        <td class="js-highlight-single-tier">10%</td>
                                        <td class="js-highlight-district">10%</td>
                                        <td class="js-highlight-county">10%</td>
                                        <td class="js-highlight-northern-ireland">10%</td>
                                    </tr>
                                    <tr>
                                        <td>Collaboration & Engagement</td>
                                        <td class="js-highlight-single-tier">10%</td>
                                        <td class="js-highlight-district">10%</td>
                                        <td class="js-highlight-county">10%</td>
                                        <td class="js-highlight-northern-ireland">10%</td>
                                    </tr>
                                    <tr>
                                        <td>Waste Reduction & Food</td>
                                        <td class="js-highlight-single-tier">10%</td>
                                        <td class="js-highlight-district">10%</td>
                                        <td class="js-highlight-county">10%</td>
                                        <td class="js-highlight-northern-ireland">10%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-4 mt-lg-5">
                        <div class="col-12 col-lg-9">
                            <h3 class="h4 mb-3 underline-green">How will this be marked?</h3>
                            <div class="alert alert-warning js-default" role="alert" style="max-width:635px">
                                <p class="mb-0">To see this table select a council or type of council.
                                </p>
                            </div>
                            <table class="minimal-table js-single-tier">
                                <thead>
                                    <tr class="bg-green">
                                        <th>Section</th>
                                        <th>FOI</th>
                                        <th>National data</th>
                                        <th>Volunteer Research</th>
                                        <th>National data & Volunteer research</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Buildings & Heating</td>
                                        <td>20%</td>
                                        <td>25%</td>
                                        <td>20%%</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>Transport</td>
                                        <td>20%</td>
                                        <td>5%</td>
                                        <td>30%</td>
                                        <td>15%</td>
                                    </tr>
                                    <tr>
                                        <td>Planning & Land Use</td>
                                        <td>15%</td>
                                        <td>25%</td>
                                        <td>5%</td>
                                        <td>15%</td>
                                    </tr>
                                    <tr>
                                        <td>Governance & Finance</td>
                                        <td>15%</td>
                                        <td>15%</td>
                                        <td>15%</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>Biodiversity</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>Collaboration & Engagement</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>Waste Reduction & Food</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="minimal-table js-district">
                                <thead>
                                    <tr class="bg-green">
                                        <th>Section</th>
                                        <th>FOI</th>
                                        <th>National data</th>
                                        <th>Volunteer Research</th>
                                        <th>National data & Volunteer research</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Buildings & Heating</td>
                                        <td>20%</td>
                                        <td>25%</td>
                                        <td>20%%</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>Transport</td>
                                        <td>20%</td>
                                        <td>5%</td>
                                        <td>30%</td>
                                        <td>15%</td>
                                    </tr>
                                    <tr>
                                        <td>Planning & Land Use</td>
                                        <td>15%</td>
                                        <td>25%</td>
                                        <td>5%</td>
                                        <td>15%</td>
                                    </tr>
                                    <tr>
                                        <td>Governance & Finance</td>
                                        <td>15%</td>
                                        <td>15%</td>
                                        <td>15%</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>Biodiversity</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>Collaboration & Engagement</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>Waste Reduction & Food</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="minimal-table js-county">
                                <thead>
                                    <tr class="bg-green">
                                        <th>Section</th>
                                        <th>FOI</th>
                                        <th>National data</th>
                                        <th>Volunteer Research</th>
                                        <th>National data & Volunteer research</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Buildings & Heating</td>
                                        <td>20%</td>
                                        <td>25%</td>
                                        <td>20%%</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>Transport</td>
                                        <td>20%</td>
                                        <td>5%</td>
                                        <td>30%</td>
                                        <td>15%</td>
                                    </tr>
                                    <tr>
                                        <td>Planning & Land Use</td>
                                        <td>15%</td>
                                        <td>25%</td>
                                        <td>5%</td>
                                        <td>15%</td>
                                    </tr>
                                    <tr>
                                        <td>Governance & Finance</td>
                                        <td>15%</td>
                                        <td>15%</td>
                                        <td>15%</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>Biodiversity</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>Collaboration & Engagement</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>Waste Reduction & Food</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="minimal-table js-northern-ireland">
                                <thead>
                                    <tr class="bg-green">
                                        <th>Section</th>
                                        <th>FOI</th>
                                        <th>National data</th>
                                        <th>Volunteer Research</th>
                                        <th>National data & Volunteer research</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Buildings & Heating</td>
                                        <td>20%</td>
                                        <td>25%</td>
                                        <td>20%%</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>Transport</td>
                                        <td>20%</td>
                                        <td>5%</td>
                                        <td>30%</td>
                                        <td>15%</td>
                                    </tr>
                                    <tr>
                                        <td>Planning & Land Use</td>
                                        <td>15%</td>
                                        <td>25%</td>
                                        <td>5%</td>
                                        <td>15%</td>
                                    </tr>
                                    <tr>
                                        <td>Governance & Finance</td>
                                        <td>15%</td>
                                        <td>15%</td>
                                        <td>15%</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>Biodiversity</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>Collaboration & Engagement</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>Waste Reduction & Food</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                        <td>10%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-4 mt-lg-5">
                        <div class="col-12 col-lg-7">
                            <h3 class="h4 mb-3 underline-green">List of questions</h3>
                            <form class="radio-wrapper bg-blue-l2 p-3 mb-3">
                                <input class="mr-1" type="checkbox" id="display-complete-content" name="display-complete-content">
                                <label for="display-complete-content">Display questions details such as criteria and clarifications.</label>
                            </form>
                            <div id="accordion-sections" class="accordion-wrapper rounded">
                                <div id="accordion-section-1" class="accordion-item">
                                    <div class="accordion-heading">
                                        <h5 class="mb-0">Buildings & Heating</h5>
                                        <button class="btn-open-accordion ml-auto" type="button" aria-label="Open section"></button>
                                    </div>
                                    <div class="accordion-data">
                                        <div class="accordion-data-inner">
                                            <div class="my-3">
                                                <div class="js-single-tier">
                                                    <span>15%</span><span class="label ml-1">section weight of total score</span>
                                                </div>
                                                <div class="js-district">
                                                    <span>15%</span><span class="label ml-1">section weight of total score</span>
                                                </div>
                                                <div class="js-county">
                                                    <span>15%</span><span class="label ml-1">section weight of total score</span>
                                                </div>
                                                <div class="js-northern-ireland">
                                                    <span>15%</span><span class="label ml-1">section weight of total score</span>
                                                </div>
                                            </div>
                                            <p>Buildings and Heating is one of the biggest sectors of carbon and other greenhouse gas emissions in the UK. This section aims to cover the main actions that councils can take to support both private rented and owned homes and socially renting households to reduce the emissions from their homes.</p>
                                            <div class="section-question-list-wrapper">
                                                <div class="question-card rounded border mb-3 mb-sm-4">
                                                    {% include 'scoring/includes/question-warning.html' %}
                                                    <div class="section-question-heading p-3 bg-green-l2">
                                                        <p class="label pl-0">Buildings & Heating · Question 1</p>
                                                        <h6 class="h5">Does the council have enforced school streets across its area?</h6>
                                                        <button class="btn-display-question-details btn btn btn-blue is--light mt-2">Display question details</button>
                                                    </div>
                                                    <div class="section-question-content">
                                                        <div class="p-3">
                                                            <div class="section-question-meta-wrapper">
                                                                <div class="section-question-meta-item">
                                                                    <p class="label pl-0 mb-0">Topic</p>
                                                                    <p>Shared Transport Scheme</p>
                                                                </div>
                                                                <div class="section-question-meta-item">
                                                                    <p class="label pl-0 mb-0">Question Weighting</p>
                                                                    <p>Low</p>
                                                                </div>
                                                                <div class="section-question-meta-item">
                                                                    <p class="label pl-0 mb-0">How will this be marked?</p>
                                                                    <p>FOI</p>
                                                                </div>
                                                            </div>
                                                            <div class="section-question-criteria">
                                                                <h6>Criteria</h6>
                                                                <p>Points awarded for 10 or more enforced school streets.</p>
                                                                <p>Further points awarded for 30 or more enforced school streets. A trial school street, which is current at the time of marking, will be counted but only if the local authority is over the total of 10/30 with trial/permenant school streets.</p>
                                                                <p class="mb-0">School streets must be year round to be accepted here.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sub-topic mb-4">
                    <h4 class="mb-3">Checklist</h4>
                    <div style="max-width:550px">
                        <p>Climate Emergency UK’s 
                            <a class="d-inline-block" href="https://www.climateemergency.uk/blog/climate-action-plan-checklist/">Climate Action Plan Checklist</a>,
                            created in partnership with Friends of the Earth, Centre for Alternative Technology, Ashden and APSE Energy, outlines the recommended contents of a strong Climate Action Plan.
                            The scoring system used in compiling the Scorecards was based on this checklist. 
                        </p>
                    </div>
                </div>
                <div class="sub-topic mb-4">
                    <h4 class="mb-3">Consultations and feedback</h4>
                    <div style="max-width:550px">
                        <p>During the development of the scoring system, Climate Emergency UK held three consultations in which nearly 200 councillors, council officers, climate action campaigners and organisations were invited to comment on the process. In these sessions we delved into the details of the questions used to score against, explored how to make this process useful and manageable for councils and discussed the presentation of the data.</p>
                        <p>A survey on how the data should be presented was also sent to approx. 700 councillors and council officers who were not able to attend the events. This asked questions about how the data should be presented, for example:</p>
                        <ul class="mb-3">
                            <li>What do you think about us displaying a single overall score for each council?</li>
                            <li>Do you think it’s useful to display the breakdown of category scores?</li>
                            <li>What filters should be included?</li>
                        </ul>
                        <p>Based on the feedback received from these sessions, the questions were refined to produce the final checklist. The right of reply was established as part of this process and it was decided that scores would be displayed by council type. Each council will only be compared with others that have similar responsibilities. For example, all district councils are grouped together and can be compared to one another but can not be compared with county councils.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
