{% extends "scoring/base.html" %}
{% load bootstrap4 %}

{% comment %} 
    section = models.ForeignKey(PlanSection, on_delete=models.CASCADE)
    code = models.CharField(max_length=100)
    text = models.TextField(null=True, default='')
    max_score = models.PositiveSmallIntegerField(default=0)
    question_type = models.CharField(max_length=100) # needs choices
{% endcomment %}

{% block content %}
    <div class="about-page">
        <div class="hero container-fluid bg-dark-grey">
            <div style="max-width: 1110px" class="mx-auto">
                <a class="cta reverse white" href="{% url 'home' %}">Back to scorecards plan</a>
                <h1 class="text-white mt-3">Methodology</h1>
                <div class="mt-3">
                    <span class="hero-sub">Check out our process</span>
                </div>
            </div>
        </div>

        <div class="container">
            <h3 class="pending">Change everything to curly quote</h3>
            <div class="alert alert-warning mt-4 mt-lg-5" role="alert">
                <h3>Disclaimer</h3>
                <span>This assessment marked Climate Action Plans that were 
                    publicly available on council websites on or before 20 September 
                    2021. As such, it is a snapshot of that moment in time: we acknowledge 
                    that some councils have published or updated plans since this date. 
                    The plans included in this assessment are listed on the individual 
                    council pages. Visit the <a href="https://data.climateemergency.uk/">Climate Action Plan Explorer</a> to see if there is a later version of a council’s plan.</span>
            </div>
            {% comment %} Add about page link {% endcomment %}
            <p><strong>To find out about the history of and methodology behind the scorecards, please go to </strong> <a class="d-inline-block" href="{% url 'about' %}">About us</a></p>
        </div>

        <div class="container table-of-content">
            <h3 class="mb-3">Table of content</h3>
            {% comment %} Update links ID {% endcomment %}
            <a href="#what-have">What have we marked?</a>
            <a href="#what-have">What have we marked?</a>
            <a href="#what-have">What have we marked?</a>
            <a href="#what-have">What have we marked?</a>
        </div>

        <div id="what-have" class="container">
            <div class="row mb-3">
                <div class="col-12 col-lg-6">
                    <h3>What have we marked?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <p>In this pilot project we have only marked councils' 
                        Climate Action Plans. These Scorecards do not take into account
                         any action that councils may have underway. 
                    </p>
                    <p>In future years we plan to assess councils on the actual 
                        steps they are taking towards eliminating their climate 
                        emissions. However, this preparatory work is vital, as a 
                        strong plan is the first step towards taking robust climate 
                        action over a sustained period of time — and without a plan 
                        it is impossible for residents to participate in the democratic
                         process of holding their councils to account.
                    </p>
                </div>

                <div class="col-12 col-lg-6">
                    <p>To create the Council Climate Plan Scorecards we have 
                        marked UK councils' climate action plans, strategies and, 
                        if relevant, drafts of these documents. We have also marked 
                        other related plans and strategies if they are either mentioned in the
                         Climate Action Plan or linked to from the same webpage as the Climate Action Plan. 
                         Examples of these extra plans include separate Biodiversity Plans and emissions 
                         data documents. <strong>Plans must have been publicly available on the council’s website
                          on or before 20 September 2021 to be included.</strong>
                    </p>
                </div>
            </div>
        </div>

        <div id="developing-the-scoring" class="container">
            <h3 class="mb-4">Developing the Scoring System</h3>
            <div class="sub-topic mb-4">
                <h4 class="mb-3">Checklist</h4>
                <div style="max-width:550px">
                    <p>Climate Emergency UK’s 
                        <a class="d-inline-block" href="https://www.climateemergency.uk/blog/climate-action-plan-checklist/">Climate Action Plan Checklist</a>,
                        created in partnership with Friends of the Earth, Centre for Alternative Technology, Ashden and APSE Energy, outlines the recommended contents of a strong Climate Action Plan.
                        The scoring system used in compiling the Scorecards was based on this checklist. 
                    </p>
                </div>
            </div>
            <div class="sub-topic mb-4">
                <h4 class="mb-3">Consultations and feedback</h4>
                <div style="max-width:550px">
                    <p>During the development of the scoring system, Climate Emergency UK held three consultations in which nearly 200 councillors, council officers, climate action campaigners and organisations were invited to comment on the process. In these sessions we delved into the details of the questions used to score against, explored how to make this process useful and manageable for councils and discussed the presentation of the data.</p>
                    <p>A survey on how the data should be presented was also sent to approx. 700 councillors and council officers who were not able to attend the events. This asked questions about how the data should be presented, for example:</p>
                    <ul class="mb-3">
                        <li>What do you think about us displaying a single overall score for each council?</li>
                        <li>Do you think it’s useful to display the breakdown of category scores?</li>
                        <li>What filters should be included?</li>
                    </ul>
                    <p>Based on the feedback received from these sessions, the questions were refined to produce the final checklist. The right of reply was established as part of this process and it was decided that scores would be displayed by council type.</p>
                </div>
            </div>
        </div>

        <div id="scoring-process" class="container">
            <h3 class="mb-4">Scoring Process</h3>
            <div class="sub-topic mb-4">
                <h4 class="mb-3">First Marking</h4>
                <div style="max-width:550px">
                    <p>A team of around 120 trained volunteers marked all the Council Climate Action plans in the UK using the scoring system described above.</p>
                </div>
            </div>
            <div class="sub-topic mb-4">
                <h4 class="mb-3">Right of Reply</h4>
                <div style="max-width:550px">
                    <p>All councils in the UK were sent the scoring questions along with the first mark of their plan. They could see which questions had received points, but they couldn’t see individual scores for questions or their overall score. All councils, including those without a plan, were given a right of reply. Councils had three weeks to respond and highlight any mistakes in the first mark. Almost 50% of councils with a Climate Action Plan responded to the Right of Reply.</p>
                </div>
            </div>
            <div class="sub-topic mb-4">
                <h4 class="mb-3">Scoring Audit</h4>
                <div style="max-width:550px">
                    <p>During the scoring audit a team of around 25 highly trained volunteers and CEUK staff reviewed the first mark alongside the council's right of reply. All plans were audited regardless of whether the council responded to the right of reply.</p>
                </div>
            </div>
        </div>

        <div id="scoring-process" class="container">
            <h3 class="mb-3">Weighting</h3>
            <div style="max-width:550px">
                <p>Some of the sections have more questions than others, but, those sections with fewer questions are not significantly less important. To address this, a light-touch weighting system, as in the table below, has been applied to ensure each section's true value is reflected.</p>
            </div>
            <div class="table-wrapper">
                {% comment %} TODO for future releases would be great to get the 
                data from the database {% endcomment %}
                <table class="weighting-table">
                    <thead>
                        <tr>
                            <th>Section</th>
                            <th>Maximum points available in this section</th>
                            <th>Percent of final score that this section would naturally account for </th>
                            <th>Weighted percentage</th>
                            <th>Switch to weighted from score change</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Governance, Development and Funding</td>
                            <td>21</td>
                            <td>27</td>
                            <td>15</td>
                            <td>-12</td>
                        </tr>
                        <tr>
                            <td>Mitigation and Adaptation</td>
                            <td>18</td>
                            <td>23</td>
                            <td>15</td>
                            <td>-8</td>
                        </tr>
                        <tr>
                            <td>Commitment and Integration</td>
                            <td>7</td>
                            <td>9</td>
                            <td>15</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Community Engagement and Communications</td>
                            <td>9</td>
                            <td>12</td>
                            <td>15</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Measuring and Setting Emissions Targets</td>
                            <td>5</td>
                            <td>6</td>
                            <td>10</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Co-Benefits</td>
                            <td>4</td>
                            <td>5</td>
                            <td>5</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Diversity and Social Inclusion</td>
                            <td>5</td>
                            <td>6</td>
                            <td>10</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Education, Skills and Training</td>
                            <td>5</td>
                            <td>6</td>
                            <td>10</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Ecological Emergency </td>
                            <td>4</td>
                            <td>5</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                    </tbody>
                </table>

                <div class="card-wrapper is--weighting">
                    <div class="card-item mb-3">
                        <div class="card-heading">
                            <span>Governance, Development and Funding</span>
                        </div>
                        <div class="card-info">
                            <div class="card-info-item">
                                <span class="info-title">Maximum points available in this section</span>
                                <span class="info-text">21</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Percent of final score that this section would naturally account for</span>
                                <span class="info-text">27</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Weighted percentage</span>
                                <span class="info-text">15</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Switch to weighted from score change</span>
                                <span class="info-text">-12</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-item mb-3">
                        <div class="card-heading">
                            <span>Mitigation and Adaptation</span>
                        </div>
                        <div class="card-info">
                            <div class="card-info-item">
                                <span class="info-title">Maximum points available in this section</span>
                                <span class="info-text">18</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Percent of final score that this section would naturally account for</span>
                                <span class="info-text">23</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Weighted percentage</span>
                                <span class="info-text">15</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Switch to weighted from score change</span>
                                <span class="info-text">-8</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-item mb-3">
                        <div class="card-heading">
                            <span>Commitment and Integration</span>
                        </div>
                        <div class="card-info">
                            <div class="card-info-item">
                                <span class="info-title">Maximum points available in this section</span>
                                <span class="info-text">7</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Percent of final score that this section would naturally account for</span>
                                <span class="info-text">9</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Weighted percentage</span>
                                <span class="info-text">15</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Switch to weighted from score change</span>
                                <span class="info-text">6</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-item mb-3">
                        <div class="card-heading">
                            <span>Community Engagement and Communications</span>
                        </div>
                        <div class="card-info">
                            <div class="card-info-item">
                                <span class="info-title">Maximum points available in this section</span>
                                <span class="info-text">9</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Percent of final score that this section would naturally account for</span>
                                <span class="info-text">12</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Weighted percentage</span>
                                <span class="info-text">15</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Switch to weighted from score change</span>
                                <span class="info-text">3</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-item mb-3">
                        <div class="card-heading">
                            <span>Measuring and Setting Emissions Targets</span>
                        </div>
                        <div class="card-info">
                            <div class="card-info-item">
                                <span class="info-title">Maximum points available in this section</span>
                                <span class="info-text">5</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Percent of final score that this section would naturally account for</span>
                                <span class="info-text">6</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Weighted percentage</span>
                                <span class="info-text">10</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Switch to weighted from score change</span>
                                <span class="info-text">4</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-item mb-3">
                        <div class="card-heading">
                            <span>Co-Benefits</span>
                        </div>
                        <div class="card-info">
                            <div class="card-info-item">
                                <span class="info-title">Maximum points available in this section</span>
                                <span class="info-text">4</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Percent of final score that this section would naturally account for</span>
                                <span class="info-text">5</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Weighted percentage</span>
                                <span class="info-text">5</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Switch to weighted from score change</span>
                                <span class="info-text">0</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-item mb-3">
                        <div class="card-heading">
                            <span>Diversity and Social Inclusion</span>
                        </div>
                        <div class="card-info">
                            <div class="card-info-item">
                                <span class="info-title">Maximum points available in this section</span>
                                <span class="info-text">5</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Percent of final score that this section would naturally account for</span>
                                <span class="info-text">6</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Weighted percentage</span>
                                <span class="info-text">10</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Switch to weighted from score change</span>
                                <span class="info-text">4</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-item mb-3">
                        <div class="card-heading">
                            <span>Education, Skills and Training</span>
                        </div>
                        <div class="card-info">
                            <div class="card-info-item">
                                <span class="info-title">Maximum points available in this section</span>
                                <span class="info-text">5</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Percent of final score that this section would naturally account for</span>
                                <span class="info-text">6</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Weighted percentage</span>
                                <span class="info-text">10</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Switch to weighted from score change</span>
                                <span class="info-text">4</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-item mb-3">
                        <div class="card-heading">
                            <span>Ecological Emergency</span>
                        </div>
                        <div class="card-info">
                            <div class="card-info-item">
                                <span class="info-title">Maximum points available in this section</span>
                                <span class="info-text">4</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Percent of final score that this section would naturally account for</span>
                                <span class="info-text">5</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Weighted percentage</span>
                                <span class="info-text">5</span>
                            </div>
                            <div class="card-info-item">
                                <span class="info-title">Switch to weighted from score change</span>
                                <span class="info-text">0</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="presentation" class="container">
            <h3 class="mb-3">Presentation</h3>
            <p class="mb-4" style="max-width:550px">The feedback we received from councils and campaigners was carefully considered as we made decisions around the presentation of the Council Climate Plan Scorecards. </p>
            <div class="sub-topic mb-4">
                <h4 class="mb-3">'Type of Council' Lists</h4>
                <div style="max-width:550px">
                    <p>We recognise that different councils have different powers, <a href="https://www.instituteforgovernment.org.uk/explainers/local-government">as laid out by the Institute for Local Government<a>. To ensure that comparisons are meaningful, the Scorecard data has been divided into five lists: </p>
                    <ul class="mb-3">
                        <li>District councils</li>
                        <li>Single tier councils (English unitary councils and metropolitan districts, Scottish and Welsh councils)</li>
                        <li>County councils</li>
                        <li>Combined authorities</li>
                        <li>Northern Irish councils</li>
                    </ul>
                    <p>This means that only councils holding the same responsibilities can be compared.</p>
                </div>
            </div>
            <div class="sub-topic mb-4">
                <h4 class="mb-3">Filters</h4>
                <div style="max-width:550px">
                    <p class="pending">Pending</p>
                </div>
            </div>
            <div class="sub-topic mb-4">
                <h4 class="mb-3">Top Performers</h4>
                <div style="max-width:550px">
                    <p>The highest scoring councils of each type and category have been marked ‘Top Performers’ in recognition of the hard work that goes into creating a goodAction Plan. Some councils are putting admirable efforts into their commitments to tackling climate change and it is only right that this should be acknowledged.</p>
                    <p>The top performing councils in each scoring table have a star next to their name. In addition, this mark of recognition is displayed on the individual councils' pages, which also show if that council is a top performer within any of the categories.</p>
                </div>
            </div>
        </div>

        <div id="scoring-system" class="container">
            <h3 class="mb-3">Scoring system</h3>
            <p style="max-width:550px">The scoring system consists of: <strong>9 sections</strong>, comprising <strong>27 questions</strong> which together contain <strong>73 sub-points</strong>.</p>
            <p class="mb-4" style="max-width:550px"><strong>78 marks</strong> are available for all councils, with the exception of County Councils and Combined Authorities where <strong>77 marks</strong> are available as question 11 does not apply.</p>
            <div class="sub-topic mb-4">
                <div style="max-width:550px">
                    <h4 class="mb-4">Sections</h4>
                    <div class="mb-4">
                        <h5 class="mb-3">Section 1 - Governance, Development and Funding</h4>
                        <p>Section 1 examines who will lead the plan, the net-zero targets, the council’s commitment to the plan, funding and costing, council limits and monitoring, reviewing and updating the plan.</p>
                    </div>

                    <div class="mb-4">
                        <h5 class="mb-3">Section 2 - Mitigation and Adaptation</h4>
                        <p>Section 2 considers how well the plan outlines the implications of climate change on the local area, and whether the plan has set out strategies for decarbonising and adapting within the key areas of:</p>
                        <ul class="mb-3">
                            <li>Planning and land use</li>
                            <li>Transport</li>
                            <li>Infrastructure</li>
                            <li>Business and industry </li>
                            <li>Energy generation</li>
                            <li>Heating</li>
                            <li>Natural environment and biodiversity </li>
                            <li>Food systems and agriculture</li>
                        </ul>
                    </div>

                    <div class="mb-4">
                        <h5 class="mb-3">Section 3 - Commitment and Integration</h4>
                        <p>Section 3 assesses the integration of the climate and ecological emergency into the council's existing policies and procedures, as well as the target dates set out by the plan.</p>
                    </div>

                    <div class="mb-4">
                        <h5 class="mb-3">Section 4 - Community Engagement and Communications</h4>
                        <p>Section 4 questions who has been involved in the plan’s development and how the council intends to keep the community involved in its delivery. It asks about the use of citizens' assemblies, what effort has been made to include under-represented groups, collaborative partnerships, how easy the plan is to find on the website, how well it is structured and whether there is a clear communication strategy.</p>
                    </div>

                    <div class="mb-4">
                        <h5 class="mb-3">Section 5 - Measuring and Setting Emissions Targets</h4>
                        <p>Section 5 concentrates on the emissions data and targets set out in the plan. Is there a baseline emissions inventory? Are emissions broken down into scope 1, 2 and 3 emissions? Are GHG emissions quantified? Does the plan prioritise emissions reductions over carbon offsetting?</p>
                    </div>

                    <div class="mb-4">
                        <h5 class="mb-3">Section 6 - Co-benefits</h4>
                        <p>This section asks whether the plan considers the co-benefits of climate action and the public health risks of climate change.</p>
                    </div>

                    <div class="mb-4">
                        <h5 class="mb-3">Section 7 - Diversity and Social Inclusion</h4>
                        <p>Section 7 centres on whether the plan outlines which parts of the population will be most harmed by climate change, how it intends to focus resources to support vulnerable communities and whether it recognises that councils and residents have differing responsibilities for climate action.</p>
                    </div>

                    <div class="mb-4">
                        <h5 class="mb-3">Section 8 - Education, Skills and Training</h4>
                        <p>Section 8 focuses on carbon literacy training for all staff and councillors, education for the public, and training/upskilling the workforce.</p>
                    </div>

                    <div class="mb-4">
                        <h5 class="mb-3">Section 9 - Ecological Emergency </h4>
                        <p>Section 9 looks at the plan’s commitments to tackling the ecological emergency. Does the plan include actions to address the ecological emergency? Does it focus on nature based solutions? Are the ecological impacts of climate change mitigation actions considered?</p>
                    </div>
                </div>
            </div>
            <div class="sub-topic mb-4">
                <h4 class="mb-3">County Council Joint Plans</h4>
                <div style="max-width:550px">
                    <p>A number of counties throughout the UK have adopted a joined-up approach in addressing the climate crisis by producing a countywide plan for multiple levels of local government to follow.</p>
                    <p>For District Councils signed up to these county plans, we have marked both the District and the County plan. This means that for many questions, if the County Council has scored a mark, the District Council also gets the mark (even if it doesn't apply to their own plan). We have only done this for District Councils that have their own plans as it is not enough for them to simply sign up to a County Plan without doing their own planning.</p>
                    <p>However, for some questions (see below), the District plan had to have the information to get the mark and the County mark wasn't carried over. As a result, the scores of some districts are considerably higher than they would have been had we marked the District plan alone. We feel this is justified: a joined-up approach is best practice to tackle this universal issue collectively, and should be rewarded.</p>
                    <p>For all questions not listed, if the County plan received the mark, the District plan also received the mark. 
                        For the questions listed below, the evidence had to be included in the District plan to get the mark.</p>
                    <ul class="mb-3">
                        {% comment %} TODO Include acnhors to the questions. How can we do this dynamic? {% endcomment %}
                        <li>S1_GOV_Q2_SP1</li>
                        <li>S1_GOV_Q2_SP2</li>
                        <li>S1_GOV_Q2_SP3</li>
                        <li>S1_GOV_Q3_SP1</li>
                        <li>S3_C_A_Q10_SP3</li>
                        <li>S3_C_A_Q11_SP1</li>
                        <li>S3_C_A_Q11_SP2</li>
                        <li>S3_C_A_Q11_SP2</li>
                        <li>S4_COMS_Q15_SP1</li>
                        <li>S4_COMS_Q15_SP2</li>
                        <li>S4_COMS_Q15_SP3</li>
                        <li>S4_COMS_Q16_SP1</li>
                        <li>S5_MSET_Q18_SP1</li>
                        <li>S5_MSET_Q18_SP2</li>
                        <li>S5_MSET_Q18_SP3</li>
                    </ul>
                    <h5>Other exceptions</h5>
                    <ul class="mb-3">
                        <li>S4_COMS_Q14_SP2 (If the County Plan references other bodies at a lower level than District Councils, then the District Plan gains the point. If it only references District Councils, then the District Plan must contain this evidence to get the point.)</li>
                    </ul>
                    <p>This applies to the following councils:</p>
                    <div class="pl-3 pl-lg-4">
                        <h5>Devon</h5>
                        <ul class="mb-4">
                            <li>East Devon</li>
                            <li>Exeter</li>
                            <li>Mid Devon</li>
                            <li>North Devon</li>
                            <li>South Hams</li>
                            <li>South Hams</li>
                            <li>Teignbridge</li>
                            <li>Torridge</li>
                            <li>West Devon</li>
                        </ul>

                        <h5>Kent</h5>
                        <ul class="mb-4">
                            <li>Ashford Borough Council</li>
                            <li>Canterbury City Council</li>
                            <li>Dartford Borough Council</li>
                            <li>Dover District Council</li>
                            <li>Folkestone and Hythe District Council </li>
                            <li>Gravesham Borough Council</li>
                            <li>Maidstone Borough Council</li>
                            <li>Swale District Council</li>
                            <li>Thanet District Council</li>
                            <li>Tonbridge and Malling Borough Council</li>
                            <li>Tunbridge Wells Borough Council</li>
                        </ul>

                        <h5>Suffolk</h5>
                        <ul class="mb-4">
                            <li>Babergh and Mid Suffolk District Councils</li>
                            <li>East Suffolk Council</li>
                            <li>Ipswich Borough Council</li>
                            <li>West Suffolk Council</li>
                            <li>Folkestone and Hythe District Council</li>
                            <li>Gravesham Borough Council</li>
                            <li>Maidstone Borough Council</li>
                            <li>Swale District Council</li>
                            <li>Thanet District Council</li>
                            <li>Tonbridge and Malling Borough Council</li>
                            <li>Tunbridge Wells Borough Council</li>
                        </ul>

                        <h5>Surrey</h5>
                        <ul class="mb-4">
                            <li>Elmbridge Borough Council</li>
                            <li>Epsom and Ewell Borough Council</li>
                            <li>Guildford Borough Council</li>
                            <li>Mole Valley District Council</li>
                            <li>Reigate and Banstead Borough Council</li>
                            <li>Spelthorne Borough Council</li>
                            <li>Surrey Heath Borough Council</li>
                            <li>Tandridge District Council</li>
                            <li>Waverley Borough Council </li>
                            <li>Woking Borough Council</li>
                        </ul>

                        <h5>Somerset</h5>
                        <ul class="mb-4">
                            <li>Mendip</li>
                            <li>Sedgemoor</li>
                            <li>South Somerset</li>
                            <li>Somerset West & Taunton</li>
                            <li>Mole Valley District Council</li>
                            <li>Reigate and Banstead Borough Council</li>
                            <li>Spelthorne Borough Council</li>
                            <li>Surrey Heath Borough Council</li>
                            <li>Tandridge District Council</li>
                            <li>Waverley Borough Council </li>
                            <li>Woking Borough Council</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="sub-topic mb-4">
                <h4 class="mb-3">Question Tables</h4>
                <div style="max-width:550px">
                    <p>The highest scoring councils of each type and category have been marked ‘Top Performers’ in recognition of the hard work that goes into creating a goodAction Plan. Some councils are putting admirable efforts into their commitments to tackling climate change and it is only right that this should be acknowledged.</p>
                    <p>The top performing councils in each scoring table have a star next to their name. In addition, this mark of recognition is displayed on the individual councils' pages, which also show if that council is a top performer within any of the categories.</p>
                </div>
            </div>
        </div>

    </div>

    {% for question in questions %}
        {{ question.code }}
        {% include 'scoring/includes/methodology_advice.html' with code=question.code %}
    {% endfor %}
{% endblock %}
