{% extends "scoring/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div class="pt-5 pb-6 pt-lg-8 pb-lg-8 hero-section with-version-background">
  <div class="d-flex flex-column align-items-end align-items-lg-start hero-version-badge position-absolute">
      <span class="version-year d-block fw-bold lh-1"></span>
      <span class="version-name d-block fw-bold lh-1">Action Scorecards</span>
  </div>
  <div class="container">
      <h1 class="mb-3">Privacy policy</h1>
  </div>
</div>


<div class="container py-4 py-lg-5">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2 class="fs-3 mb-3">Who is responsible for this service</h2>
      <p>The Council Climate Action Scorecards website is run by <a href="https://www.mysociety.org/">mySociety</a> (a registered charity in England and Wales, 1076346) on behalf of <a href="https://www.climateemergency.uk/">Climate Emergency UK CIC</a> (company number  11823392). mySociety is the controller for the personal information processed on this site, unless otherwise stated.</p>

      <p>This privacy policy covers the Council Climate Scorecards website. If you took part in our Scorecards marking process (as a volunteer or a council officer) via our GRACE crowdsourcing platform, and would like to know how your data is managed, <a href="https://marking.councilclimatescorecards.uk/privacy/">visit the GRACE privacy policy here</a>.</p>
    
      <h2 class="fs-3 mt-5 mb-3">What personal data we collect and how we use it</h2>
      <p>When you visit this website, we collect and log some information about your visit, in order to analyse and fix problems with the site. Our webserver logs collect information about requests, including your IP address, data submitted (such as search terms submitted to the in-site search), request date and time, page requested, browser version and referrer. We routinely keep this information for 28 days. Note that in normal circumstances, this data is infrequently accessed by a human, and when it is, they are likely to be assessing it in bulk, in order to understand an issue with the site, rather than at a granular level of individual users.</p>
    
      <p>We use Google Analytics software to collect non-personally-identifiable information about how you use the site. We do this to help make sure the site is meeting the needs of its users and to help us make improvements. We do not allow Google Analytics to store cookies on your device. IP addresses are masked (only a portion is stored) and personal information is only reported in aggregate. We do not allow Google to use or share our analytics data for any purpose besides providing us with analytics information.</p>
    
      <p>We collect and display the first name and last initial of volunteers, on our About page. Volunteers were given an opt-out choice on this before publication, and any who withdrew consent did not have their names included. Consent can still be withdrawn at any time.</p>
    
      <p>If you use the embedded Climate Emergency UK newsletter subscription form on this site, the details you provide will be processed by Climate Emergency UK’s newsletter provider, Action Network. <a href="https://actionnetwork.org/privacy">You can read their privacy policy here</a>.</p>
    
      <p>If you use the Climate Emergency UK donation button on this site, the data you provide during the payment flow will be processed by PayPal. <a href="https://www.paypal.com/webapps/mpp/ua/privacy-full">You can read their privacy policy here</a>.</p>

      <h2 class="fs-3 mt-5 mb-3">Legal basis for processing</h2>
      <p>When you visit our site, we store data about your visit under the legal basis of GDPR 6(1)(f) Legitimate interests.  We believe that our processing of our users’ data is as they would expect when they use our service, and we only store the bare minimum of data we require in order to monitor and diagnose issues on the site.</p>
      <p>Volunteers’ names are stored and displayed under the legal basis of GDPR 6(1)(a) Consent. Volunteers are given the option to prevent their name being displayed before publication, and can later withdraw consent at any time by <a href="https://www.mysociety.org/contact/">contacting us</a> to request this.</p>

      <h2 class="fs-3 mt-5 mb-3">How long we keep your data</h2>
      <p>Data collected in our webserver logs is retained for 28 days. Anonymised data collected by Google Analytics is retained indefinitely.</p>
      <p>Volunteer names on the About page are stored indefinitely, unless we are requested to remove them.</p>

      <h2 class="fs-3 mt-5 mb-3">Who we share your data with</h2>
      <p>Under exceptional circumstances (for example, when diagnosing abuse, or technical issues with the site), we may share the data we collect with our partners, Climate Emergency UK.</p>
      <p>Aside from this, we don’t share personal data with any other organisation, unless you give us permission to do so, or we have to do so for legal or compliance reasons.</p>

      <h2 class="fs-3 mt-5 mb-3">Your right to access</h2>
      <p>You may contact us at any time to ask to see what personal data we hold about you. Please <a href="https://www.mysociety.org/contact/">contact us</a> to request this.</p>

      <h2 class="fs-3 mt-5 mb-3">Your right to erasure</h2>
      <p>You may request that we destroy the personal data that we hold about you. Please <a href="https://www.mysociety.org/contact/">contact us</a> to request this.</p>

      <h2 class="fs-3 mt-5 mb-3">Your right to object</h2>
      <p>You have the right to object to our processing of your personal data. Please <a href="https://www.mysociety.org/contact/">contact us</a> to request this.</p>

      <h2 class="fs-3 mt-5 mb-3">Your right to complain</h2>
      <p>If you believe that we have mishandled your data, you have the right to lodge a complaint with the Information Commissioner’s Office. <a href="https://ico.org.uk/concerns/handling/">You can report a concern here</a> (but do <a href="https://www.mysociety.org/contact/">contact us</a> first, so that we can try and help).</p>
    </div>
  </div>

</div>


{% endblock %}