{% extends "scoring/base.html" %}
{% load django_bootstrap5 caps_templatetags %}

{% block content %}
<div class="pt-5 pb-6 pt-lg-8 pb-lg-8 hero-section with-version-background">
    {% include 'scoring/includes/scorecards_year.html' %}
    <div class="container">
        <p class="fs-4">Question · Action Scorecards {{ plan_year }}</p>
        <h1 class="mb-2 w-lg-75 h2">{{ question.text }}</h1>
        <dl class="row mt-4 mb-0" style="max-width: 30em">
            <dt class="col-sm-4">Question code</dt>
            <dd class="col-sm-8">{{ question.pretty_code }}</dd>
            <dt class="col-sm-4">Section</dt>
            <dd class="col-sm-8"><a href="{% url 'scoring:section' question.section.code %}">
                {{ question.section.description }}
            </a></dd>
            <dt class="col-sm-4">Topic</dt>
            <dd class="col-sm-8">{{ question.topic }}</dd>
            <dt class="col-sm-4">Source</dt>
            <dd class="col-sm-8">{{ question.get_how_marked_display }}</dd>
            <dt class="col-sm-4">Question weight</dt>
            <dd class="col-sm-8">
                <a href="{% url 'year_scoring:methodology' plan_year %}#section-question-weighting-within" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-flex align-items-center" title="Read more about question weighting within sections">
                    {{ question.get_weighting_display }}
                    {% include 'caps/icons/question-circle.html' with classes='ms-2 align-text-top' width='1rem' height='1rem' role='presentation' %}
                </a>
            </dd>
        </dl>
    </div>
</div>

<div class="container py-5 py-lg-6">
    <div class="row gx-lg-5 gx-xl-6">
        <div class="col-md-6">
            <h2 class="h3">Criteria</h2>
            {% autoescape off %}
              {{ question.criteria|linebreaks|urlize }}
            {% endautoescape %}
        </div>
        <div class="col-md-6 mt-5 mt-md-0">
            <h2 class="h3">Clarifications</h2>
            {% autoescape off %}
              {{ question.clarifications|linebreaks|urlize }}
            {% endautoescape %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
              <h2 class="h3 mt-5 mb-4" id="performance">Question performance</h2>

              {% if applicable_scoring_groups|length > 1 %}
              <div class="bg-primary-100 p-3 border rounded">
                    <label for="questions-council-name" class="fs-6 d-block mb-2">Show scores for a specific council</label>
                    <input class="form-control searchbar js-question-jump-autocomplete" type="search" placeholder="Council name" aria-label="Council name" id="questions-council-name">
                    <p class="mt-3 mb-2 fs-6">Or show scores by type of council</p>
                    <div class="d-flex flex-wrap gap-1">
                        {% for t in applicable_scoring_groups %}
                            <a href="?type={{ t.description }}#performance" class="btn btn-outline-primary btn-sm is--with-label {% if t.description == scoring_group.slug %}active{% endif %}">
                              {% if t.description == "single" %}
                                Single Tier
                              {% elif t.description == "district" %}
                                District
                              {% elif t.description == "county" %}
                                County
                              {% elif t.description == "northern-ireland" %}
                                Northern Ireland
                              {% elif t.description == "combined" %}
                                Combined Authority
                              {% endif %}
                            </a>
                        {% endfor %}
                    </div>
              </div>
              {% endif %}
        </div>
    </div>

    {% if scoring_group and totals %}
        <div class="question-summary-grid mt-5">
        {% for t in totals %}
            <div class="question-summary-grid__item">
                <div class="card">
                    <div class="card-header bg-primary text-light">
                        <h3 class="fs-4 mb-0 text-center">
                            {% if question.is_negatively_marked and t.score == 0 %}
                                Councils without penalty marks
                            {% elif question.is_negatively_marked and t.score == -1 %}
                                Councils with penalty marks
                            {% elif question.is_negatively_marked %}
                                {{ t.score }} point{{ t.score|pluralize }}
                            {% else %}
                                {{ t.score|floatformat:0 }} point{{ t.score|pluralize }}
                            {% endif %}
                        </h3>
                    </div>
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <span class="fs-1 lh-1 {% if t.score < 0 %}text-warning{% endif %}">
                            {{ t.count }}
                        </span>
                        <span class="lh-sm text-center">
                            {% if t.count == 1 %}
                                {% include 'scoring/includes/scoring-group-name.html' with group=scoring_group.slug plural=0 %}
                            {% else %}
                                {% include 'scoring/includes/scoring-group-name.html' with group=scoring_group.slug plural=1 %}
                            {% endif %}
                        </span>
                    </div>
                    {% if previous_year %}
                        {% if not no_comparison and not max_score_changed  %}
                            <div class="card-footer d-flex flex-row justify-content-between">
                                <div>
                                    <span class="fs-5 lh-1">{{ t.prev_count }}</span>
                                    <span class="fs-8">in {{ previous_year }}</span>
                                </div>
                                <div>
                                    <span class="fs-5 lh-1"><span class="fs-7">{% if t.change > 0 %}&#9650;{% elif t.change < 0 %}&#9660;{% endif %}</span>{{ t.change }}</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>

        {% if previous_year %} 
            {% if max_score_changed %}
                <div class="alert alert-dark mt-3 w-md-50" role="alert">
                    <h3 class="h5">Score comparison unavailable</h3>
                    <p class="mb-0">There is no comparison between {{ plan_year }} and {{ previous_year }} data because this question's maximum score was modified in {{ plan_year }}.</p>
                </div>
            {% elif no_comparison %}
                <div class="alert alert-dark mt-3 w-md-50" role="alert">
                    <h3 class="h5">Score comparison unavailable</h3>
                    <p class="mb-0">This question was introduced in the {{ plan_year }} Action Scorecards and has no historical data for comparison.</p>
                </div>
            {% else %}
                <h3 class="h4 mb-1 mt-5">Performance comparison between {{ previous_year }} and {{ plan_year }}</h3>
                <p class="text-capitalize mb-3 fs-5">{% include 'scoring/includes/scoring-group-name.html' with group=scoring_group.slug plural=1 %}</p>
                <div class="d-flex flex-row flex-wrap gap-3 mt-3">
                    <div class="card overflow-hidden">
                        <div class="card-body bg-green-600 text-light d-flex flew-row flex-nowrap gap-1">
                            <div class="d-flex align-items-baseline">
                                {% include 'caps/icons/arrow-up.html' with classes='opacity-50 d-none d-md-block' width='2.5rem' height='2.5rem' role='presentation' %}
                                <span class="display-3 d-none d-md-block fw-bold lh-1">{{ increased }}</span>
                                {% include 'caps/icons/arrow-up.html' with classes='opacity-50 d-md-none' width='1.75rem' height='1.75rem' role='presentation' %}
                                <span class="d-md-none display-1 fw-bold lh-1 mt-1">{{ increased }}</span>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="display-6 lh-1">councils</span>
                                <span class="lh-1">scored higher in {{ plan_year }}</span>
                            </div>
                        </div>
                        <div class="card-footer bg-green-100 text-dark">
                            <div class="form-check">
                                <input class="form-check-input js-checkbox-improved-councils" type="checkbox" value="" id="checkbox-improved-councils">
                                <label class="form-check-label" for="checkbox-improved-councils">
                                  Show councils
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="card overflow-hidden">
                        <div class="card-body bg-red-600 text-light d-flex flew-row flex-nowrap gap-1">
                            <div class="d-flex align-items-baseline">
                                {% include 'caps/icons/arrow-down.html' with classes='opacity-50 d-none d-md-block' width='2.5rem' height='2.5rem' role='presentation' %}
                                <span class="display-3 d-none d-md-block fw-bold lh-1">{{ decreased }}</span>
                                {% include 'caps/icons/arrow-down.html' with classes='opacity-50 d-md-none' width='1.75rem' height='1.75rem' role='presentation' %}
                                <span class="d-md-none display-1 fw-bold lh-1 mt-1">{{ decreased }}</span>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="display-6 lh-1">councils</span>
                                <span class="lh-1">scored lower in {{ plan_year }}</span>
                            </div>
                        </div>
                        <div class="card-footer bg-red-100 text-dark">
                            <div class="form-check">
                                <input class="form-check-input js-checkbox-worsened-councils" type="checkbox" value="" id="checkbox-worsened-councils">
                                <label class="form-check-label" for="checkbox-worsened-councils">
                                  Show councils
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

    {% endif %}

    {% if scores %}
        <table class="table-council-question-performance w-100 mt-4">
            <thead class="text-bg-primary position-sticky z-index-3 top-0">
                <tr>
                    <th scope="col" class="text-start border-end border-opacity-25 border-primary">Council</th>
                    <th scope="col" class="d-none d-md-table-cell text-center border-end border-opacity-25 border-primary">Score</th>
                    {% if display_comparison %}
                    <th scope="col" class="d-none d-md-table-cell text-center border-end border-opacity-25 border-primary"><span class="d-block mb-0 lh-1">Difference </span><span class="fs-8 lh-1">{{ previous_year }}</span></th>
                    {% endif %}
                    <th scope="col" class="d-none d-md-table-cell text-start border-end border-opacity-25 border-primary">Evidence</th>
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                    {% if score.change and score.change > 0 %}
                    <tr data-jump-slug="{{ score.plan_score.council.slug }}" year-difference-status="improved">
                    {% elif score.change and score.change < 0 %}
                    <tr data-jump-slug="{{ score.plan_score.council.slug }}" year-difference-status="worsened">
                    {% else %}
                    <tr data-jump-slug="{{ score.plan_score.council.slug }}" year-difference-status="unchanged">
                    {% endif %}
                        <td class="text-start border-bottom border-start border-end border-opacity-25 border-primary vertical-align-middle">
                            <a class="fs-5 d-block mb-3 mb-md-0" href="{% url 'scoring:council' score.plan_score.council.slug %}">
                                {{ score.plan_score.council.name }}
                            </a>

                            {% comment %} Mobile version {% endcomment %}
                            <div class="d-md-none overflow-hidden" style="max-width: 18.75rem">
                                <dl class="d-flex flex-row gap-5 mb-2">
                                    <div>
                                        <dt class="fs-8 text-uppercase text-muted mb-0">Score {{ plan_year }}</dt>
                                        <dd>{{ score.score|floatformat:"-2" }}/{{ score.max_score }}</dd>
                                    </div>

                                    <div>
                                        <dt class="fs-8 text-uppercase text-muted mb-0">{{ previous_year }} Difference</dt>
                                        {% if score.change > 0 %}
                                            <dd class="text-success"> &#9650; {{ score.score|floatformat:"-2" }}</dd>
                                        {% elif score.change < 0 %}
                                            <dd class="text-warning"> &#9660; {{ score.score|floatformat:"-2" }}</dd>
                                        {% elif score.change == 0 %}
                                            <dd class="text-grey-100"> -- </dd>
                                        {% endif %}
                                    </div>
                                </dl>
                                {% if score.score != 0 %}
                                    <p class="fs-8 text-uppercase text-muted mb-0 fw-bold">Evidence</p>
                                    <ul class="ps-3">
                                        {% for evidence_link in score.evidence_links_cleaned %}
                                            <li>
                                                {% if evidence_link|slice:":4" == "http" %}
                                                    <a href="{{ evidence_link }}">{{ evidence_link|domain_human }}</a>
                                                {% else %}
                                                    {{ evidence_link }}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </td>
                        <td class="d-none d-md-table-cell text-center border-bottom border-end border-opacity-25 border-primary {% if score.score < 0 %}bg-red-100{% endif %}">
                            {{ score.score|floatformat:"-2" }}/{{ score.max_score }}
                        </td>
                        {% if display_comparison %}
                            {% if score.change > 0 %}
                            <td class="d-none d-md-table-cell text-success text-center border-bottom border-end border-opacity-25 border-primary">
                                &#9650; {{ score.change|floatformat:"-2" }}
                            </td>
                            {% elif score.change < 0 %}
                            <td class="d-none d-md-table-cell text-warning text-center border-bottom border-end border-opacity-25 border-primary">
                                &#9660; {{ score.change|floatformat:"-2" }}
                            </td>
                            {% elif score.change == 0 %}
                            <td class="d-none d-md-table-cell text-grey-100 text-center border-bottom border-end border-opacity-25 border-primary">
                                --
                            </td>
                            {% endif %}
                        {% endif %}
                        <td class="d-none d-md-table-cell text-start border-bottom border-end border-opacity-25 border-primary">
                            {% if score.score != 0 %}
                            <ul class="ps-3">
                                {% for evidence_link in score.evidence_links_cleaned %}
                                    <li>
                                        {% if evidence_link|slice:":4" == "http" %}
                                            <a href="{{ evidence_link }}">{{ evidence_link|domain_human }}</a>
                                        {% else %}
                                            {{ evidence_link }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
