{% extends "scoring/base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="hero container-fluid bg-dark-grey">
    <div style="max-width: 1140px" class="mx-auto">
        <a class="cta reverse white" href="{% url 'home' %}">Back to scorecards plan</a>
        <h1 class="text-white mt-3"><span style="text-transform:uppercase">{{ question.code }}</span> data breakdown</h1>
        <div class="mt-3">
            {% comment %} TODO add section name{% endcomment %}
            <span class="hero-sub">Community engagement and communications</span>
        </div>
    </div>
</div>
<div class="container about-section question">
    <div class="row">
        <div class="col-12 col-lg-5">
            <div class="about-section-child">
                <h3 class="mb-3">About this question</h3>
                <div class="group-label-wrapper mt-5">
                    <div class="label-wrapper">
                        <p class="label green">Category</p>
                        {% comment %} TODO add section name{% endcomment %}
                        <p>add section name</p>
                    </div>
                    <div class="label-wrapper">
                        <p class="label green">Question code</p>
                        <p>{{ question.code }}</p>
                    </div>
                </div>
                <p class="mt-3">Amet minim mollit non deserunt 
                    ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <div class="col-12 col-lg-1"></div>
        <div class="col-12 col-lg-6">
            <div class="about-section-child">
                <h3 class="mb-3">Question details</h3>
                <div class="mt-5">
                    <div class="label-wrapper horizontal" style="margin-bottom:32px">
                        <p class="label green mb-2">{{ question.code }}</p>
                        <div class="question-content">{{ question.text | linebreaks }}</div>
                        <button class="btn-open-question mt-3" type="button">Display more</button>
                    </div>
                    {% comment %} TODO a list with all the subpoint questions {% endcomment %}
                    <div class="label-wrapper horizontal ml-2" style="margin-bottom:32px">
                        <p class="label is--smaller green-light mb-2">{{ question.code }}</p>
                        <div class="question-content">{{ question.text | linebreaks }}</div>
                        <button class="btn-open-question mt-3" type="button">Display more</button>
                    </div>
                    <div class="label-wrapper horizontal ml-2" style="margin-bottom:32px">
                        <p class="label is--smaller green-light mb-2">{{ question.code }}</p>
                        <div class="question-content">{{ question.text | linebreaks }}</div>
                        <button class="btn-open-question mt-3" type="button">Display more</button>
                    </div>
                    <div class="label-wrapper horizontal ml-2" style="margin-bottom:32px">
                        <p class="label is--smaller green-light mb-2">{{ question.code }}</p>
                        <div class="question-content">{{ question.text | linebreaks }}</div>
                        <button class="btn-open-question mt-3" type="button">Display more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid question-page bg-grey-gradient question-table-section">
    <div class="mx-auto" style="max-width: 910px">
        <h3 class="mb-4 mb-lg-5">Question performance</h3>
        <div id="top-filter" class="row bg-white mx-auto" style="max-width:100%">
            <div class="table-filter col-12 col-lg-7 py-3">
                    {% include 'scoring/includes/main-filter.html' %}
            </div>
            <div class="table-filter col-12 col-lg-5 py-3">
                <div class="float-left float-md-right">
                    {% include 'scoring/includes/advanced-filter.html' %}
                </div>
            </div>
        </div>

        <div class="card ceuk-card ceuk-card--red mb-3 mb-md-4 mb-lg-5">
            <div class="card-header">
                <h3>
                    {{ question.code }}
                </h3>

                <div>
                    {{ question.text | linebreaks }}
                </div>
            </div>
        </div>

        <div id="filter-result" class="row bg-white mb-4 mb-lg-5 mx-auto" style="max-width:100%">
            <div class="d-flex flex-row align-items-center px-3 p-3">
                <p class="label green mb-0 mr-2">Number of councils</p>
                <p class="mb-0">XXXX on this group.</p>
            </div>
        </div>

        <div class="accordion-wrapper rounded">
            <div class="question-accordion-item is--main">
                <div class="question-info">
                    <p class="label grey mb-0 mr-3">{{ question.code }}</p>
                    <div>
                        <div class="question-text">{{ question.text | linebreaks }}</div>
                        <button class="btn-open-question is--smaller mt-3" type="button">Display more</button>
                    </div>
                    <button class="btn-open-accordion ml-auto" type="button"></button>
                </div>
                <div class="question-data">
                    <div class="row question-data-inner">
                        <div class="col-12 col-lg-5 data-summary mb-4">
                            <div class="data-summary-item main">
                                <p class="result">30%</p>
                                <p> of councils scored</p>
                                <div class="total-points">
                                    {% comment %} TODO Max score {% endcomment %}
                                     <span>3</span>
                                     <span>out of</span>
                                    {% comment %} TODO Max score {% endcomment %}
                                    <span>3</span>
                                </div>
                            </div>
                            <div class="data-summary-item">
                                <p class="result">20%</p>
                                <p> of councils scored</p>
                                <div class="total-points">
                                    {% comment %} TODO Max score {% endcomment %}
                                     <span>2</span>
                                     <span>out of</span>
                                    {% comment %} TODO Max score {% endcomment %}
                                    <span>3</span>
                                </div>
                            </div>
                            <div class="data-summary-item">
                                <p class="result">10%</p>
                                <p> of councils scored</p>
                                <div class="total-points">
                                    {% comment %} TODO Max score {% endcomment %}
                                     <span>1</span>
                                     <span>out of</span>
                                    {% comment %} TODO Max score {% endcomment %}
                                    <span>3</span>
                                </div>
                            </div>
                            <div class="data-summary-item">
                                <p class="result">40%</p>
                                <p> of councils scored</p>
                                <div class="total-points">
                                    {% comment %} TODO Max score {% endcomment %}
                                     <span>0</span>
                                     <span>out of</span>
                                    {% comment %} TODO Max score {% endcomment %}
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-7">
                            <div class="question-table-wrapper rounded">
                                <table class="rounded">
                                    <thead>
                                        <tr>
                                            <th scope="col">Council No</th>
                                            <th scope="col">Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for answer in answers %}
                                        <tr>
                                            <td data-column="council">
                                                {{ answer.plan_score.council.name }}
                                            </td>
                                            <td data-column="score" class="text-center">
                                                {{ answer.score }}/{{ question.max_score }}
                                            </td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="question-accordion-item is--subpoint-question">
                <div class="question-info">
                    <p class="label grey mb-0 mr-2">{{ question.code }}</p>
                    <div>
                        <div class="question-text">{{ question.text | linebreaks }}</div>
                        <button class="btn-open-question is--smaller mt-3" type="button">Display more</button>
                    </div>
                    <button class="btn-open-accordion ml-auto" type="button"></button>
                </div>
                <div class="question-data">
                    <div class="row question-data-inner">
                        <div class="col-12 col-lg-5 data-summary mb-4">
                            <div class="data-summary-item main">
                                <p class="result">30%</p>
                                <p> of councils scored</p>
                                <div class="total-points">
                                    {% comment %} TODO Max score {% endcomment %}
                                     <span>3</span>
                                     <span>out of</span>
                                    {% comment %} TODO Max score {% endcomment %}
                                    <span>3</span>
                                </div>
                            </div>
                            <div class="data-summary-item">
                                <p class="result">20%</p>
                                <p> of councils scored</p>
                                <div class="total-points">
                                    {% comment %} TODO Max score {% endcomment %}
                                     <span>2</span>
                                     <span>out of</span>
                                    {% comment %} TODO Max score {% endcomment %}
                                    <span>3</span>
                                </div>
                            </div>
                            <div class="data-summary-item">
                                <p class="result">10%</p>
                                <p> of councils scored</p>
                                <div class="total-points">
                                    {% comment %} TODO Max score {% endcomment %}
                                     <span>1</span>
                                     <span>out of</span>
                                    {% comment %} TODO Max score {% endcomment %}
                                    <span>3</span>
                                </div>
                            </div>
                            <div class="data-summary-item">
                                <p class="result">40%</p>
                                <p> of councils scored</p>
                                <div class="total-points">
                                    {% comment %} TODO Max score {% endcomment %}
                                     <span>0</span>
                                     <span>out of</span>
                                    {% comment %} TODO Max score {% endcomment %}
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-7">
                            <div class="question-table-wrapper rounded">
                                <table class="rounded">
                                    <thead>
                                        <tr>
                                            <th scope="col">Council No</th>
                                            <th scope="col">Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for answer in answers %}
                                        <tr>
                                            <td data-column="council">
                                                {{ answer.plan_score.council.name }}
                                            </td>
                                            <td data-column="score" class="text-center">
                                                {{ answer.score }}/{{ question.max_score }}
                                            </td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    // Open div questions in the about section
    let questionItems = document.getElementsByClassName('question-content');
    for (let i = 0; i < questionItems.length; i++) {
        let questionItemsOffHeight = questionItems[i].offsetHeight;
        let questionItemsScrollHeight = questionItems[i].scrollHeight;
        let buttonQuestion = questionItems[i].nextElementSibling;
        
        if (questionItemsOffHeight < questionItemsScrollHeight) {
            buttonQuestion.style.display = 'inline-block';
        } else {
            buttonQuestion.style.display = 'none';
        }
        buttonQuestion.addEventListener('click', () => {
            if(!questionItems[i].classList.contains('active')) {
                questionItems[i].classList.toggle('active');
                buttonQuestion.classList.toggle('active');
                questionItems[i].style.height = "auto";
                buttonQuestion.textContent="Display less";
                let height = questionItems[i].clientHeight + "px";
                questionItems[i].style.height = "65px";
                setTimeout(() => {
                    questionItems[i].style.height = height;
                }, 0) 
            } else {
                questionItems[i].style.height = "65px";
                questionItems[i].addEventListener('transitionend', () => {
                    questionItems[i].classList.remove('active');
                    buttonQuestion.textContent="Display more";
                    buttonQuestion.classList.remove('active');
                }, {once: true})
            }
        })
    }

    // Open div inner question accordion
    let questionItemsAccordion = document.getElementsByClassName('question-text');
    for (let i = 0; i < questionItemsAccordion.length; i++) {
        let questionItemsAccordionOffHeight = questionItemsAccordion[i].offsetHeight;
        let questionItemsAccordionScrollHeight = questionItemsAccordion[i].scrollHeight;
        let accordionDisplayMoreQ = questionItemsAccordion[i].nextElementSibling;

        if (questionItemsAccordionOffHeight < questionItemsAccordionScrollHeight) {
            accordionDisplayMoreQ.style.display = 'inline-block';
        } else {
            accordionDisplayMoreQ.style.display = 'none';
        }
        accordionDisplayMoreQ.addEventListener('click', () => {
            if(!questionItemsAccordion[i].classList.contains('active')) {
                questionItemsAccordion[i].classList.toggle('active');
                accordionDisplayMoreQ.classList.toggle('active');
                questionItemsAccordion[i].style.height = "auto";
                accordionDisplayMoreQ.textContent="Display less";
                let height = questionItemsAccordion[i].clientHeight + "px";
                questionItemsAccordion[i].style.height = "65px";
                setTimeout(() => {
                    questionItemsAccordion[i].style.height = height;
                }, 0) 
            } else {
                questionItemsAccordion[i].style.height = "65px";
                questionItemsAccordion[i].addEventListener('transitionend', () => {
                    questionItemsAccordion[i].classList.remove('active');
                    accordionDisplayMoreQ.textContent="Display more";
                    accordionDisplayMoreQ.classList.remove('active');
                }, {once: true})
            }
        })
    }

    // Open accordion item
    let accordionItemData = document.getElementsByClassName('question-data');
    let accordionItemQuestion = document.getElementsByClassName('question-info');

    for (let i = 0; i < accordionItemData.length; i++) {
        let accordionItemDataOffHeight = accordionItemData[i].offsetHeight;
        let accordionItemDataScrollHeight = accordionItemData[i].scrollHeight;
        let buttonAccordion = accordionItemQuestion[i].querySelector('.btn-open-accordion');  
        buttonAccordion.addEventListener('click', () => {
            if(!accordionItemData[i].classList.contains('active')) {
                accordionItemData[i].classList.toggle('active');
                buttonAccordion.classList.toggle('active');
                accordionItemQuestion[i].classList.toggle('active');
                accordionItemData[i].style.height = "auto";
                let height = accordionItemData[i].clientHeight + "px";
                accordionItemData[i].style.height = "0px";
                setTimeout(() => {
                    accordionItemData[i].style.height = height;
                }, 0) 
            } else {
                accordionItemData[i].style.height = "0px";
                accordionItemData[i].addEventListener('transitionend', () => {
                    accordionItemData[i].classList.remove('active');
                    accordionItemQuestion[i].classList.remove('active');
                    buttonAccordion.classList.remove('active');
                }, {once: true})
            }
        })
    }
</script>
{% endblock %}
