{% extends "scoring/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load caps_templatetags %}

{% block content %}
<div class="pt-5 pb-6 pt-lg-8 pb-lg-8 hero-section with-version-background">
    {% include 'scoring/includes/scorecards_year.html' %}
    <div class="container">
        <h2 class="fs-4">Action Scorecards {{ plan_year }}</h2>
        <h1 class="mb-2">{{ section.description }}</h1>
        <div class="row mt-3">
            <div class="col-lg-6">
                {{ section.long_description|linebreaks }}
                <a href="#section-questions" class="btn btn-sm btn-primary mt-2">See questions in this section</a>
            </div>
        </div>
    </div>
</div>

{% if not section.is_combined %}
<div class="container pt-5 pt-lg-6">
  <h3 class="mb-4">Average score by council type</h3>
    <div class="row g-3">
        <div class="col-6 col-sm-4 col-xl">
            <div class="card text-decoration-none text-black h-100">
                <div class="card-header py-3 text-bg-primary">
                    <h3 class="fs-4 mb-0 text-center">
                        Single Tier
                    </h3>
                </div>
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <span class="fs-1 lh-1 mb-2">{{ averages.single.weighted_average|floatformat:0 }}%</span>
                    <span>Average score</span>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-xl">
            <div class="card text-decoration-none text-black h-100">
                <div class="card-header py-3 text-bg-primary">
                    <h3 class="fs-4 mb-0 text-center">
                        District
                    </h3>
                </div>
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <span class="fs-1 lh-1 mb-2">{{ averages.district.weighted_average|floatformat:0 }}%</span>
                    <span>Average score</span>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-xl">
            <div class="card text-decoration-none text-black h-100">
                <div class="card-header py-3 text-bg-primary">
                    <h3 class="fs-4 mb-0 text-center">
                        County
                    </h3>
                </div>
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <span class="fs-1 lh-1 mb-2">{{ averages.county.weighted_average|floatformat:0 }}%</span>
                    <span>Average score</span>
                </div>
            </div>
        </div>

        <div class="col-6 col-sm-4 col-xl">
            <div class="card text-decoration-none text-black h-100">
                <div class="card-header py-3 text-bg-primary">
                    <h3 class="fs-4 mb-0 text-center">
                        Northern Ireland
                    </h3>
                </div>
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <span class="fs-1 lh-1 mb-2">{{ averages.ni.weighted_average|floatformat:0 }}%</span>
                    <span>Average score</span>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-4 col-xl">
            <div class="card text-decoration-none text-black h-100">
                <div class="card-header py-3 text-bg-primary">
                    <h3 class="fs-4 mb-0 text-center">
                        Combined Authority
                    </h3>
                </div>
                <div class="card-body alert alert-info mb-0">
                  {% if alternative %}
                    <p class="mb-2 fs-7">This section does not apply to Combined Authorities. Visit the following equivalent section:</p>
                    <a href="{{ alternative.url }}" class="alert-link">Section: {{ alternative.name }}</a>
                  {% else %}
                    <p class="mb-2 fs-7">This section does not apply to Combined Authorities, and there is no direct equivalent for Combined Authorities.</p>
                    {% if current_plan_year %}
                    <a href="{% url 'scoring:sections' %}?type=combined" class="alert-link">Show all Combined Authority sections</a>
                    {% else %}
                    <a href="{% url 'year_scoring:sections' plan_year %}?type=combined" class="alert-link">Show all Combined Authority sections</a>
                    {% endif %}
                  {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>

{% elif section.is_combined %}
<div class="container pt-5 pt-lg-6">
  <h3 class="mb-4">Average score</h3>
    <div class="row">
        <div class="col-lg-4">
            <div class="card text-decoration-none text-black h-100">
                <div class="card-header py-3 text-bg-primary">
                    <h3 class="fs-4 mb-0 text-center">
                        Combined Authority
                    </h3>
                </div>
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <span class="fs-1 lh-1 mb-2">{{ averages.combined.weighted_average|floatformat:0 }}%</span>
                    <span>Average score</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
          <div class="alert alert-info mb-0 h-100">
            <p>This section only applies to Combined Authorities. For all other types of council, you can visit the following equivalent section:</p>
            <div class="d-flex flex-column gap-1">
              <a href="{{ alternative.url }}" class="alert-link">Section: {{ alternative.name }}</a>
            </div>
          </div>
        </div>
    </div>
</div>
{% endif %}

{% if social_graphics %}
<div class="container pt-5 pt-lg-6">
    <div class="mb-2 d-flex align-items-center justify-content-between">
        <h3 class="mb-0">Key takeaways</h3>
      {% if social_graphics.zip %}
        <a class="btn btn-sm btn-outline-primary js-social-graphic-download" href="{% static social_graphics.zip %}">Download all (.zip)</a>
      {% endif %}
    </div>

    <p class="mb-4">{{ social_graphics.images|length|add:"1" }} infographics for you to download and share.</p>

    <div class="overflow-gallery gap-3">
      {% for image in social_graphics.images %}
        <div class="d-flex flex-column gap-3">
          {% if image.src_instagram %}
            <a href="{% static image.src_instagram %}" class="d-block d-md-none js-social-graphic-download" title="Opens in a new window" target="_blank">
                <img loading="lazy" src="{% static image.src_instagram %}" alt="{{ image.alt }}">
            </a>
          {% endif %}
          {% if image.src_facebook %}
            <a href="{% static image.src_facebook %}" class="display-only-large-up js-social-graphic-download" title="Opens in a new window" target="_blank">
                <img loading="lazy" src="{% static image.src_facebook %}" alt="{{ image.alt }}">
            </a>
          {% endif %}

            <div class="d-flex gap-2 justify-content-center align-items-center">
                <span class="text-muted fs-7">Download:</span>
              {% if image.src_facebook %}
                <a href="{% static image.src_facebook %}" class="btn btn-sm btn-outline-primary d-flex align-items-center gap-2 js-social-graphic-download" download>
                    <span style="background: currentColor; width: 1.5em; height: 0.75em; display: inline-block;"></span>
                    Wide
                </a>
              {% endif %}
              {% if image.src_instagram %}
                <a href="{% static image.src_instagram %}" class="btn btn-sm btn-outline-primary d-flex align-items-center gap-2 js-social-graphic-download" download>
                    <span style="background: currentColor; width: 0.75em; height: 0.75em; display: inline-block;"></span>
                    Square
                </a>
              {% endif %}
            </div>
        </div>
      {% endfor %}
      {% if social_graphics.pdf %}
        <div class="d-flex flex-column gap-3 order-md-first">
            <a class="d-block" href="{% static social_graphics.pdf.src_pdf %}" title="Opens in a new window" target="_blank">
                <img loading="lazy" src="{% static social_graphics.pdf.src_jpg %}" alt="{{ section.description }} summary infographic">
            </a>
            <div class="d-flex gap-2 justify-content-center align-items-center">
                <span class="text-muted fs-7">Download:</span>
                <a href="{% static social_graphics.pdf.src_pdf %}" class="btn btn-sm btn-outline-primary js-social-graphic-download" download>PDF</a>
                <a href="{% static social_graphics.pdf.src_jpg %}" class="btn btn-sm btn-outline-primary js-social-graphic-download" download>JPG</a>
            </div>
        </div>
      {% endif %}
    </div>
</div>
{% endif %}

<div id="section-questions" class="container py-5 py-lg-6 js-dynamic-content">
    <h3 class="mb-4" id="questions">Questions in this section</h3>

  {% if not section.is_combined %}
    <div class="row mb-4">
        <div class="col-lg-6 mb-3 mb-lg-0">
            <div class="card">
                <div class="card-header">
                    <h4 class="h6 mb-0">Table by type of council</h4>
                </div>
                <div class="card-body">
                    <label for="questions-council-name" class="d-block mb-2">Show questions for a specific council</label>
                    <input class="form-control searchbar js-section-council-autocomplete" type="search" placeholder="Council name" aria-label="Council name" id="questions-council-name">
                    <p class="mt-3 mt-lg-4 mb-2">Or show questions by type of council</p>
                    <div class="d-flex flex-wrap gap-1">
                        {% if current_plan_year %}
                            <a href="{% url 'scoring:section' section.code %}?type=single#questions" class="btn btn-outline-primary btn-sm is--with-label" data-methodology-switch-council-type="single" data-bs-toggle="tooltip" data-bs-placement="top"
                        {% else %}
                            <a href="{% url 'year_scoring:section' plan_year section.code %}?type=single#questions" class="btn btn-outline-primary btn-sm is--with-label" data-methodology-switch-council-type="single" data-bs-toggle="tooltip" data-bs-placement="top"
                        {% endif %}
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="This includes all London, Welsh and Scottish councils as well as Metropolitan Borough Councils and Unitary Councils.">
                            <span>Single Tier</span>
                            {% include 'caps/icons/question-circle.html' with classes='ms-1 align-text-top' width='1.1rem' height='1.1rem' role='presentation' %}
                        </a>
                        {% if current_plan_year %}
                            <a href="{% url 'scoring:section' section.code %}?type=district#questions" class="btn btn-outline-primary btn-sm is--with-label" data-methodology-switch-council-type="district">District</a>
                            <a href="{% url 'scoring:section' section.code %}?type=county#questions" class="btn btn-outline-primary btn-sm is--with-label" data-methodology-switch-council-type="county">County</a>
                            <a href="{% url 'scoring:section' section.code %}?type=northern-ireland#questions" class="btn btn-outline-primary btn-sm is--with-label" data-methodology-switch-council-type="northern-ireland">Northern Ireland</a>
                        {% else %}
                            <a href="{% url 'year_scoring:section' plan_year section.code %}?type=district#questions" class="btn btn-outline-primary btn-sm is--with-label" data-methodology-switch-council-type="district">District</a>
                            <a href="{% url 'year_scoring:section' plan_year section.code %}?type=county#questions" class="btn btn-outline-primary btn-sm is--with-label" data-methodology-switch-council-type="county">County</a>
                            <a href="{% url 'year_scoring:section' plan_year section.code %}?type=northern-ireland#questions" class="btn btn-outline-primary btn-sm is--with-label" data-methodology-switch-council-type="northern-ireland">Northern Ireland</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if council_type %}
            <div class="col-lg-6">
                <div class="accordion" id="accordionCouncilsComparisson">
                <div class="accordion-item">
                    <h2 class="accordion-header " id="CouncilsComparissonheadingTwo">
                    <button class="accordion-button h6 py-2 mb-0 lh-sm" type="button" data-bs-toggle="collapse" data-bs-target="#CouncilsComparissoncollapseTwo" aria-expanded="false" aria-controls="CouncilsComparissoncollapseTwo">
                        Add {% include "scoring/includes/scoring-group-name.html" with group=council_type.slug plural=1 %} to compare
                    </button>
                    </h2>
                    <div id="CouncilsComparissoncollapseTwo" class="accordion-collapse collapse show" aria-labelledby="CouncilsComparissonheadingTwo" data-bs-parent="#accordionCouncilsComparisson">
                    <div class="accordion-body">
                        <div class="mobile-message d-sm-none p-3 text-bg-secondary">
                        <h3 class="exclamation text-white">Visit us again on a bigger screen</h3>
                        <p class="text-white">You’ll find more options, like the ability to compare your council’s Scorecard with other councils, and see a more granular breakdown of how they did on each question of the Scorecards.</p>
                        </div>
                        <div class="display-only-large-up">
                        <form class="display-only-large-up" id="advancedFilterForm" action=".">
                            {% if comparison_councils|length > 2 %}
                            <p class="warning-message">You have reached the maximum number of councils that can be compared.</p>
                            {% else %}
                            <input class="border border-primary form-control searchbar blue dark js-location-compare-autocomplete" name="search" id="compare-search" type="search" placeholder="Council name" aria-label="Council name"{% if council_type %} data-council_type="{{ council_type.slug }}"{% endif %}>
                            {% endif %}
                            {% if comparison_councils %}
                            <div class="selected-council-wrapper mt-4 mb-3">
                                {% for comparison in comparison_councils %}
                                    {% if current_plan_year %}
                                        <a href="{% url 'scoring:council' comparison.council.slug %}" class="radio-btn is--with-label is--with-closed-icon mr-1 js-comparison-council" data-slug="{{ comparison.council.slug }}">{{ comparison.council.name }}</a>
                                    {% else %}
                                        <a href="{% url 'year_scoring:council' plan_year comparison.council.slug %}" class="radio-btn is--with-label is--with-closed-icon mr-1 js-comparison-council" data-slug="{{ comparison.council.slug }}">{{ comparison.council.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if current_plan_year %}
                                <a href="{% url 'scoring:section' section.code %}?type={{ council_type.slug }}#questions">Clear all</a>
                            {% else %}
                                <a href="{% url 'year_scoring:section' plan_year section.code %}?type={{ council_type.slug }}#questions">Clear all</a>
                            {% endif %}
                            {% endif %}
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        {% endif %}
    </div>
  {% endif %}

  {% if council_type %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mb-4">
      {% if comparison_scores %}
      {% for comparison in comparison_scores %}
        <div class="col">
            {% if current_plan_year %}
            <a href="{% url 'scoring:council' comparison.council_slug %}" class="card text-decoration-none text-black h-100">
            {% else %}
            <a href="{% url 'year_scoring:council' plan_year comparison.council_slug %}" class="card text-decoration-none text-black h-100">
            {% endif %}
                <div class="card-header py-3 text-bg-primary">
                    <h3 class="fs-5 mb-0 lh-base text-center">{{ comparison.council_name }}</h3>
                </div>
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <span class="fs-1 lh-1 mb-2">{{ comparison.weighted_score|floatformat:0 }}%</span>
                    <span>{{ section.description }} score</span>
                  {% if comparison.negative_points < 0 %}
                    <div class="fs-7 d-none">
                        {{ comparison.score }} = Total score({{ comparison.non_negative_max }}) - Penalty points({{ comparison.negative_points }})
                    </div>
                  {% endif %}
                </div>
              {% if comparison.negative_points < 0 %}
                <p class="alert alert-warning d-flex flex-row flex-nowrap align-items-center gap-2 p-2 mb-0 rounded-0 border-0">
                    {% include 'caps/icons/warning.html' with classes='align-text-bottom' width='2rem' height='1.5rem' role='presentation' %}
                    <span class="fs-7">
                        {{ comparison.council_name }} has a penalty of {{ comparison.negative_percent }}% in this section
                    </span>
                </p>
              {% endif %}
            </a>
        </div>
      {% endfor %}
        <div class="col">
            <a href="#" class="card text-decoration-none text-black h-100">
                <div class="card-header py-3 text-bg-primary">
                    <h3 class="fs-5 mb-0 lh-base text-center">{{ council_type.name|title }}</h3>
                </div>
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <span class="fs-1 lh-1 mb-2">{{ council_type_avg.weighted_average|floatformat:0 }}%</span>
                    <span>{{ section.description }} average</span>
                </div>
            </a>
        </div>
      {% endif %}

        {% if comparison_councils and previous_year %}
        {% comment %} On mobile previous year score will be display by default {% endcomment %}
        <div class="col-lg-6 display-only-large-up">
            <div class="card">
                <div class="card-body">
                    <div class="form-check-flex d-none d-md-flex">
                        <input class="form-check-input" type="checkbox" id="js-toggle-previous-year-score" aria-checked="false" role="switch">
                        <label class="form-check-label" for="js-toggle-previous-year-score">Display {{ previous_year.year }} scores<span class="badge bg-primary-100 text-primary ms-1">NEW</span></label>
                    </div>
                    <div class="d-none d-md-flex flex-row gap-3 mt-3">
                        <h4 class="visually-hidden">Legends for difference column</h4>
                        <div>
                            <span class="badge bg-gray-300 text-dark">--</span> No change
                        </div>
                        <div>
                            <span class="badge bg-gray-300 text-dark">NA</span> New question (not in previous scorecards)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <table class="js-table-year-comparison section-question-table mb-4">
        <thead class="text-bg-primary position-sticky z-index-3 top-0">
            <tr class="display-only-large-up">
                <th scope="col" class="text-start question-header-cell border-end border-opacity-25 border-primary">Questions</th>

              {% for comparison in comparison_councils %}
                <th scope="col" colspan="2" class="js-current-year-score">
                    <p class="mb-1">{{ comparison.council.name }}</p>
                    {% if current_plan_year %}
                    <a class="fs-7 link-light fw-normal" href="{% url 'scoring:council' comparison.council.slug %}">Go to council Scorecard</a>
                    {% else %}
                    <a class="fs-7 link-light fw-normal" href="{% url 'year_scoring:council' plan_year comparison.council.slug %}">Go to council Scorecard</a>
                    {% endif %}
                </th>
                <th scope="col" colspan="3" class="js-previous-year-score">
                    <p class="mb-1">{{ comparison.council.name }}</p>
                    {% if current_plan_year %}
                    <a class="fs-7 link-light fw-normal" href="{% url 'scoring:council' comparison.council.slug %}">Go to council Scorecard</a>
                    {% else %}
                    <a class="fs-7 link-light fw-normal" href="{% url 'year_scoring:council' plan_year comparison.council.slug %}">Go to council Scorecard</a>
                    {% endif %}
                </th>
              {% endfor %}

                <th scope="col">
                    <span class="mb-1 d-block">Councils with full marks per question</span>
                </th>
            </tr>
            {% if previous_year %}
            <tr class="bg-primary-100 display-only-large-up fs-7 text-primary">
                <th scope="col" class="py-2 border-start"></th>

                {% for comparison in comparison_councils %}
                    <th scope="col" class="py-2 border-start border-light">{{ plan_year }}</th>
                    <th scope="col" class="py-2 js-previous-year-score">{{ previous_year.year }}</th>
                    <th scope="col" class="js-current-year-score py-2 border-end border-light text-center">Versus {{ previous_year.year }}</th>
                    <th scope="col" class="js-previous-year-score py-2 border-end border-light text-center">Difference</th>
                {% endfor %}

                <th class="py-2 border-end">{{ plan_year }} results</th>
            </tr>
            {% endif %}

            {% comment %} Mobile version {% endcomment %}
            <tr class="text-bg-primary d-lg-none">
                <th scope="col" class="text-start question-header-cell border-end border-opacity-25 border-primary">
                    {% comment %} TODO: On mobile we are only displaying one council, but if someone shares a link of a comparison with two councils then this is displaying both council names. Not sure if this would be an outliner scenario, but it would be great if we can cover it {% endcomment %}
                    Questions: {% for comparison in comparison_councils %}{{ comparison.council.name }}{% endfor %}
                </th>
            </tr>
        </thead>
        <tbody class="table-question-council__section border">
          {% for question in questions %}
            <tr class="question-row d-flex flex-column d-md-table-row border-bottom">
                <td data-column="answer" class="border-end">
                    {% include "scoring/includes/question-content-table-cell.html" with foorloop=forloop code=question.details.code pretty_code=question.details.pretty_code question_text=question.details.text question_type=question.details.question_type how_marked=question.details.get_how_marked_display weighting=question.details.get_weighting_display evidence_links=question.evidence_links criteria=question.details.criteria %}
                </td>

              {% for comparison in question.comparisons %}
                <td data-column="score" class="display-only-large-up text-start flex-row score">
                    <span class="me-2">{{ comparison.score|format_mark }}/{{ question.details.max_score }}</span>
                    <span class="badge bg-secondary d-md-none">{{ comparison.council_name }}</span>
                </td>
                {% if previous_year %}
                    <td data-column="score" class="js-previous-year-score display-only-large-up text-start flex-row score">
                        <span class="me-2">{{ comparison.previous_score|format_mark }}/{{ question.details.max_score }}</span>
                        <span class="badge bg-secondary d-md-none">{{ comparison.council_name }}</span>
                    </td>

                    <td class="border-end border-bottom border-opacity-25 text-center display-only-large-up">
                        {% include "scoring/includes/integer_score_change.html" with change=comparison.change %}
                    </td>
                {% else %}
                    <td class="border-end border-bottom border-opacity-25 text-center display-only-large-up"></td>
                {% endif %}
              {% endfor %}

                <td data-column="score" class="score ps-5 ps-lg-2">
                  <div class="d-flex flex-row gap-2 align-items-center">
                      {% if question.scored_max %}
                      <div class="progress-ring" style="--ring-size: 40px;--ring-percentage: {% widthratio question.scored_max council_count 100 %};">
                          <div class="percentage fs-8">
                              {% widthratio question.scored_max council_count 100 %}%
                          </div>
                      </div>
                      {% else %}
                      <div class="progress-ring progress-ring-zero" style="--ring-size: 40px;--ring-percentage: 0};">
                          <div class="percentage fs-8">
                              0%
                          </div>
                      </div>
                      {% endif %}
                      <span class="fs-8 mt-1 me-0 text-start">
                          {% include 'scoring/includes/scoring-group-name.html' with group=council_type plural=True %}
                          {% if question.details.question_type == "negative" %}
                          got <strong>no penalty marks</strong> for this question.
                          {% else %}
                          got full marks for this question.
                          {% endif %}
                      </span>
                  </div>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>

    <div class="d-flex gap-3">
        <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri|urlencode }}&amp;text={{ twitter_tweet_text|urlencode }}" class="btn btn-twitter rounded-pill px-3 d-flex align-items-center gap-2">
            {% include "scoring/icons/x.html" %}
            Share this on X (Twitter)
        </a>
        <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri|urlencode }}" class="btn btn-facebook rounded-pill px-3 d-flex align-items-center gap-2">
            {% include "scoring/icons/facebook.html" %}
            Share this on Facebook
        </a>
    </div>
  {% endif %}
</div>

{% endblock %}
