{% extends "scoring/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="pt-5 pb-6 pt-lg-8 pb-lg-8 hero-section with-version-background">
    <div class="d-flex flex-column align-items-end align-items-lg-start hero-version-badge position-absolute">
        <span class="version-year d-block fw-bold lh-1">2023</span>
        <span class="version-name d-block fw-bold lh-1">Action Scorecards</span>
    </div>
    <div class="container">
        <h2 class="fs-4">Actions Scorecards 2023</h2>
        <h1 class="mb-2">Sections</h1>
    </div>
</div>
<div class="container py-5 js-dynamic-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="bg-primary-100 p-3 mb-4 border rounded">
                {% comment %} TODO var councils = [] is empty so automcomplete is not working {% endcomment %}
                <label for="questions-council-name" class="fs-6 d-block mb-2">Show sections for a specific council</label>
                <input class="form-control searchbar js-methodology-council-autocomplete" type="search" placeholder="Council name" aria-label="Council name" id="questions-council-name">
                <p class="mt-3 mt-lg-4 mb-2 fs-6">Or show sections by type of council</p>
                <div class="d-flex flex-wrap gap-1">
                    <button class="btn btn-outline-primary btn-sm is--with-label" data-methodology-switch-council-type="single" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="This includes all London, Welsh and Scottish councils as well as Metropolitan Borough Councils and Unitary Councils.">
                        <span>Single Tier</span>
                        {% include 'caps/icons/question-circle.html' with classes='ms-1 align-text-top' width='1.1rem' height='1.1rem' role='presentation' %}
                    </button>
                    <button class="btn btn-outline-primary btn-sm is--with-label" data-methodology-switch-council-type="district">District</button>
                    <button class="btn btn-outline-primary btn-sm is--with-label" data-methodology-switch-council-type="county">County</button>
                    <button class="btn btn-outline-primary btn-sm is--with-label" data-methodology-switch-council-type="northern-ireland">Northern Ireland</button>
                    <button class="btn btn-outline-primary btn-sm is--with-label" data-methodology-switch-council-type="combined">Combined Authority</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 js-default js-single js-district js-county js-northern-ireland">
        {% for section in sections %}
        <div class="col">
            <a href="{{ section.url }}" class="card text-decoration-none text-black h-100">
                <div class="card-header py-3 text-bg-primary">
                    <h3 class="fs-6 mb-0 lh-base">
                        {{ section.name }}
                    </h3>
                </div>
                <div class="card-body">
                    {{ section.description|linebreaks }}
                </div>
            </a>
        </div>
        {% endfor %}

    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 js-combined">
        {% for section in ca_sections %}
        <div class="col">
            <a href="{{ section.url }}" class="card text-decoration-none text-black h-100">
                <div class="card-header py-3 text-bg-primary">
                    <h3 class="fs-6 mb-0 lh-base">
                        {{ section.name }}
                    </h3>
                </div>
                <div class="card-body">
                    {{ section.description|linebreaks }}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
