                    <div class="alert alert-primary mb-5 p-4 border-yellow" role="alert">
                        <p>Looking for information about how we scored other rounds of the Scorecards?</p>
                        <div class="d-flex flex-wrap gap-3">
                            <a href="{% url 'scoring2022:methodology' %}" class="btn btn-sm btn-outline-primary">2021: Council Climate Plan Scorecards</a>
                            <a href="{% url 'scoring:methodology' %}" class="btn btn-sm btn-primary">2025: Council Climate Action Scorecards</a>
                        </div>
                    </div>

                    <h2 id="section-summary" class="mb-3">Summary</h2>

                    <p>This is the methodology for the Council Climate Action Scorecards, which was published as a draft in November 2022 and a final version was published in October 2023. This lays out how we have marked and scored all UK councils on the actions they've taken towards net zero.</p>

                    <p>You can view this methodology <a href="https://drive.google.com/file/d/1w8eE7FFvr80-Xdu8i2wNk382-ETFi48j/view">as a written PDF document here</a>. You can view the Scorecards questions, criteria and clarifications <a href="https://docs.google.com/spreadsheets/d/1GYJMSvnnontf_TABFTGHZpUQDR9kqBepoYP8FhpmqOM/edit#gid=1597330053">in a spreadsheet format here</a> and the combined authority Scorecards questions, criteria and clarifications <a href="https://docs.google.com/spreadsheets/d/184_YLzBZKZQHIQYVe1iJOcKrh2TB7s77W3IMhGJgueo/edit#gid=1860210559">in this spreadsheet</a>.</p>

                    <p>We have marked and scored all UK councils on their climate action against 91 questions or less, depending on council type, in 7 different sections. We created the criteria through extensive research and consultation with council staff, councillors, campaigners and other organisations. To understand what action we are scoring and the question weightings, please read below. To find out more about how we created each section and why questions or topics were or were not included, check out <a href="https://www.climateemergency.uk/draft-methodology-blog-series/">our blog series on the draft methodology here</a>.</p>

                    <p>The finalised methodology is what was used to assess councils in the 2023 Council Climate Action Scorecards. Compared to the draft methodology that was published in November 2022, there have been some minor changes. These changes include adding in two new questions to the transport section for single-tier and district councils, completing the criteria for a couple of questions and a handful of minor clarifications elsewhere.</p>

                    <p>The Council Climate Action Scorecards is a project of Climate Emergency UK, with technical support from <a href="https://www.mysociety.org/">mySociety</a>.</p>

                    <div class="alert alert-primary">
                        <p class="mb-0">If you’re interested in volunteering with us, to support others to use the Action Scorecards or help us mark the next Action Scorecards, <a href="https://actionnetwork.org/forms/volunteer-with-climate-emergency-uk/">register your interest here</a>.</p>
                    </div>


                    <h2 id="section-question-criteria" class="mt-5 mb-3">Question criteria</h2>

                    <p>Below you can see each of the questions that councils have been scored on in 2023, along with some further clarification of the question criteria. We’ve also shown how each question will be scored: whether from volunteer research, FOI responses from councils, the use of national data or through a mixture of volunteer research and national data.</p>
