.hero-section {

  &.with-version-background  {
    position: relative;

    .hero-version-badge {
      mix-blend-mode: overlay;
      @include responsive(right, 10, 200);

      @include media-breakpoint-down(lg) { 
        bottom: 1rem;
      }

      .version-year {
        @include responsive(font-size, 20, 100);
      }

      .version-name {
        @include responsive(font-size, 15, 50);
      }
    }
  }
}
