.ceuk-data-table {
    position: relative;

    .ceuk-data-table__filters {
        background-color: $color-ceuk-grey-100;
        padding: 1.25rem;

        @include media-breakpoint-up('lg') {
            position: sticky;
            top: 0;
            border-bottom: 1px solid $border-color;
            margin-bottom: -1px;
        }

        form {
            display: flex;
            flex-wrap: wrap;
            margin: ($grid-gutter-width / -4) ($grid-gutter-width / -2);
        }

        .form-group {
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
            padding: ($grid-gutter-width / 4) ($grid-gutter-width / 2);
            margin: 0;

            &:last-child {
                display: flex;
                align-items: flex-end;
            }
        }

        .form-control {
            height: $input-height-sm;
            padding: $input-padding-y-sm $input-padding-x-sm;
            @include font-size($input-font-size-sm);
            line-height: $input-line-height-sm;
            @include border-radius($input-border-radius-sm);
        }
    }

    thead th {
        vertical-align: top;
    }

    table tr {
        & > :first-child {
            padding-left: 1.25rem;
        }

        & > :last-child {
            padding-right: 1.25rem;
        }
    }

    tr[data-has-plan="yes"] {
        td[data-column="has-plan"] {
            color: $success;
        }
    }

    tr[data-has-plan="no"] {
        th, td {
            background-color: $color-ceuk-grey-100;
            color: $color-ceuk-grey-600;
        }
    }

    // Prevent icon and "Yes"/"No" breaking onto separate lines
    // when the table is very narrow.
    td[data-column="has-plan"] {
        white-space: nowrap;
    }
}
