.council-hero {
    padding: 1rem 0 1.5rem;

    @include media-breakpoint-up('md') {
        padding: 1.5rem 0 2rem;
    }

    @include media-breakpoint-up('lg') {
        padding: 2.5rem 0 3rem;
    }

    color: #fff;
    background: darken($color-ceuk-red, 4%) linear-gradient(0deg, darken($color-ceuk-red, 4%), darken($color-ceuk-red, 6%)) 0 0 repeat-x;
    background-size: 2rem 2rem;

    a {
        color: inherit;
    }

    p a {
        text-decoration: underline;
    }
}
