.form-control {
    &:focus {
        outline: 2px solid darken($color-ceuk-purple, 30%);
        border-color: darken($color-ceuk-purple, 30%);
        box-shadow: 0 0 0 5px $color-ceuk-yellow;
    }
}

.btn {
    &:focus {
        background-color: $color-ceuk-yellow !important;
        color: darken($color-ceuk-purple, 30%) !important;
        border-color: darken($color-ceuk-purple, 30%);
        box-shadow: 0 0 0 2px darken($color-ceuk-purple, 30%);
    }
}

.find-council {
    overflow-y: scroll;
    max-height: 360px;

    .form-group {
        &:last-child {
            position: sticky;
            bottom: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 0;
            background-color: #fff;
        }
    }
}
