.interstitial-modal {
    --modal-outer-padding: 1rem;

    @include media-breakpoint-up(sm) {
        .modal-dialog {
            max-width: 600px;
        }

        --modal-outer-padding: 1.5rem;
    }

    @include media-breakpoint-up(md) {
        --modal-outer-padding: 2rem;
    }

    @include media-breakpoint-up(lg) {
        --modal-outer-padding: 2.5rem;
        font-size: 1.125rem; // 18px
    }

    .modal-header {
        border-bottom: none;
        align-items: center;
        padding: var(--modal-outer-padding) var(--modal-outer-padding) 0 var(--modal-outer-padding);

        h2 {
            line-height: 1;
        }
    }

    .modal-body {
        padding: 1rem var(--modal-outer-padding);
    }

    .modal-footer {
        border-top: none;
        justify-content: flex-start;
        padding: 0 var(--modal-outer-padding) var(--modal-outer-padding) var(--modal-outer-padding);

        .btn {
            margin: 0;
        }
    }

    .close {
        background: transparent;
        border: none;
        color: $color-ceuk-grey-600;
        font-size: 1rem;
    }
}

.conditional-fields {
    border-left: 4px solid $gray-400;
    padding-left: 1rem;
    margin-left: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.team-avatars {
    display: flex;
    margin: 0 -4px 1rem -4px;
}

.team-avatars__person {
    display: flex;
    align-items: center;
    margin-right: -10px;

    img {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: 4px solid #fff;
    }
}
