@charset "utf-8";

// A NOTE ABOUT FILE PATHS
//
// django.contrib.staticfiles copies this file into the `STATIC_ROOT`
// (along with any other files/directories defined in `STATICFILES_DIRS`)
// and then django-pipeline compiles the Sass files from there.
//
// So imports in this file are relative to `<STATIC_ROOT>/caps/sass/main.scss`,
// not `/caps/static/caps/caps/main.scss`.
//
// That’s why `@import "../../bootstrap/<whatever>" works – because at the
// point the Sass files are compiled, django.contrib.staticfiles has
// already copied the Bootstrap sass files into `<STATIC_ROOT>/bootstrap/`.
//
// Note that this doesn't work on a dev thing with standard django-pipeline
// due to this issue: https://github.com/jazzband/django-pipeline/issues/749
// so we are using a fork with the patch from the above issue

@import "variables";

@import "../../bootstrap/functions";
@import "../../bootstrap/variables";
@import "../../bootstrap/mixins";
@import "../../bootstrap/root";
@import "../../bootstrap/reboot";
@import "../../bootstrap/type";
@import "../../bootstrap/images";
@import "../../bootstrap/code";
@import "../../bootstrap/grid";
@import "../../bootstrap/tables";
@import "../../bootstrap/forms";
@import "../../bootstrap/buttons";
@import "../../bootstrap/transitions";
// @import "../../bootstrap/dropdown";
// @import "../../bootstrap/button-group";
// @import "../../bootstrap/input-group";
// @import "../../bootstrap/custom-forms";
@import "../../bootstrap/nav";
@import "../../bootstrap/navbar";
@import "../../bootstrap/card";
// @import "../../bootstrap/breadcrumb";
// @import "../../bootstrap/pagination";
@import "../../bootstrap/badge";
// @import "../../bootstrap/jumbotron";
// @import "../../bootstrap/alert";
@import "../../bootstrap/progress";
// @import "../../bootstrap/media";
// @import "../../bootstrap/list-group";
// @import "../../bootstrap/close";
// @import "../../bootstrap/toasts";
@import "../../bootstrap/modal";
@import "../../bootstrap/tooltip";
// @import "../../bootstrap/popover";
// @import "../../bootstrap/carousel";
@import "../../bootstrap/spinners";
@import "../../bootstrap/utilities";
@import "../../bootstrap/print";
@import "houdini";

@import "awesomplete";
@import "equilateral-triangle";
@import "mysociety-standard-footer";

@import "site-header";
@import "site-hero";
@import "site-content";
@import "site-footer";

@import "type";
@import "forms";
@import "images";
@import "blockquote";
@import "icons";
@import "backgrounds";

@import "alpha-banner";
@import "ceuk-card";
@import "ceuk-data-table";
@import "scorecard-table";
@import "ceuk-tag";
@import "details";
@import "interstitial-modal";
@import "homepage";
@import "council-powers";
@import "emissions-breakdown";
@import "net-zero-local-hero";
@import "feedback-modal";

$form-lg-padding: 25px;

@mixin top-label {
    position: relative;
    min-width: 200px;
    label {
        font-size: 13px;
        margin-bottom: 4px;
    }
}


.filter-header {
    align-items: end;
    .form-group {
        padding-right: $form-lg-padding;
        @include top-label;
        margin-bottom: 0;
    }
}

.dropdown-wrapper {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    .form-group {
        flex-basis: 100%;
        @media (min-width: 576px) and (max-width: 768px) {
            flex-basis: 50%;
            padding-right: $form-lg-padding;
        }
        @media (min-width: 768px) {
            flex-basis: 33%;
            padding-right: $form-lg-padding;
        }

        @include top-label;
    }
}

.search-bar-wrapper {
    width: 100%;
    @media (min-width: 576px) and (max-width: 768px) {
        width: calc(50% - #{$form-lg-padding});
    }
    @media (min-width: 768px) {
        width: calc(33% - #{$form-lg-padding});
    }
}


// Tweak these to change the style of the toggle
.toggle-wrapper {
    .form-group {
        min-width: 150px;
    }
}

$toggle-background-color-on: $color-ceuk-cyan;
$toggle-background-color-off: darkgray;
$toggle-control-color: white;
$toggle-width: 75px;
$toggle-height: 35px;
$toggle-gutter: 5px;
$toggle-radius: 50%;
$toggle-control-speed: .15s;
$toggle-control-ease: ease-in;

// These are our computed variables
// change at your own risk.
$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);

.toggle-control {
  display: block;
  position: relative;
//   padding-left: $toggle-width;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  height: calc(#{$toggle-height * 2});

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .control {
    background-color: $toggle-background-color-on;
    
    &:after {
      left: $toggle-width - $toggle-control-size - $toggle-gutter;
    }
  }

  .control {
    position: absolute;
    // top: 0;
    // left: 0;
    bottom: 0;
    left: 0;
    height: $toggle-height;
    width: $toggle-width;
    border-radius: $toggle-radius;
    background-color: $toggle-background-color-off;
    transition: background-color $toggle-control-speed $toggle-control-ease;

    &:after {
      content: "";
      position: absolute;
      left: $toggle-gutter;
      top: $toggle-gutter;
      width: $toggle-control-size;
      height: $toggle-control-size;
      border-radius: $toggle-radius;
      background: $toggle-control-color;
      transition: left $toggle-control-speed $toggle-control-ease;
    }
  }

  .label-info {
      font-size: 16px;
      margin-left: 5px;
      padding: 5px 0px;
  }
}

// END OF TOGGLE

@mixin placeholder {
    &::-webkit-input-placeholder {@content;}
    &:-moz-placeholder           {@content;}
    &::-moz-placeholder          {@content;}
    &:-ms-input-placeholder      {@content;}
    &::placeholder               {@content;}
}

.search-bar-wrapper {
    position: relative;
    padding-right: $form-lg-padding;
    input {
        padding-left: 32px;
        border-radius: 20px;
        // background-color: transparentize($color: $color-ceuk-cyan, $amount: 0.7);
        @include placeholder {color: #495057 !important;}
    }

    svg {
        position: absolute;
        left: 10px;
        top: 12px;
        opacity: 0.7;
    }
}

.sort-by-wrapper {
    position: relative;
    select {
        padding-left: 30px;
    }

    svg {
        width: 20px;
        height: auto;
        position: absolute;
        left: 10px;
        top: 9px;
        opacity: 0.5;
    } 
}

// From current prototype
.site-content {
    position: relative;
}

#filter-wrapper {
    position: relative;
    width: 100%;
    left: 0;
    top: 0 !important;
    z-index: 3;
}
#council-table {
    padding-top: 20px;
}

#button-advanced-filter {
    background-color: transparent;
    border: none;
    // border-bottom: 1px solid transparentize($color: black, $amount: 0.8);
    // padding-bottom: 10px;
    border-top: 1px solid transparentize($color: black, $amount: 0.8);
    font-weight: 600;
    opacity: 0.7;
}
