.scorecard-table {
    $color-scorecard-green-l1: #E4FAF5;
    $color-scorecard-green: #AFE9DD;
    $color-category-1: #004A8A;
    $color-category-2: #6200a4;
    $color-category-3: #8C7400;
    $color-category-4: #00903B;
    $color-category-5: #028790;
    $color-category-6: #8E5702;
    $color-category-7: #055070;
    $color-category-8: #180C7C;
    $color-category-9: #880202;

    td {
        vertical-align: middle;
    }

    tr > :nth-child(1) {
        width: 50%;
    }

    tr > :nth-child(2),
    tr > :nth-child(3) {
        width: 25%;
    }

    .total-score {
        display: block;
        width: 100px;
        padding: 8px 16px;
        border: 1px solid #999;
        background: #ccc;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem;
        border-radius: $border-radius;
        box-shadow: 0 1px 8px rgba(#000, 0.1);
    }

    .total-score--this-council {
        border-color: darken($color-scorecard-green, 10%);
        background: linear-gradient(45deg, $color-scorecard-green 0%, $color-scorecard-green-l1 100%);
    }

    .total-score--average {
        border-color: darken($gray-400, 10%);
        background: linear-gradient(45deg, $gray-400 0%, $gray-200 100%);
    }

    .score-bar {
        background: $white;
        border: 1px solid #ccc;
        border-radius: $border-radius;
        width: 100px;
        padding: 8px 0;
        position: relative;
    
        .progress-bar {
            width: 0;
            height: 100%;
            position: absolute;
            top:0;
            border-radius: $border-radius;
            z-index: 0;
        }
    
        span {
            display: block;
            text-align: center;
            line-height: 100%;
            margin-bottom: 0;
            z-index: 1;
            position: relative;
        }
    
        span.average {
            position: absolute;
            right: 5px;
            top: 10px;
            font-size: 13px;
            opacity: 0.9;
            font-weight: 300;
        }
    }

    @each $n, $color in (
        1: $color-category-1,
        2: $color-category-2,
        3: $color-category-3,
        4: $color-category-4,
        5: $color-category-5,
        6: $color-category-6,
        7: $color-category-7,
        8: $color-category-8,
        9: $color-category-9,
    ) {
        .category-#{$n} {
            .score-bar {
                border-color: mix($color, #eee, 35%);

                .progress-bar {
                    background-color: lighten($color, 65%);
                }
            }
        }
    }

    .top-performer {
        td {
            background: $color-scorecard-top-performer;
        }

        .scorecard-table__section-name {
            background-image: url(../../scoring/img/star.svg);
            background-size: 16px;
            background-position: top 50% left 0;
            background-repeat: no-repeat;
            padding-left: 1.5rem;
        }
    }
}

.scorecard-top-performer-banner {
    background-color: $color-scorecard-top-performer;
}

.scorecard-zero-scorer {
    background-color: mix($color-ceuk-red, #fff, 5%);
}
