.site-header {
    background: $color-ceuk-red;

    .page-blue & {
        background-color: $color-ceuk-blue;
    }

    .page-navy &,
    .page-projects & {
        background-color: $color-ceuk-navy;
    }

    .page-purple &,
    .page-tags & {
        background-color: $color-ceuk-purple;
    }

    .page-pink & {
        background-color: $color-ceuk-pink;
    }

    .page-red & {
        background-color: $color-ceuk-red;
    }

    .page-orange & {
        background-color: $color-ceuk-orange;
    }

    .page-yellow & {
        background-color: $color-ceuk-yellow;

        .navbar-brand,
        .nav-link,
        .navbar-toggler,
        .navbar-text,
        .navbar-text a {
            color: $black !important; // override navbar-dark styles
        }

        .navbar-toggler-icon {
            background-image: escape-svg($navbar-light-toggler-icon-bg);
        }
    }

    .page-green & {
        background-color: $color-ceuk-green;
    }

    .page-cyan & {
        background-color: $color-ceuk-cyan;
    }

    .page-grey & {
        background-color: $color-ceuk-grey-600;
    }

    .navbar {
        padding: 1rem;

        @include media-breakpoint-up('md') {
            padding: 1.5rem 1rem;
        }
    }

    // Heavily customised navbar-brand to include tagline
    .navbar-brand {
        font-family: $headings-font-family;
        line-height: 1;
        font-weight: 900;
        padding: 0;
        white-space: normal;
        flex: 1 0 auto;
        display: flex;
        align-items: center;

        @include media-breakpoint-up('md') {
            margin: 0 1rem;
            flex: 0 0 auto;
        }

        @include media-breakpoint-up('xl') {
            font-size: ( $navbar-brand-font-size + 0.5rem );
        }

        small {
            margin-left: 1em;
            font-size: 0.35em;
            max-width: 18em;
            line-height: 1.2;
            opacity: 0.8;

            @media (max-width: 440px) {
                display: none;
            }
        }
    }

    .navbar-nav {
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-top: 1rem;

        @include media-breakpoint-up('md') {
            padding-top: 0;

            .nav-link {
                padding: 0 1rem;
            }
        }
    }

    .navbar-collapse {
        margin-left: auto;
        flex-grow: 0;
    }

    .navbar-dark .nav-link {
        border-top: 1px solid $navbar-dark-toggler-border-color;

        @include media-breakpoint-up('md') {
            border-top: none;
        }
    }
}
