.mysoc-footer {
    box-shadow: 0 1000px 0 1000px $mysoc-footer-background-color;
}

.mysoc-footer__orgs {
    margin: 0 ( $grid-gutter-width / -2 );
}

.mysoc-footer__org {
    padding: 0 ( $grid-gutter-width / 2 );
}

.mysoc-footer__org__logo--ceuk {
    width: 137px;
    padding-top: 48px;
    background: transparent url('#{$mysoc-footer-image-path}logo-ceuk.svg') 50% 50% no-repeat;
    background-size: contain;
}
