.twin-keyphrase {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, 1, 10em);
    @include button-variant($green, $green);

    @include hover() {
        color: $white;
        text-decoration: none;
    }
    
    &:focus,
    &.focus {
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
    }

    &:not(:disabled):not(.disabled) {
        cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
    }
}

.twin-keyphrase-sm {
    font-size: 0.75rem;
}

.twin-table {
    table-layout: fixed;

    tr > :nth-child(2) {
        border-left: $table-border-width solid $table-border-color;
        border-right: $table-border-width solid $table-border-color;
        background: rgba(255, 255, 255, 0.3);
    }

    thead > tr:first-child() > :nth-child(2) {
        border-top: $table-border-width solid $table-border-color;
    }

    tbody > tr:last-child() > :nth-child(2) {
        border-bottom: $table-border-width solid $table-border-color;
    }

    thead th {
        border-top: none;
    }

    tbody th,
    tbody td {
        vertical-align: middle;
    }

    .twin-keyphrase {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 10em;
    }
}

.twins-header {
    @include media-breakpoint-up('md') {
        background-image: url(../img/british-isles-purple.png);
        background-position: 150% 50%;
        background-repeat: no-repeat;
    }

    @include media-breakpoint-up('lg') {
        background-position: 120% 50%;
    }

    h1 {
        max-width: 10em;
    }

    p {
        max-width: 30rem;
    }

    .card-body {
        padding: 8%;
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 25rem, rgba(255, 255, 255, 0) 35rem);
    }
}
