.line-height-1 {
    line-height: 1;
}

.blockquote-footer {
    line-height: 1.3;
}

.h-none {
    font-family: inherit;
    font-size: 1em;
    line-height: inherit;
    color: inherit;
    margin: 0;
}

.text-smaller {
    @include font-size(80%);
}

.strong-link {
    font-weight: bold;
    border-bottom: 1px solid rgba($link-color, 0.6);
    text-decoration: none !important;

    @include hover-focus() {
        border-bottom-color: currentColor !important;
    }

    &.text-white {
        border-bottom-color: rgba(#fff, 0.6);
    }
}

dl > :last-child {
    margin-bottom: 0;
}

dd + dt {
    margin-top: $spacer;
}
