$color-ceuk-blue: #0277D1;
$color-ceuk-navy: #005cab;
$color-ceuk-purple: #4e38de;
$color-ceuk-pink: #d92b85;
$color-ceuk-red: #e11d21;
$color-ceuk-orange: #f29e1a;
$color-ceuk-yellow: #ffd80b;
$color-ceuk-green: #18964a;
$color-ceuk-cyan: #0f7f8d;
$color-ceuk-grey-100: #f3f6fb;
$color-ceuk-grey-200: #ecf0f5;
$color-ceuk-grey-600: #6c757d;
$color-ceuk-grey-800: #32465a;
$color-ceuk-grey-900: #232323;

$color-scorecard-top-performer: mix($color-ceuk-yellow, #fff, 5%);

// Color system

$white: #fff;

$blue: $color-ceuk-blue;
$purple: $color-ceuk-purple;
$pink: $color-ceuk-pink;
$red: $color-ceuk-red;
$orange: $color-ceuk-orange;
$yellow: $color-ceuk-yellow;
$green: $color-ceuk-green;
$cyan: $color-ceuk-cyan;

$light: $color-ceuk-grey-200;

$theme-colors: (
    'blue': $color-ceuk-blue,
    'navy': $color-ceuk-navy,
    'purple': $color-ceuk-purple,
    'pink': $color-ceuk-pink,
    'red': $color-ceuk-red,
    'orange': $color-ceuk-orange,
    'yellow': $color-ceuk-yellow,
    'green': $color-ceuk-green,
    'cyan': $color-ceuk-cyan,
    'grey': $color-ceuk-grey-600,
    'white': $white,
);

$yiq-contrasted-threshold: 200;

// Options

$enable-deprecation-messages: false;

// Spacing

$grid-gutter-width: 30px;

$spacers: (
    "gutter": $grid-gutter-width
);

// Body

$body-bg: $color-ceuk-grey-200;

// Links

$link-color: $color-ceuk-purple;

// Paragraphs

// Grid breakpoints

// Grid containers

// Grid columns

// Components

// Typography

$font-family-sans-serif: "Lato", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family: "Montserrat", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$blockquote-small-font-size:  0.875rem;
$blockquote-font-size: 1rem;

$mark-bg: #fffeb5;

// Tables

// Buttons + Forms

// Buttons

// Forms

// Form validation

// Z-index master list

// Navs

// Navbar

$navbar-dark-color: $white;
$navbar-dark-hover-color: rgba($navbar-dark-color, 0.8);
$navbar-dark-active-color: $navbar-dark-color;
$navbar-dark-toggler-border-color: rgba($navbar-dark-color, 0.3);

$navbar-light-color: $color-ceuk-grey-600;
$navbar-light-hover-color: rgba($navbar-light-color, 0.8);
$navbar-light-active-color: $navbar-light-color;
$navbar-light-toggler-border-color: rgba($color-ceuk-grey-600, 0.3);

// Dropdowns

// Pagination

// Jumbotron

// Cards

$card-spacer-y: 1rem;

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

$modal-backdrop-opacity: 0.25;

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Code

// Utilities

// Printing

// mySociety footer

$mysoc-footer-background-color: $color-ceuk-grey-900;
$mysoc-footer-text-color: $white;
$mysoc-footer-link-text-color: $white;
$mysoc-footer-divider-color: lighten($color-ceuk-grey-900, 10%);
$mysoc-footer-donate-background-color: lighten($color-ceuk-grey-900, 10%);
$mysoc-footer-donate-button-background-color: $color-ceuk-red;
$mysoc-footer-legal-text-color: mix($color-ceuk-grey-200, $color-ceuk-grey-900, 80%);
$mysoc-footer-image-path: '../img/mysoc-footer-dark/';
$mysoc-footer-breakpoint-sm: 576px; // see $grid-breakpoints in bootstrap/variables.scss
