<div id="volunteers" class="bg-primary-100 py-6 border-bottom">
    <div class="container">
        <div style="max-width: 40em">
            <h2 class="mb-3">Our volunteers</h2>
            <p>The Council Climate Action Scorecards couldn’t have happened without our volunteers. They took a leap of faith along with us in this project and have been instrumental in making it happen. Our volunteers were trained and helped mark and audit all 391 councils and mayoral authorities. The first phase of marking alone took over 5,000  volunteer hours! We are incredibly grateful for all the hard work and dedication that they have put into this project, especially those that were volunteering with us a second time, having already helped with the previous Scorecards. It is always a pleasure to work with so many dedicated and thorough people.</p>
            <p><strong>As a small thank you, we're listing our volunteers below.</strong></p>
        </div>

        <div style="max-width: 40em">
            <h3 class="mt-5 mb-3">First Markers</h3>
            <p>Marking every council in the UK is no small feat. We are so grateful to each team of the 256 volunteers that marked each section, giving up their spare time, evening and weekends to search for answers and evidence throughout council web pages and documents. From those in the Policy Programmes to the Volunteer Markers we thank you so much!</p>
        </div>

        <div class="names-wall my-4" style="max-width: 60em">
            <div class="names-wall-row d-flex flex-row flex-wrap gap-2 lh-1">
                <span class="names-wall-row-item">Grace H</span>
                <span class="names-wall-row-item">Xavièra  V</span>
                <span class="names-wall-row-item">Sacha N</span>
                <span class="names-wall-row-item">Rebecca B</span>
                <span class="names-wall-row-item">Rameen  K</span>
                <span class="names-wall-row-item">Angelique G</span>
                <span class="names-wall-row-item">Tammy S</span>
                <span class="names-wall-row-item">Kimberley J</span>
                <span class="names-wall-row-item">Brydie M</span>
                <span class="names-wall-row-item">James W</span>
                <span class="names-wall-row-item">Peter A</span>
                <span class="names-wall-row-item">Florencia A</span>
                <span class="names-wall-row-item">Louise  S</span>
                <span class="names-wall-row-item">Lucy G</span>
                <span class="names-wall-row-item">Suzanne O</span>
                <span class="names-wall-row-item">Alison T</span>
                <span class="names-wall-row-item">Lucy L</span>
                <span class="names-wall-row-item">Sue L</span>
                <span class="names-wall-row-item">Coulton B</span>
                <span class="names-wall-row-item">Leslie W</span>
                <span class="names-wall-row-item">Ellen H</span>
                <span class="names-wall-row-item">Dean W</span>
                <span class="names-wall-row-item">Elena E</span>
                <span class="names-wall-row-item">Bill C</span>
                <span class="names-wall-row-item">Muditha R</span>
                <span class="names-wall-row-item">Ashley R</span>
                <span class="names-wall-row-item">Xavièra  V</span>
                <span class="names-wall-row-item">Evans Onyedikachi  N</span>
                <span class="names-wall-row-item">Pragya R</span>
                <span class="names-wall-row-item">Peter A</span>
                <span class="names-wall-row-item">Poppy F</span>
                <span class="names-wall-row-item">Maia A</span>
                <span class="names-wall-row-item">Kelly M</span>
                <span class="names-wall-row-item">Ioana B</span>
                <span class="names-wall-row-item">Mustafain H</span>
                <span class="names-wall-row-item">Imogen J</span>
                <span class="names-wall-row-item">Kiran  W</span>
                <span class="names-wall-row-item">Greg M</span>
                <span class="names-wall-row-item">Alicia C</span>
                <span class="names-wall-row-item">Hollie A</span>
                <span class="names-wall-row-item">Antonio R</span>
                <span class="names-wall-row-item">Ashleigh N</span>
                <span class="names-wall-row-item">Lingesh R</span>
                <span class="names-wall-row-item">Rachel F</span>
                <span class="names-wall-row-item">Disha T</span>
                <span class="names-wall-row-item">Lauren F</span>
                <span class="names-wall-row-item">Sofia Eleonora R</span>
                <span class="names-wall-row-item">Savanna H</span>
                <span class="names-wall-row-item">Ashley R</span>
                <span class="names-wall-row-item">Hannah L</span>
                <span class="names-wall-row-item">Ozioma C</span>
                <span class="names-wall-row-item">Amarjit S</span>
                <span class="names-wall-row-item">Ophelia P</span>
                <span class="names-wall-row-item">Sam T</span>
                <span class="names-wall-row-item">Alexandra V</span>
                <span class="names-wall-row-item">Valmira G</span>
                <span class="names-wall-row-item">Sylvia  W</span>
                <span class="names-wall-row-item">Anna P</span>
                <span class="names-wall-row-item">Lauren N</span>
                <span class="names-wall-row-item">Oluwafunzo I</span>
                <span class="names-wall-row-item">Luka L</span>
                <span class="names-wall-row-item">Sophia C</span>
                <span class="names-wall-row-item">Oluchi  R</span>
                <span class="names-wall-row-item">Olivia W</span>
                <span class="names-wall-row-item">Jenny P</span>
                <span class="names-wall-row-item">Jessica D</span>
                <span class="names-wall-row-item">Milo W</span>
                <span class="names-wall-row-item">Marcus A</span>
                <span class="names-wall-row-item">Oluwafunso  I</span>
                <span class="names-wall-row-item">Katalin  P</span>
                <span class="names-wall-row-item">Louie A</span>
                <span class="names-wall-row-item">Bel L</span>
                <span class="names-wall-row-item">Zoe R</span>
                <span class="names-wall-row-item">Eleanor  T</span>
                <span class="names-wall-row-item">Millie W</span>
                <span class="names-wall-row-item">Anne  K</span>
                <span class="names-wall-row-item">Justus O</span>
                <span class="names-wall-row-item">Judith B</span>
                <span class="names-wall-row-item">Aasim K</span>
                <span class="names-wall-row-item">Charlotte  M</span>
                <span class="names-wall-row-item">Helen J</span>
                <span class="names-wall-row-item">Vanessa G</span>
                <span class="names-wall-row-item">Hadiza S</span>
                <span class="names-wall-row-item">Clare L</span>
                <span class="names-wall-row-item">Rebecca C</span>
                <span class="names-wall-row-item">Liz B</span>
                <span class="names-wall-row-item">Hayley N</span>
                <span class="names-wall-row-item">William F</span>
                <span class="names-wall-row-item">Benedict  G</span>
                <span class="names-wall-row-item">Scarlette M</span>
                <span class="names-wall-row-item">Mat A</span>
                <span class="names-wall-row-item">Penny R</span>
                <span class="names-wall-row-item">Lincon S</span>
                <span class="names-wall-row-item">Thomas B</span>
                <span class="names-wall-row-item">Amanda D</span>
                <span class="names-wall-row-item">Ayobami  L</span>
                <span class="names-wall-row-item">Daniel G</span>
                <span class="names-wall-row-item">Cathy D</span>
                <span class="names-wall-row-item">Ogbuagu Ugorji  U</span>
                <span class="names-wall-row-item">Carolina C</span>
                <span class="names-wall-row-item">Tom P</span>
                <span class="names-wall-row-item">Sophie H</span>
                <span class="names-wall-row-item">Gillian G</span>
                <span class="names-wall-row-item">Jacky L</span>
                <span class="names-wall-row-item">Oliver H</span>
                <span class="names-wall-row-item">Freya U</span>
                <span class="names-wall-row-item">Deborah C</span>
                <span class="names-wall-row-item">Rachael M</span>
                <span class="names-wall-row-item">Dorothy B</span>
                <span class="names-wall-row-item">Haleemah J</span>
                <span class="names-wall-row-item">Jess T</span>
                <span class="names-wall-row-item">Richard B</span>
                <span class="names-wall-row-item">Xuanming J</span>
                <span class="names-wall-row-item">Elizabeth M</span>
                <span class="names-wall-row-item">Rosie S</span>
                <span class="names-wall-row-item">Heather H</span>
                <span class="names-wall-row-item">Howard L</span>
                <span class="names-wall-row-item">Maud B</span>
                <span class="names-wall-row-item">Aaliyah K</span>
                <span class="names-wall-row-item">Jenny P</span>
                <span class="names-wall-row-item">Robert D</span>
            </div>
        </div>

        <div style="max-width: 40em">
            <h3 class="mt-5 mb-3">Auditors</h3>
            <p>Our auditors were a smaller, elite group of 57 volunteers who took on the mammoth task of awarding the final marks for every question marked by FOI request or volunteer research - taking into account the First Mark and Right of Reply.</p>
        </div>

        <div style="max-width: 40em">
            <h2 class="mt-5 mb-3 fs-1">Our funders</h2>
            <p>Climate Emergency UK is funded primarily through Grants, as well as individual donations. Special thank you to Sally Pickering and one other unnamed donor from our Crowdfunder in 2022 to help make the Scorecards happen.</p>
            <p>You can find out more about who funds us on <a href="https://climateemergency.uk/about-us-2/">Climate Emergency UK’s organisation website</a>.</p>
        </div>

    </div>
</div>
