<div id="volunteers" class="bg-primary-100 py-6 border-bottom">
    <div class="container">
        <div style="max-width: 40em">
            <h2 class="mb-3">Our volunteers</h2>
            <p>The Council Climate Action Scorecards couldn’t have happened without our volunteers. They took a leap of faith along with us in this pilot project and have been instrumental in making it happen. Our volunteers were trained and helped mark and audit all 388 councils. The first phase of marking alone took over 5,000  volunteer hours! We are incredibly grateful for all the hard work and dedication that they have put into this project, especially those that were volunteering with us a second time, having already helped with the Plan Scorecards. It is always a pleasure to work with so many dedicated and thorough people. <br><br> <strong>As a small thank you, we're listing our volunteers below.</strong></p>

            <h3 class="mt-5 mb-3">Auditors</h3>
            <p>Our auditors were a small, elite group of volunteers who took on the mammoth task of awarding the final marks for every question marked by FOI request or volunteer research - taking into account the First Mark and Right of Reply. These volunteer heroes were:</p>
        </div>

        <div class="names-wall my-4" style="max-width: 60em">
            <div class="names-wall-row d-flex flex-row flex-wrap gap-2 lh-1">
                TBC
            </div>
        </div>

        <div style="max-width: 40em">
            <h3 class="mt-5 mb-3">First Markers</h3>
            <p>Marking 388 councils is no small feat. We are so grateful to each team of volunteers that marked each section, giving up their spare time, evening and weekends to search for answers and evidence throughout council web pages and documents. From those in the Policy Programmes to the Volunteer Markers we thank you so much!</p>
        </div>

        <div class="names-wall my-4" style="max-width: 60em">
            <div class="names-wall-row d-flex flex-row flex-wrap gap-2 lh-1">
                TBC
            </div>
        </div>

        <div style="max-width: 40em">
            <h2 class="mt-5 mb-3 fs-1">Our funders</h2>
            <p>Climate Emergency UK is funded primarily through Grants, as well as individual donations. Special thank you to Sally Pickering and one other unnamed donor from our Crowdfunder in 2022 to help make the Scorecards happen.</p>
            <p>You can find out more about who funds us on <a href="https://climateemergency.uk/about-us-2/">Climate Emergency UK’s organisation website</a>.</p>
        </div>

    </div>
</div>
