<button type="button" class="btn btn-primary mt-3 mt-md-0 mb-md-1" data-bs-toggle="modal" data-bs-target="#advancedFilter">
  {% include "scoring/icons/filter.html" %}
  Advanced filters
</button>

<!-- DELETE ALL EMPTY CLASSES TAGS-->

<div class="modal fade" id="advancedFilter" tabindex="-1" aria-labelledby="advancedFilterLabel" aria-hidden="true">
  <form id="advancedFilterForm" action=".">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="advancedFilterLabel">Advanced filters</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="filter-grid">
              {% if filter_auth_type %}
              <input type="hidden" name="council_type" value="{{ authority_type }}">
              {% endif %}

              {% if authority_type == 'single' %}
              <div id="filterNation" class="advanced-filter-item p-3 border rounded">
                <h4 class="d-flex gap-3 flex-row align-items-center">
                  Nation
                </h4>
                <fieldset class="criteria-group-wrapper mt-3">
                    <legend class="visually-hidden">
                        <button type="button">Nation</button>
                    </legend>
                    <div class="option-group d-flex flex-column row-gap-3">
                        <div class="form-check-flex">
                            <input type="radio" class="form-check-input" id="country_all" name="country" value=""{% if filter_params.country == "" or filter_params.country is None %} checked{% endif %}>
                            <label class="form-check-label" for="country_all">Any</label>
                        </div>
                        <div class="form-check-flex">
                            <input type="radio" class="form-check-input" id="england" name="country" value="1"{% if filter_params.country == "1" %} checked{% endif %}>
                            <label class="form-check-label" for="england">England</label>
                        </div>
                        <div class="form-check-flex">
                            <input type="radio" class="form-check-input" id="scotland" name="country" value="2"{% if filter_params.country == "2" %} checked{% endif %}>
                            <label class="form-check-label" for="scotland">Scotland</label>
                        </div>
                        <div class="form-check-flex">
                            <input type="radio" class="form-check-input" id="wales" name="country" value="3"{% if filter_params.country == "3" %} checked{% endif %}>
                            <label class="form-check-label" for="wales">Wales</label>
                        </div>
                    </div>
                </fieldset>
              </div>
              {% endif %}

              <div id="filterUrbanisation" class="advanced-filter-item p-3 border rounded">
                <h4 class="d-flex gap-3 flex-row align-items-center">
                  Urbanisation
                </h4>
                <fieldset class="criteria-group-wrapper mt-3">
                  <legend class="visually-hidden">
                    <button type="button">Urbanisation</button>
                  </legend>
                  <div class="option-group d-flex flex-column row-gap-3">
                    <div class="form-check-flex">
                      <input type="radio" class="form-check-input" id="urban_all" name="ruc_cluster" value=""{% if filter_params.ruc_cluster == "" or filter_params.ruc_cluster is None %} checked{% endif %}>
                      <label class="form-check-label" for="urban_all">All</label>
                    </div>
                    {% for option in urbanisation_filter %}
                    <div class="form-check-flex">
                      <input type="radio" class="form-check-input" id="{{ option.0|slugify }}" name="ruc_cluster" value="{{ option.0 }}"{% if filter_params.ruc_cluster == option.0 %} checked{% endif %}>
                      <label class="form-check-label" for="{{ option.0|slugify }}">{{ option.1 }}</label>
                    </div>
                    {% endfor %}
                  </div>
                </fieldset>
              </div>

              {% if authority_type != 'combined' and authority_type != 'northern-ireland' %}
              <div id="filterDeprivationIndex" class="advanced-filter-item p-3 border rounded">
                <h4 class="d-flex gap-3 flex-row align-items-center">
                  <span class="w-75">Index of multiple deprivation</span>
                </h4>
                <fieldset class="criteria-group-wrapper mt-3">
                  <legend class="visually-hidden">
                    <button type="button">Index of multiple deprivation</button>
                  </legend>
                  <div class="option-group d-flex flex-column gap-3">
                    <div class="form-check-flex">
                      <input type="radio" class="form-check-input" id="imdq_all" name="imdq" value=""{% if filter_params.imdq == "" or filter_params.imdq is None %} checked{% endif %}>
                      <label class="form-check-label" for="imdq_all">All</label>
                    </div>
                    <div class="form-check-flex">
                      <input type="radio" class="form-check-input" id="imdq_1" name="imdq" value="1"{% if filter_params.imdq == 1 %} checked{% endif %}>
                      <label class="form-check-label" for="imdq_1">1 (most deprived)</label>
                    </div>
                    <div class="form-check-flex">
                      <input type="radio" class="form-check-input" id="imdq_2" name="imdq" value="2"{% if filter_params.imdq == 2 %} checked{% endif %}>
                      <label class="form-check-label" for="imdq_2">2</label>
                    </div>
                    <div class="form-check-flex">
                      <input type="radio" class="form-check-input" id="imdq_3" name="imdq" value="3"{% if filter_params.imdq == 3 %} checked{% endif %}>
                      <label class="form-check-label" for="imdq_3">3</label>
                    </div>
                    <div class="form-check-flex">
                      <input type="radio" class="form-check-input" id="imdq_4" name="imdq" value="4"{% if filter_params.imdq == 4 %} checked{% endif %}>
                      <label class="form-check-label" for="imdq_4">4</label>
                    </div>
                    <div class="form-check-flex">
                      <input type="radio" class="form-check-input" id="imdq_5" name="imdq" value="5"{% if filter_params.imdq == 5 %} checked{% endif %}>
                      <label class="form-check-label" for="imdq_5">5 (least deprived)</label>
                    </div>
                  </div>
                </fieldset>
              </div>
              {% endif %}


              <div class="d-flex flex-column gap-3">
                {% if filter_params.country == "1" or filter_params.country == "" or filter_params.country is None %}
                <div id="filterRegion" class="advanced-filter-item p-3 border rounded">
                  <h4 class="d-flex gap-3 flex-row align-items-center">
                    Region
                  </h4>
                  <fieldset class="criteria-group-wrapper mt-3">
                    <legend class="visually-hidden">
                      <button type="button">Region</button>
                    </legend>
                    <div class="option-group">
                      <select class="form-select" id="region_select" name="region">
                        <option value=""{% if filter_params.region == "" or filter_params.region is None %} selected{% endif %}>Any</option>
                        <option value="East Midlands"{% if filter_params.region == "East Midlands" %} selected{% endif %}>East Midlands</option>
                        <option value="East of England"{% if filter_params.region == "East of England" %} selected{% endif %}>East of England</option>
                        <option value="London"{% if filter_params.region == "London" %} selected{% endif %}>London</option>
                        <option value="North East"{% if filter_params.region == "North East" %} selected{% endif %}>North East</option>
                        <option value="North West"{% if filter_params.region == "North West" %} selected{% endif %}>North West</option>
                        <option value="South East"{% if filter_params.region == "South East" %} selected{% endif %}>South East</option>
                        <option value="South West"{% if filter_params.region == "South West" %} selected{% endif %}>South West</option>
                        <option value="West Midlands"{% if filter_params.region == "West Midlands" %} selected{% endif %}>West Midlands</option>
                        <option value="Yorkshire and The Humber"{% if filter_params.region == "Yorkshire and The Humber" %} selected{% endif %}>Yorkshire and The Humber</option>
                      </select>
                    </div>
                  </fieldset>
                </div>
                {% endif %}

                {% if authority_type == 'district' %}
                <div id="filterCounty" class="advanced-filter-item p-3 border rounded">
                  <h4 class="d-flex gap-3 flex-row align-items-center">
                    County
                  </h4>
                  <fieldset class="criteria-group-wrapper mt-3">
                    <legend class="visually-hidden">
                      <button type="button">County</button>
                    </legend>
                    <div class="option-group d-flex flex-column row-gap-3">
                      <select class="form-select" id="countySelect" name="county">
                        <option value=""{% if filter_params.county == "" or filter_params.county is None %} selected{% endif %}>All</option>
                        {% for option in county_filter %}
                        <option value="{{ option.0 }}"{% if filter_params.county == option.0 %} selected{% endif %}>{{ option.1 }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </fieldset>
                </div>
                {% endif %}

                {% if authority_type != 'combined' and authority_type != 'northern-ireland' %}
                <div id="filterPoliticalControl" class="advanced-filter-item p-3 border rounded">
                  <h4>
                    <p class="mb-2">Political control</p>
                    <p class="fs-7">(Sept 2023)</p>
                  </h4>
                  <fieldset class="criteria-group-wrapper mt-3">
                    <legend class="visually-hidden">
                      <button type="button">Political control (Sept 2023)</button>
                    </legend>
                    <div class="option-group">
                      <select class="form-select" id="control_select" name="control">
                        <option value=""{% if filter_params.control == "" or filter_params.control is None %} selected{% endif %}>All</option>
                        <option value="Coalition/Minority"{% if filter_params.control == "Coalition/Minority" %} selected{% endif %}>Coalition/Minority</option>
                        <option value="NOC"{% if filter_params.control == "NOC" %} selected{% endif %}>No overall control</option>
                        <option value="Conservative"{% if filter_params.control == "Conservative" %} selected{% endif %}>Conservative</option>
                        <option value="Independent"{% if filter_params.control == "Independent" %} selected{% endif %}>Independent</option>
                        <option value="Labour"{% if filter_params.control == "Labour" %} selected{% endif %}>Labour</option>
                        <option value="Liberal Democrat"{% if filter_params.control == "Liberal Democrat" %} selected{% endif %}>Liberal Democrat</option>
                        <option value="Plaid Cymru"{% if filter_params.control == "Plaid Cymru" %} selected{% endif %}>Plaid Cymru</option>
                      </select>
                    </div>
                  </fieldset>
                </div>
                {% endif %}

                <div id="filterTotalPopulation" class="advanced-filter-item p-3 border rounded">
                  <h4 class="d-flex gap-3 flex-row align-items-center">
                    Total population
                  </h4>
                  <fieldset class="criteria-group-wrapper mt-3">
                    <legend class="visually-hidden">
                      <button type="button">Total population</button>
                    </legend>
                    <div class="option-group">
                      <select class="form-select" id="population_select" name="population">
                        <option value=""{% if filter_params.population == "" or filter_params.population is None %} selected{% endif %}>Any</option>
                        {% for option in population_filter %}
                        <option value="{{ option.0 }}"{% if filter_params.population == option.0 %} selected{% endif %}>{{ option.1 }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </fieldset>
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button id="resetButton" type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Reset filters</button>
          <button type="submit" class="btn btn-primary d-inline-block">Apply filters</button>
        </div>
        </div>
    </div>
  </form>
</div>

<script>
  document.getElementById('resetButton').onclick = function() {
    // Clear all checked radio buttons
    var radios = document.querySelectorAll("#advancedFilterForm input[type=radio]");
    for (var i = 0; i < radios.length; i++) {
        radios[i].checked = false;
    }

    // Clear all select elements
    var selects = document.querySelectorAll("#advancedFilterForm select");
    for (var j = 0; j < selects.length; j++) {
        selects[j].selectedIndex = 0; // Reset to the first option
    }
  }
</script>
