
<button class="btn btn-primary d-lg-none my-2" type="button" data-bs-toggle="collapse" data-bs-target="#advancedFilter" aria-expanded="false" aria-controls="advancedFilter">
  Advanced filters
</button>

<div id="advancedFilter" class="d-lg-block collapse" tabindex="-1" aria-labelledby="advancedFilterLabel" aria-hidden="true">
  <form id="advancedFilterForm" action=".">
    <div class="filter-grid mb-3">
        {% if filter_auth_type %}
        <input type="hidden" name="council_type" value="{{ authority_type }}">
        {% endif %}
    
        {% if authority_type == 'single' %}
        <div id="filterNation" class="advanced-filter-item">
          <h4 class="fs-8">
            Nation
          </h4>
          <fieldset class="criteria-group-wrapper mt-2">
              <legend class="visually-hidden">
                  <button type="button">Nation</button>
              </legend>
              <div class="option-group">
                <select class="form-select" name="country" id="countrySelect">
                  <option value=""{% if filter_params.country == "" or filter_params.country is None %} selected{% endif %}>Any</option>
                  <option value="1"{% if filter_params.country == "1" %} selected{% endif %}>England</option>
                  <option value="2"{% if filter_params.country == "2" %} selected{% endif %}>Scotland</option>
                  <option value="3"{% if filter_params.country == "3" %} selected{% endif %}>Wales</option>
                </select>
              </div>
          </fieldset>
        </div>
        {% endif %}
    
        <div id="filterUrbanisation" class="advanced-filter-item">
          <h4 class="fs-8">
            Urbanisation
          </h4>
          <fieldset class="criteria-group-wrapper mt-2">
            <legend class="visually-hidden">
              <button type="button">Urbanisation</button>
            </legend>
            <div class="option-group">
              <select class="form-select" id="ruc_cluster" name="ruc_cluster">
                <option value=""{% if filter_params.ruc_cluster == "" or filter_params.ruc_cluster is None %} selected{% endif %}>All</option>
                {% for option in urbanisation_filter %}
                  <option value="{{ option.0 }}"{% if filter_params.ruc_cluster == option.0 %} selected{% endif %}>{{ option.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </fieldset>
        </div>
    
        {% if authority_type != 'combined' and authority_type != 'northern-ireland' %}
        <div id="filterDeprivationIndex" class="advanced-filter-item">
          <h4 class="fs-8">
            <span class="w-75">Index of multiple deprivation</span>
          </h4>
          <fieldset class="criteria-group-wrapper mt-2">
            <legend class="visually-hidden">
              <button type="button">Index of multiple deprivation</button>
            </legend>
            <div class="option-group">
              <select class="form-select" id="imdq" name="imdq">
                <option value=""{% if filter_params.imdq == "" or filter_params.imdq is None %} selected{% endif %}>All</option>
                <option value="1"{% if filter_params.imdq == 1 %} selected{% endif %}>1 (most deprived)</option>
                <option value="2"{% if filter_params.imdq == 2 %} selected{% endif %}>2</option>
                <option value="3"{% if filter_params.imdq == 3 %} selected{% endif %}>3</option>
                <option value="4"{% if filter_params.imdq == 4 %} selected{% endif %}>4</option>
                <option value="5"{% if filter_params.imdq == 5 %} selected{% endif %}>5 (least deprived)</option>
              </select>
            </div>
          </fieldset>
        </div>
        {% endif %}

        {% if filter_params.country == "1" or filter_params.country == "" or filter_params.country is None %}
        <div id="filterRegion" class="advanced-filter-item">
          <h4 class="fs-8">
            Region
          </h4>
          <fieldset class="criteria-group-wrapper mt-2">
            <legend class="visually-hidden">
              <button type="button">Region</button>
            </legend>
            <div class="option-group">
              <select class="form-select{% if filter_params.region and filter_params.region != '' %} active{% endif %}" id="region_select" name="region">
                <option value=""{% if filter_params.region == "" or filter_params.region is None %} selected{% endif %}>Any</option>
                <option value="East Midlands"{% if filter_params.region == "East Midlands" %} selected{% endif %}>East Midlands</option>
                <option value="East of England"{% if filter_params.region == "East of England" %} selected{% endif %}>East of England</option>
                <option value="London"{% if filter_params.region == "London" %} selected{% endif %}>London</option>
                <option value="North East"{% if filter_params.region == "North East" %} selected{% endif %}>North East</option>
                <option value="North West"{% if filter_params.region == "North West" %} selected{% endif %}>North West</option>
                <option value="South East"{% if filter_params.region == "South East" %} selected{% endif %}>South East</option>
                <option value="South West"{% if filter_params.region == "South West" %} selected{% endif %}>South West</option>
                <option value="West Midlands"{% if filter_params.region == "West Midlands" %} selected{% endif %}>West Midlands</option>
                <option value="Yorkshire and The Humber"{% if filter_params.region == "Yorkshire and The Humber" %} selected{% endif %}>Yorkshire and The Humber</option>
            </select>
            </div>
          </fieldset>
        </div>
        {% endif %}

        {% if authority_type == 'district' %}
        <div id="filterCounty" class="advanced-filter-item">
          <h4 class="fs-8">
            County
          </h4>
          <fieldset class="criteria-group-wrapper mt-2">
            <legend class="visually-hidden">
              <button type="button">County</button>
            </legend>
            <div class="option-group d-flex flex-column row-gap-3">
              <select class="form-select" id="countySelect" name="county">
                <option value=""{% if filter_params.county == "" or filter_params.county is None %} selected{% endif %}>All</option>
                {% for option in county_filter %}
                <option value="{{ option.0 }}"{% if filter_params.county == option.0 %} selected{% endif %}>{{ option.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </fieldset>
        </div>
        {% endif %}

        {% if authority_type != 'combined' and authority_type != 'northern-ireland' %}
        <div id="filterPoliticalControl" class="advanced-filter-item">
          <h4>
            <p class="mb-2 fs-8">Political control (Sept 2023)</p>
          </h4>
          <fieldset class="criteria-group-wrapper mt-2">
            <legend class="visually-hidden">
              <button type="button">Political control (Sept 2023)</button>
            </legend>
            <div class="option-group">
              <select class="form-select" id="control_select" name="control">
                <option value=""{% if filter_params.control == "" or filter_params.control is None %} selected{% endif %}>All</option>
                <option value="Coalition/Minority"{% if filter_params.control == "Coalition/Minority" %} selected{% endif %}>Coalition/Minority</option>
                <option value="NOC"{% if filter_params.control == "NOC" %} selected{% endif %}>No overall control</option>
                <option value="Conservative"{% if filter_params.control == "Conservative" %} selected{% endif %}>Conservative</option>
                <option value="Independent"{% if filter_params.control == "Independent" %} selected{% endif %}>Independent</option>
                <option value="Labour"{% if filter_params.control == "Labour" %} selected{% endif %}>Labour</option>
                <option value="Liberal Democrat"{% if filter_params.control == "Liberal Democrat" %} selected{% endif %}>Liberal Democrat</option>
                <option value="Plaid Cymru"{% if filter_params.control == "Plaid Cymru" %} selected{% endif %}>Plaid Cymru</option>
              </select>
            </div>
          </fieldset>
        </div>
        {% endif %}

        <div id="filterTotalPopulation" class="advanced-filter-item">
          <h4 class="fs-8">
            Total population
          </h4>
          <fieldset class="criteria-group-wrapper mt-2">
            <legend class="visually-hidden">
              <button type="button">Total population</button>
            </legend>
            <div class="option-group">
              <select class="form-select" id="population_select" name="population">
                <option value=""{% if filter_params.population == "" or filter_params.population is None %} selected{% endif %}>Any</option>
                {% for option in population_filter %}
                <option value="{{ option.0 }}"{% if filter_params.population == option.0 %} selected{% endif %}>{{ option.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </fieldset>
        </div>
    </div>
    <button id="resetButton" type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Reset filters</button>
    <button type="submit" class="btn btn-primary d-inline-block">Apply filters</button>
  </form>
</div>

<script>
  document.getElementById('resetButton').onclick = function() {
    // Clear all checked radio buttons
    var radios = document.querySelectorAll("#advancedFilterForm input[type=radio]");
    for (var i = 0; i < radios.length; i++) {
        radios[i].checked = false;
    }

    // Clear all select elements
    var selects = document.querySelectorAll("#advancedFilterForm select");
    for (var j = 0; j < selects.length; j++) {
        selects[j].selectedIndex = 0; // Reset to the first option
    }
  }
</script>
