<form class="bg-white-100 px-3 py-4 d-none d-lg-block border" id="advancedFilterForm" action=".">
  <h5 class="mb-3 fs-6">Add councils to compare</h5>
  {% if comparisons|length > 2 %}
  <p class="warning-message">You have reached the maximum number of councils that may be compared.</p>
{% else %}
  <input class="border border-primary form-control searchbar blue dark js-location-compare-autocomplete" name="search" id="compare-search" type="search" placeholder="Council name" aria-label="Council name">
{% endif %}
{% if comparisons %}
  <div class="selected-council-wrapper mt-4 mb-3">
    {% for comparison in comparisons %}
      <a href="#" class="radio-btn is--with-label is--with-closed-icon mr-1 js-comparison-council" data-slug="{{ comparison.council.slug }}">{{ comparison.council.name }}</a>
    {% endfor %}
  </div>
  {% comment %} <a href="{% url "council" council.slug %}">Clear all</a> {% endcomment %}
{% endif %}
</form>
