            <div class="scorecard-table-wrapper border border-top-0 {% if previous_year %}with-year-difference{% endif %}">

                <form role="search" class="scorecard-table__mobile-category-select js-category-select-form">
                    <label class="fs-7 text-nowrap" for="mobile-category-select">Show section:</label>
                    <select id="mobile-category-select" name="category" aria-label="Select category" class="form-select form-select-sm fw-bold js-category-select">
                        <option value="overall" selected>Total Score</option>
                      {% for section in section_averages %}
                        <option value="{{ section.code }}">{{ section.title }}</option>
                      {% endfor %}
                    </select>
                </form>
                <div class="visually-hidden js-category-select-announcement" aria-live="polite">Now showing Total Score</div>

                <table class="scorecard-table" data-section="overall">
                    <thead class="position-sticky z-index-4">
                        <tr class="scorecard-table__sections-header bg-white z-index-5">
                            <th scope="col" {% if previous_year %}rowspan="2"{% endif %} class="scorecard-table__label-column bg-light">
                                <h2 class="mb-1 fs-5 lh-1">{{ scoring_group.name }}</h2>
                                <p class="mb-0 fs-8">Council Climate Action Scorecard</p>
                            </th>
                          {% if previous_year %}
                            <th scope="col" colspan="2" class="scorecard-table__score-column js-previous-year-difference-header py-1" data-section="overall">
                          {% else %}
                            <th scope="col" colspan="1" class="scorecard-table__score-column js-previous-year-difference-header py-1" data-section="overall">
                          {% endif %}
                                <div class="section-title">
                                    <button class="js-sort-table btn btn-outline-primary sort-icon align-items-start {% if sorted_by is None %} is-sorted-descending{% endif %}" title="Sort lowest first" data-sort-section="overall" data-sort-default="descending"></button>
                                    <span class="text-center fw-bold">Total Score</span>
                                </div>
                            </th>

                        {% for section in section_averages %}
                          {% if previous_year %}
                            <th scope="col" colspan="2" class="scorecard-table__score-column py-1 js-previous-year-difference-header" data-section="{{ section.code }}">
                          {% else %}
                            <th scope="col" colspan="1" class="scorecard-table__score-column py-1 js-previous-year-difference-header" data-section="{{ section.code }}">
                          {% endif %}
                                <div class="section-title">
                                    <button class="js-sort-table btn btn-outline-primary sort-icon align-items-start is--category-{{ forloop.counter }} {% if sorted_by == section.code %} is-sorted-descending{% endif %}" data-sort-section="{{ section.code }}" title="Sort highest first"></button>
                                    {% include section_link_template with section_code=section.code section_name=section.title category_number=forloop.counter %}
                                </div>
                            </th>
                        {% endfor %}
                        </tr>

                      {% if previous_year %}
                        <tr class="scorecard-table__years-header">
                            {% comment %} NOTE: rowspan from first cell fills the space of the first cell here! {% endcomment %}
                            <th scope="col" class="scorecard-table__score-column h-auto pb-2 pt-0" data-section="overall">
                                <button class="js-sort-table sort-button {% if sorted_by is None %} is-sorted-descending{% endif %}" title="Sort lowest first" data-sort-section="overall" data-sort-default="descending">
                                    {% include 'caps/icons/chevron-down.html' %}
                                    {{ plan_year }}
                                </button>
                            </th>
                            <th scope="col" class="scorecard-table__year-difference-column h-auto pb-2 pt-0 text-nowrap" data-section="overall">
                                <button class="js-sort-table sort-button" data-sort-section="overall_vs" title="Sort highest first">
                                    {% include 'caps/icons/chevron-down.html' %}
                                    versus {{ previous_year.year }}
                                </button>
                            </th>
                          {% for x in section_averages %}
                            <th scope="col" class="scorecard-table__score-column h-auto pb-2 pt-0" data-section="{{ x.code }}">
                                <button class="js-sort-table sort-button is--category-{{ forloop.counter }} {% if sorted_by == x.code %} is-sorted-descending{% endif %}" data-sort-section="{{ x.code }}" title="Sort highest first">
                                    {% include 'caps/icons/chevron-down.html' %}
                                    {{ plan_year }}
                                </button>
                            </th>
                            <th scope="col" class="scorecard-table__year-difference-column h-auto pb-2 pt-0 text-nowrap" data-section="{{ x.code }}">
                                <button class="js-sort-table sort-button is--category-{{ forloop.counter }}" data-sort-section="{{ x.code }}_vs" title="Sort highest first">
                                    {% include 'caps/icons/chevron-down.html' %}
                                    versus {{ previous_year.year }}
                                </button>
                            </th>
                          {% endfor %}
                        </tr>
                      {% endif %}

                        <tr class="scorecard-table__average-row position-sticky z-index-4">
                            <th scope="col" class="scorecard-table__label-column bg-primary-100">
                                <span class="fs-6 fw-bold d-block lh-sm">{{ scoring_group.name }} average</span>
                            </th>
                            <th scope="col" class="scorecard-table__score-column bg-primary-100" data-section="overall">
                                {% include 'scoring/includes/score-bar.html' with percentage=averages.total.percentage average=1 %}
                            </th>
                          {% if previous_year %}
                            {% include 'scoring/includes/fp_header_integer_score_change.html' with change=averages.total.change section="overall" %}
                          {% endif %}

                          {% for section in section_averages %}
                            <th scope="col" class="scorecard-table__score-column category-{{ forloop.counter }} bg-primary-100 z-index-3 position-relative" data-section="{{ section.code }}">
                                {% include 'scoring/includes/score-bar.html' with percentage=section.weighted average=1 %}
                            </th>
                          {% if previous_year %}
                            {% include 'scoring/includes/fp_header_integer_score_change.html' with change=section.change section=section.code %}
                          {% endif %}
                          {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                      {% for council in council_data %}
                        <tr data-jump-slug="{{ council.slug }}">
                            <th scope="row" class="scorecard-table__label-column align-middle">
                                <div class="d-flex flex-nowrap flex-row align-items-center gap-1">
                                    {% if council.top_performer %}
                                        <button class="p-0 bg-transparent border-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Top performer council">
                                            {% include 'caps/icons/scorecards-star.html' with classes='text-info align-text-top' width='1.2em' height='1.2em' %}
                                        </button>
                                    {% endif %}
                                    {% include council_link_template with plan_year=plan_year council=council %}
                                </div>
                            </th>

                        {% if council.score != 0 and council.score is not None %}
                            <td class="scorecard-table__score-column fw-bold" data-section="overall" data-sort-section="overall" {% if council.score == 0 %} data-sort-value="NA" {% else %} data-sort-value="{{ council.percentage|default:"0" }}" {% endif %}>
                                {% include 'scoring/includes/score-bar.html' with percentage=council.percentage %}
                            </td>
                          {% if previous_year %}
                            {% include 'scoring/includes/fp_integer_score_change.html' with change=council.change sortsection="overall" section="overall" %}
                          {% endif %}

                          {% for score in council.all_scores %}
                            <td class="scorecard-table__score-column category-{{ forloop.counter }}" data-section="{{ score.code }}" data-sort-section="{{ score.code }}" data-sort-value="{{ score.weighted|default:"0" }}">
                                {% include 'scoring/includes/score-bar.html' with percentage=score.weighted %}
                            </td>
                          {% if previous_year %}
                            {% include 'scoring/includes/fp_integer_score_change.html' with change=score.change section=score.code sortsection=score.code %}
                          {% endif %}
                          {% endfor %}

                        {% elif council.score == 0 %}
                            <td colspan="2" class="scorecard-table__score-column" data-sort-value="NA">
                                Not scored: newly formed since April 2023. This
                              {% if scoring_group.slug == "combined" %}
                                Combined Authority
                              {% else %}
                                council
                              {% endif %}
                                will be assessed in future Scorecard editions.
                            </td>
                        {% elif council.score is None %}
                            <td colspan="2" class="scorecard-table__score-column" data-sort-value="NA">
                                We do not currently have a Scorecard for this
                              {% if scoring_group.slug == "combined" %}
                                Combined Authority
                              {% else %}
                                council
                              {% endif %}
                            </td>
                        {% endif %}

                        </tr>
                      {% endfor %}
                    </tbody>
                </table>

            </div>
