<div class="bg-primary-100 p-3 mb-4">
    <p class="fs-5">Filter questions by source type</p>
    <div class="d-flex flex-row flex-wrap" style="gap:0.5rem">
        <button class="radio-btn is--with-label mr-1" data-question-source-type="default">All</button>
        <button class="radio-btn is--with-label mr-1" data-question-source-type="volunteer">Volunteer Research</button>
        <button class="radio-btn is--with-label mr-1" data-question-source-type="foi">FOI</button>
        <button class="radio-btn is--with-label mr-1" data-question-source-type="national-data">National Data</button>
        <button class="radio-btn is--with-label mr-1" data-question-source-type="national-data-and-volunteer">National Data and Volunteer Research</button>
    </div>

    <form class="mt-3">
        <input class="me-1 is--small" type="checkbox" id="council-operations-only" name="council-operations-only" >
        <label for="council-operations-only">Display only Council operations questions</label>
    </form>
</div>
