{% if change < 0 %}
    <td scope="row" class="display-only-large-up js-previous-year-score-difference previous-year-score-difference text-warning" data-sort-section="overall_vs" data-sort-value="{{ change|floatformat:"0" }}">&#9660; {{ change|floatformat:"0" }}</td>
{% elif change > 0 %}
    <td scope="row" class="display-only-large-up js-previous-year-score-difference previous-year-score-difference text-success" data-sort-section="overall_vs" data-sort-value="{{ change|floatformat:"0" }}">&#9650; {{ change|floatformat:"0" }}</td>
{% elif change == 0 %}
    <td scope="row" class="display-only-large-up js-previous-year-score-difference previous-year-score-difference" data-sort-section="overall_vs" data-sort-value="0">--</td>
{% else %}
    <td scope="row" class="display-only-large-up js-previous-year-score-difference previous-year-score-difference" data-sort-section="overall_vs" data-sort-value="NA">NA</td>
{% endif %}
