{% load static %}

<div class="py-5 bg-yellow-100">
    <div class="container">
        <h1 class="h2 mb-4">
            <a href="{% url 'scoring:methodology' %}">2025 Scorecards launching soon</a>
        </h1>
        <div class="row">
            <div class="col-lg-5 order-1 order-lg-0">
                <p class="mx-auto">On <strong>Tuesday 17th June</strong> we will launch the <strong>2025 Council Climate Action Scorecards</strong>, the second edition of the only UK-wide assessment of councils’ progress towards net zero. In the lead-up to the launch, familiarise yourself with the 2025 methodology and how you can use the Scorecards to drive local climate action.</p>
                <p class="mb-0 d-flex flex-wrap gap-3">
                    <a class="btn btn-outline-primary" href="{% url 'generic:how-to-use-the-scorecards' %}">How to use the Scorecards</a>
                    <a class="btn btn-outline-primary" href="{% url 'scoring:methodology' %}">2025 Methodology</a>
                </p>
            </div>
            <div class="col-lg-6 offset-lg-1 mb-4 mb-lg-0 mt-xl-n3">
                <a href="{% url 'scoring:methodology' %}">
                    <img alt="Timeline showing: January to April 2024, Methodology review and sector consultations; May 2024, Publish updated metrics for 2025 Scorecards; August to October 2024, First marking with volunteers; November to December 2024, Five week Right of Reply period; January to March 2025, Scoring audit; 17th June 2025, scorecards launch" class="d-block mx-auto" height="150" src="{% static 'scoring/img/2025-timeline-09.png' %}" style="max-width: 100%; height: auto;" width="700">
                </a>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-lg-5">
                <h2 class="h4">Follow our progress</h2>
                <p class="mb-0"><a href="#newsletter">Join our mailing list</a> to follow our progress towards the 2025 Action Scorecards.</p>
            </div>
            <div class="col-lg-5 offset-lg-1 mt-4 mt-lg-0">
              <h2 class="h4">Join one of our upcoming events</h2>
              <p class="mb-0">Check out Climate Emergency UK’s <a href="https://actionnetwork.org/groups/climate-emergency-uk">events around the Scorecards launch this Summer</a>.</p>
            </div>
        </div>
    </div>
</div>
