<form class="form">
    <h6 class="mb-3">Find your council on the table:</h6>
    <input class="form-control searchbar blue light mb-4 mb-lg-5" type="search" placeholder="Search" aria-label="Search">
    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    
    <h6 class="mb-2 mb-lg-3">Filter table by type of council:</h6>
    <div class="type-council-option-wrapper">
        <a class="radio-btn is--with-label{% if authority_type == 'single' %} active{% endif %}" href="{% url 'scoring' 'single' %}">Single Tier</a>
        <a class="radio-btn is--with-label{% if authority_type == 'district' %} active{% endif %}" href="{% url 'scoring' 'district' %}">District</a>
        <a class="radio-btn is--with-label{% if authority_type == 'county' %} active{% endif %}" href="{% url 'scoring' 'county' %}">County</a>
        <a class="radio-btn is--with-label{% if authority_type == 'combined' %} active{% endif %}" href="{% url 'scoring' 'combined' %}">Combined</a>
        <a class="radio-btn is--with-label{% if authority_type == 'northern-ireland' %} active{% endif %}" href="{% url 'scoring' 'northern-ireland' %}">Northern Ireland</a>
    </div>
</form>
