{% if code == 's1_gov_q1_sp1' %}
<p>
Someone must be taking responsibility for overseeing the delivery of the plan. If this is a committee that qualifies for the point. 
If it is an individual leading it must be a senior officer as they have the authority to make necessary changes.
Most plans have someone who has written the foreword. This alone is not enough. It needs to say who (name or job role) is responsible for the plan.
</p>

{% elif code == 's1_gov_q1_sp2' %}
<p>
    test 2Someone must be taking responsibility for overseeing the delivery of the plan. If this is a committee that qualifies for the point. 
    If it is an individual leading it must be a senior officer as they have the authority to make necessary changes.
    Most plans have someone who has written the foreword. This alone is not enough. It needs to say who (name or job role) is responsible for the plan.
</p>
{% endif %}
