{% load django_bootstrap5 %}
{% load caps_templatetags %}

<div class="question-content-table text-start">
    <div class="row">
        <div class="col-1 mb-2">
            <span class="badge bg-secondary p-1 question-no">{{ pretty_code }}</span>
        </div>
        <div class="col-11">
            {{ question_text.strip | linebreaks }}

            {% comment %} Mobile version {% endcomment %}
            {% comment %} TODO for Section page: Is it possible to display this info for the council selected when users use 'Show questions for a specific council' {% endcomment %}
            <dl class="d-lg-none mb-3 d-flex flex-row gap-3">
                <div class="card">
                    <dt class="card-header fs-7">2025</dt>
                    <dd class="card-body text-center py-2 mb-0">
                        {{ answer.score|format_mark }}/{{ answer.max }}
                    </dd>
                </div>
                <div class="card">
                    {% comment %} TODO: Add previous year dynamically or we can just hardcode it. {% endcomment %}
                    <dt class="card-header fs-7">2023</dt>
                    {% comment %} TODO: Pull previous year score {% endcomment %}
                    {% comment %} TODO: IF No difference: display '--' {% endcomment %}
                    {% comment %} TODO: IF NA(Question didn't exist previous version): Change text-success to text-dark {% endcomment %}
                    <dd class="card-body text-center py-2 mb-0">
                        {{ answer.score|format_mark }}/{{ answer.max }}
                    </dd>
                </div>
                <div class="card">
                    <dt class="card-header fs-7">Difference</dt>
                    {% comment %} TODO: IF Negative difference: Change text-success to text-danger  {% endcomment %}
                    {% comment %} TODO: IF Negative difference: Change &#9652; to &#9662; {% endcomment %}
                    {% comment %} TODO: IF No difference: Change text-success to text-dark {% endcomment %}
                    {% comment %} TODO: IF No difference: display '--' {% endcomment %}
                    {% comment %} TODO: IF NA(Question didn't exist previous version): Change text-success to text-dark {% endcomment %}
                    {% comment %} TODO: IF NA(Question didn't exist previous version): display "NA" {% endcomment %}
                    <dd class="card-body text-success py-2 mb-0 text-center">
                        &#9652; 1
                    </dd>
                </div>
            </dl>

            {% if question_type == "negative" %}
                <div class="d-flex mb-3 fs-7 text-warning bg-red-100 rounded p-2">
                    {% include 'caps/icons/warning.html' with classes='mt-1 me-2 flex-shrink-0 flex-grow-0' width='1em' height='1em' role='presentation' %}
                    <p class="mb-0">
                        <strong>Penalty marks:</strong>
                        The maximum number of points for this question is 0.
                        <a href="{% url 'year_scoring:methodology' plan_year %}#section-question-weighting-within" style="color: inherit;">Read more about penalty mark questions.</a>
                    </p>
                </div>
            {% endif %}

            <div class="d-flex flex-wrap align-items-center gap-3">
                <button type="button" class="btn btn-outline-secondary btn-sm js-hidden-toggle" aria-controls="section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}">
                    How is this marked?
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#criteria-section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}">
                    View criteria
                </button>
                <a href="{% url 'scoring:question' code %}{% if council %}?type={{ council_type_slug }}{% endif %}">Visit question &#8594;</a>
            </div>

            <div class="text-muted fs-7" id="section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}" hidden="true">
                <dl class="row mt-3 mb-0">
                    <dt class="col-sm-4">Source</dt>
                    <dd class="col-sm-8">{{ how_marked }}</dd>
                    <dt class="col-sm-4">Question weight</dt>
                    <dd class="col-sm-8">{{ weighting }}</dd>
                    {% if evidence_links != 'CouncilTypeOnly' %}
                    <dt class="col-sm-4">Evidence</dt>
                    <dd class="col-sm-8">
                      {% for link in evidence_links %}
                        <a href="{{ link }}" style="display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ link }}</a>
                      {% empty %}
                        No evidence available.
                      {% endfor %}
                    </dd>
                    {% endif %}
                </dl>
            </div>

            <div class="modal fade" id="criteria-section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}" tabindex="-1" aria-labelledby="criteria-section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}-label" aria-hidden="true">
                <div class="modal-dialog shadow-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="criteria-section-{{ forloop.parentloop.counter }}-question-{{ forloop.counter }}-label">Criteria</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body pb-0">
                            <div class="fw-bold">
                                {{ question_text.strip | linebreaks }}
                            </div>
                            {{ criteria.strip | linebreaks }}
                        </div>
                        <div class="modal-footer justify-content-start bg-gray-100">
                            <a href="{% url 'year_scoring:methodology' plan_year %}">See more criteria clarifications in the full methodology</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
