<a class="btn btn-outline-primary" href="">
  Governance, development and funding
</a>
<a class="btn btn-outline-primary" href="">
  Mitigation and Adaptation
</a>
<a class="btn btn-outline-primary" href="">
  Commitment and Integration
</a>
<a class="btn btn-outline-primary" href="">
  Community engagement and communications
</a>
<a class="btn btn-outline-primary" href="">
  Measuring and setting emissions targets
</a>
<a class="btn btn-outline-primary" href="">
  Co-benefits
</a>
<a class="btn btn-outline-primary" href="">
  Diversity and Social Inclusion
</a>
<a class="btn btn-outline-primary" href="">
  Education, Skills and Training
</a>
<a class="btn btn-outline-primary" href="">
  Ecological emergency
</a>
