<form class="form">
    <h6 class="mb-3">Find your council’s Scorecard</h6>
    <input class="form-control searchbar blue light js-location-jump-autocomplete" type="search" placeholder="Council name" aria-label="Council name">
    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    <h6 class="mt-4 mt-lg-5 mb-2">Filter the table by type of council</h6>
    <div class="type-council-option-wrapper">
        <a class="radio-btn is--with-label{% if authority_type == 'single' %} active{% endif %}" href="{% include 'scoring/includes/scoring_url.html' with slug='single' %}">Single Tier</a>
        <a class="radio-btn is--with-label{% if authority_type == 'district' %} active{% endif %}" href="{% include 'scoring/includes/scoring_url.html' with slug='district' %}">District</a>
        <a class="radio-btn is--with-label{% if authority_type == 'county' %} active{% endif %}" href="{% include 'scoring/includes/scoring_url.html' with slug='county' %}">County</a>
        <a class="radio-btn is--with-label{% if authority_type == 'combined' %} active{% endif %}" href="{% include 'scoring/includes/scoring_url.html' with slug='combined' %}">Combined</a>
        <a class="radio-btn is--with-label{% if authority_type == 'northern-ireland' %} active{% endif %}" href="{% include 'scoring/includes/scoring_url.html' with slug='northern-ireland' %}">Northern Ireland</a>
    </div>
</form>
